<template>
    <div>
        <section class="content">
            <PanelContent :title="'Pedido'"  >
                <!--:class="proyecto.estado==0?'error':(item.estado==1?'info':'success')"-->
                <template v-slot:content>
                    <TableContent :title="'Lista de Proyectos'" name="PedidoProyectos" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:btnAcciones="{item}" >
                            <v-btn small @click="ver(item)" class="info">
                                <v-icon left dark>attach_file</v-icon>Adjuntos
                            </v-btn>
                             <v-btn v-if="item.estado_tracking==1 && item.adjuntos>0" small @click="completar(item)" title="Completar" class="success">
                                <v-icon left dark>check</v-icon>Completar
                            </v-btn>
                            <v-btn v-if="item.estado_tracking==1" small @click="eliminar(item)" title="Eliminar" class="error">
                                <v-icon left dark>delete</v-icon>Cancelar
                            </v-btn>

                        </template>
                    </TableContent>
                </template>
            </PanelContent>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
var self;
var swal__;
var toast__;
    export default {
        name: 'PedidoProyectos',
        components:{
            PanelContent,TableContent
        },
       data: () => ({
            loadingTable:false,
            loading:false,

            headers: [
                 {
                    text: 'N°',
                    align: 'center',
                    value: 'id',
                    width: '40',
                },
                {
                    text: 'Código',
                    align: 'left',
                    value: 'codigo',
                    width: '130',
                },
                {
                    text: 'Proyecto',
                    align: 'left',
                    value: 'nombre',
                    width: '170',
                },
                {
                    text: 'Cliente',
                    align: 'left',
                    value: 'nombre_cliente',
                    width: '200',
                },
                 {
                    text: '#Docs Adjuntos',
                    align: 'center',
                    value: 'cantidad_adjuntos',
                    width: '100px',
                },
              
                {
                    text: 'Estado',
                    align: 'center',
                    value: 'estado_tracking',
                    width: '100',
                },
                { 
                    text: 'Documentos',  
                    align: 'left',
                    value: 'action', 
                    sortable: false 
                },
            ],
            items: [],
            baseURL:null,
        }),

        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.cargarAll();
        },
        methods:{

            cargarAll() {
                this.loadingTable=true;
                 axios.get(this.baseURL+'/proyectos/cargar')
                    .then(response => {
                        var data = response.data;
                        self.items=data;
                        self.loadingTable=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },completar(item) {
                let valores = {
                    id:item.id,
                    estado:0
                }
                swal__.fire({
                   title: "¿ Desea completar el pedido "+item.nombre+" ?",
                    text :"Esta acción es irreversible",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, completar',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        axios.post(this.baseURL+'/completar/', valores)
                        .then(response => {
                            var data = response.data;
                            if (response.data==1) {
                                this.items = [];
                                self.cargarAll();
                                toast__.fire({
                                    type: 'success',
                                    title: 'El pedido ha sido completado'
                                })
                            }
                        })
                        .catch(errors => {
                            swal__.fire(
                                'ERROR!',
                                'ha ocurrido un error: '+errors,
                                'error'
                                )
                        });
                    }
                })
            }, eliminar(item) {
                let valores = {
                    id:item.id,
                    estado:0
                }
                swal__.fire({
                   title: "¿ Desea cancelar el pedido "+item.nombre+" ?",
                    text :"Esta acción es irreversible",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, cancelar',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        axios.post(this.baseURL+'/cancelar/', valores)
                        .then(response => {
                            var data = response.data;
                            if (response.data==1) {
                                this.items = [];
                                self.cargarAll();
                                toast__.fire({
                                    type: 'success',
                                    title: 'El pedido ha sido cancelado'
                                })
                            }
                        })
                        .catch(errors => {
                            swal__.fire(
                                'ERROR!',
                                'ha ocurrido un error: '+errors,
                                'error'
                                )
                        });
                    }
                })
            },ver(item){
                location.href = window.location.href+'/documentaria/'+btoa(item.id);
            }
        }
    }
</script>
