<template>
  <div>
    <section class="content">
      <PanelContent :title="'Reportes Contabilidad'">
        <template v-slot:optionsbuttonstop>
          <v-btn @click="nuevo()" class>
            <v-icon left dark>cloud_upload</v-icon>Importar
          </v-btn>
          <!--v-chip v-show="proyecto.estado!=1" :class="proyecto.estado==0?'error':(proyecto.estado==1?'info':'success')" >{{(proyecto.estado==0?'Cancelado':(proyecto.estado==1?'Activo':'Completado'))}}</v-chip-->
        </template>
        <!--:class="proyecto.estado==0?'error':(item.estado==1?'info':'success')"-->
        <template v-slot:content>
          <TableContent
            :title="'Lista de reportes'"
            :headers="headers"
            :items="items"
            :loading="loadingTable"
          >
            <template v-slot:btnAcciones="{item}">
              <template>
                <v-chip v-if="item.adjunto!=null" title="Descargar" class="info">
                  <v-icon small class="white--text" @click="download(item)">cloud_download</v-icon>
                </v-chip>
                <v-chip @click="cargar(item)"  title="Modificar" class="warning ">
                  <v-icon class="white--text" small > edit </v-icon>
                </v-chip>
                <v-chip  @click="eliminar(item)" title="Eliminar" class="error">
                    <v-icon small class="white--text" > delete </v-icon>
                </v-chip>
              </template>
            </template>
          </TableContent>
        </template>
      </PanelContent>
      <DialogSimple>
        <template v-slot:bodycardNuevoAdjunto>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-container>
              <v-row>
                <v-col cols="10" sm="6" md="5">
                  <v-text-field v-model="comentario"  v-validate="'required'" :error-messages="errors.collect('comentario')"  data-vv-name="comentario" required   label="Comentario"></v-text-field>
                </v-col>
                <v-col cols="10" sm="6" md="6">
                  <v-text-field
                    :rules="[v => tipoArchivo(v) || 'El archivo debe ser un .dbf']"
                    label="Ingrese el archivo CCDExxx.dbf"
                    readonly
                    v-validate="'required'"
                    :error-messages="errors.collect('adjunto_nombre')"
                    data-vv-name="adjunto_nombre"
                    required
                    @click="selectAdjunto"
                    v-model="adjunto_nombre"
                    prepend-icon="attach_file"
                    :disabled="modificando"
                  ></v-text-field>
                  <input
                    type="file"
                    style="display: none"
                    ref="adjunto"
                    accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf"
                    @change="guardarAdjunto"
                  />
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </template>
        <template v-slot:buttonsNuevoAdjunto>
          <v-btn color="primary" :loading="loading" :disabled="loading" @click="modificando?editar():guardar()">{{modificando?'Modificar':'Guardar'}}</v-btn>
          <v-btn @click="dialogClose('dialogSimple')" :disabled="loading">Cancelar</v-btn>
        </template>
      </DialogSimple>
    </section>
  </div>
</template>
<script>
import PanelContent from "../components/PanelContent";
import TableContent from "../components/TableContent";
import DialogSimple from "../components/DialogSimple";
var self;
var swal__;
var toast__;
export default {
  name: "ContabilidadImportarReporte",
  components: {
    PanelContent,
    TableContent,
    DialogSimple
  },
  data() {
    return {
         valid:true,
      btnImportarDisabled: false,
      adjunto_id: "",
      contab_reporte_id:null,
      adjunto_nombre: "",
      adjunto_url: null,
      adjunto_file: null,
      loadingTable: false,
      loading: false,
      comentario:null,
      modificando:false,
      dictionary: {
        custom: {
          adjunto_nombre: {
                required: () => 'Ingrese el archivo CCDExxx.dbf',
            },
            comentario:{
                required: () => 'Ingrese un comentario',
              
            }
        }
      },
      headers: [
        {
          text: "N°",
          align: "center",
          value: "id"
        },
        {
          text: "Identificador",
          align: "center",
          value: "identificador_auto"
        },{
          text: "Comentario",
          align: "center",
          value: "comentario"
        },
        {
          text: "Adjunto",
          align: "center",
          value: "adjunto"
        },
        { text: "Fecha", align: "center", value: "fecha_creacion" },
        {
          text: "Acciones",
          width: "200px",
          align: "left",
          value: "action",
          sortable: false
        }
      ],
      items: [],
      baseURL: null
    };
  },
  created: function() {},
  watch: {
    tab: function() {
      setTimeout(() => {
        self.$validator.validateAll();
        self.errors.any();
      }, 250);
    }
  },
  mounted() {
    this.baseURL = this.$router.currentRoute.path;
    self = this;
    swal__ = this.$store.getters.getSwal;
    toast__ = this.$store.getters.getToastDefault;
    this.$validator.localize("es", this.dictionary);
    this.cargarAll();
   
  },
  methods: {
    selectAdjunto() {
      this.$refs.adjunto.click();
    },
    guardarAdjunto(e) {
      const files = e.target.files;
      if (files[0] !== undefined) {
        this.adjunto_nombre = files[0].name;
        if (this.adjunto_nombre.lastIndexOf(".") <= 0) {
          return;
        }
        const fr = new FileReader();
        fr.readAsDataURL(files[0]);
        fr.addEventListener("load", () => {
          this.adjunto_url = fr.result;
          this.adjunto_file = files[0]; // this is an image file that can be sent to server...
          console.log(this.adjunto_file);
        });
      } else {
        this.adjunto_nombre = "";
        this.adjunto_file = null;
        this.adjunto_url = null;
      }
    },
    dialogClose(tipo) {
      this.$store.state[tipo].dialog = false;
    },
     cargarAll() {
                this.loadingTable=true;
                
                 axios.get(this.baseURL+'/../reporte1/cargar/')
                    .then(response => {
                        var data = response.data;
                        self.items=data;
                        self.loadingTable=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
    openDialogSimpleNuevoAdjunto(data){
                this.$store.commit('openDialogSimple',data);
            },
            nuevo(){
                this.resetValues();
                this.openDialogSimpleNuevoAdjunto({openDialog:true,bodycard:'bodycardNuevoAdjunto',buttons:'buttonsNuevoAdjunto',titulo:'Registra nuevo reporte',maxwidth:'800px'})
                setTimeout(() => {
                    this.$validator.validateAll();
                self.errors.any();
                }, 250);
            },
             guardar() {
                console.log("guardar");
                this.$validator.validateAll();
                if (this.errors.any()) return;
                if(!this.$refs.form.validate())return;
                var formData = new FormData();
                formData.append("adjunto_file",self.adjunto_file);
                formData.append("adjunto",self.adjunto_nombre);
                formData.append("comentario",self.comentario);

                    this.loading = true;
                    axios.post(this.baseURL + "/cuentas", formData,{headers: { 'Content-Type': 'multipart/form-data' }})
                    .then(response => {
                        var data = response.data;
                        console.log(data);
                        this.items = [];
                        toast__.fire({
                            type: 'success',
                            title: 'El adjunto ha sido registrado'
                        })
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        )
                    }).finally(()=>{
                        self.cargarAll();
                        this.dialogClose('dialogSimple');
                        this.loading = false;
                    });
            }, 
            resetValues(){
                this.comentario = '';
                this.adjunto_nombre = '';
                this.adjunto_file = null;
                this.modificando = false;
            },
            tipoArchivo(v){
                let ext = v.split(".");
                ext = ext[ext.length-1];
                return ext === 'dbf';
            },
            
            editar() {
                this.$validator.validateAll();
                if (this.errors.any()) return false;
                if(!this.$refs.form.validate())return;
                
                let valores = {
                        id : this.contab_reporte_id,
                        comentario : this.comentario,
                    }
                    this.loading = true;
                 axios.patch(this.baseURL+'/../reporte1/editar', valores)
                    .then(response => {
                        var data = response.data;
                        if (response.data==1) {
                            this.items = [];
                            toast__.fire({
                                type: 'success',
                                title: 'El reporte ha sido actualizado'
                            })
                        }
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        );
                    }).finally(()=>{
                        self.cargarAll();
                        this.dialogClose('dialogSimple');
                        this.loading = false;
                    });
            },
            cargar(item) {
                let valores = {id:item.id}
                this.modificando=true;
                 axios.post(this.baseURL+'/../reporte1/buscar/', valores)
                    .then(response => {
                        var data = response.data;
                        this.comentario=data.comentario;
                        this.adjunto_nombre=data.adjunto+".dbf";
                        this.contab_reporte_id=data.id;
                        self.openDialogSimpleNuevoAdjunto({openDialog:true,bodycard:'bodycardNuevoAdjunto',buttons:'buttonsNuevoAdjunto',titulo:'Modificar reporte',maxwidth:'800px'});
                        this.$validator.validateAll();
                        self.errors.any();
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            eliminar(item) {
                let valores = {
                        id:item.id,
                        estado:0

                    }
                    swal__.fire({
                        title: "¿ Desea eliminar el reporte "+item.comentario+" ?",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, eliminar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/../reporte1/eliminar/', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.items = [];
                                    self.cargarAll();
                                    toast__.fire({
                                        type: 'success',
                                        title: 'El reporte ha sido eliminado'
                                    })
                                }
                            })
                            .catch(errors => {
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            });
                        }
                    })

            },
    download(item) {
      let valores = {
        id: item.id
      };
      document.location.href = window.location.href + "/../reporte/download/" + item.id;
    }
  }
};
</script>



