<template>
    <div>
        <section class="content">
            <PanelContent :title="'Proyecto '+proyecto.nombre"  >
                <template v-slot:optionsbuttonstop>
                    <v-btn class="" href="../../tareo"><v-icon left dark>arrow_left</v-icon>Lista de Proyectos</v-btn>
                    &nbsp;&nbsp;
                    <v-btn class="success" @click="download()"><v-icon left dark>cloud_download</v-icon>Descargar</v-btn>
                </template>
                <template v-slot:content>
                    <TableContent :title="'Listado de Empleados'" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:costo="{item}">
                            {{parseFloat(item.costo||0).toFixed(2)}}
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
var self;
var swal__;
var toast__;
    export default {
        name: 'ProduccionRegistraActividades',
        components:{
            PanelContent,TableContent,
        },
       data: () => ({
            modificando:false,
            valid:true,
            proyecto:{},

            item_id:null,
            loadingTable:false,
            loading:false,

            headers: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },{
                text: 'Nombres',
                align: 'center',
                value: 'nombres',
                },
                {
                text: 'Apellidos',
                align: 'center',
                value: 'apellidos',
                },{
                text: 'Actividad',
                align: 'center',
                value: 'nombre_actividad',
                },{
                text: 'Horas Trabajadas',
                align: 'center',
                value: 'horas_trabajadas',
                },{
                text: 'Costo',
                align: 'center',
                value: 'costo',
                },{
                text: 'Fecha',
                align: 'center',
                value: 'fecha',
                }
            ],
            items: [],
            baseURL:null,
        }),
        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.$validator.localize('es', this.dictionary);
            this.$route.params.id = atob(this.$route.params.id);
            this.cargarAll();
        },
        methods:{
            dialogClose(tipo){
                this.$store.state[tipo].dialog = false;
            },
            cargarAll() {
                this.loadingTable=true;
                let params = {
                      proyecto_id:this.$route.params.id
                }
                 axios.post(this.baseURL+'/../',params)
                    .then(response => {
                        var data = response.data;
                        self.items=data.items.item;
                        self.proyecto=data.proyecto;
                        self.loadingTable=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },download(){

                document.location.href = window.location.href+"/../../exportar/"+this.$route.params.id;

            }

        }
    }
</script>



