<template>
    <div>
        <section class="content">
            <PanelContent :title="'Proyecto '+proyecto.nombre"  >
                <template v-slot:optionsbuttonstop>
    <v-btn class="" href="../../cronograma"><v-icon left dark>arrow_left</v-icon>Lista de Proyectos</v-btn>
       &nbsp;&nbsp;
                    <v-btn v-show="proyecto.estado_tracking==1" class="dark" @click="proyecto.estado_tracking==1?nuevo():''"><v-icon left dark>add</v-icon>Nuevo</v-btn>
                </template>
                <template v-slot:content>
                    <TableContent :title="'Listado de Actividades'" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:completado="{item}" >
                            <v-chip :class="item.completado==1?'success':'info'" >{{item.completado==1?"Completado":"En Curso"}}</v-chip>
                        </template>
                        <template v-slot:orden="{item}" >
                            <v-chip dark>{{item.orden}}</v-chip>
                        </template>
                        <template v-slot:btnAcciones="{item}" >
                            <template  >
                                <v-btn small v-if="item.completado==0" @click="cargar(item)" title="Modificar" class="warning">
                                    <v-icon class="white--text" small  > edit </v-icon> Modificar
                                </v-btn>
                                <v-btn small v-if="item.completado==0" @click="completar(item)" title="Completar" class="success">
                                    <v-icon small class="white--text" > check </v-icon> Completar
                                </v-btn>
                                <v-btn small v-if="item.completado==0" @click="eliminar(item)" title="Eliminar" class="error">
                                    <v-icon small class="white--text" > delete </v-icon> Eliminar
                                </v-btn>
                            </template>
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
            <DialogSimple >
                <template v-slot:bodycardNuevoItem>
                    <v-form ref="form" v-model="valid" lazy-validation>
                        <v-container >
                            <v-row>
                                <v-col cols="10" sm="6" md="4">
                                    <v-text-field v-model="actividad"  v-validate="'required'" :error-messages="errors.collect('actividad')"  data-vv-name="actividad" required label="Actividad"></v-text-field>
                                </v-col>
                                <v-col cols="10" sm="6" md="4">
                                   <v-menu ref="menuFechaInicio" v-model="menuFechaInicio" :close-on-content-click="false" transition="scale-transition" offset-y min-width="290px" >
                                        <template v-slot:activator="{ on }">
                                            <v-text-field  v-model="fechaInicio" label="Fecha de Inicio" prepend-icon="event" readonly v-on="on"  v-validate="'required'" :error-messages="errors.collect('fechaInicio')"  data-vv-name="fechaInicio" required
                                            ></v-text-field>
                                        </template>
                                        <v-date-picker ref="picker" v-model="fechaInicio" :max="moment().add('year',5).format('YYYY-MM-DD')" @change="saveMenuFechaInicio" ></v-date-picker>
                                    </v-menu>
                                </v-col>

                                <v-col  cols="10" sm="6" md="4">
                                    <v-menu ref="menuFechaFin" v-model="menuFechaFin" :close-on-content-click="false" transition="scale-transition" offset-y min-width="290px" >
                                        <template v-slot:activator="{ on }">
                                            <v-text-field :disabled="fechaInicio==null"  v-model="fechaFin" label="Fecha Final" prepend-icon="event" readonly v-on="on"  v-validate="'required'" :error-messages="errors.collect('fechaFin')"  data-vv-name="fechaFin" required
                                            ></v-text-field>
                                        </template>
                                        <v-date-picker ref="picker" v-model="fechaFin" :max="moment(fechaInicio).add('year',5).format('YYYY-MM-DD')" :min="fechaInicio" @change="saveMenuFechaFin" ></v-date-picker>
                                    </v-menu>
                                    <span class="error--text" v-if="fechaInicio>fechaFin" >La Fecha Final debe ser mayor a la Fecha de Inicio</span>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="10" sm="6" md="8">
                                    <v-textarea
                                    v-model="observacion"
                                    label="Observación"
                                ></v-textarea>
                                </v-col>
                                <v-col v-if="modificando" cols="10" sm="6" md="2">
                                    <v-text-field v-model="orden"  v-validate="'required'" :error-messages="errors.collect('orden')"  data-vv-name="orden" required label="Orden"></v-text-field>
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-form>
                </template>
                <template v-slot:buttonsNuevoItem>
                    <v-btn color="primary" :loading="loading" :disabled="loading" @click="modificando?editar():guardar()" >{{modificando?'Modificar':'Guardar'}}</v-btn>
                        <v-btn @click="dialogClose('dialogSimple')" >Cancelar</v-btn>
                </template>
            </DialogSimple>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
import DialogSimple from '../components/DialogSimple';
var self;
var swal__;
var toast__;
    export default {
        name: 'ProduccionRegistraActividades',
        components:{
            PanelContent,TableContent,DialogSimple
        },
       data: () => ({
            modificando:false,
            valid:true,
            proyecto:{},

            item_id:null,
            actividad:'',
            fechaInicio:null,
            fechaFin:null,
            observacion:null,
            orden:null,

            menuFechaInicio:false,
            menuFechaFin:false,

            loadingTable:false,
            loading:false,

            dictionary: {
                custom: {
                    actividad: {
                    required: () => 'Ingrese la actividad',
                    },fechaInicio: {
                    required: () => 'Ingrese una fecha de inicio',
                    },fechaFin: {
                    required: () => 'Ingrese una fecha final',
                    }/*,observacion: {
                    required: () => 'Ingrese una observación',
                    }*/,orden: {
                    required: () => 'Ingrese el número de orden del registro',
                    }
                }
            },
            headers: [
               {
                text: 'Orden',
                align: 'center',
                value: 'orden',
                },{
                text: 'Actividad',
                align: 'center',
                value: 'actividad',
                },
                {
                text: 'Observación',
                align: 'center',
                value: 'observacion',
                },{
                text: 'Fecha inicio',
                align: 'center',
                value: 'fecha_inicio',
                },{
                text: 'Fecha Final',
                align: 'center',
                value: 'fecha_final',
                },
                {
                text: 'Estado',
                align: 'center',
                value: 'completado',
                },
                { text: 'Fecha',
                align: 'center',
                value: 'fecha_creacion',
                },
                { text: 'Acciones',  align: 'left',value: 'action', width:'400px' ,sortable: false },
            ],
            items: [],
            baseURL:null,
        }),
        watch: {
            menuFechaInicio (val) {
                val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
            },menuFechaFin (val) {
                val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
            },
        },
        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.$validator.localize('es', this.dictionary);
            this.$route.params.id = atob(this.$route.params.id);

            this.cargarAll();
        },
        methods:{
            dialogClose(tipo){
                this.$store.state[tipo].dialog = false;
            },
            cargarAll() {
                this.loadingTable=true;
                let params = {
                      id:this.$route.params.id
                }
                 axios.post(this.baseURL+'/../../cargar/',params)
                    .then(response => {
                        var data = response.data;
                        self.items=data.items;
                        self.proyecto=data.proyecto;
                        self.loadingTable=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },

            cargar(item) {
                let valores = {id:item.id}
                this.modificando=true;
                 axios.post(this.baseURL+'/../../buscar', valores)
                    .then(response => {
                        var data = response.data;
                        this.actividad=data.actividad;
                        this.observacion=data.observacion;
                        this.fechaInicio=data.fecha_inicio;
                        this.fechaFin=data.fecha_final;
                        this.orden=data.orden;
                        this.item_id=data.id;
                        self.openDialogSimpleNuevoItem({openDialog:true,bodycard:'bodycardNuevoItem',buttons:'buttonsNuevoItem',titulo:'Modificar Actividad',maxwidth:'800px'});
                        this.$validator.validateAll();
                        self.errors.any();
                        setTimeout(() => {
                            self.$refs.form.validate();
                        }, 200);
                        console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            editar() {
                this.$validator.validateAll();
                if (this.errors.any()) return false;
                if(!this.$refs.form.validate())return;
                if(this.fechaInicio>this.fechaFin)return;

                let valores = {
                        id : this.item_id,
                        proyecto_id:this.$route.params.id,
                        actividad : this.actividad,
                        observacion : this.observacion,
                        fecha_inicio : this.fechaInicio,
                        fecha_final : this.fechaFin,
                        orden : this.orden,
                    }
                    this.loading = true;
                 axios.patch(this.baseURL+'/../../editar/', valores)
                    .then(response => {
                        var data = response.data;
                        if (response.data==1) {
                            this.items = [];
                            toast__.fire({
                                type: 'success',
                                title: 'La actividad ha sido actualizada'
                            })
                        }
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        );
                    }).finally(()=>{
                        self.cargarAll();
                        this.dialogClose('dialogSimple');
                        this.loading = false;
                    });
            },
            eliminar(item) {
                let valores = {
                        id:item.id,
                        estado:0
                    }
                    swal__.fire({
                        title: "¿ Desea eliminar la actividad "+item.actividad+" ?",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, eliminar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/../../eliminar', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.items = [];
                                    self.cargarAll();
                                    toast__.fire({
                                        type: 'success',
                                        title: 'La actividad ha sido eliminada'
                                    })
                                }
                            })
                            .catch(errors => {
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            });
                        }
                    })

            },
            guardar() {
                
                this.$validator.validateAll();
                if (this.errors.any()) return;
                if(!this.$refs.form.validate())return;
                if(this.fechaInicio>this.fechaFin)return;

                let valores={
                    proyecto_id:this.$route.params.id,
                    actividad:this.actividad,
                    observacion:this.observacion,
                    fecha_inicio:this.fechaInicio,
                    fecha_final:this.fechaFin,
                }
                this.loading = true;
                axios.post(this.baseURL+'/../../guardar', valores)
                .then(response => {
                    var data = response.data;
                    console.log(data);
                    this.items = [];
                    toast__.fire({
                        type: 'success',
                        title: 'La actividad ha sido registrada'
                    })
                })
                .catch(errors => {
                    swal__.fire(
                    'ERROR!',
                    'ha ocurrido un error: '+errors,
                    'error'
                    )
                }).finally(()=>{
                    self.cargarAll();
                    this.dialogClose('dialogSimple');
                    this.loading = false;
                });
            },
            completar(item){
                let valores = {
                        id:item.id,
                        estado:0
                    }
                    swal__.fire({
                        title: "¿ Desea completar la actividad "+item.actividad+" ?",
                        text :"Esta acción es irreversible",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, completar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/../../completar', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.items = [];
                                    self.cargarAll();
                                    toast__.fire({
                                        type: 'success',
                                        title: 'La actividad ha sido completada'
                                    })
                                }
                            })
                            .catch(errors => {
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            });
                        }
                    })

            },
            openDialogSimpleNuevoItem(data){
                this.$store.commit('openDialogSimple',data);
            },
            nuevo(){
                this.resetValues();
                this.openDialogSimpleNuevoItem({openDialog:true,bodycard:'bodycardNuevoItem',buttons:'buttonsNuevoItem',titulo:'Registra Nueva Actividad',maxwidth:'800px'})
                setTimeout(() => {
                    this.$validator.validateAll();
                    self.errors.any();
                    this.$refs.form.validate();

                }, 250);
            },
            resetValues(){
                this.actividad = '';
                this.observacion = null;
                this.fechaInicio = null;
                this.fechaFin = null;
                this.item_id = '';
                this.modificando=false;
                this.orden=null;
            },
            saveMenuFechaInicio (date) {
                this.$refs.menuFechaInicio.save(date)
            },saveMenuFechaFin (date) {
                this.$refs.menuFechaFin.save(date)
            },

        }
    }
</script>



