<template>
    <div>
        <section class="content">
            <PanelContent v-if="view=='proyectos'" :title="'Material Restante'"  >
                <!--:class="proyecto.estado==0?'error':(item.estado==1?'info':'success')"-->
                <template v-slot:content>
                    <TableContent :title="'Lista de Proyectos'" name="ProduccionProyectos" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:btnAcciones="{item}" >
                            <v-btn  small @click="proyecto_id = item.id;cargarAllSolids(item)" class="info">
                                <v-icon left dark>forward</v-icon>Ver
                            </v-btn>
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
            <PanelContent v-if="view=='solids'" :title="'Proyecto '+proyecto.nombre"  >
                <template v-slot:optionsbuttonstop>
                    <v-btn class="" @click="cargarAll()"><v-icon left dark>arrow_left</v-icon>Lista de Proyectos</v-btn>
                </template>
                <!--:class="proyecto.estado==0?'error':(item.estado==1?'info':'success')"-->
                <template v-slot:content>
                    <TableContent :title="'Lista de Solids'" name="ProduccionSolids" :headers="headersSolids" :items="itemsSolids" :loading="loadingTableSolids">
                        <template v-slot:actualizado="{item}" >
                            <v-chip :class="item.actualizado?'info':'dark'">{{item.actualizado?'Si':'No'}}</v-chip>
                        </template>
                        <template v-slot:btnAcciones="{item}" >
                            <v-btn  small @click="solid = item;cargarAllItems(item)" class="info">
                                <v-icon left dark>forward</v-icon>Items
                            </v-btn>
                        </template>
                       
                    </TableContent>
                </template>
            </PanelContent>
            <PanelContent v-if="view=='items'" :title="'Solid '+solid.nombre"  >
                <template v-slot:optionsbuttonstop>
                    <v-btn class="" @click="backsolids()"><v-icon left dark>arrow_left</v-icon>Lista de Solids</v-btn>
                </template>
                <!--:class="proyecto.estado==0?'error':(item.estado==1?'info':'success')"-->
                <template v-slot:content>
                    <TableContent :title="'Lista de Items'" name="ProduccionItems" :headers="headersItems" :items="itemsItems" :loading="loadingTableItems">
                        <template v-slot:cantidad="{item}" >
                            <v-chip >{{item.cantidad}}</v-chip>
                        </template>
                        <template v-slot:restanteEdit="props">
                            <v-edit-dialog large :return-value.sync="props.item.restante" @save="save(props)" @open="open"
                            > <code small>{{ props.item.restante }}</code>
                            <template v-slot:input>
                                <v-text-field  v-model="props.item.restante" label="Editar" single-line autofocus
                                ></v-text-field>
                            </template>
                            </v-edit-dialog>
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
         </section>
    </div>
</template>
<script>
import DialogSimple from '../components/DialogSimple';
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
var self;
var swal__;
var toast__;
    export default {
        name: 'ProduccionProyectos',
        components:{
            PanelContent,TableContent,DialogSimple
        },
       data: () => ({
            loadingTableEntregas:false,
            loadingTableSolids:false,
            loadingTableItems:false,
            loadingTable:false,
            loading:false,
            proyecto:{},
            solid:{},
            solid_items:{},
            solid_entregas:{},
            cantidad:null,
            recibido:0,
            valid:true,
            modificando:false,
            view:'proyectos',
            views:[],
            proyecto_id:null,
            solid_id:null,
            dictionary: {
                custom: {
                    cantidad: {
                    required: () => 'Ingrese la cantidad',
                    }
                }
            },
            headers: [
             {
                    text: 'N°',
                    align: 'center',
                    value: 'id',
                    width: '70px',
                    },
                    {
                    text: 'Código',
                    align: 'left',
                    value: 'codigo',
                    width: '130px',
                    },
                    {
                    text: 'Proyecto',
                    align: 'left',
                    value: 'nombre',
                    width: '170px',
                    },
                    {
                    text: 'Cliente',
                    align: 'left',
                    value: 'nombre_cliente',
                    width: '200px',
                    },
                    { 
                    text: 'Estado',
                    align: 'center',
                    value: 'estado_tracking',
                    width: '100px',
                    },
                   
                    { text: 'Materiales', align: 'left',value: 'action', sortable: false },
            ],
            items: [],
            headersSolids: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                 width: '80px',
                },
                {
                text: 'Nombre',
                align: 'left',
                value: 'nombre',
                width: '150px',
                },{
                text: 'Versión',
                align: 'center',
                value: 'version',
                width: '150px',
                },
                {
                text: 'Acciones',
                align: 'left',
                value: 'action',
           
                sortable:false,
                }
            ],
            itemsSolids: [],
            headersItems: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },
                {
                text: 'Nombre',
                align: 'center',
                value: 'nombre_material',
                width: '150px',
                },{
                text: 'Masa',
                align: 'center',
                value: 'masa',
                },{
                text: 'Cantidad',
                align: 'center',
                value: 'cantidad',
                width: '200px',
                },{
                text: 'Restante',
                align: 'center',
                value: 'restante',
                }
            ],
            itemsItems: [],
            baseURL:null,
        }),

        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.$validator.localize('es', this.dictionary);
            this.cargarAll();
        },
        methods:{
            cargarAll() {
                this.view='proyectos';
                this.loadingTable=true;
                 axios.get(this.baseURL+'/../../proyectos/')
                    .then(response => {
                        var data = response.data;
                        self.items=data;
                        self.loadingTable=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            cargarAllSolids() {
                this.view = 'solids';
                this.loadingTableSolids=true;
                let valores = {
                    proyecto_id:this.proyecto_id,
                }
                 axios.post(this.baseURL+'/listar/',valores)
                .then(response => {
                    var data = response.data;
                    self.itemsSolids=data.items;
                    self.proyecto = data.proyecto;
                    self.loadingTableSolids=false;
                    console.log(data);
                })
                .catch(errors => {
                    console.log(errors);
                });
            },
            cargarAllItems() {
                this.view = 'items';
                this.loadingTableItems=true;
                console.log(this.solid)
                let valores = {
                    solid_id:this.solid.id,
                }
                 axios.post(this.baseURL+'/items',valores)
                .then(response => {
                    var data = response.data;
                    self.itemsItems=data.items;
                    self.loadingTableItems=false;
                    console.log(data);
                })
                .catch(errors => {
                    console.log(errors);
                });
            },
            backsolids(){
                this.view = 'solids';
                this.cargarAllSolids();
            },
            guardar(item) {
                let valores={
                    id: item.id,
                    restante: item.restante,
                }
                axios.patch(this.baseURL+'/editar', valores)
                .then(response => {
                    var data = response.data;
                    toast__.fire({
                        type: 'success',
                        title: 'Se ha actualizado lo restante de '+item.nombre
                    })
                    self.cargarAllItems();
                })
                .catch(errors => {
                    swal__.fire(
                    'ERROR!',
                    'ha ocurrido un error: '+errors,
                    'error'
                    )
                }) 
            },
            open () {
                setTimeout(() => {
                    document.querySelector('.v-small-dialog__menu-content .v-small-dialog__actions button span').innerHTML="Cancelar"
                    document.querySelector('.v-small-dialog__menu-content .v-small-dialog__actions button').nextElementSibling.querySelector('span').innerHTML="Guardar"
                }, 100);
            },
            save (item) {
                this.guardar(item.item);
            },
            resetValues(){
                this.modificando = false;
                this.cantidad = null;
                this.recibido=0;
            }
        }
    }
</script>
