<template>
  <div>
    <section class="content">
      <PanelContent :title="'Proyecto '+proyecto.nombre">
        <template v-slot:optionsbuttonstop>
          <v-btn class href="../../pesos">
            <v-icon left dark>arrow_left</v-icon>Lista de Proyectos
          </v-btn>&nbsp;&nbsp;
          <v-btn
            v-show="proyecto.estado_tracking==1"
            class="dark"
            @click="proyecto.estado_tracking==1?nuevo():''"
          >
            <v-icon left dark>add</v-icon>Nuevo
          </v-btn>
        </template>
        <template v-slot:content>
          <TableContent
            :title="'Pesos Registrados'"
            name="ProduccionPesosRegistrar"
            :headers="headers"
            :items="items"
            :loading="loadingTable"
          >
            <template v-slot:peso="{item}">{{parseFloat(item.peso||0).toFixed(2)}}</template>
            <template v-slot:cantidad="{item}">{{parseFloat(item.cantidad||0).toFixed(2)}}</template>

            <template v-slot:btnAcciones="{item}">
              <template>
                <v-btn
                  small
                  v-if="proyecto.estado_tracking==1"
                  @click="cargar(item)"
                  title="Modificar"
                  class="warning"
                >
                  <v-icon class="white--text" small>edit</v-icon>Modificar
                </v-btn>
                <v-btn
                  small
                  v-if="proyecto.estado_tracking==1"
                  @click="eliminar(item)"
                  title="Eliminar"
                  class="error"
                >
                  <v-icon small class="white--text">delete</v-icon>Eliminar
                </v-btn>
              </template>
            </template>
          </TableContent>
        </template>
      </PanelContent>
      <DialogSimple>
        <template v-slot:bodycardNuevoItem>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-container>
              <v-row>
                <v-col cols="10" sm="6" md="6">
                  <v-text-field
                    type="number"
                    step="0.01"
                    v-model="peso"
                    v-validate="'required'"
                    :error-messages="errors.collect('peso')"
                    data-vv-name="peso"
                    required
                    label="Peso"
                    :rules="[v => v>=0 || 'El valor debe ser positivo']"
                  ></v-text-field>
                </v-col>
                <v-col cols="10" sm="6" md="6">
                  <v-select
                    v-model="selectTipoPieza"
                    :items="selectTiposPieza"
                    item-text="nombre"
                    item-value="id"
                    v-validate="'required'"
                    :error-messages="errors.collect('selectTipoPieza')"
                    data-vv-name="selectTipoPieza"
                    required
                    label="Seleccione un tipo"
                    menu-props="auto"
                    single-line
                  ></v-select>
                </v-col>
                <v-col cols="10" sm="6" md="6">
                                    <v-text-field v-model="descripcion" v-validate="'required'" :error-messages="errors.collect('descripcion')"  data-vv-name="descripcion" required label="Descripción"></v-text-field>
                </v-col>
                <v-col cols="10" sm="6" md="6">
                                    <v-text-field v-model="cantidad" type="number" v-validate="'required'" :rules="[v => v>=0 || 'El valor debe ser positivo']" :error-messages="errors.collect('cantidad')"  data-vv-name="cantidad" required label="Cantidad"></v-text-field>
                </v-col>
              </v-row>
              <!--v-row>
                <v-col cols="12" sm="6" md="6">
                  <v-btn :class="material==null?'error':'primary'" @click="cargarMateriales()">
                    <v-icon left dark>add</v-icon>Material
                  </v-btn>
                  <br />
                  <span class="error--text" v-if="material==null">Seleccione material</span>
                  <span v-if="material!=null">Material: {{observacion}}</span>
                </v-col>
              </v-row-->

              <v-row>
                                <v-col cols="10" sm="6" md="6">
                                    <v-textarea
                                    v-model="observacion"
                                    label="Observación"
                                ></v-textarea>
                                </v-col>
                                
              </v-row>
            </v-container>
          </v-form>
        </template>
        <template v-slot:buttonsNuevoItem>
          <v-btn
            color="primary"
            :loading="loading"
            :disabled="loading"
            @click="modificando?editar():guardar()"
          >{{modificando?'Modificar':'Guardar'}}</v-btn>
          <v-btn @click="dialogClose('dialogSimple')">Cancelar</v-btn>
        </template>
      </DialogSimple>
    </section>
  </div>
</template>
<script>
import PanelContent from "../components/PanelContent";
import TableContent from "../components/TableContent";
import DialogSimple from "../components/DialogSimple";
var self;
var swal__;
var toast__;
export default {
  name: "ProduccionRegistraPesos",
  components: {
    PanelContent,
    TableContent,
    DialogSimple
  },
  props: {
    etapa: {
      required: true
    }
  },
  data: () => ({
    modificando: false,
    valid: true,
    proyecto: {},

    item_id: null,
    peso: "",
    descripcion: null,
    observacion: null,
    cantidad:null,
    loadingTable: false,
    loading: false,

    dictionary: {
      custom: {
        peso: {
          required: () => "Ingrese el peso"
        },
        descripcion: {
          required: () => "Ingrese la descripción "
        },
        /*observacion: {
          required: () => "Ingrese una observación"
        },*/
        /*selectMaterial: {
          required: () => "Seleccione un material"
        },*/
        selectTipoPieza: {
          required: () => "Seleccione un tipo"
        },
        cantidad:{
          required: () => "Ingrese una cantidad"
          
        }
      }
    },
    headers: [
      {
        text: "N°",
        align: "center",
        value: "id"
      },
      {
        text: "Descripción",
        align: "center",
        value: "descripcion"
      },
      {
        text: "Observación",
        align: "center",
        value: "observacion"
      },
      {
        text: "Tipo",
        align: "center",
        value: "tipo_peso"
      },
      {
        text: "Peso",
        align: "center",
        value: "peso"
      },{
        text: "Cantidad",
        align: "center",
        value: "cantidad"
      }, /*
                {
                text: 'Estado',
                align: 'center',
                value: 'estado',
                },*/,
      { text: "Fecha", align: "center", value: "fecha_creacion" },
      {
        text: "Acciones",
        align: "left",
        value: "action",
        width: "400px",
        sortable: false
      }
    ],
    items: [],
    baseURL: null,
    selectMateriales: [],
    selectMaterial: "",
    selectTiposPieza: [],
    selectTipoPieza: "",
    material: null,
    /*headersMateriales: [
      {
        text: "N°",
        align: "center",
        value: "id"
      },
      {
        text: "Código",
        align: "center",
        sortable: false,
        value: "codigo_material"
      },
      { text: "Material", align: "center", value: "nombre_material" },
      { text: "Acciones", align: "left", value: "action", sortable: false }
    ],*/
    //itemsMateriales: [],
    //materialSelected: null,
    //loadingTableMateriales: false
  }),
  created: function() {},
  watch: {
    /*materialSelected: function(obj) {
      console.log("selectMaterial", obj);
      this.descripcion = obj.codigo_material;
      this.observacion = obj.nombre_material;
    }*/
  },
  mounted() {
    this.baseURL = this.$router.currentRoute.path;
    self = this;
    swal__ = this.$store.getters.getSwal;
    toast__ = this.$store.getters.getToastDefault;
    this.$validator.localize("es", this.dictionary);
    this.$route.params.id = atob(this.$route.params.id);
    //this.listarMateriales();
    this.cargarTipoPieza();
    this.cargarAll();
  },
  methods: {
    dialogClose(tipo) {
      this.$store.state[tipo].dialog = false;
    },
    cargarAll() {
      this.loadingTable = true;
      let params = {
        id: this.$route.params.id
      };
      axios
        .post(this.baseURL + "/../../cargar/", params)
        .then(response => {
          var data = response.data;
          self.items = data.items;
          self.proyecto = data.proyecto;
          self.loadingTable = false;
          console.log(data);
        })
        .catch(errors => {
          console.log(errors);
        });
    },

    cargar(item) {
      let valores = { id: item.id };
      this.modificando = true;
      axios
        .post(this.baseURL + "/../../buscar", valores)
        .then(response => {
          var data = response.data;
          this.peso = data.peso;
          this.observacion = data.observacion;
          this.descripcion = data.descripcion;
          this.cantidad = data.cantidad;
          //this.selectMaterial = data.descripcion;
          this.selectTipoPieza = data.tipo_peso_id;
          /*this.material = this.itemsMateriales.filter(x => {
            return x.codigo_material == data.descripcion;
          })[0].id;*/
          this.item_id = data.id;
          self.openDialogSimpleNuevoItem({
            openDialog: true,
            bodycard: "bodycardNuevoItem",
            buttons: "buttonsNuevoItem",
            titulo: "Modificar Peso",
            maxwidth: "800px"
          });
          this.$validator.validateAll();
          self.errors.any();
          setTimeout(() => {
            self.$refs.form.validate();
          }, 200);
          console.log(data);
        })
        .catch(errors => {
          console.log(errors);
        });
    },
    editar() {
      this.$validator.validateAll();
      if (this.errors.any()) return false;
      if (!this.$refs.form.validate()) return;

      let valores = {
        id: this.item_id,
        proyecto_id: this.$route.params.id,
        peso: this.peso,
        observacion: this.observacion,
        descripcion: this.descripcion,
        cantidad: this.cantidad,
        tipo_peso_id: this.selectTipoPieza
      };
      this.loading = true;
      axios
        .patch(this.baseURL + "/../../editar/", valores)
        .then(response => {
          var data = response.data;
          if (response.data == 1) {
            this.items = [];
            toast__.fire({
              type: "success",
              title: "El peso ha sido actualizado"
            });
          }
        })
        .catch(errors => {
          swal__.fire("ERROR!", "ha ocurrido un error: " + errors, "error");
        })
        .finally(() => {
          self.cargarAll();
          this.dialogClose("dialogSimple");
          this.loading = false;
        });
    },
    eliminar(item) {
      let valores = {
        id: item.id,
        estado: 0
      };
      swal__
        .fire({
          title: "¿ Desea eliminar el peso " + item.descripcion + " ?",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Si, eliminar",
          cancelButtonText: "No"
        })
        .then(result => {
          if (result.value) {
            axios
              .post(this.baseURL + "/../../eliminar", valores)
              .then(response => {
                var data = response.data;
                if (response.data == 1) {
                  this.items = [];
                  self.cargarAll();
                  toast__.fire({
                    type: "success",
                    title: "El peso ha sido eliminado"
                  });
                }
              })
              .catch(errors => {
                swal__.fire(
                  "ERROR!",
                  "ha ocurrido un error: " + errors,
                  "error"
                );
              });
          }
        });
    },
    guardar() {
      
      this.$validator.validateAll();
      if (this.errors.any()) return;
      if (!this.$refs.form.validate()) return;
      let valores = {
        proyecto_id: this.$route.params.id,
        peso: this.peso,
        observacion: this.observacion,
        descripcion: this.descripcion,
        cantidad: this.cantidad,
        tipo_peso_id: this.selectTipoPieza
      };
      this.loading = true;
      axios
        .post(this.baseURL + "/../../guardar", valores)
        .then(response => {
          var data = response.data;
          console.log(data);
          this.items = [];
          toast__.fire({
            type: "success",
            title: "El peso ha sido registrado"
          });
        })
        .catch(errors => {
          swal__.fire("ERROR!", "ha ocurrido un error: " + errors, "error");
        })
        .finally(() => {
          self.cargarAll();
          this.dialogClose("dialogSimple");
          this.loading = false;
        });
    },
    openDialogSimpleNuevoItem(data) {
      this.$store.commit("openDialogSimple", data);
    },
    nuevo() {
      this.resetValues();
      this.openDialogSimpleNuevoItem({
        openDialog: true,
        bodycard: "bodycardNuevoItem",
        buttons: "buttonsNuevoItem",
        titulo: "Registra Nuevo Peso",
        maxwidth: "800px"
      });
      setTimeout(() => {
        this.$validator.validateAll();
        self.errors.any();
        this.$refs.form.validate();
      }, 250);
    },
    cargarTipoPieza() {
      axios
        .get("/pesos/tipo")
        .then(response => {
          var data = response.data;
          this.selectTiposPieza = data;
          console.log(data);
        })
        .catch(errors => {
          console.log(errors);
        });
    },
    /*listarMateriales() {
      this.loadingTableMateriales = true;
      let valores = { proyecto_id: this.$route.params.id };
      axios
        .post(this.etapa + "/pesos/materiales", valores)
        .then(response => {
          var data = response.data;
          this.itemsMateriales = data;
         
          this.loadingTableMateriales = false;

          console.log(data);
        })
        .catch(errors => {
          console.log(errors);
        });
    }, 
    openDialogSimpleSeleccionMateriales(data) {
      this.$store.commit("openDialogSimple2", data);
    },
    cargarMateriales(){
 this.openDialogSimpleSeleccionMateriales({
            openDialog: true,
            bodycard: "bodycardSeleccionMateriales",
            buttons: "buttonsSelectionMaterial",
            titulo: "Seleccione un material",
            maxwidth: "800px"
          });
          this.listarMateriales();
    },*/
    resetValues() {
      this.peso = null;
      this.observacion = null;
      this.descripcion = null;
      this.cantidad= null;
      this.item_id = "";
      this.modificando = false;
      //this.selectMaterial = "";
      //this.materialSelected = null;
      this.selectTipoPieza = null;
      //this.material = null;
      //this.material_nombre = null;
    }
  }
};
</script>



