<template>
    <div>
        <section class="content">
            <PanelContent v-if="view=='proyectos'" :title="'Control Entrega Diseño'"  >
                <!--:class="proyecto.estado==0?'error':(item.estado==1?'info':'success')"-->
                <template v-slot:content>
                    <TableContent :title="'Lista de Proyectos'" name="ProduccionProyectos" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:btnAcciones="{item}" >
                            <v-btn  small @click="proyecto_id = item.id;cargarAllSolids(item)" class="info">
                                <v-icon left dark>forward</v-icon>Solids
                            </v-btn>
                            <!--v-btn small @click="pantallaActividades(item)" title="Registra Actividad" class="info">
                                <v-icon left dark>save</v-icon>&nbsp;Registrar
                            </v-btn-->
                        </template>
                        <!--template v-slot:PresupuestoConsolidadoProyectos="{item}" >
                           <v-chip  :class="item.estado_presupuesto>=0?'error':'success'">
                                {{item.estado_presupuesto>=0?'Cancelado':'Completado'}}
                            </v-chip>
                        </template-->
                    </TableContent>
                </template>
            </PanelContent>
            <PanelContent v-if="view=='solids'" :title="'Proyecto '+proyecto.nombre"  >
                <template v-slot:optionsbuttonstop>
                    <v-btn class="" @click="cargarAll()"><v-icon left dark>arrow_left</v-icon>Lista de Proyectos</v-btn>
                </template>
                <!--:class="proyecto.estado==0?'error':(item.estado==1?'info':'success')"-->
                <template v-slot:content>
                    <TableContent :title="'Lista de Solids'" name="ProduccionSolids" :headers="headersSolids" :items="itemsSolids" :loading="loadingTableSolids">
                        <template v-slot:actualizado="{item}" >
                            <v-chip :class="item.actualizado?'info':'dark'">{{item.actualizado?'Si':'No'}}</v-chip>
                        </template>
                        <template v-slot:btnAcciones="{item}" >
                            <v-btn  small @click="solid = item;cargarAllItems(item)" class="info">
                                <v-icon left dark>forward</v-icon>Items
                            </v-btn>
                        </template>
                       
                    </TableContent>
                </template>
            </PanelContent>
            <PanelContent v-if="view=='items'" :title="'Solid '+solid.nombre"  >
                <template v-slot:optionsbuttonstop>
                    <v-btn class="" @click="backsolids()"><v-icon left dark>arrow_left</v-icon>Lista de Solids</v-btn>
                </template>
                <!--:class="proyecto.estado==0?'error':(item.estado==1?'info':'success')"-->
                <template v-slot:content>
                    <TableContent :title="'Lista de Items'" name="ProduccionItems" :headers="headersItems" :items="itemsItems" :loading="loadingTableItems">
                        <template v-slot:cantidad="{item}" >
                            <v-chip >{{item.cantidad}}</v-chip>
                        </template>
                        <template v-slot:btnAcciones="{item}" >
                            <v-btn  small @click="solid_items=item;entregasItems()" class="info">
                                <v-icon left dark>library_add</v-icon>Entregas
                            </v-btn>
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
            <DialogSimple >
                <template v-slot:bodycardListaEntregas>
                    <TableContent :title="'Lista de Entregas'" name="ProduccionEntregas" :headers="headersEntregas" :items="itemsEntregas" :loading="loadingTableEntregas">
                        <template v-slot:cantidad="{item}" >
                            <v-chip >{{item.cantidad}}</v-chip>
                        </template>
                        <template v-slot:recibido="{item}" >
                            <v-chip :class="item.recibido==1?'info':'dark'" >{{item.recibido==1?'Si':'No'}}</v-chip>
                        </template>
                        <!--template v-slot:estado="{item}" >
                            <v-chip >{{item.estado}}</v-chip>
                        </template-->
                        <template v-slot:btnAcciones="{item}" >
                            <!--v-chip v-show="item.recibido==0" @click="cargar(item)" title="Modificar" class="warning ">
                                <v-icon class="white--text" small  > edit </v-icon>
                            </v-chip-->
                            <v-chip v-show="item.recibido==0" @click="eliminar(item)" title="Eliminar" class="error">
                                <v-icon small class="white--text" > delete </v-icon>
                            </v-chip>
                            <v-chip v-show="item.recibido==0" @click="recibido_check(item)" title="Recibido" class="success">
                                <v-icon small class="white--text" > check </v-icon>
                            </v-chip>
                        </template>
                    </TableContent>
                </template>
                <template v-slot:buttonsTopListaEntrega>
                    <v-btn v-show="proyecto.estado_tracking==1" @click="nuevo()" >Nuevo</v-btn>
                </template>
                <template v-slot:buttonsListaEntrega>
                    <v-btn @click="dialogClose('dialogSimple')" >Cancelar</v-btn>
                </template>

                <template v-slot:bodycardNuevaEntrega>
                   <v-form ref="form" v-model="valid" lazy-validation>
                        <v-container>
                            <v-row>
                                <v-col cols="12" sm="6" md="6">
                                    <v-text-field v-model="cantidad"  v-validate="'required'" :rules="[v => v>-1 || 'Debe ser mayor o igual a cero']"  :error-messages="errors.collect('cantidad')" min="0"  data-vv-name="cantidad" required step="0" label="Cantidad" type="number"></v-text-field>
                                </v-col>
                                <!--v-col cols="12" sm="6" md="3">
                                    <v-checkbox
                                        v-model="recibido"
                                        label="Recibido"
                                    ></v-checkbox>
                                </v-col-->
                            </v-row>
                        </v-container>
                    </v-form>
                </template>
                <template v-slot:buttonsNuevaEntrega>
                    <v-btn color="primary" :loading="loading" :disabled="loading" @click="modificando?editar():guardar()" >{{modificando?'Modificar':'Guardar'}}</v-btn>
                    <v-btn @click="dialogClose('dialogSimple2')" >Cancelar</v-btn>
                </template>
            </DialogSimple>
         </section>
    </div>
</template>
<script>
import DialogSimple from '../components/DialogSimple';
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
var self;
var swal__;
var toast__;
    export default {
        name: 'ProduccionProyectos',
        components:{
            PanelContent,TableContent,DialogSimple
        },
       data: () => ({
            loadingTableEntregas:false,
            loadingTableSolids:false,
            loadingTableItems:false,
            loadingTable:false,
            loading:false,
            proyecto:{},
            solid:{},
            solid_items:{},
            solid_entregas:{},
            cantidad:null,
            recibido:0,
            valid:true,
            modificando:false,
            view:'proyectos',
            views:[],
            proyecto_id:null,
            solid_id:null,
            dictionary: {
                custom: {
                    cantidad: {
                    required: () => 'Ingrese la cantidad',
                    }
                }
            },
            headers: [
                   {
                    text: 'N°',
                    align: 'center',
                    value: 'id',
                    width: '80px',
                    },
                    {
                    text: 'Código',
                    align: 'left',
                    value: 'codigo',
                    width: '130px',
                    },
                    {
                    text: 'Proyecto',
                    align: 'left',
                    value: 'nombre',
                    width: '170px',
                    },
                    {
                    text: 'Cliente',
                    align: 'left',
                    value: 'nombre_cliente',
                    width: '200px',
                    },
                    { 
                    text: 'Estado',
                    align: 'center',
                    value: 'estado_tracking',
                    width: '100px',
                    },
                  
                    { text: 'Acciones', align: 'left',value: 'action', sortable: false },
            ],
            items: [],
            headersSolids: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                 width: '80px',
                },
                {
                text: 'Nombre',
                align: 'left',
                value: 'nombre',
                width: '150px',
                },{
                text: 'Versión',
                align: 'center',
                value: 'version',
                width: '120px',
                },
                {
                text: 'Acciones',
                align: 'left',
                value: 'action',
               
                sortable:false,
                }
            ],
            itemsSolids: [],
            headersItems: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },
                {
                text: 'Nombre',
                align: 'center',
                value: 'nombre',
                width: '150px',
                },{
                text: 'Cantidad',
                align: 'center',
                value: 'cantidad',
                width: '200px',
                },{
                text: 'Entregados',
                align: 'center',
                value: 'entregados',
                },{
                text: 'Masa',
                align: 'center',
                value: 'masa',
                },
                {
                text: 'Acciones',
                align: 'left',
                value: 'action',
                width:'150px',
                sortable:false,
                }
            ],
            itemsItems: [],
            headersEntregas: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                } ,{
                text: 'Cantidad',
                align: 'center',
                value: 'cantidad',
                width: '150px',
                },{
                text: 'Recibido',
                align: 'center',
                value: 'recibido',
                },
                {
                text: 'Acciones',
                align: 'left',
                value: 'action',
                width:'150px',
                sortable:false,
                }
            ],
            itemsEntregas: [],
            baseURL:null,
        }),

        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.$validator.localize('es', this.dictionary);
            this.cargarAll();
        },
        methods:{
            dialogClose(tipo){
                this.$store.state[tipo].dialog = false;
            },
            cargarAll() {
                this.view='proyectos';
                this.loadingTable=true;
                 axios.get(this.baseURL+'/../../proyectos/')
                    .then(response => {
                        var data = response.data;
                        self.items=data;
                        self.loadingTable=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            cargarAllSolids() {
                this.view = 'solids';
                this.loadingTableSolids=true;
                let valores = {
                    proyecto_id:this.proyecto_id,
                }
                 axios.post(this.baseURL+'/listar/',valores)
                .then(response => {
                    var data = response.data;
                    self.itemsSolids=data.items;
                    self.proyecto = data.proyecto;
                    self.loadingTableSolids=false;
                    console.log(data);
                })
                .catch(errors => {
                    console.log(errors);
                });
            },
            cargarAllItems() {
                this.view = 'items';
                this.loadingTableItems=true;
                console.log(this.solid)
                let valores = {
                    solid_id:this.solid.id,
                }
                 axios.post(this.baseURL+'/items',valores)
                .then(response => {
                    var data = response.data;
                    self.itemsItems=data.items;
                    self.loadingTableItems=false;
                    console.log(data);
                })
                .catch(errors => {
                    console.log(errors);
                });
            },
            cargarEntregas() {
                this.loadingTableEntregas=true;
                let valores = {
                    solid_items_id:this.solid_items.id
                }
                 axios.post(this.baseURL+'/cargar',valores)
                    .then(response => {
                        var data = response.data;
                        self.itemsEntregas=data.items;
                        self.loadingTableEntregas=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            backsolids(){
                this.view = 'solids';
                this.cargarAllSolids();
            },
            openDialogSimpleListaEntregas(data){
                this.$store.commit('openDialogSimple',data);
            },
            entregasItems(){
                this.openDialogSimpleListaEntregas({openDialog:true,bodycard:'bodycardListaEntregas',buttons:'buttonsListaEntrega',optionsbuttonstop:'buttonsTopListaEntrega',titulo:'Lista de Entregas',maxwidth:'1000px'});
                this.cargarEntregas();
            },
            openDialogSimpleNuevaEntrega(data){
                this.$store.commit('openDialogSimple2',data);
            },
            nuevo(){
                this.resetValues();
                this.openDialogSimpleNuevaEntrega({openDialog:true,bodycard:'bodycardNuevaEntrega',buttons:'buttonsNuevaEntrega',titulo:'Registro de Entregas',maxwidth:'600px'});
                setTimeout(() => {
                    this.$validator.validateAll();
                    self.errors.any();
                }, 250);
            },
            guardar() {
                
                this.$validator.validateAll();
                if (this.errors.any()) return;
                if(!this.$refs.form.validate())return;
                let valores={
                    solid_items_id:this.solid_items.id,
                    cantidad:this.cantidad,
                    recibido:this.recibido,
                }
                    this.loading = true;
                    axios.post(this.baseURL+'/registrar', valores)
                    .then(response => {
                        var data = response.data;
                        if (data.result==0) {
                            toast__.fire({
                                type: 'warning',
                                title: data.mensaje
                            })
                            this.loading = false;
                            return;
                        }
                        this.items = [];
                        toast__.fire({
                            type: 'success',
                            title: 'La entrega ha sido registrado'
                        })
                        self.cargarEntregas();
                        this.dialogClose('dialogSimple2');
                        this.loading = false;
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        )
                    }) .finally(()=>{
                        self.cargarAllItems();
                       
                    })
            },
            cargar(item) {
                let valores = {id:item.id}
                this.modificando=true;
                 axios.post(this.baseURL+'/buscar/', valores)
                    .then(response => {
                        var data = response.data;
                        console.log(data);
                        this.solid_entregas.id=data.id;
                        this.cantidad=data.cantidad,
                        this.recibido=data.recibido,
                        self.openDialogSimpleNuevaEntrega({openDialog:true,bodycard:'bodycardNuevaEntrega',titulo:'Modificar Entrega',buttons:'buttonsNuevaEntrega',maxwidth:'600px'});
                        this.$validator.validateAll();
                        self.errors.any();
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            editar() {
                this.$validator.validateAll();
                if (this.errors.any()) return false;
                if(!this.$refs.form.validate())return;
                 let valores={
                     solid_items_id:this.solid_items.id,
                    id:this.solid_entregas.id,
                    cantidad:this.cantidad,
                    recibido:this.recibido,
                }
                    this.loading = true;
                 axios.patch(this.baseURL+'/editar/', valores)
                    .then(response => {
                        var data = response.data;
                        if (data.result==0) {
                            toast__.fire({
                                type: 'warning',
                                title: data.mensaje
                            })
                            this.loading = false;
                            return;
                        }
                        this.items = [];
                        toast__.fire({
                            type: 'success',
                            title: 'La entrega ha sido actualizada'
                        })
                        self.cargarEntregas();
                        this.dialogClose('dialogSimple2');
                        this.loading = false;
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        );
                    });  
            },
            eliminar(item) {
                let valores = {
                        id:item.id,
                        estado:0
                    }
                    swal__.fire({
                        title: "¿ Desea eliminar la entrega con cantidad "+item.cantidad+" ?",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, eliminar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/eliminar/', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.items = [];
                                    self.cargarEntregas();
                                    toast__.fire({
                                        type: 'success',
                                        title: 'La entrega ha sido eliminada'
                                    })
                                }
                            })
                            .catch(errors => {
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            }).finally(()=>{
                                self.cargarAllItems();
                       
                             });
                        }
                    })

            },
            recibido_check(item) {
                let valores = {
                        id:item.id,
                    }
                    swal__.fire({
                        title: "¿ Desea cambiar el estado de recibido ?",
                        text:"Esta acción es irreversible.",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/recibir', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.items = [];
                                    self.cargarEntregas();
                                    toast__.fire({
                                        type: 'success',
                                        title: 'La entrega ha sido modificada'
                                    })
                                }
                            })
                            .catch(errors => {
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            });
                        }
                    })
            },
            resetValues(){
                this.modificando = false;
                this.cantidad = null;
                this.recibido=0;
            }
        }
    }
</script>
