<template>
    <div>
        <section class="content">
            <PanelContent :title="'Proyecto '+proyecto.nombre"  >
                <template v-slot:optionsbuttonstop>
                    <v-btn class="" href="../../tareo"><v-icon left dark>arrow_left</v-icon>Lista de Proyectos</v-btn>
                </template>
                <template v-slot:content>
                    <TableContent :title="'Listado de Actividades'" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:btnAcciones="{item}" >
                            <template>
                                <v-btn small @click="verEmpleados(item)" title="Ver Empleados" class="info">
                                    <v-icon class="white--text" small  > visibility </v-icon>&nbsp;Empleados
                                </v-btn>

                            </template>
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
            <DialogSimple >
                <template v-slot:bodycardVerEmpleados>
                    <TableContent :title="'Listado de Empleados'" :headers="headersEmpleados" :items="itemsEmpleados" :loading="loadingTableEmpleados">
                        <template v-slot:btnAcciones="{item}" >
                            <template>
                                <v-btn small @click="verEmpleados(item)" title="Ver Empleados" class="info">
                                    <v-icon class="white--text" small  > visibility </v-icon>&nbsp;Empleados
                                </v-btn>

                            </template>
                        </template>
                    </TableContent>
                </template>
                <template v-slot:buttonsVerEmpleados>
                    <v-btn color="primary" :loading="loading" :disabled="loading" @click="modificando?editar():guardar()" >{{modificando?'Modificar':'Guardar'}}</v-btn>
                        <v-btn @click="dialogClose('dialogSimple')" >Cancelar</v-btn>
                </template>
            </DialogSimple>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
import DialogSimple from '../components/DialogSimple';
var self;
var swal__;
var toast__;
    export default {
        name: 'ProduccionRegistraActividades',
        components:{
            PanelContent,TableContent,DialogSimple
        },
       data: () => ({
            modificando:false,
            valid:true,
            proyecto:{},

            item_id:null,
            loadingTable:false,
            loadingTableEmpleados:false,
            loading:false,

            headers: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },{
                text: 'Actividad',
                align: 'center',
                value: 'nombre_actividad',
                },{
                text: 'Elemento',
                align: 'center',
                value: 'solid',
                },
                {
                text: 'Hora Inicio',
                align: 'center',
                value: 'hora_inicio',
                },{
                text: 'Hora Fin',
                align: 'center',
                value: 'hora_fin',
                },{
                text: 'Horas Trabajadas',
                align: 'center',
                value: 'horas_trabajadas',
                },
                { text: 'Fecha',
                align: 'center',
                value: 'fecha_creacion',
                },
                { text: 'Acciones',  align: 'left',value: 'action', width:'400px' ,sortable: false },
            ],
            items: [],
            headersEmpleados: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },{
                text: 'Nombres',
                align: 'center',
                value: 'empleado_nombres',
                },
                {
                text: 'Apellidos',
                align: 'center',
                value: 'empleado_apellidos',
                }
            ],
            itemsEmpleados: [],
            baseURL:null,
        }),
        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.$validator.localize('es', this.dictionary);
            this.$route.params.id = atob(this.$route.params.id);

            this.cargarAll();
        },
        methods:{
            dialogClose(tipo){
                this.$store.state[tipo].dialog = false;
            },
            cargarAll() {
                this.loadingTable=true;
                let params = {
                      id:this.$route.params.id
                }
                 axios.post(this.baseURL+'/../../cargar/',params)
                    .then(response => {
                        var data = response.data;
                        self.items=data.items;
                        self.items.forEach(element => {
                            element.horas_trabajadas = Math.floor(element.horas_trabajadas)+":"+Math.floor(element.horas_trabajadas%1*60)
                        });
                        self.proyecto=data.proyecto;
                        self.loadingTable=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            cargarEmpleados(item) {
                let valores = {tareo_id:item.id}
                this.loadingTableEmpleados=true;
                 axios.post(this.baseURL+'/../../empleados', valores)
                    .then(response => {
                        var data = response.data;
                        self.itemsEmpleados=data;
                        this.loadingTableEmpleados=false;

                        console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            openDialogSimpleVerEmpleados(data){
                this.$store.commit('openDialogSimple',data);
            },
            verEmpleados(item){
                this.openDialogSimpleVerEmpleados({openDialog:true,bodycard:'bodycardVerEmpleados',buttons:'buttonsVerEmpleados',titulo:'Empleados',maxwidth:'800px'});
                this.cargarEmpleados(item);
            },

        }
    }
</script>



