<template>
    <div>
        <section class="content">
            <PanelContent :title="'Proyecto '+proyecto.nombre"  >
                <template v-slot:optionsbuttonstop>
    <v-btn class="" href="../../solicitudes"><v-icon left dark>arrow_left</v-icon>Lista de Proyectos</v-btn>
       &nbsp;&nbsp;
                    <v-btn v-show="proyecto.estado_tracking==1" class="dark" @click="proyecto.estado_tracking==1?solicitud('Materiales'):''"><v-icon left dark>add</v-icon>Solicitud Materiales</v-btn>
       &nbsp;&nbsp;
                    <v-btn v-show="proyecto.estado_tracking==1" class="dark" @click="proyecto.estado_tracking==1?solicitud('Consumibles'):''"><v-icon left dark>add</v-icon>Solicitud Consumibles</v-btn>
                </template>
                <template v-slot:content>
                    <TableContent :title="'Listado de Solicitudes'" name="ProduccionSolicitudRegistrar" :headers="headers" :items="items" :loading="loadingTable">
                        
                        <template v-slot:tipo="{item}" >
                            <v-chip :class="item.tipo==1?'dark':'info'">
                                {{item.tipo==1?"Consumibles":"Materiales"}}
                            </v-chip>
                        </template>
                        <template v-slot:aprobado="{item}"  >
                            <v-chip :class="item.aprobado==0?(item.revisado==0?'warning':'info'):'success'">
                                {{item.aprobado==0?(item.revisado==0?"Pendiente":"Revisado"):"Aprobado"}}
                            </v-chip>
                        </template>
                        <template v-slot:btnAcciones="{item}" >
                            <template  >
                                <v-btn small @click="soloVer=true;cargar(item)" title="Ver" class="info">
                                    <v-icon class="white--text" small  > visibility </v-icon> ver
                                </v-btn>
                                <v-btn small v-if="item.aprobado==1 && item.recibidos_faltantes>0 && proyecto.estado_tracking==1" @click="soloVer=false;cargar(item)" title="Verificar" class="warning">
                                    <v-icon class="white--text" small  > edit </v-icon> Verificar
                                </v-btn>
                                <v-btn small v-if="item.revisado==0 && proyecto.estado_tracking==1" @click="revisar(item)" title="Eliminar" class="success">
                                    <v-icon small class="white--text" > check </v-icon> Revisar
                                </v-btn>
                                <v-btn small v-if="item.revisado==1 && item.aprobado==0 && proyecto.estado_tracking==1" @click="aprobar(item)" title="Eliminar" class="success">
                                    <v-icon small class="white--text" > check </v-icon> Aprobar
                                </v-btn>
                                <v-btn small v-if="proyecto.estado_tracking==1" @click="eliminar(item)" title="Eliminar" class="error">
                                    <v-icon small class="white--text" > delete </v-icon> Eliminar
                                </v-btn>


                            </template>
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
            <DialogSimple >
                <template v-slot:bodycardSolicitud>
                    <v-form ref="form" v-model="valid" lazy-validation>
                        <v-container >
                            <v-row>
                                <v-col cols="10" sm="6" md="6">
                                    <v-text-field disabled v-model="descripcion"  label="Identificador autogenerado"></v-text-field>
                                </v-col>
                            </v-row>

                    <TableContent :title="'Listado de Solicitudes'" :headers="headersSolicitud" :items="itemsSolicitud" :loading="loadingTableSolicitud">
                        <template  v-slot:inputEdit="props">
                            <v-edit-dialog :large="!modificando" :persistent="!modificando" :return-value.sync="props.item.cantidad"  @open="open"
                            > <code small>{{ props.item.cantidad }}</code>
                            <template v-slot:input>
                                <v-text-field :disabled="modificando" min="0" type="number" v-model="props.item.cantidad" label="Editar" single-line autofocus
                                ></v-text-field>
                            </template>
                            </v-edit-dialog>
                        </template>
                        <template v-slot:recibido="{item}" >
                            <v-checkbox :disabled="disabledMateriales || soloVer" @change="recibido(item)" v-model="item.recibido" :value="item.recibido"

                            ></v-checkbox>
                        </template>
                    </TableContent>
                    </v-container>
                    </v-form>
                </template>
                <template v-slot:buttonsSolicitud>
                    <v-btn v-show="!modificando" color="primary" :loading="loading" :disabled="loading" @click="guardar()" >Guardar</v-btn>
                        <v-btn @click="dialogClose('dialogSimple')" >Cerrar</v-btn>
                </template>
            </DialogSimple>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
import DialogSimple from '../components/DialogSimple';
var self;
var swal__;
var toast__;
    export default {
        name: 'ProduccionRegistraPesos',
        components:{
            PanelContent,TableContent,DialogSimple
        },
       data: () => ({
            modificando:false,
            soloVer:false,
            disabledMateriales:false,
            valid:true,
            proyecto:{},
            tipoSolicitud:null,
            item_id:null,
            descripcion:'',

            loadingTable:false,
            loading:false,

            loadingTableSolicitud:false,

            headers: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                 width: '80px',
                },{
                text: 'Identificador',
                align: 'center',
                value: 'identificador_auto',
                 width: '150px',
                },{
                text: 'Tipo',
                align: 'center',
                value: 'tipo',
                 width: '100px',
                }
                ,{
                text: 'Estado',
                align: 'center',
                value: 'aprobado',
                 width: '100px',
                },
                { text: 'Acciones',  align: 'left',value: 'action' ,sortable: false },
            ],
            items: [],
            headersSolicitud: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },{
                text: 'Código',
                align: 'center',
                value: 'codigo',
                },{
                text: 'Descripción',
                align: 'center',
                value: 'descripcion',
                }
                ,{
                text: 'Grupo',
                align: 'center',
                value: 'grupo',
                width: '100px',
                },
                { text: 'Cantidad',  align: 'center',value: 'cantidad' ,sortable: false },
                { text: 'Recibido',  align: 'left',value: 'recibido' ,sortable: false, hidden:true},
            ],
            itemsSolicitud: [],
            baseURL:null,

        }),
        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.$validator.localize('es', this.dictionary);
            this.$route.params.id = atob(this.$route.params.id);

            this.cargarAll();
        },
        methods:{
            dialogClose(tipo){
                this.$store.state[tipo].dialog = false;
            },
            cargarAll() {
                this.loadingTable=true;
                let params = {
                      id:this.$route.params.id
                }
                 axios.post(this.baseURL+'/../../cargar/',params)
                    .then(response => {
                        var data = response.data;
                        self.items=data.items;
                        self.proyecto=data.proyecto;
                        self.loadingTable=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },

            cargar(item) {
                this.resetValues();
                this.headersSolicitud.filter((x)=>{return x.hidden!=null}).forEach(element => { element.hidden = false; });
                this.disabledMateriales = item.aprobado==0;
                let valores = {solicitud_id:item.id}
                this.modificando=true;
                this.tipoSolicitud = item.tipo=='Materiales'?'materialesonly':'consumibles';
                let titulo = item.tipo=='Materiales'?'Materiales':'Consumibles';
                this.openDialogSimplesolicitud({openDialog:true,bodycard:'bodycardSolicitud',buttons:'buttonsSolicitud',titulo:'Solicitud de '+titulo,maxwidth:'1000px'});
                setTimeout(() => {
                    this.$validator.validateAll();
                    self.errors.any();
                    this.$refs.form.validate();
                }, 250);
                this.loadingTableSolicitud=true;
                 axios.post(this.baseURL+'/../../buscar', valores)
                    .then(response => {
                        var data = response.data;
                        this.item_id=data.id;
                        this.descripcion=item.id; 
                        self.itemsSolicitud=data;
                        this.loadingTableSolicitud=false;
                        console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            editar() {
                this.$validator.validateAll();
                if (this.errors.any()) return false;
                if(!this.$refs.form.validate())return;

                let valores = {
                        id : this.item_id,
                        proyecto_id:this.$route.params.id,
                        peso : this.peso,
                        observacion : this.observacion,
                        descripcion : this.descripcion,
                    }
                    this.loading = true;
                 axios.patch(this.baseURL+'/../../editar/', valores)
                    .then(response => {
                        var data = response.data;
                        if (response.data==1) {
                            this.items = [];
                            toast__.fire({
                                type: 'success',
                                title: 'El peso ha sido actualizado'
                            })
                        }
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        );
                    }).finally(()=>{
                        self.cargarAll();
                        this.dialogClose('dialogSimple');
                        this.loading = false;
                    });
            },
            eliminar(item) {
                let valores = {
                        solicitud_id:item.id,
                        estado:0
                    }
                    swal__.fire({
                        title: "¿ Desea eliminar la solicitud "+item.identificador_auto+" ?",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, eliminar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/../../eliminar', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.items = [];
                                    self.cargarAll();
                                    toast__.fire({
                                        type: 'success',
                                        title: 'La solicitud ha sido eliminada'
                                    })
                                }
                            })
                            .catch(errors => {
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            });
                        }
                    })

            },
            revisar(item){
                let valores = {
                        id:item.id,
                        estado:0
                    }
                    swal__.fire({
                        title: "¿ Desea cambiar a revisado la solicitud "+item.identificador_auto+" ?",
                        text :"Esta acción es irreversible",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, revisado',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/../../revisar', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.items = [];
                                    self.cargarAll();
                                    toast__.fire({
                                        type: 'success',
                                        title: 'La solicitud ha sido revisado'
                                    })
                                }
                            })
                            .catch(errors => {
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            });
                        }
                    })

            },
            aprobar(item){
                let valores = {
                        id:item.id,
                        estado:0
                    }
                    swal__.fire({
                        title: "¿ Desea aprobar la solicitud "+item.identificador_auto+" ?",
                        text :"Esta acción es irreversible",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, aprobar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/../../aprobar', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.items = [];
                                    self.cargarAll();
                                    toast__.fire({
                                        type: 'success',
                                        title: 'La solicitud ha sido aprobada'
                                    })
                                }
                            })
                            .catch(errors => {
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            });
                        }
                    })

            },
            recibido(item){
                let valores = {id:item.id,recibido:item.recibido||0}
                axios.post(this.baseURL+'/../../verificar', valores)
                .then(response => {
                    var data = response.data;
                    console.log(data);
                    this.items = [];
                    toast__.fire({
                        type: 'success',
                        title: 'El material ha sido actualizado'
                    })
                })
                .catch(errors => {
                    swal__.fire(
                    'ERROR!',
                    'ha ocurrido un error: '+errors,
                    'error'
                    )
                }).finally(()=>{
                    self.cargarAll();
                    this.loading = false;
                });
            },
            guardar() {
                this.$validator.validateAll();
                if (this.errors.any()) return;
                if(!this.$refs.form.validate())return;

                let valores={
                    items:this.itemsSolicitud.filter((x)=>{return x.cantidad>0}),
                    solicitud:{descripcion:this.descripcion,proyecto_id:this.$route.params.id},
                }
                if (valores.items.length<=0) {
                    swal__.fire(
                    'ERROR!',
                    'Debe ingresar al menos una cantidad del Listado de Solicitudes',
                    'warning'
                    );
                    return;
                }
                if (this.tipoSolicitud=="materialesonly") {
                    valores.solicitud.tipo = 2;
                }else{
                    valores.solicitud.tipo = 1;
                    valores.solicitud.aprobado = 1;
                    valores.solicitud.revisado = 1;
                }
                this.loading = true;
                console.log(valores);
                axios.post(this.baseURL+'/../../guardar', valores)
                .then(response => {
                    var data = response.data;
                    console.log(data);
                    this.items = [];
                    toast__.fire({
                        type: 'success',
                        title: 'La solicitud ha sido registrada'
                    })
                })
                .catch(errors => {
                    swal__.fire(
                    'ERROR!',
                    'ha ocurrido un error: '+errors,
                    'error'
                    )
                }).finally(()=>{
                    self.cargarAll();
                    this.dialogClose('dialogSimple');
                    this.loading = false;
                });
            },
            openDialogSimplesolicitud(data){
                this.$store.commit('openDialogSimple',data);
            },
            solicitud(tipo){
                this.resetValues();
                this.headersSolicitud.filter((x)=>{return x.hidden!=null}).forEach(element => { element.hidden = true; });

                this.tipoSolicitud = tipo=='Materiales'?'materialesonly':'consumibles';
                let titulo = tipo=='Materiales'?'Materiales':'Consumibles';
                this.openDialogSimplesolicitud({openDialog:true,bodycard:'bodycardSolicitud',buttons:'buttonsSolicitud',titulo:'Solicitud de '+titulo,maxwidth:'1000px'});
                setTimeout(() => {
                    this.$validator.validateAll();
                    self.errors.any();
                    this.$refs.form.validate();

                }, 250);
                this.loadingTableSolicitud=true;
                axios.get('/importaciones/'+this.tipoSolicitud)
                .then(response => {
                    var data = response.data;
                    self.itemsSolicitud=data;
                    this.loadingTableSolicitud=false;
                })
                .catch(errors => {
                    console.log(errors);
                });
            },
            resetValues(){
                this.tipoSolicitud=null;
                this.descripcion = null;
                this.item_id = '';
                this.modificando=false;
                this.loadingTableSolicitud=false;
            },
            open () {
                setTimeout(() => {
                    document.querySelector('.v-small-dialog__menu-content .v-small-dialog__actions button span').innerHTML="Cancelar"
                    document.querySelector('.v-small-dialog__menu-content .v-small-dialog__actions button').nextElementSibling.querySelector('span').innerHTML="Guardar"
                }, 100);
            },

        }
    }
</script>



