<template>
  <div>
    <section class="content">
      <PanelContent :title="'Proyecto '+proyecto.nombre">
        <template v-slot:optionsbuttonstop>
          <v-btn class href="../cronograma">
            <v-icon left dark>arrow_left</v-icon>Lista de Proyectos
          </v-btn>
        </template>
        <template v-slot:content>
          <v-row class="fill-height">
            <v-col>
              <v-sheet height="64">
                <v-toolbar flat color="white">
                  <template v-if="!verAnio">
                    <v-btn outlined class="mr-4" @click="setToday">Hoy</v-btn>
                    <v-btn fab text small @click="prev">
                      <v-icon small>keyboard_arrow_left</v-icon>
                    </v-btn>
                    <v-btn fab text small @click="next">
                      <v-icon small>keyboard_arrow_right</v-icon>
                    </v-btn>
                    <v-toolbar-title>{{ title }}</v-toolbar-title>
                  </template>
                  <v-spacer></v-spacer>
                  <template>
                    <v-menu bottom right>
                      <template v-slot:activator="{ on }">
                        <v-btn outlined v-on="on">
                          <span>{{ typeToLabel[type] }}</span>
                          <v-icon right>keyboard_arrow_down</v-icon>
                        </v-btn>
                      </template>
                      <v-list>
                        <!--v-list-item @click="type = 'day'">
                                    <v-list-item-title>Day</v-list-item-title>
                        </v-list-item-->
                        <!--v-list-item @click="type = 'week'">
                                    <v-list-item-title>Semana</v-list-item-title>
                        </v-list-item-->
                        <v-list-item @click="verAnio=false;type = 'month'">
                          <v-list-item-title>Mes</v-list-item-title>
                        </v-list-item>
                        <v-list-item @click="calendarioAnio()">
                          <v-list-item-title>Año</v-list-item-title>
                        </v-list-item>
                        <!--v-list-item @click="type = '4day'">
                                    <v-list-item-title>4 days</v-list-item-title>
                        </v-list-item-->
                      </v-list>
                    </v-menu>
                  </template>
                </v-toolbar>
              </v-sheet>
              <v-sheet v-if="!verAnio" height="600">
                <v-calendar
                  ref="calendar"
                  v-model="focus"
                  color="primary"
                  :events="events"
                  :event-color="getEventColor"
                  :event-margin-bottom="3"
                  :now="today"
                  :type="type"
                  @click:event="showEvent"
                  @click:more="viewDay"
                  @click:date="viewDay"
                  @change="updateRange"
                ></v-calendar>
                <v-menu
                  v-model="selectedOpen"
                  :close-on-content-click="false"
                  :activator="selectedElement"
                  full-width
                  offset-x
                >
                  <v-card color="grey lighten-4" min-width="350px" flat>
                    <v-toolbar :color="selectedEvent.color" dark>
                      <!--v-btn icon>
                                    <v-icon>mdi-pencil</v-icon>
                      </v-btn-->
                      <v-toolbar-title v-html="selectedEvent.name+' ('+selectedEvent.preview+')'"></v-toolbar-title>
                      <v-spacer></v-spacer>
                      <!--v-btn icon>
                                    <v-icon>mdi-heart</v-icon>
                      </v-btn-->
                      <!--v-btn icon>
                                    <v-icon>mdi-dots-vertical</v-icon>
                      </v-btn-->
                    </v-toolbar>
                    <v-card-text>
                      <span v-html="selectedEvent.details"></span>
                    </v-card-text>
                    <v-card-actions>
                      <v-btn text color="dark" @click="selectedOpen = false">Salir</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-menu>
              </v-sheet>
            </v-col>
          </v-row>
          <v-row v-show="verAnio">
            <v-col>
              <div data-provide="calendar" id="calendar"></div>
            </v-col>
          </v-row>
        </template>
      </PanelContent>
    </section>
  </div>
</template>
<script>
import PanelContent from "../components/PanelContent";
import TableContent from "../components/TableContent";
import DialogSimple from "../components/DialogSimple";
var self;
var swal__;
var toast__;
export default {
  name: "ProduccionRegistraActividades",
  components: {
    PanelContent
  },
  props: {
    etapa: {
      required: true
    }
  },
  data: () => ({
    proyecto: {},
    item_id: null,
    today: "2019-01-01",
    focus: "2019-01-01",
    type: "month",
    typeToLabel: {
      month: "Mes",
      week: "Semana",
      day: "Día",
      "4day": "4 Dias"
    },
    start: null,
    end: null,
    selectedEvent: {},
    selectedElement: null,
    selectedOpen: false,
    events: [],
    baseURL: null,
    verAnio: false
  }),
  computed: {
    title() {
      const { start, end } = this;
      if (!start || !end) {
        return "";
      }

      const startMonth = this.monthFormatter(start);
      const endMonth = this.monthFormatter(end);
      const suffixMonth = startMonth === endMonth ? "" : endMonth;

      const startYear = start.year;
      const endYear = end.year;
      const suffixYear = startYear === endYear ? "" : endYear;

      const startDay = start.day + this.nth(start.day);
      const endDay = end.day + this.nth(end.day);

      switch (this.type) {
        case "month":
          return `${startMonth} ${startYear}`;
        case "week":
        case "4day":
          return `${startMonth} ${startDay} ${startYear} - ${suffixMonth} ${endDay} ${suffixYear}`;
        case "day":
          return `${startMonth} ${startDay} ${startYear}`;
      }
      return "";
    },
    monthFormatter() {
      return this.$refs.calendar.getFormatter({
        timeZone: "UTC",
        month: "long"
      });
    }
  },
  created: function() {},
  mounted() {
    this.baseURL = this.$router.currentRoute.path;
    self = this;
    swal__ = this.$store.getters.getSwal;
    toast__ = this.$store.getters.getToastDefault;
    this.$route.params.id = atob(this.$route.params.id);
    this.cargarAll();
    this.today = this.focus = this.moment().format("YYYY-MM-DD");
    this.$refs.calendar.checkChange();
  },
  methods: { 
    dialogClose(tipo) {
      this.$store.state[tipo].dialog = false;
    },
    cargarAll() {
      this.loadingTable = true;
      let params = {
        id: this.$route.params.id
      };
      axios
        .post(this.baseURL + "/../cargar", params)
        .then(response => {
          var data = response.data;
          this.events = data.items;
          self.proyecto = data.proyecto;
          self.loadingTable = false;
          console.log(data);
        })
        .catch(errors => {
          console.log(errors);
        });
    },

    cargar(item) {
      let valores = { id: item.id };
      this.modificando = true;
      axios
        .post(this.baseURL + "/../buscar", valores)
        .then(response => {
          var data = response.data;
          this.actividad = data.actividad;
          this.observacion = data.observacion;
          this.fechaInicio = data.fecha_inicio;
          this.fechaFin = data.fecha_final;
          this.item_id = data.id;
          self.openDialogSimpleNuevoItem({
            openDialog: true,
            bodycard: "bodycardNuevoItem",
            buttons: "buttonsNuevoItem",
            titulo: "Modificar Actividad",
            maxwidth: "800px"
          });
          this.$validator.validateAll();
          self.errors.any();
          setTimeout(() => {
            self.$refs.form.validate();
          }, 200);
          console.log(data);
        })
        .catch(errors => {
          console.log(errors);
        });
    },
    openDialogSimpleNuevoItem(data) {
      this.$store.commit("openDialogSimple", data);
    },
    nuevo() {
      this.resetValues();
      this.openDialogSimpleNuevoItem({
        openDialog: true,
        bodycard: "bodycardNuevoItem",
        buttons: "buttonsNuevoItem",
        titulo: "Registra Nueva Actividad",
        maxwidth: "800px"
      });
      setTimeout(() => {
        this.$validator.validateAll();
        self.errors.any();
        this.$refs.form.validate();
      }, 250);
    },
    resetValues() {
      this.actividad = "";
      this.observacion = null;
      this.fechaInicio = null;
      this.fechaFin = null;
      this.item_id = "";
      this.modificando = false;
    },
    saveMenuFechaInicio(date) {
      this.$refs.menuFechaInicio.save(date);
    },
    saveMenuFechaFin(date) {
      this.$refs.menuFechaFin.save(date);
    },
    viewDay({ date }) {
      this.focus = date;
      this.type = "day";
    },
    getEventColor(event) {
      return event.color;
    },
    setToday() {
      this.focus = this.today;
    },
    prev() {
      this.$refs.calendar.prev();
    },
    next() {
      this.$refs.calendar.next();
    },
    showEvent({ nativeEvent, event }) {
      const open = () => {
        this.selectedEvent = event;
        this.selectedElement = nativeEvent.target;
        setTimeout(() => (this.selectedOpen = true), 10);
      };

      if (this.selectedOpen) {
        this.selectedOpen = false;
        setTimeout(open, 10);
      } else {
        open();
      }

      nativeEvent.stopPropagation();
    },
    updateRange({ start, end }) {
      // You could load events from an outside source (like database) now that we have the start and end dates on the calendar
      this.start = start;
      this.end = end;
    },
    nth(d) {
      return d > 3 && d < 21
        ? "th"
        : ["th", "st", "nd", "rd", "th", "th", "th", "th", "th", "th"][d % 10];
    },
    
    calendarioAnio() {
      if (!this.verAnio) {
        this.verAnio = !this.verAnio;
        let tooltip = null;

        //setTimeout(() => {
          const calendar = new Calendar("#calendar", {
            dataSource: function(year) {
              let params = {
                id: self.$route.params.id
              };
              // Load data from GitHub API
              return axios
                .post(self.etapa + "/cronograma/cargar", params)
                .then(result => {
                  result = result.data;
                  if (result.items) {
                    return result.items.map(r => ({
                      startDate: new Date(r.start),
                      endDate: new Date(r.end),
                      name: r.preview,
                      details: r.details,
                      color: r.completado==1?'#19e419':'#0000ff'
                    }));
                  }

                  return [];
                })
                .catch(errors => {
                  console.log(errors);
                });
            },
            mouseOnDay: function(e) {
              if (e.events.length > 0) {
                var content = "";

                for (var i in e.events) {
                  content +=
                    '<div class="event-tooltip-content">' +
                    '<div class="event-name" style="color:' +
                    (e.events[i].name=="completado"?'#18e218':'0000ff') +
                    '">' +
                    e.events[i].name +
                    "</div>" +
                    '<div class="event-details">' +
                    e.events[i].details +
                    "</div>" +
                    "</div>";
                }

                if (tooltip !== null) {
                  tooltip.destroy();
                  tooltip = null;
                }

                tooltip = tippy(e.element, {
                  placement: "right",
                  content: content,
                  animateFill: false,
                  animation: "shift-away",
                  arrow: true
                });
                tooltip.show();
              }
            },
            mouseOutDay: function() {
              if (tooltip !== null) {
                tooltip.destroy();
                tooltip = null;
              }
            }
          });
       // }, 250);
      }
    }
  }
};
</script>



