<template>
    <div>
        <section class="content">
            <PanelContent :title="'Valorizacione'"  >
                <!--:class="proyecto.estado==0?'error':(item.estado==1?'info':'success')"-->
                <template v-slot:content>
                    <TableContent :title="'Lista de Proyectos'" name="PresupuestoMaterialesProyectos" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:btnRegistrar="{item}" >
<!--                            <Action :list_menu="listar_menu(item)" :_item="item">-->

<!--                            </Action>-->
                            <!--v-btn  v-if="item.estado_tracking!=0 && item.estado_presupuesto>1" small @click="pantallaMateriales(item)" class="info">
                                <v-icon left dark>open_in_new</v-icon>Materiales
                            </v-btn>
                            <v-btn  v-if="item.estado_tracking!=0 && item.estado_presupuesto==2" small @click="eliminar(item)" title="Eliminar" class="error">
                                <v-icon left dark>delete</v-icon>&nbsp;Cancelar
                            </v-btn-->
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
var self;
var swal__;
var toast__;
    export default {
        name: 'PresupuestoMaterialesProyectos',
        components:{
            PanelContent,TableContent
        },
       data: () => ({
            loadingTable:false,
            loading:false,

            headers: [
                                      {
                    text: 'N°',
                    align: 'center',
                    value: 'id',
                    width: '40px',
                    },
                    {
                    text: 'Código',
                    align: 'left',
                    value: 'codigo',
                    width: '130px',
                    },
                    {
                    text: 'Proyecto',
                    align: 'left',
                    value: 'nombre',
                    width: '170px',
                    },
                    {
                    text: 'Cliente',
                    align: 'left',
                    value: 'nombre_cliente',
                    width: '200px',
                    },
                    {
                    text: 'Estado',
                    align: 'center',
                    value: 'estado_presupuesto',
                    width: '100px',
                    },

                    { text: 'Acciones', align: 'left',value: 'action', sortable: false },
            ],
            items: [],
            list_menu:[],
            baseURL:null,
        }),

        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.cargarAll();
        },
        methods:{
            listar_menu(item){
                return this.list_menu =[{click:this.pantallaMateriales,class:'info',nombre:'Materiales',icono:'open_in_new',_if:item.estado_tracking!=0 && item.estado_presupuesto>1},{click:this.eliminar,class:'error',nombre:'Eliminar',icono:'delete',_if:item.estado_tracking!=0 && item.estado_presupuesto==2}]
            },
            cargarAll() {
                this.loadingTable=true;
                 axios.get(this.baseURL+'/all')
                    .then(response => {
                        var data = response.data;
                        self.items=data;
                        self.loadingTable=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            }, eliminar(item) {
                let valores = {
                        id:item.id,
                        estado:0
                    }
                    swal__.fire({
                        title: "¿ Desea cancelar el proyecto "+item.nombre+" ?",
                        text :"Esta acción es irreversible",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, cancelar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/../proyectos/cancelar/', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.items = [];
                                    self.cargarAll();
                                    toast__.fire({
                                        type: 'success',
                                        title: 'La Lista de Materiales ha sido cancelada'
                                    })
                                }
                            })
                            .catch(errors => {
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            });
                        }
                    })

            },pantallaMateriales(item){
                location.href=window.location.href+'/'+btoa(item.id);
            }
        }
    }
</script>



