<template>
    <div>
        <section class="content">
            <PanelContent :title="'Configuración factor'">
                <template v-slot:optionsbuttonstop>
                    <v-btn class="success" :loading="loading" :disabled="loading" @click="importar()"><v-icon left dark>add</v-icon>Importar</v-btn>
                </template>
            </PanelContent>
            <PanelContent :title="'Configuración proceso'">
                <template v-slot:optionsbuttonstop>
                    <v-btn class="success" :loading="loadingProceso" :disabled="loadingProceso" @click="importarProceso()"><v-icon left dark>add</v-icon>Importar</v-btn>
                </template>
            </PanelContent>
            <PanelContent :title="'IMPORT EXCEL PRUEBA'">
                <template v-slot:optionsbuttonstop>
                    <v-btn class="success" :loading="loadingProceso" :disabled="loadingProceso" @click="importarExcelPrueba()"><v-icon left dark>add</v-icon>Importar</v-btn>
                </template>
            </PanelContent>
        </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
var self;
var swal__;
var toast__;
    export default {
        name: 'Configuracion',
        components:{
            PanelContent
        },
    data () {
      return {
loading:false,
loadingProceso:false,
baseURL:null,
      }
    },
    created:function(){
    },
    mounted() {
        this.baseURL = this.$router.currentRoute.path;
        console.log('Importación ')
        self=this;
        swal__ = this.$store.getters.getSwal;
        toast__ = this.$store.getters.getToastDefault;
    },
    methods:{
         importar() {
                this.loading=true;
                 axios.get(this.baseURL+'/factores/importar')
                    .then(response => {
                        var data = response.data;
                        toast__.fire({
                            type: 'success',
                            title: 'Se han importado los factores faltantes.'
                        })
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        );
                        console.log(errors);
                    }).finally(()=>{
                        this.loading = false;
                    });
            },importarProceso() {
                this.loadingProceso=true;
                 axios.get(this.baseURL+'/procesos/importar')
                    .then(response => {
                        var data = response.data;
                        toast__.fire({
                            type: 'success',
                            title: 'Se han importado los procesos faltantes.'
                        })
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        );
                        console.log(errors);
                    }).finally(()=>{
                        this.loadingProceso = false;
                    });
            },importarExcelPrueba() {
                this.loadingProceso=true;
                 axios.get(this.baseURL+'/importarexcel')
                    .then(response => {
                        var data = response.data;
                        toast__.fire({
                            type: 'success',
                            title: 'Se han importado los procesos faltantes.'
                        })
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        );
                        console.log(errors);
                    }).finally(()=>{
                        this.loadingProceso = false;
                    });
            },
    }
    }
</script>
