<template>
    <div>
        <section class="content">
            <PanelContent :title="'RRHH Actividades'">
                <template v-slot:optionsbuttonstop>
                    <v-btn class="success" @click="nuevo()"><v-icon left dark>add</v-icon>Nuevo</v-btn>
                </template>
                <template v-slot:content>
                    <TableContent :title="'Registro de actividades'" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:btnAcciones="{item}" >

                            <v-btn small class="info" @click="ver_empleados=true;evento_id=item.id;cargarEmpleados(item);">Ver Trabajadores</v-btn>
                            <v-chip class="warning ">
                                <v-icon class="white--text" small @click="cargar(item)" > edit </v-icon>
                            </v-chip>
                            <v-chip class="error">
                                <v-icon small class="white--text" @click="eliminar(item)" > delete </v-icon>
                            </v-chip>
                            <v-chip class="info" v-if="item.adjunto!=null">
                                <v-icon small class="white--text" @click="download(item)"  > cloud_download </v-icon>
                            </v-chip>
                        </template>

                    </TableContent>
                </template>
            </PanelContent>
            <DialogSimple >
                <template v-slot:bodycardNuevoEvento>
                     <v-container>
                        <v-row>
                            <v-col cols="12" sm="6" md="4">
                                <v-menu v-model="menufechaInicio" :close-on-content-click="false" :nudge-right="40" transition="scale-transition" offset-y min-width="290px" >
                                    <template v-slot:activator="{ on }">
                                    <v-text-field v-model="fechaInicio" :rules="[ fechaInicioMenorFechaFin() || 'Debe ser anterior a la fecha fin']" label="Fecha" prepend-icon="event" readonly v-on="on" ></v-text-field>
                                    </template>
                                    <v-date-picker v-model="fechaInicio" @input="menufechaInicio = false"></v-date-picker>
                                </v-menu>
                            </v-col>

                            <v-col cols="12" sm="6" md="4">
                                <v-menu v-model="menuFechaFin" :close-on-content-click="false" :nudge-right="40" transition="scale-transition" offset-y min-width="290px" >
                                    <template v-slot:activator="{ on }">
                                    <v-text-field v-model="fechaFin" :rules="[fechaInicioMenorFechaFin() || 'Debe ser posterior a la fecha de inicio']" label="Vigencia" prepend-icon="event" readonly v-on="on" ></v-text-field>
                                    </template>
                                    <v-date-picker v-model="fechaFin" @input="menuFechaFin = false"></v-date-picker>
                                </v-menu>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" sm="6" md="4">
                                <v-select v-model="actividad_id" v-validate="'required'" :error-messages="errors.collect('actividad_id')"  data-vv-name="actividad_id" required :items="actividades" item-text="nombre" item-value="id"  menu-props="auto" label="Actividad" single-line ></v-select>
                            </v-col>
                            <v-col cols="12" sm="6" md="8">
                                <v-text-field v-model="descripcion" v-validate="'required|max:150'" :error-messages="errors.collect('descripcion')"  data-vv-name="descripcion" required :counter="150" label="Descripción"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="8">
                                <v-text-field label="Adjunto" readonly="" @click='selectAdjunto' v-model='adjunto_nombre' prepend-icon='attach_file'></v-text-field>
                                <!--v-file-input @change="guardarAdjunto" chips show-size label="Adjunto"-->
                                    <input
						type="file"
						style="display: none"
						ref="adjunto"
						accept=
"application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
text/plain, application/pdf"
						@change="guardarAdjunto"
					>
                                <!--template v-slot:selection="{ text }">
                                    <v-chip  label  color="primary" >  {{ text }} </v-chip>
                                    </template>
                                </v-file-input-->
                            </v-col>
                            <v-col cols="12" sm="6" md="">
                                <v-btn :class="empleados_evento.length<=0?'error':'primary'" @click="cargarEmpleados()"><v-icon left dark>add</v-icon>Trabajadores</v-btn> <br>
                                <span class="error--text" v-if="empleados_evento.length<=0">Seleccione trabajador</span>
                                <span  v-if="empleados_evento.length>0">Trabajadores: {{empleados_evento.length}}</span>
                            </v-col>

                        </v-row>
                    </v-container>
                </template>
                <template v-slot:buttonsNuevoEvento>
                    <v-btn color="primary" :loading="loading" :disabled="loading" @click="modificando?editar():guardar()" >{{modificando?'Modificar':'Guardar'}}</v-btn>
                    <v-btn  @click="dialogClose('dialogSimple')" >Cancelar</v-btn>
                </template>
                <template v-slot:bodycardSeleccionEmpleados>
                    <TableContent :title="'Lista de Trabajadores'" :headers="headersEmpleados" :items="itemsEmpleados" :loading="loadingTableEmpleados">
                        <template v-slot:btnAcciones="{item}" >
                            <v-checkbox v-show="!ver_empleados"  v-model="empleados_evento" name="empleados_evento" :value="item.id"
                                required
                            ></v-checkbox>
                        </template>

                    </TableContent>

                </template>
                <template v-slot:buttons>
                    <v-btn color="dark" @click="empleados_evento=[];dialogClose('dialogSimple2')" >Cancelar</v-btn>
                    <v-btn color="primary" @click="dialogClose('dialogSimple2')" >Aceptar</v-btn>
                </template>
            </DialogSimple>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
import DialogSimple from '../components/DialogSimple';
var self;
var swal__;
var toast__;
    export default {
        name: 'MantenimientoAdjuntos',
        components:{
            PanelContent,TableContent,DialogSimple
        },
        data () {
      return {
            modificando:false,
            actividades:null,
            ver_empleados:false,

            actividad_id:null,
            empleados_evento:[],
            descripcion:null,
            evento_id:null,

            adjunto_nombre:'',
            adjunto_url:null,
            adjunto_file:null,

            fechaInicio: this.moment().format('YYYY-MM-DD'),
            menuFechaInicio: false,
            fechaFin: '',
            menuFechaFin: false,

            loadingTable:false,
            loading:false,

            loadingTableEmpleados:false,
            dictionary: {
                custom: {
                    actividad_id: {
                    required: () => 'Seleccione la actividad',
                    },empleados_evento: {
                    required: () => 'Seleccione al menos a un trabajador',
                    },descripcion: {
                    required: () => 'Ingrese una descripción',
                    max:'La descripción debe ser menor a 150 caracteres'
                    }
                }
            },
            headers: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },
                {
                text: 'Actividad',
                align: 'center',
                value: 'nombre_actividad',
                },
                {
                text: 'Nombre',
                align: 'center',
                value: 'descripcion',
                },{
                text: 'Adjunto',
                align: 'center',
                value: 'adjunto',
                },{
                text: 'Fecha',
                align: 'center',
                value: 'fecha_inicio',
                },{
                text: 'Vigencia',
                align: 'center',
                value: 'fecha_fin',
                },
                { text: 'Acciones',  align: 'left',value: 'action', sortable: false },
            ],
            items: [],
            headersEmpleados: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },
                {
                text: 'Código',
                align: 'center',
                sortable: false,
                value: 'codigo',
                },
                { text: 'Apellidos', align: 'center',value: 'apellidos' },
                { text: 'Nombres', align: 'center',value: 'nombres' },
                { text: 'Cargo', align: 'center',value: 'cargo' },
                { text: 'Acciones',   value: 'action', sortable: false },
            ],
            itemsEmpleados: [],
            baseURL:null,
      }
    },
    created:function(){
    },
    mounted() {
        this.baseURL = this.$router.currentRoute.path;
        self=this;
        swal__ = this.$store.getters.getSwal;
        toast__ = this.$store.getters.getToastDefault;
        this.$validator.localize('es', this.dictionary)
        this.cargarAll();
        this.cargarActividades();

    },
    methods:{
            selectAdjunto () {
                this.$refs.adjunto.click ()
            },
            guardarAdjunto (e) {
                const files = e.target.files
                if(files[0] !== undefined) {
                    this.adjunto_nombre = files[0].name
                    if(this.adjunto_nombre.lastIndexOf('.') <= 0) {
                        return
                    }
                    const fr = new FileReader ()
                    fr.readAsDataURL(files[0])
                    fr.addEventListener('load', () => {
                        this.adjunto_url = fr.result
                        this.adjunto_file = files[0] // this is an image file that can be sent to server...
                        console.log(this.adjunto_file);
                    })
                } else {
                    this.adjunto_nombre = ''
                    this.adjunto_file = null
                    this.adjunto_url = null
                }
            },
            dialogClose(tipo){
                this.$store.state[tipo].dialog = false;
            },
            cargarActividades() {
                 axios.get('/mantenimiento/actividades/cargar')
                    .then(response => {
                        var data = response.data;
                        self.actividades =  response.data;
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            cargarAll() {
                this.loadingTable=true;
                let ref = window.location.href;
                ref = ref.substr(-1) == "/" ? ref.slice(0, -1) : ref;

                 axios.get(ref+'/cargar')
                    .then(response => {
                        var data = response.data;
                        self.items=data;
                       self.loadingTable=false;
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },

            cargar(item) {
                let valores = {id:item.id}
                this.resetValues();
                this.modificando=true;
                 axios.post(this.baseURL+'/buscar/', valores)
                    .then(response => {
                        var data = response.data;
                        this.actividad_id=data.actividad_id;
                        this.descripcion=data.descripcion;
                        this.evento_id=data.id;

                        this.adjunto_nombre=data.adjunto;
                        this.fechaInicio=data.fecha_inicio;
                        this.fechaFin=data.fecha_fin;
                        //this.adjunto_file=data

                        self.openDialogSimpleNuevoEvento({openDialog:true,bodycard:'bodycardNuevoEvento',buttons:'buttonsNuevoEvento',titulo:'Modificar Actividad',maxwidth:'800px'});

                        this.empleados_evento= data.empleados.map((empleado)=>{return empleado.id});
                        this.$validator.validateAll();
                        self.errors.any();
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            updatefile(){
                var formData = new FormData();
                formData.append("adjunto_file",self.adjunto_file);
                formData.append("id",self.evento_id);
                formData.append("adjunto",self.adjunto_nombre);

                formData.append("descripcion",self.descripcion);
                formData.append("actividad_id",self.actividad_id);
                formData.append("fecha_inicio",self.fechaInicio);
                formData.append("fecha_fin",self.fechaFin);
                formData.append("empleados",JSON.stringify(self.empleados_evento));
                return  axios.post(this.baseURL+'/updatefile/', formData,{headers: { 'Content-Type': 'multipart/form-data' }})
                .then(response => {
                    var data = response.data;
                    if (response.data==1) {
                        self.adjunto_url = true;
                        return true;
                    }
                    swal__.fire(
                    'ERROR!',
                    'Ha ocurrido un error, no se ha podido subir el archivo',
                    'error'
                    );
                    return false;
                })
                .catch(errors => {
                    swal__.fire(
                    'ERROR!',
                    'Ha ocurrido un error, no se ha podido subir el archivo : '+errors,
                    'error'
                    );
                    return false;
                });

            },
            async editar() {
                this.$validator.validateAll();
                if (this.errors.any()) return false;
                await this.updatefile();
                if(this.adjunto_url!==true){
                    return false;
                }


                    let valores = {
                        id:this.evento_id,
                        actividad_id:this.actividad_id,
                        descripcion:this.descripcion,
                        adjunto:this.adjunto_nombre,
                        empleados:this.empleados_evento,
                        fecha_inicio:this.fechaInicio,
                        fecha_fin:this.fechaFin,

                    }
                    this.loading = true;
                 axios.patch(this.baseURL+'/editar/', valores)
                    .then(response => {
                        var data = response.data;
                        if (response.data==1) {
                            this.items = [];
                            toast__.fire({
                                type: 'success',
                                title: 'La actividad ha sido actualizada'
                            })
                        }
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'Ha ocurrido un error: '+errors,
                        'error'
                        );
                    }).finally(()=>{
                        self.cargarAll();
                        this.dialogClose('dialogSimple');
                        this.loading = false;
                    });
            },
            eliminar(item) {
                let valores = {
                        id:item.id,
                        estado:0
                    }
                    swal__.fire({
                        title: '',
                        text: "¿ Desea eliminar la actividad: "+item.descripcion+" ?",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, eliminar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/eliminar/', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.items = [];
                                    self.cargarAll();
                                    toast__.fire({
                                        type: 'success',
                                        title: 'La actividad ha sido eliminada'
                                    })
                                }
                            })
                            .catch(errors => {
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            });
                        }
                    })

            },
            guardar() {
                console.log("guardar");
                this.$validator.validateAll();
                if (this.errors.any() || this.empleados_evento.length<=0) return;

                var formData = new FormData();
                formData.append("adjunto_file",self.adjunto_file);
                formData.append("actividad_id",self.actividad_id);
                formData.append("descripcion",self.descripcion);
                formData.append("adjunto",self.adjunto_nombre);
                formData.append("fecha_inicio",self.fechaInicio);
                formData.append("fecha_fin",self.fechaFin);

                formData.append("empleados",JSON.stringify(self.empleados_evento));

                    this.loading = true;
                    axios.post(this.baseURL+'/guardar/', formData,{headers: { 'Content-Type': 'multipart/form-data' }})
                    .then(response => {
                        var data = response.data;
                        console.log(data);
                        this.items = [];
                        toast__.fire({
                            type: 'success',
                            title: 'La actividad ha sido registrado'
                        })
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        )
                    }).finally(()=>{
                        self.cargarAll();
                        this.dialogClose('dialogSimple');
                        this.loading = false;
                    });
            },
            openDialogSimpleNuevoEvento(data){
                this.$store.commit('openDialogSimple',data);
            },
            nuevo(){
                this.resetValues();
                this.openDialogSimpleNuevoEvento({openDialog:true,bodycard:'bodycardNuevoEvento',buttons:'buttonsNuevoEvento',titulo:'Registra Nueva Actividad',maxwidth:'800px'})
                setTimeout(() => {
                    this.$validator.validateAll();
                self.errors.any();
                }, 250);

            },
            resetValues(){
                this.actividad_id=null;
                this.empleados_evento=[];
                this.descripcion=null;
                this.evento_id=null;
                this.adjunto_nombre='';
                this.adjunto_url=null;
                this.adjunto_file=null;
                this.modificando=false;
                this.ver_empleados=false;
                this.fechaInicio=this.moment().format('YYYY-MM-DD');
                this.fechaFin='';
            },
            openDialogSimpleSeleccionEmpleados(data){
                this.$store.commit('openDialogSimple2',data);
            },
            cargarEmpleados(){
                this.openDialogSimpleSeleccionEmpleados({openDialog:true,bodycard:'bodycardSeleccionEmpleados',buttons:'buttons',titulo:'Ver trabajadores',maxwidth:'800px'});
                this.listarEmpleados();
            },
            listarEmpleados(){
                this.loadingTableEmpleados=true;
                let ruta='/mantenimiento/empleados/cargar',method='get';
                let params = {};
                if (this.ver_empleados) {
                    ruta = this.baseURL+'/buscar/';
                    method = 'post';
                    params.id=this.evento_id;
                }
                axios[method](ruta,params)
                .then(response => {
                    var data = response.data;
                    self.itemsEmpleados = this.ver_empleados? data.empleados:data;
                    if (this.ver_empleados) {
                        self.empleados_evento = data.empleados.map((empleado)=>{return empleado.id});
                    }
                    self.loadingTableEmpleados=false;
                    console.log(data);
                })
                .catch(errors => {
                    console.log(errors);
                });
            },
            download(item){
                let valores={
                    id:item.id
                };
                document.location.href = window.location.href+"/download/"+item.id;

            },fechaInicioMenorFechaFin(){
                return this.fechaFin ? (this.fechaInicio<=this.fechaFin) : true;
            }

        }
    }
</script>



