<template>
    <div>
        <section class="content">
            <PanelContent :title="'Proyecto '+proyecto.nombre"  >
                <template v-slot:optionsbuttonstop>
    <v-btn class="" href="../proyectos"><v-icon left dark>arrow_left</v-icon>Lista de Proyectos</v-btn>
       &nbsp;
                    <v-btn v-show="proyecto.estado_tracking==1" class="dark" @click="proyecto.estado_tracking==1? nuevo():''"><v-icon left dark>add</v-icon>Nuevo</v-btn>
                   <!--v-chip v-if="(proyecto.estado_presupuesto!=null && proyecto.estado_presupuesto!=1)" :class="proyecto.estado_presupuesto==0?'error':''">{{(proyecto.estado==0?'Cancelado':(proyecto.estado_presupuesto==2?'Lista de Materiales':(proyecto.estado_presupuesto==3?'Solicitud de Abastecimiento':(proyecto.estado_presupuesto==4?'Presupuesto':'Completado'))))}}</v-chip-->
                </template>
                <!--:class="proyecto.estado==0?'error':(item.estado==1?'info':'success')"-->
                <template v-slot:content>
                    <TableContent :title="'Lista de Importaciones'" name="SolidItems" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:actualizado="{ item }">
                                <v-chip :class="item.actualizado==1?'success':(item.actualizado==0?'info':'')">
                                    {{item.actualizado==1?'Completado':(item.actualizado==0?'En Curso':'')}}
                                </v-chip>
                            </template>
                        <template v-slot:btnAcciones="{item}" >
                            <Menu :list_menu="listar_menu(item)" :_item="item">

                            </Menu>
                            <!--template  >
                                <v-btn small class="info" @click="soloVer=true;cargar(item)"><v-icon left dark>visibility</v-icon>Ver</v-btn>

                                <v-btn small class="info" @click="solid=item;dialogServicios(item)"><v-icon left dark>visibility</v-icon>Servicios</v-btn>

                                <v-chip v-if="item.actualizado==0" @click="soloVer=false;cargar(item)" title="Modificar" class="warning ">
                                    <v-icon class="white--text" small  > edit </v-icon>
                                </v-chip>

                                <v-chip v-if="item.actualizado==0 && item.items_faltantes==0" title="Completar" class="success"  @click="completar(item)">
                                    <v-icon small class="white--text" > check </v-icon>
                                </v-chip>

                                <v-chip  v-if="item.actualizado==0" @click="eliminar(item)" title="Eliminar" class="error">
                                    <v-icon small class="white--text" > delete </v-icon>
                                </v-chip>

                            </template-->
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
            <DialogSimple >
                <template v-slot:optionsButtonsTopNuevoServicio>
                    <v-btn v-if="solid.actualizado==0" style="margin-right:20px" @click="nuevoServicio()" ><v-icon left dark>add</v-icon>Nuevo</v-btn>
                </template>
                <template v-slot:bodycardListadoServicios>
                    <TableContent :title="'Lista de Servicios'" :headers="headersListaServicios" :items="itemsListaServicios" :loading="loadingTableListaServicios">
                        <template v-slot:precio_servicio="{item}" >
                            {{parseFloat(item.precio||0).toFixed(2)}}
                        </template>
                        <template v-slot:cantidad="{item}" >
                            {{parseFloat(item.cantidad||0)}}
                        </template>
                        <template v-slot:btnAcciones="{item}" >
                            <template>
                                <v-chip  @click="cargar_servicio(item)" title="Modificar" class="warning ">
                                    <v-icon class="white--text" small  > edit </v-icon>
                                </v-chip>
                                <v-chip @click="eliminar_servicio(item)" title="Eliminar" class="error">
                                    <v-icon small class="white--text" > delete </v-icon>
                                </v-chip>
                            </template>
                        </template>
                    </TableContent>
                </template>
                <template v-slot:buttonsListadoServicios>
                    <v-btn style="margin-right:20px" @click="dialogClose('dialogSimple')" >Cerrar</v-btn>
                </template>
                <template v-slot:bodycardNuevoServicio>
                    <v-form ref="form" v-model="valid" lazy-validation>
                        <v-container >
                            <v-row>
                                <v-col cols="12" sm="4" md="4">
                                    <v-text-field v-model="descripcion_servicio"  v-validate="'required'" :error-messages="errors.collect('descripcion_servicio')"  data-vv-name="descripcion_servicio" required   label="Descripcion"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="4" md="4">
                                    <v-text-field v-model="cantidad_servicio" :rules="[v => v>0 || 'Debe ser mayor a cero']"  min="0" v-validate="'required'" :error-messages="errors.collect('cantidad_servicio')"  data-vv-name="cantidad_servicio" required type="number" label="Cantidad"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="4" md="4">
                                    <v-text-field v-model="precio" :rules="[v => v>0 || 'Debe ser mayor a cero']"  min="0" v-validate="'required'" :error-messages="errors.collect('precio')"  data-vv-name="precio" required type="number" step="0.01" label="Precio"></v-text-field>
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-form>
                </template>
                <template v-slot:buttonsNuevoServicio>
                    <v-btn color="primary" :loading="loadingNuevoServicio" :disabled="loadingNuevoServicio" @click="modificando_servicio?editar_servicio():guardar_servicio()" >{{modificando_servicio?'Modificar':'Guardar'}}</v-btn>
                    <v-btn @click="dialogClose('dialogSimple2')" >Cancelar</v-btn>
                </template>
                <template v-slot:bodycardNuevoItem>
                    <v-form ref="form" v-model="valid" lazy-validation>
                        <v-container >
                            <v-row>
                                <v-col cols="10" sm="6" md="5">
                                    <v-text-field v-model="descripcion"  v-validate="'required'" :error-messages="errors.collect('descripcion')"  data-vv-name="descripcion" required   label="Nombre"></v-text-field>
                                </v-col>
                                <v-col cols="10" sm="6" md="6">
                                   <v-text-field label="Solid (.xlsx)" readonly="" v-validate="'required'" :error-messages="errors.collect('adjunto_nombre')"  data-vv-name="adjunto_nombre" required  @click='selectAdjunto' v-model='adjunto_nombre' prepend-icon='attach_file'></v-text-field>
                                    <span class="error--text" v-if="adjunto_size>$store.state.adjunto_limite_maximo">El tamaño del adjunto debe ser menor o igual a 15Mb</span>
                                    <input type="file" style="display: none" ref="adjunto" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" @change="guardarAdjunto">
                                </v-col>
                            </v-row>

                        </v-container>
                    </v-form>
                </template>
                <template v-slot:buttonsNuevoItem>
                    <v-btn color="primary" :loading="loading" :disabled="loading" @click="guardar()" >Guardar</v-btn>
                        <v-btn @click="dialogClose('dialogSimple')" >Cancelar</v-btn>
                </template>
                <template v-slot:bodycardModificarItem>
                    <TableContent :title="'Lista de Items'" name="SolidMaterialesEditar" :headers="headersSolidItems" :items="itemsSolidItems" :loading="loadingTableSolidItems">
                        <template v-slot:cantidad="{ item }">
                            {{parseFloat(item.cantidad||0).toFixed(2)}}
                        </template>
                        <template v-slot:selectMaterial="{item}" >
                            <template>
                                <v-select :disabled="soloVer" @change="setFactorId($event,item)" :value="item.factor_id" :items="selectMateriales" item-text="nombre_material" item-value="id"  menu-props="auto" single-line ></v-select>
                            </template>
                        </template>
                    </TableContent>
                </template>
                <template v-slot:buttonsModificarItem>
                    <v-btn v-if="!soloVer" color="primary" :loading="loadingSolidItems" :disabled="loadingSolidItems" @click="editar()" >Modificar</v-btn>
                        <v-btn @click="dialogClose('dialogSimple')" >Cancelar</v-btn>
                </template>
            </DialogSimple>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
import DialogSimple from '../components/DialogSimple';
import Menu from '../components/Menu';
var self;
var swal__;
var toast__;
    export default {
        name: 'PresupuestoRegistraItems',
        components:{
            PanelContent,TableContent,DialogSimple,Menu
        },
       data: () => ({
            modificando:false,
            modificando_servicio:false,
            valid:true,
            proyecto:{},
            solid:{},
            soloVer:false,
            loadingTable:false,
            loadingTableSolidItems:false,
            loading:false,
            loadingSolidItems:false,
            descripcion:null,
            adjunto_nombre:'',
            adjunto_url:null,
            adjunto_file:null,
            adjunto_size:null,
            //adjunto_limite_maximo:8388608,
            selectMateriales:[],

            loadingTableListaServicios:false,
            loadingNuevoServicio:false,
            descripcion_servicio:null,
            cantidad_servicio:null,
            precio:null,
            modificando_servicio:false,
            servicio_id:null,
            dictionary: {
                custom: {
                    descripcion: {
                    required: () => 'Ingrese un nombre',
                    },adjunto_nombre: {
                    required: () => 'Ingrese el adjunto',
                    },cantidad_servicio: {
                        required: () => 'Ingrese una cantidad',
                    },descripcion_servicio: {
                        required: () => 'Ingrese una descripción',
                    },precio: {
                        required: () => 'Ingrese un precio',
                    },
                }
            },
            headers: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                   width: '50px',
                }/*{
                text: 'Versión',
                align: 'center',
                value: 'version',
                }*/,{
                text: 'Descripción',
                align: 'center',
                value: 'descripcion',
                  width: '150px',
                }
                ,{
                text: 'Estado',
                align: 'center',
                value: 'actualizado',
                  width: '100px',
                },{ text: 'Fecha',
                align: 'center',
                value: 'fecha_creacion',
                  width: '100px',
                },
                { text: 'Acciones',  align: 'left',value: 'action', sortable: false },
            ],
            items: [],
            headersSolidItems: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },{
                text: 'Material',
                align: 'center',
                value: 'factor_id',
                },
                {
                text: 'Descripción',
                align: 'center',
                value: 'nombre',
                },{
                text: 'Cantidad',
                align: 'center',
                value: 'cantidad',
                },{ text: 'Masa',
                align: 'center',
                value: 'masa',
                }
            ],
            itemsSolidItems: [],
            headersListaServicios: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },{
                text: 'Descripción',
                align: 'center',
                value: 'descripcion',
                },
                {
                text: 'Precio',
                align: 'center',
                value: 'precio',
                },{
                text: 'Cantidad',
                align: 'center',
                value: 'cantidad',
                },{ text: 'Fecha',
                align: 'center',
                value: 'fecha_creacion',
                },
                { text: 'Acciones',  width:'150px', align: 'left',value: 'action', sortable: false },
            ],
            itemsListaServicios: [],
            list_menu:[],
            baseURL:null,
        }),

        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.$validator.localize('es', this.dictionary);
             this.$route.params.id = atob(this.$route.params.id);
            //this.proyecto = this.$store.getters.getProyecto;
            //console.log(this.$store.getters.getProyecto)
            this.cargarAll();
        },
        methods:{
            listar_menu(item){
                return this.list_menu =[{click:this.verMateriales,class:'info',nombre:'Ver materiales',icono:'visibility'},{click:this.verServicios,class:'info',nombre:'Ver Servicios',icono:'visibility'},{click:this.modificarMaterial,class:'warning',nombre:'Modificar',icono:'edit',_if:item.actualizado==0},{click:this.completar,class:'success',nombre:'Completar',icono:'check',_if:item.actualizado==0 && item.items_faltantes==0},{click:this.eliminar,class:'error',nombre:'Eliminar',icono:'delete',_if:item.actualizado==0} ]
            },
            verMateriales(item){
                this.soloVer=true;
                this.cargar(item);
            },
            verServicios(item){
                this.solid=item
                this.dialogServicios(item);
            },
            modificarMaterial(item){
                this.soloVer=false;
                this.cargar(item);
            },
            selectAdjunto () {
                this.$refs.adjunto.click ()
            },
            guardarAdjunto (e) {
                const files = e.target.files
                if(files[0] !== undefined) {
                    this.adjunto_nombre = files[0].name
                    if(this.adjunto_nombre.lastIndexOf('.') <= 0) {
                        return
                    }
                    const fr = new FileReader ()
                    fr.readAsDataURL(files[0])
                    fr.addEventListener('load', () => {
                        this.adjunto_url = fr.result
                        this.adjunto_file = files[0] // this is an image file that can be sent to server...
                        self.adjunto_size = files[0].size; //bytes
                        console.log(this.adjunto_file,this.adjunto_size);
                    })
                } else {
                    this.adjunto_nombre = ''
                    this.adjunto_file = null
                    this.adjunto_url = null
                }
            },
            dialogClose(tipo){
                this.$store.state[tipo].dialog = false;
            },
            cargarAll() {

                this.loadingTable=true;
                let params = {
                      proyecto_id:this.$route.params.id
                }
                 axios.post(this.baseURL+'/../cargar/',params)
                    .then(response => {
                        var data = response.data;
                        self.items=data.items;
                        self.proyecto=data.proyecto;
                        self.loadingTable=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            cargarMateriales(){
                axios.get('/presupuesto/cargarmateriales')
                .then(response => {
                    var data = response.data;
                    this.selectMateriales=data;
                    console.log(data);
                })
                .catch(errors => {
                    console.log(errors);
                });
            },
            cargar(item) {

                let valores = {solid_id:item.id}
                this.modificando=true;
                axios.post(this.baseURL+'/../items/', valores)
                .then(response => {
                    var data = response.data;
                    this.itemsSolidItems=data;
                    this.cargarMateriales();
                    self.openDialogSimpleNuevoItem({openDialog:true,bodycard:'bodycardModificarItem',buttons:'buttonsModificarItem',titulo:'Modificar Solid',maxwidth:'1000px'});
                    console.log(data);
                })
                .catch(errors => {
                    console.log(errors);
                });
            },
            setFactorId(value,solidItem){
                this.itemsSolidItems.filter((x)=>{return x.id==solidItem.id})[0].factor_id=value;
            },
            editar(event) {
                let valores = {
                        items : this.itemsSolidItems.filter((x)=>{return x.factor_id!=null}),
                    }
                this.loading = true;
                axios.post(this.baseURL+'/../actualizar/', valores)
                    .then(response => {
                        var data = response.data;
                        if (response.data==1) {
                            this.items = [];
                            toast__.fire({
                                type: 'success',
                                title: 'Los items con material han sido actualizados'
                            })
                        }
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        );
                    }).finally(()=>{
                        self.cargarAll();
                        this.dialogClose('dialogSimple');
                        this.loading = false;
                    });
            },
            completar(item){
                let valores = {
                        solid_id:item.id,
                        proyecto_id:item.proyecto_id,
                        estado:0
                    }
                    swal__.fire({
                        title: "¿ Desea completar el Solid para el proyecto "+item.descripcion+" ?",
                        text :"Esta acción es irreversible",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, completar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/../completar', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.items = [];
                                    self.cargarAll();
                                    toast__.fire({
                                        type: 'success',
                                        title: 'El Solid ha sido completado'
                                    })
                                }
                            })
                            .catch(errors => {
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            });
                        }
                    })

            },
            eliminar(item) {
                console.log(item)
                let valores = {
                        id:item.id,
                        estado:0
                    }
                    swal__.fire({
                        title: "¿ Desea eliminar el item "+item.descripcion+" ?",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, eliminar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/../eliminar/', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.items = [];
                                    self.cargarAll();
                                    toast__.fire({
                                        type: 'success',
                                        title: 'El Solid ha sido eliminado'
                                    })
                                }
                            })
                            .catch(errors => {
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            });
                        }
                    })

            },
            updatefile(){
                var formData = new FormData();
                formData.append("adjunto_file",self.adjunto_file);
                formData.append("id",self.requerimiento_id);
                formData.append("adjunto",self.adjunto_nombre);
                formData.append("proyecto_id",this.$route.params.id);
                formData.append("descripcion",self.descripcion);
                formData.append("adjunto_id",self.adjunto_id);
                formData.append("monto",self.monto);
                formData.append("observacion",self.observacion);
                return  axios.post(this.baseURL+'/../updatefile/', formData,{headers: { 'Content-Type': 'multipart/form-data' }})
                .then(response => {
                    var data = response.data;
                    if (response.data==1) {
                        self.adjunto_url = true;
                        return true;
                    }
                    swal__.fire(
                    'ERROR!',
                    'Ha ocurrido un error, no se ha podido subir el archivo',
                    'error'
                    );
                    self.loading = false;
                    return false;
                })
                .catch(errors => {
                    swal__.fire(
                    'ERROR!',
                    'Ha ocurrido un error, no se ha podido subir el archivo : '+errors,
                    'error'
                    );
                    self.loading = false;
                    return false;
                });

            },
            guardar() {
                console.log("guardar");
                this.$validator.validateAll();
                if (this.errors.any()) return;
                if(!this.$refs.form.validate())return;
                if(this.adjunto_size>this.$store.state.adjunto_limite_maximo)return;

                var formData = new FormData();
                formData.append("adjunto_file",self.adjunto_file);
                formData.append("proyecto_id",self.$route.params.id);
                formData.append("descripcion",self.descripcion);
                formData.append("adjunto",self.adjunto_nombre);

                    this.loading = true;
                    axios.post(this.baseURL+'/../importar/', formData,{headers: { 'Content-Type': 'multipart/form-data' }})
                    .then(response => {
                        var data = response.data;
                        console.log(data);
                        this.items = [];
                        toast__.fire({
                            type: 'success',
                            title: 'El Solid ha sido registrado'
                        })
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        )
                    }).finally(()=>{
                        self.cargarAll();
                        this.dialogClose('dialogSimple');
                        this.loading = false;
                    });
            },
            openDialogSimpleNuevoItem(data){
                this.$store.commit('openDialogSimple',data);
            },
            nuevo(){
                this.resetValues();
                this.openDialogSimpleNuevoItem({openDialog:true,bodycard:'bodycardNuevoItem',buttons:'buttonsNuevoItem',titulo:'Registra Nuevo Solid',maxwidth:'800px'})
                setTimeout(() => {
                    this.$validator.validateAll();
                    self.errors.any();
                    this.$refs.form.validate();

                }, 250);
                /**$refs.adjunto.click() */
            },
            openDialogSimpleListadoServicios(data){
                
                this.$store.commit('openDialogSimple',data);
            },
            dialogServicios(item){
                this.openDialogSimpleListadoServicios({openDialog:true,bodycard:'bodycardListadoServicios',buttons:'buttonsListadoServicios',optionsbuttonstop:'optionsButtonsTopNuevoServicio',titulo:'Lista de Servicios',maxwidth:'1000px'})
                this.listarServicios();
            },
            listarServicios(){
                
                this.loadingTableListaServicios=true;
                let params = {solid_id:this.solid.id}
                axios.post(this.baseURL+'/../../servicio/cargar',params)
                .then(response => {
                    var data = response.data;
                    self.itemsListaServicios= data.items;
                    self.loadingTableListaServicios=false;
                })
                .catch(errors => {
                    console.log(errors);
                });
            }
            ,openDialogSimpleNuevoServicio(data){
                this.$store.commit('openDialogSimple2',data);
            },
            nuevoServicio(){
                this.resetValues();
                this.openDialogSimpleNuevoServicio({openDialog:true,bodycard:'bodycardNuevoServicio',buttons:'buttonsNuevoServicio',titulo:'Nuevo servicio',maxwidth:'800px'});
                setTimeout(() => {
                    this.$validator.validateAll();
                    self.errors.any();
                }, 250);
            },cargar_servicio(item) {
                this.resetValues();
                let valores = {id:item.id}
                this.modificando_servicio=true;
                 axios.post(this.baseURL+'/../../servicio/buscar/', valores)
                    .then(response => {
                        var data = response.data;
                        this.descripcion_servicio=data.descripcion;
                        this.cantidad_servicio=data.cantidad;
                        this.precio=data.precio;
                        this.servicio_id=data.id;
                        this.openDialogSimpleNuevoServicio({openDialog:true,bodycard:'bodycardNuevoServicio',buttons:'buttonsNuevoServicio',titulo:'Modificar servicio',maxwidth:'800px'});
                        this.$validator.validateAll();
                        self.errors.any();
                        setTimeout(() => {
                            self.$refs.form.validate();
                        }, 200);
                        console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            editar_servicio() {
                this.$validator.validateAll();
                if (this.errors.any()) return false;
                if(!this.$refs.form.validate())return;

                let valores = {
                        id : this.servicio_id,
                        solid_id:this.solid.id,
                        descripcion : this.descripcion_servicio,
                        precio : this.precio,
                        cantidad : this.cantidad_servicio,
                    }
                    this.loading = true;
                 axios.patch(this.baseURL+'/../../servicio/editar/', valores)
                    .then(response => {
                        var data = response.data;
                        if (response.data==1) {
                            this.itemsListaServicios = [];
                            toast__.fire({
                                type: 'success',
                                title: 'El servicio ha sido actualizado'
                            })
                        }
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        );
                    }).finally(()=>{
                        self.listarServicios();
                        this.dialogClose('dialogSimple2');
                        this.loadingNuevoServicio = false;
                    });
            },
            eliminar_servicio(item) {
                let valores = {
                        id:item.id,
                        estado:0
                    }
                    swal__.fire({
                        title: "¿ Desea eliminar el servicio "+item.descripcion+" ?",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, eliminar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/../../servicio/eliminar/', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.itemsListaServicios = [];
                                    self.listarServicios();
                                    toast__.fire({
                                        type: 'success',
                                        title: 'El servicio ha sido eliminado'
                                    })
                                }
                            })
                            .catch(errors => {
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            });
                        }
                    })

            },
            guardar_servicio() {
                console.log("guardar");
                this.$validator.validateAll();
                if (this.errors.any()) return;
                if(!this.$refs.form.validate())return;
                let valores={
                    solid_id:this.solid.id,
                    descripcion:this.descripcion_servicio,
                    precio:this.precio,
                    cantidad:this.cantidad_servicio,
                }

                    this.loadingNuevoServicio = true;
                    axios.post(this.baseURL+'/../../servicio/guardar/', valores)
                    .then(response => {
                        var data = response.data;
                        console.log(data);
                        this.itemsListaServicios = [];
                        toast__.fire({
                            type: 'success',
                            title: 'El servicio ha sido registrado'
                        })
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        )
                    }).finally(()=>{
                        this.listarServicios();
                        this.dialogClose('dialogSimple2');
                        this.loadingNuevoServicio = false;
                    });
            },
            resetValues(){
                this.itemsSolidItems=[];
                this.modificando=false;
                this.modificando_servicio=false;
                this.descripcion=null,
                this.adjunto_url=null;
                this.adjunto_file=null;
                this.adjunto_size=null;
                this.adjunto_nombre=null;
                this.selectMateriales=[];
                this.descripcion_servicio=null;
                this.cantidad_servicio=null;
                this.precio=null;
            }

        }
    }
</script>



