<template>
    <div>
        <section class="content">
            <PanelContent :title="'Diseño Documentaria'">
                <template v-slot:content>
                    <TableContent :title="'Lista de Proyectos'" name="requerimientoProyecto"  :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:btnAcciones="{item}" >
                            <v-btn class="info" @click="verAdjuntos(item)"><v-icon left dark>attach_file</v-icon>adjuntos</v-btn>
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
var self;
var swal__;
var toast__;
    export default {
        name: 'DisenoDocumentariaProyecto',
        components:{
            PanelContent,TableContent
        },
       data: () => ({
            loadingTable:false,
            headers: [
                 {
                    text: 'N°',
                    align: 'center',
                    value: 'id',
                    width: '40',
                },
                {
                    text: 'Código',
                    align: 'left',
                    value: 'codigo',
                    width: '130',
                },
                {
                    text: 'Proyecto',
                    align: 'left',
                    value: 'nombre',
                    width: '170',
                },
                {
                    text: 'Cliente',
                    align: 'left',
                    value: 'nombre_cliente',
                    width: '200',
                },
                { 
                    text: 'Fecha',
                    align: 'center',
                    value: 'fecha_creacion',
                    width: '80',
                },
                {
                    text: 'Estado',
                    align: 'center',
                    value: 'estado_tracking',
                    width: '80',
                },
                { 
                    text: 'Documentos',  
                    align: 'left',
                    value: 'action', 
                    sortable: false 
                },
            ],
            items: [],
            baseURL:null,
        }),

        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            this.cargarAll();
        },
        methods:{
            cargarAll() {
                this.loadingTable=true;
                 axios.get(this.baseURL+'/../proyectos/cargar')
                    .then(response => {
                        var data = response.data;
                        self.items=data;
                       self.loadingTable=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            verAdjuntos(item){
                location.href=window.location.href+'/'+btoa(item.id)
            }
        }
    }
</script>



