<template>
    <div>
        <section class="content">
            <PanelContent :title="'Solicitud de Abastecimiento'"  >
                <template v-slot:optionsbuttonstop>
                    <v-btn href="../proyectos" >
                        <v-icon left dark>arrow_left</v-icon>Ir a proyectos
                    </v-btn>
                </template>

                <!--:class="proyecto.estado==0?'error':(item.estado==1?'info':'success')"-->
                <template v-slot:content>
                    <TableContent :title="'Lista de Solicitudes'" name="DisenoProyectos" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:btnAcciones="{item}" >
                            <Menu :list_menu="listar_menu(item)" :_item="item">

                            </Menu>
                            <!--v-btn small @click="soloVer=true;cargar(item)" class="info">
                                <v-icon left dark>visibility</v-icon>Ver materiales
                            </v-btn>
                            <v-btn  v-if="item.verificado==0" small @click="soloVer=false;cargar(item)" title="Modificar falta validación" class="warning">
                                <v-icon left dark>edit</v-icon>Modificar materiales
                            </v-btn>
                            <v-btn small @click="soloVerServicios=true;cargarServicio(item)" class="info">
                                <v-icon left dark>visibility</v-icon>Ver Servicios
                            </v-btn>
                            <v-btn v-if="item.verificado==0" small @click="modificarServicio(item)" title="Modificar falta validación" class="warning">
                                <v-icon left dark>edit</v-icon>Modificar servicios
                            </v-btn>
                            <v-chip v-if="item.verificado==0 && item.items_faltantes==0 && item.servicios_faltantes==0" title="Completar" class="success"  @click="completar(item)">
                                <v-icon small class="white--text" > check </v-icon>
                            </v-chip-->
                        </template>
                        <template v-slot:estado="{item}" >
                            <v-chip :class="item.verificado==1?'success':'info'">
                                {{item.verificado==1?'Completado':'En Curso'}}
                            </v-chip>
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
            <DialogSimple>
                <template v-slot:bodycardModificarServicio>
                    <TableContent :title="'Lista de Servicios'" name="SolidSolicitudMaterialesEditar" :headers="headersSolidServicios" :items="itemsSolidServicios" :loading="loadingTableSolidServicios">
                        <template v-slot:cantidad="{item}" >
                            {{parseFloat(item.cantidad||0).toFixed(2)}}
                        </template>
                        <template  v-slot:precio_editar="props">
                            <v-edit-dialog large :persistent="!soloVerServicios" :return-value.sync="props.item.precio" @open="open"
                            > <code small>{{ props.item.precio }}</code>
                            <template v-slot:input>
                                <v-text-field :disabled="soloVerServicios" min="0" type="number" v-model="props.item.precio" label="Editar" single-line autofocus
                                ></v-text-field>
                            </template>
                            </v-edit-dialog>
                        </template>
                        <template   v-slot:checkVerificado="{item}" >
                            <v-checkbox :disabled="soloVerServicios" v-model="item.verificado" :value="item.verificado" @change="soloVerServicios?'':verificadoServicio(item)"
                            ></v-checkbox>
                        </template>
                    </TableContent>
                </template>
                <template v-slot:buttonsModificarServicio>
                    <v-btn @click="dialogClose('dialogSimple')" >Cerrar</v-btn>
                </template>
                <template v-slot:bodycardModificarItem>
                    <TableContent :title="'Lista de Materiales'" name="SolidSolicitudMaterialesEditar" :headers="headersSolidSolicitud" :items="itemsSolidSolicitud" :loading="loadingTableSolidSolicitud">
                        <template v-slot:cantidad="{item}" >
                            {{parseFloat(item.cantidad||0).toFixed(2)}}
                        </template>
                        <template v-slot:peso="{item}" >
                            {{parseFloat(item.peso||0).toFixed(2)}}
                        </template>
                        <template v-slot:area="{item}" >
                            {{parseFloat(item.area||0).toFixed(2)}}
                        </template>
                        <template  v-slot:precio_editar="props">
                            <v-edit-dialog large :persistent="!soloVer" :return-value.sync="props.item.precio" @open="open"
                            > <code small>{{ props.item.precio }}</code>
                            <template v-slot:input>
                                <v-text-field :disabled="soloVer" min="0" type="number" v-model="props.item.precio" label="Editar" single-line autofocus
                                ></v-text-field>
                            </template>
                            </v-edit-dialog>
                        </template>
                        <template   v-slot:checkVerificado="{item}" >
                            <v-checkbox :disabled="soloVer" v-model="item.verificado" :value="item.verificado" @change="soloVer?'':verificado(item)"
                            ></v-checkbox>
                        </template>
                    </TableContent>
                </template>
                <template v-slot:buttonsModificarItem>
                    <v-btn @click="dialogClose('dialogSimple')" >Cerrar</v-btn>
                </template>
            </DialogSimple>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
import DialogSimple from '../components/DialogSimple';
import Menu from '../components/Menu';
var self;
var swal__;
var toast__;
    export default {
        name: 'DiseñoProyectos',
        components:{
            PanelContent,TableContent,DialogSimple,Menu
        },
       data: () => ({
            loadingTable:false,
            loading:false,
            loadingSolidServicio:false,
            loadingTableSolidSolicitud:false,
            loadingTableSolidServicios:false,
            loadingSolidSolicitud:false,
            soloVer:false,
            soloVerServicios:false,
            completarShow:false,
            serviciosTodoVerificado:false,
            solicitud:null,
            headers: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                  width: '50px',
                },{
                text: 'Identificador',
                align: 'center',
                value: 'identificador_id',
                  width: '140px',
                },
                {
                text: 'Descripción',
                align: 'left',
                value: 'descripcion',
                width: '150px',
                },/*{
                text: 'Versión',
                align: 'center',
                value: 'version',
                width: '200px',
                },*/{
                text: 'Estado',
                align: 'center',
                value: 'estado',
                  width: '100px',
                },{
                text: 'Fecha',
                align: 'center',
                value: 'fecha_creacion',
                  width: '100px',
                },
                {
                text: 'Acciones',
                align: 'left',
                value: 'action',
            
                sortable:false,
                }
            ],
            items: [],
            headersSolidSolicitud: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                 width: '50px',
                } ,{
                text: 'Descripción',
                align: 'left',
                value: 'descripcion',
                  width: '150px',
                },
                {
                text: 'Unidad',
                align: 'center',
                value: 'unidad',
               
                },{
                text: 'Cantidad',
                align: 'right',
                value: 'cantidad',
              

                },{
                text: 'Peso',
                align: 'right',
                value: 'peso',
                },{
                text: 'Área',
                align: 'right',
                value: 'area',
                },{
                text: 'Precio',
                align: 'right',
                value: 'precio',
                width: '120px',

                },{
                text: 'Verificado',
                align: 'left',
                value: 'verificado',
                sortable:false,
                }
            ],
            itemsSolidSolicitud: [],
            headersSolidServicios: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                 width: '50px',
                },{
                text: 'Descripción',
                align: 'left',
                value: 'descripcion',
                  width: '200px',
                },{
                text: 'Cantidad',
                align: 'right',
                value: 'cantidad',
                 width: '120px',
                },{
                text: 'Precio',
                align: 'right',
                value: 'precio',
                  width: '120px',
                },{
                text: 'Verificado',
                align: 'left',
                value: 'verificado',
                sortable:false,
                },
            ],
            itemsSolidServicios: [],
            list_menu:[],
            baseURL:null,
        }),

        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.$route.params.id = atob(this.$route.params.id);
            this.cargarAll();
        },
        methods:{
            listar_menu(item){
                return this.list_menu =[{click:this.verMaterial,class:'info',nombre:'Ver materiales',icono:'visibility'},{click:this.modMaterial,class:'warning',nombre:'Modificar materiales',icono:'edit',_if:item.verificado==0},{click:this.verServicio,class:'info',nombre:'Ver Servicios',icono:'visibility'},{click:this.modificarServicio,class:'warning',nombre:'Modificar servicios',icono:'edit',_if:item.verificado==0},{click:this.completar,class:'success',nombre:'Completar',icono:'check',_if:item.verificado==0 && item.items_faltantes==0 && item.servicios_faltantes==0}]
            },
            verMaterial(item){
                this.soloVer=true;
                this.cargar(item);
            },modMaterial(item){
                this.soloVer=false;
                this.cargar(item);
            },
            verServicio(item){
                this.soloVerServicios=true;
                this.cargarServicio(item);
            },
            modificarServicio(item){
                this.soloVerServicios=false;
                this.solicitud=item;
                this.cargarServicio(item)
            },
            dialogClose(tipo){
                this.$store.state[tipo].dialog = false;
            },
            cargarAll() {
                let params = {proyecto_id:this.$route.params.id}
                this.loadingTable=true;
                 axios.post(this.baseURL+'/../lista',params)
                    .then(response => {
                        var data = response.data;
                        self.items=data.items;
                        self.loadingTable=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            }, eliminar(item) {
                let valores = {
                    id:item.id,
                    estado:0
                }
                swal__.fire({
                   title: "¿ Desea cancelar el diseño del proyecto "+item.nombre+" ?",
                    text :"Esta acción es irreversible",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, cancelar',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        axios.post(this.baseURL+'/../cancelar/', valores)
                        .then(response => {
                            var data = response.data;
                            if (response.data==1) {
                                this.items = [];
                                self.cargarAll();
                                toast__.fire({
                                    type: 'success',
                                    title: 'El diseño del proyecto ha sido cancelado'
                                })
                            }
                        })
                        .catch(errors => {
                            swal__.fire(
                                'ERROR!',
                                'ha ocurrido un error: '+errors,
                                'error'
                                )
                        });
                    }
                })
            },openDialogSimpleNuevoItem(data){
                this.$store.commit('openDialogSimple',data);
            },cargar(item) {
                let valores = {solid_id:item.id}
                this.modificando=true;
                axios.post(this.baseURL+'/../cargar/', valores)
                .then(response => {
                    var data = response.data;
                    this.itemsSolidSolicitud=data.items;
                    self.openDialogSimpleNuevoItem({openDialog:true,bodycard:'bodycardModificarItem',buttons:'buttonsModificarItem',titulo:'Solicitud de Abastecimiento',maxwidth:'1000px'});
                    console.log(data);
                })
                .catch(errors => {
                    alert(errors);
                    console.log(errors);
                });
            }, verificado(item){
                //if (this.proyecto.estado_presupuesto!=3) return false;
                let valores={id:item.id,precio:item.precio,verificado:(item.verificado?1:0)||0};
                this.loading = true;
                axios.post(this.baseURL+'/../actualizar', valores)
                .then(response => {
                    toast__.fire({
                        type: 'success',
                        title: 'El Precio ha sido actualizado.'
                    });
                    let index = self.items.map(function(x) {return x.id; }).indexOf(item.solid_id);
                    self.items[index].items_faltantes = self.itemsSolidSolicitud.filter((x)=>{return x.verificado==0 || x.verificado==null}).length>0;
                })
                .catch(errors => {
                    swal__.fire(
                    'ERROR!',
                    'ha ocurrido un error: '+errors,
                    'error'
                    )
                })
            },
            open () {
                setTimeout(() => {
                    document.querySelector('.v-small-dialog__menu-content .v-small-dialog__actions button span').innerHTML="Cancelar"
                    document.querySelector('.v-small-dialog__menu-content .v-small-dialog__actions button').nextElementSibling.querySelector('span').innerHTML="Guardar"
                }, 100);
            },completar(item){
                let valores = {
                        id:item.id,
                    }
                    swal__.fire({
                        title: "¿ Desea completar la solicitud "+item.descripcion+" ?",
                        text :"Esta acción es irreversible",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, completar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/../completar', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.items = [];
                                    self.cargarAll();
                                    toast__.fire({
                                        type: 'success',
                                        title: 'La Solicitud ha sido completada'
                                    })
                                }
                            })
                            .catch(errors => {
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            });
                        }
                    })

            },openDialogSimpleNuevoServicio(data){
                this.$store.commit('openDialogSimple',data);
            },cargarServicio(item) {
                let valores = {solid_id:item.id}
                this.modificando_servicio=true;
                axios.post(this.baseURL+'/../../servicio/cargar/', valores)
                .then(response => {
                    var data = response.data;
                    this.itemsSolidServicios=data.items;
                    self.openDialogSimpleNuevoServicio({openDialog:true,bodycard:'bodycardModificarServicio',buttons:'buttonsModificarServicio',titulo:'Solicitud de Servicios',maxwidth:'1000px'});
                    console.log(data);
                })
                .catch(errors => {
                    alert(errors);
                    console.log(errors);
                });
            },verificadoServicio(item){
                //if (this.proyecto.estado_presupuesto!=3) return false;
                console.log(item)
                let valores={id:item.id,precio:item.precio,verificado:(item.verificado?1:0) || 0};
                this.loading = true;
                axios.post(this.baseURL+'/../../servicio/actualizarPrecio', valores)
                .then(response => {
                    toast__.fire({
                        type: 'success',
                        title: 'Estado verificado actualizado.'
                    });
                    let index = self.items.map(function(x) {return x.id; }).indexOf(item.solid_id);
                    self.items[index].servicios_faltantes = self.itemsSolidServicios.filter((x)=>{return x.verificado==0 || x.verificado==null}).length>0;
                })
                .catch(errors => {
                    swal__.fire(
                    'ERROR!',
                    'ha ocurrido un error: '+errors,
                    'error'
                    )
                })
            },checkServicioVerificado(){
                //item.items_faltantes==0 && item.servicios_faltantes==0
                
                /*self.items.servicios_faltantes
                self.serviciosTodoVerificado = self.itemsSolidServicios.length>0 && self.itemsSolidServicios.filter((x)=>{ return x.verificado==false }).length<=0;*/
            }
            
        }
    }
</script>
