<template>
    <div>
        <section class="content">
            <PanelContent :title="'Diseño Proyectos'"  >
                <!--:class="proyecto.estado==0?'error':(item.estado==1?'info':'success')"-->
                <template v-slot:content>
                    <TableContent :title="'Lista de Proyectos'" name="DisenoProyectos" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:btnAcciones="{item}" >
                            <Menu :list_menu="listar_menu(item)" :_item="item">

                            </Menu>
                            <!--v-btn v-if="item.validacion>0" small @click="pantallaSolid(item)" class="info">
                                <v-icon left dark>cloud_upload</v-icon>Importaciones
                            </v-btn>
                            <v-btn v-if="item.validacion>0" small @click="pantallaSolidSolicitud(item)" title="Solicitud" class="info">
                                <v-icon left dark>open_in_new</v-icon>Solicitud
                            </v-btn>

                            <v-btn small v-if="item.estado_tracking==1 && item.verificado==0" title="Completar" class="success"  @click="completar(item)">
                                <v-icon small class="white--text" > check </v-icon>&nbsp;Completar
                            </v-btn>
                            <v-btn v-if="item.estado_tracking==1" small @click="eliminar(item)" title="Cancelar" class="error">
                                <v-icon left dark>delete</v-icon>Cancelar
                            </v-btn-->
                        </template>
                        <template  v-slot:inputEditPlanos="props">
                            <v-edit-dialog :large="props.item.planos>0" persistent :return-value.sync="props.item.planos"  @open="open" @save="save(props.item)"
                            > <code small>{{ props.item.planos }}</code>
                            <template v-slot:input>
                                <v-text-field min="0" @keyup="buttonsTextDialog" :rules="[v => v>0 || 'Debe ser mayor a cero']" type="number" v-model="props.item.planos" label="Editar" single-line autofocus
                                ></v-text-field>
                            </template>
                            </v-edit-dialog>
                        </template>
                        <template  v-slot:inputEditEtapas="props">
                            <v-edit-dialog  :large="props.item.etapas>0" persistent :return-value.sync="props.item.etapas"  @open="open" @save="saveEtapas(props.item)"
                            > <code small>{{ props.item.etapas }}</code>
                            <template v-slot:input>
                                <v-text-field min="0" :disabled="props.item.planos<=0" @keyup="buttonsTextDialog" :rules="[v => v>0 || 'Debe ser mayor a cero']" type="number" v-model.lazy="props.item.etapas" label="Editar"  single-line autofocus
                                ></v-text-field>
                            </template>
                            </v-edit-dialog>
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
import Menu from '../components/Menu';
var self;
var swal__;
var toast__;
    export default {
        name: 'DiseñoProyectos',
        components:{
            PanelContent,TableContent,Menu
        },
       data: () => ({
            loadingTable:false,
            loading:false,
            buttonsActionsTable:false,
            headers: [
                  {
                    text: 'N°',
                    align: 'center',
                    value: 'id',
                    width: '40px',
                    },
                    {
                    text: 'Código',
                    align: 'left',
                    value: 'codigo',
                    width: '130px',
                    },
                    {
                    text: 'Proyecto',
                    align: 'left',
                    value: 'nombre',
                    width: '150px',
                    },
                    {
                    text: 'Cliente',
                    align: 'left',
                    value: 'nombre_cliente',
                    width: '200px',
                    },
                    {
                    text: 'User',
                    align: 'center',
                    value: 'user',
                    width: '150px',

                    },
                    {
                    text: 'Planos Entregados',
                    align: 'center',
                    value: 'planos_entregados',
                    width: '50px',
                    },{
                    text: 'Planos',
                    align: 'center',
                    value: 'planos',
                    width: '50px',

                    },{
                    text: 'Etapas',
                    align: 'center',
                    value: 'etapas',
                    width: '50px',

                    },
                    {
                    text: '#Docs Adjuntos',
                    align: 'center',
                    value: 'cantidad_adjuntos',
                    width: '100px',
                },{
                    text: 'Planos Adjuntos',
                    align: 'center',
                    value: 'planos_adjuntos',
                    width: '50px',

                    },{
                    text: 'Estado',
                    align: 'center',
                    value: 'estado_tracking',
                     width: '100px',
                    },
                    {
                    text: 'Acciones',
                    align: 'left',
                    value: 'action',
                    sortable:false,
                    }
            ],
            items: [],
            list_menu:[],
            baseURL:null,
        }),

        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.cargarAll();
        },
        watch:{
          
        },
        methods:{
            listar_menu(item){
                return this.list_menu =[{click:this.pantallaSolid,class:'info',nombre:'Importaciones',icono:'cloud_upload',_if:item.validacion>0},{click:this.pantallaSolidSolicitud,class:'info',nombre:'Solicitud',icono:'open_in_new',_if:item.validacion>0},{click:this.completar,class:'success',nombre:'Completar',icono:'check',_if:item.estado_tracking==1 && item.verificado==0},{click:this.eliminar,class:'error',nombre:'Cancelar',icono:'delete',_if:item.estado_tracking==1}]
            },
            cargarAll() {
                this.loadingTable=true;
                 axios.get(this.baseURL+'/cargar')
                    .then(response => {
                        var data = response.data;
                        self.items=data;
                        self.items.forEach(element => {
                            element.validacion = element.planos;
                        });
                        self.loadingTable=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            }, eliminar(item) {
                let valores = {
                    id:item.id,
                    estado:0
                }
                swal__.fire({
                   title: "¿ Desea cancelar el diseño del proyecto "+item.nombre+" ?",
                    text :"Esta acción es irreversible",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, cancelar',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        axios.post(this.baseURL+'/cancelar/', valores)
                        .then(response => {
                            var data = response.data;
                            if (response.data==1) {
                                this.items = [];
                                self.cargarAll();
                                toast__.fire({
                                    type: 'success',
                                    title: 'El diseño del proyecto ha sido cancelado'
                                })
                            }
                        })
                        .catch(errors => {
                            swal__.fire(
                                'ERROR!',
                                'ha ocurrido un error: '+errors,
                                'error'
                                )
                        });
                    }
                })
            },pantallaSolid(item){
                location.href= window.location.href+'/../solid/'+btoa(item.id);
            },pantallaSolidSolicitud(item){
                location.href=window.location.href+'/../solicitud/'+btoa(item.id);
            },open () {
                this.buttonsTextDialog();
            },buttonsTextDialog(){
                setTimeout(() => {
                    document.querySelector('.v-small-dialog__menu-content .v-small-dialog__actions button span').innerHTML="Cancelar"
                    document.querySelector('.v-small-dialog__menu-content .v-small-dialog__actions button').nextElementSibling.querySelector('span').innerHTML="Guardar"
                }, 100);
            },
            save(item){
                if (item.planos == 0) {
                    toast__.fire({
                        type: 'error',
                        title: 'Debe ser mayor a cero.'
                    });
                    return;
                }
                let valores={proyecto_id:item.id,planos:item.planos};
                this.loading = true;
                axios.post(this.baseURL+'/../planos', valores)
                .then(response => {
                    toast__.fire({
                        type: 'success',
                        title: 'El Plano ha sido actualizado.'
                    });
                    item.validacion=item.planos;
                })
                .catch(errors => {
                    swal__.fire(
                    'ERROR!',
                    'ha ocurrido un error: '+errors,
                    'error'
                    )
                })
            },saveEtapas(item){
                if (item.etapas == 0) {
                    toast__.fire({
                        type: 'error',
                        title: 'Debe ser mayor a cero.'
                    });
                    return;
                }
                let valores={proyecto_id:item.id,etapas:item.etapas};
                this.loading = true;
                axios.post(this.baseURL+'/../etapas', valores)
                .then(response => {
                    toast__.fire({
                        type: 'success',
                        title: 'La Etapa ha sido actualizada.'
                    });
                    item.validacion=item.planos;
                })
                .catch(errors => {
                    swal__.fire(
                    'ERROR!',
                    'ha ocurrido un error: '+errors,
                    'error'
                    )
                })
            }
            ,completar(item){
                let valores = {
                        id:item.id,
                    }
                    swal__.fire({
                        title: "¿ Desea completar el diseño "+item.nombre+" ?",
                        text :"Esta acción es irreversible",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, completar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/../completar', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.items = [];
                                    self.cargarAll();
                                    toast__.fire({
                                        type: 'success',
                                        title: 'El diseño ha sido completado'
                                    })
                                }
                            })
                            .catch(errors => {
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            });
                        }
                    })

            },
        }
    }
</script>
