<template>
  <div>
    <section class="content">
      <PanelContent :title="'Proyecto '+proyecto.nombre">
        <template v-slot:optionsbuttonstop>
          <v-btn class :href="'../documentaria'">
            <v-icon left dark>arrow_left</v-icon>Lista de Proyectos
          </v-btn>&nbsp;
          <v-btn
            v-show="proyecto.estado_tracking==1"
            class="success"
            @click="proyecto.estado_tracking==1?nuevo():''"
          >
            <v-icon left dark>add</v-icon>Nuevo
          </v-btn>
          <!--v-chip v-show="proyecto.estado!=1" :class="proyecto.estado==0?'error':(proyecto.estado==1?'info':'success')" >{{(proyecto.estado==0?'Cancelado':(proyecto.estado==1?'Activo':'Completado'))}}</v-chip-->
        </template>
        <!--:class="proyecto.estado==0?'error':(item.estado==1?'info':'success')"-->
        <template v-slot:content>
          <TableContent
            :title="'Lista de Adjuntos'"
            :headers="headers"
            :items="items"
            :loading="loadingTable"
          >
            <template v-slot:btnAcciones="{item}">
              <template>
                <v-chip
                  v-if="proyecto.estado_tracking==1"
                  @click="cargar(item)"
                  title="Modificar"
                  class="warning"
                >
                  <v-icon class="white--text" small>edit</v-icon>
                </v-chip>
                <v-chip
                  v-if="proyecto.estado_tracking==1"
                  @click="eliminar(item)"
                  title="Eliminar"
                  class="error"
                >
                  <v-icon small class="white--text">delete</v-icon>
                </v-chip>
              </template>
              <template>
                <v-chip
                  v-if="item.adjunto!=null"
                  @click="download(item)"
                  title="Descargar"
                  class="info"
                >
                  <v-icon small class="white--text">cloud_download</v-icon>
                </v-chip>
              </template>
            </template>
          </TableContent>
        </template>
      </PanelContent>
      <DialogSimple>
        <template v-slot:bodycardNuevoAdjunto>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-container>
              <v-row>
                <v-col cols="10" sm="6" md="4">
                  <v-select
                    v-model="adjunto_id"
                    :disabled="modificando"
                    v-validate="'required'"
                    :error-messages="errors.collect('adjunto_id')"
                    data-vv-name="adjunto_id"
                    required
                    :items="tipos_adjunto"
                    item-text="nombre"
                    item-value="id"
                    menu-props="auto"
                    label="Tipos de adjunto"
                    single-line
                  ></v-select>
                </v-col>

                <v-col cols="10" sm="6" md="5">
                  <v-text-field
                    v-model="descripcion"
                    v-validate="'required'"
                    :error-messages="errors.collect('descripcion')"
                    data-vv-name="descripcion"
                    required
                    label="Descripción"
                  ></v-text-field>
                </v-col>
                <v-col cols="10" sm="6" md="3">
                  <v-text-field
                    v-model="monto"
                    v-validate="'required'"
                    :rules="[v => v>-1 || 'Debe ser mayor o igual a cero']"
                    min="0"
                    :error-messages="errors.collect('monto')"
                    data-vv-name="monto"
                    required
                    type="number"
                    label="Monto"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="10" sm="6" md="6">
                  <v-text-field
                    label="Adjunto"
                    readonly
                    v-validate="'required'"
                    :error-messages="errors.collect('adjunto_nombre')"
                    data-vv-name="adjunto_nombre"
                    required
                    @click="selectAdjunto"
                    v-model="adjunto_nombre"
                    prepend-icon="attach_file"
                  ></v-text-field>
                  <input
                    type="file"
                    style="display: none"
                    ref="adjunto"
                    accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                    @change="guardarAdjunto"
                  />
                </v-col>

                <v-col cols="10" sm="6" md="6">
                  <v-textarea v-model="observacion" label="Observación"></v-textarea>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </template>
        <template v-slot:buttonsNuevoAdjunto>
          <v-btn
            color="primary"
            :loading="loading"
            :disabled="loading"
            @click="modificando?editar():guardar()"
          >{{modificando?'Modificar':'Guardar'}}</v-btn>
          <v-btn @click="dialogClose('dialogSimple')">Cancelar</v-btn>
        </template>
        <template v-slot:bodycardSeleccionClientes>
          <TableContent
            :title="'Lista de Clientes'"
            :headers="headersClientes"
            :items="itemsClientes"
            :loading="loadingTableClientes"
          >
            <template v-slot:btnAcciones="{item}">
              <v-checkbox
                :disabled="ver_clientes"
                @change="cliente_nombre=item.descripcion"
                v-model="cliente_id"
                name="cliente_id"
                :value="item.id"
                required
              ></v-checkbox>
            </template>
          </TableContent>
        </template>
        <template v-slot:buttonsSeleccionClientes>
          <v-btn color="primary" @click="dialogClose('dialogSimple2')">Aceptar</v-btn>
        </template>
      </DialogSimple>
    </section>
  </div>
</template>
<script>
import PanelContent from "../components/PanelContent";
import TableContent from "../components/TableContent";
import DialogSimple from "../components/DialogSimple";
var self;
var swal__;
var toast__;
export default {
  name: "DisenoProyecto",
  components: {
    PanelContent,
    TableContent,
    DialogSimple
  },
  data: () => ({
    valid: true,
    modificando: false,

    proyecto: {},

    loadingTable: false,
    loading: false,

    id: null,

    observacion: "",
    descripcion: "",
    monto: 0,
    adjunto_id: "",

    adjunto_nombre: "",
    adjunto_url: null,
    adjunto_file: null,

    tipos_adjunto: [],
    dictionary: {
      custom: {
        adjunto_id: {
          required: () => "Seleccione el tipo de adjunto"
        },
        descripcion: {
          required: () => "Ingrese la descripción"
        },
        monto: {
          required: () => "Ingrese el monto"
        },
        adjunto_nombre: {
          required: () => "Ingrese el adjunto"
        }
      }
    },
    headers: [
                {
                    text: 'N°',
                    align: 'center',
                    value: 'id',
                    width: '70',
                },
                {
                    text: 'Descripción',
                    align: 'left',
                    value: 'descripcion',
                    width: '200',
                },
                {
                    text: 'Tipo Adjunto',
                    align: 'left',
                    value: 'tipo_adjunto',
                    width: '150',
                },
                {
                    text: 'Adjunto',
                    align: 'left',
                    value: 'adjunto',
                    width: '150',
                },
                {
                    text: 'Observación',
                    align: 'left',
                    value: 'observacion',
                    width: '150',
                },

                {
                    text: 'Monto',
                    align: 'left',
                    value: 'monto',
                    width: '100',
                },
                { 
                    text: 'Fecha',
                    align: 'center',
                    value: 'fecha_creacion',
                    width: '100',
                },
                { text: 'Acciones', align: 'left',value: 'action', sortable: false },
    ],
    items: [],
    baseURL:null,
  }),

  created: function() {},
  mounted() {
    this.baseURL = this.$router.currentRoute.path;
    self = this;
    swal__ = this.$store.getters.getSwal;
    toast__ = this.$store.getters.getToastDefault;
    this.$validator.localize("es", this.dictionary);
    this.$route.params.id = atob(this.$route.params.id);
    this.cargarAll();
  },
  methods: {
    selectAdjunto() {
      this.$refs.adjunto.click();
    },
    guardarAdjunto(e) {
      const files = e.target.files;
      if (files[0] !== undefined) {
        this.adjunto_nombre = files[0].name;
        if (this.adjunto_nombre.lastIndexOf(".") <= 0) {
          return;
        }
        const fr = new FileReader();
        fr.readAsDataURL(files[0]);
        fr.addEventListener("load", () => {
          this.adjunto_url = fr.result;
          this.adjunto_file = files[0]; // this is an image file that can be sent to server...
          console.log(this.adjunto_file);
        });
      } else {
        this.adjunto_nombre = "";
        this.adjunto_file = null;
        this.adjunto_url = null;
      }
    },
    dialogClose(tipo) {
      this.$store.state[tipo].dialog = false;
    },
    cargarAdjuntos() {
      axios
        .get("/mantenimiento/adjuntos/cargar")
        .then(response => {
          var data = response.data;
          self.tipos_adjunto = response.data;
          self.adjunto_id = self.tipos_adjunto.filter(x => {
            return x.codigo == "planos";
          })[0].id;
          console.log(self.adjunto_id);
        })
        .catch(errors => {
          console.log(errors);
        });
    },
    cargarAll() {
      this.loadingTable = true;
      let params = {
        id: this.$route.params.id
      };
      axios
        .post(this.baseURL+"/../cargar/", params)
        .then(response => {
          var data = response.data;
          self.items = data.adjuntos;
          self.proyecto = data.proyecto;
          self.loadingTable = false;
          console.log(data);
        })
        .catch(errors => {
          console.log(errors);
        });
    },

    cargar(item) {
      this.cargarAdjuntos();
      let valores = { id: item.id };
      this.modificando = true;
      axios
        .post(this.baseURL+"/../buscar/", valores)
        .then(response => {
          var data = response.data;
          this.observacion = data.observacion;
          this.descripcion = data.descripcion;
          this.monto = data.monto;
          this.adjunto_id = data.adjunto_id;
          this.adjunto_nombre = data.adjunto;
          this.id = data.id;
          self.openDialogSimpleNuevoAdjunto({
            openDialog: true,
            bodycard: "bodycardNuevoAdjunto",
            buttons: "buttonsNuevoAdjunto",
            titulo: "Modificar adjunto",
            maxwidth: "800px"
          });
          this.$validator.validateAll();
          self.errors.any();

          console.log(data);
        })
        .catch(errors => {
          console.log(errors);
        });
    },
    async editar() {
      this.$validator.validateAll();
      if (this.errors.any()) return false;
      if (!this.$refs.form.validate()) return;
      await this.updatefile();
      if (this.adjunto_url !== true) {
        return false;
      }
      let valores = {
        id: this.id,
        proyecto_id: this.$route.params.id,
        monto: this.monto,
        adjunto_id: this.adjunto_id,
        descripcion: this.descripcion,
        observacion: this.observacion,
        adjunto: this.adjunto_nombre
      };
      this.loading = true;
      axios
        .patch(this.baseURL+"/../editar/", valores)
        .then(response => {
          var data = response.data;
          if (response.data == 1) {
            this.items = [];
            toast__.fire({
              type: "success",
              title: "El adjunto ha sido actualizado"
            });
          }
        })
        .catch(errors => {
          swal__.fire("ERROR!", "ha ocurrido un error: " + errors, "error");
        })
        .finally(() => {
          self.cargarAll();
          this.dialogClose("dialogSimple");
          this.loading = false;
        });
    },
    eliminar(item) {
      let valores = {
        id: item.id,
        estado: 0
      };
      swal__
        .fire({
          title: "¿ Desea eliminar el adjunto " + item.descripcion + " ?",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Si, eliminar",
          cancelButtonText: "No"
        })
        .then(result => {
          if (result.value) {
            axios
              .post(this.baseURL+"/../eliminar/", valores)
              .then(response => {
                var data = response.data;
                if (response.data == 1) {
                  this.items = [];
                  self.cargarAll();
                  toast__.fire({
                    type: "success",
                    title: "El adjunto ha sido eliminado"
                  });
                }
              })
              .catch(errors => {
                swal__.fire(
                  "ERROR!",
                  "ha ocurrido un error: " + errors,
                  "error"
                );
              });
          }
        });
    },
    updatefile() {
      var formData = new FormData();
      formData.append("adjunto_file", self.adjunto_file);
      formData.append("id", self.id);
      formData.append("adjunto", self.adjunto_nombre);
      formData.append("proyecto_id", this.$route.params.id);
      formData.append("descripcion", self.descripcion);
      formData.append("adjunto_id", self.adjunto_id);
      formData.append("monto", self.monto);
      formData.append("observacion", self.observacion);
      return axios
        .post(this.baseURL+"/../updatefile/", formData, {
          headers: { "Content-Type": "multipart/form-data" }
        })
        .then(response => {
          var data = response.data;
          if (response.data == 1) {
            self.adjunto_url = true;
            return true;
          }
          swal__.fire(
            "ERROR!",
            "Ha ocurrido un error, no se ha podido subir el archivo",
            "error"
          );
          return false;
        })
        .catch(errors => {
          swal__.fire(
            "ERROR!",
            "Ha ocurrido un error, no se ha podido subir el archivo : " +
              errors,
            "error"
          );
          return false;
        });
    },
    guardar() {
      console.log("guardar");
      this.$validator.validateAll();
      if (this.errors.any()) return;
      if (!this.$refs.form.validate()) return;
      var formData = new FormData();
      formData.append("adjunto_file", self.adjunto_file);
      formData.append("proyecto_id", self.$route.params.id);
      formData.append("monto", self.monto);
      formData.append("adjunto_id", self.adjunto_id);
      formData.append("descripcion", self.descripcion);
      formData.append("observacion", self.observacion);
      formData.append("adjunto", self.adjunto_nombre);

      this.loading = true;
      axios
        .post(this.baseURL+"/../guardar/", formData, {
          headers: { "Content-Type": "multipart/form-data" }
        })
        .then(response => {
          var data = response.data;
          console.log(data);
          this.items = [];
          toast__.fire({
            type: "success",
            title: "El adjunto ha sido registrado"
          });
        })
        .catch(errors => {
          swal__.fire("ERROR!", "ha ocurrido un error: " + errors, "error");
        })
        .finally(() => {
          self.cargarAll();
          this.dialogClose("dialogSimple");
          this.loading = false;
        });
    },
    openDialogSimpleNuevoAdjunto(data) {
      this.$store.commit("openDialogSimple", data);
    },
    nuevo() {
      this.resetValues();
      this.openDialogSimpleNuevoAdjunto({
        openDialog: true,
        bodycard: "bodycardNuevoAdjunto",
        buttons: "buttonsNuevoAdjunto",
        titulo: "Registra nuevo adjunto",
        maxwidth: "800px"
      });
      setTimeout(() => {
        this.$validator.validateAll();
        self.errors.any();
      }, 250);
      this.cargarAdjuntos();
    },
    resetValues() {
      this.descripcion = "";
      this.monto = 0;
      this.adjunto_id = "";
      this.observacion = "";
      this.adjunto_nombre = "";
      this.adjunto_file = null;
      this.modificando = false;
    },
    download(item) {
      let valores = {
        id: item.id
      };
      document.location.href = window.location.href+ "/../download/" + item.id;
    }
  }
};
</script>



