<template>
  <div>
    <section class="content">
      <v-tabs v-model="tab">
        <v-tab>Clientes</v-tab>
        <v-tabs-items v-model="tab">
          <v-tab-item>
            <v-card>
              <v-card-text>
                <label class="display text--primary">Importación de Clientes</label>
                <div class="text--primary">
                  <span
                    class="display text--primary"
                  >Seleccione el archivo Cane2.dbf para realizar la importación.</span>
                  <br />
                  <v-col cols="10" sm="6" md="6">
                    <v-text-field
                      label="Adjunto"
                      readonly
                      v-validate="'required'"
                      :error-messages="errors.collect('adjunto_nombre')"
                      data-vv-name="adjunto_nombre"
                      required
                      @click="selectAdjunto()"
                      v-model="adjunto_nombre"
                      prepend-icon="attach_file"
                    ></v-text-field>
                    <input
                      type="file"
                      style="display: none"
                      ref="adjunto"
                      accept=".dbf"
                      @change="guardarAdjunto"
                    />
                  </v-col>
                  <br />
                  <v-btn
                    :loading="btnImportarDisabled"
                    color="info"
                    class="ma-2 white--text"
                    :disabled="btnImportarDisabled"
                    @click="importarClientes"
                  >
                    Importar Clientes
                    <v-icon right dark>cloud_upload</v-icon>
                  </v-btn>
                </div>
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-tabs>
    </section>
  </div>
</template>
<script>
var self;
var swal__;
export default {
  data() {
    return {
      btnImportarDisabled: false,
      tab: null,
      adjunto_nombre: "",
      adjunto_url: null,
      adjunto_file: null,
      dictionary: {
        custom: {
          adjunto_nombre: {
            required: () => "Seleccione el adjunto"
          }
        }
      },
      baseURL:null,
    };
  },
  created: function() {},
  mounted() {
    this.baseURL = this.$router.currentRoute.path;
    self = this;
    swal__ = this.$store.getters.getSwal;
    this.$validator.localize("es", this.dictionary);
    setTimeout(() => {
        self.$validator.validateAll();
        self.errors.any();
      }, 250);
    console.log("Importaciones Clientes.");
  },
  methods: {
    selectAdjunto() {
      this.$refs.adjunto.click();
    },
    guardarAdjunto(e) {
      const files = e.target.files;
      if (files[0] !== undefined) {
        this.adjunto_nombre = files[0].name;
        if (this.adjunto_nombre.lastIndexOf(".") <= 0) {
          return;
        }
        const fr = new FileReader();
        fr.readAsDataURL(files[0]);
        fr.addEventListener("load", () => {
          this.adjunto_url = fr.result;
          this.adjunto_file = files[0]; // this is an image file that can be sent to server...
          console.log(this.adjunto_file);
        });
      } else {
        this.adjunto_nombre = "";
        this.adjunto_file = null;
        this.adjunto_url = null;
      }
    },
    importarClientes() {
        if (this.adjunto_nombre == "") return;
      swal__
        .fire({
          title: "Confirmar Importación",
          text:
            "Esto va actualizar los registros coincidentes en la base de datos.",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Importar",
          cancelButtonText: "Cancelar"
        })
        .then(result => {
          if (result.value) {
            this.btnImportarDisabled = !this.btnImportarDisabled;
            
            var formData = new FormData();
            formData.append("adjunto_file", self.adjunto_file);
            formData.append("adjunto", self.adjunto_nombre);

            let timerInterval;
            let data = { time: 3600000 };
            var swal_ = this.$store.commit("openSweetAlertBlocked", data);
            axios
              .post(this.baseURL, formData, {
                headers: { "Content-Type": "multipart/form-data" }
              })
              .then(response => {
                var data = response.data;
                if (data.response === true) {
                  swal__.fire("Importación realizada", "", "success");
                }
              })
              .catch(errors => {
                  //errors.response.data.message
                swal__.fire("", "Ha ocurrido un error: " + errors, "danger");
              })
              .finally(function() {
                self.btnImportarDisabled = !self.btnImportarDisabled;
              });
          }
        });
    }
  }
};
</script>



