<template>
  <div>
    <section class="content">
      <v-tabs v-model="tab">
        <v-tab>
          Materiales&nbsp;
          <v-chip small class="red white--text">1</v-chip>
        </v-tab>
        <v-tab>
          Movimientos de Materiales &nbsp;
          <v-chip small class="red white--text">2</v-chip>
        </v-tab>
        <v-tab>
          Stock de Materiales &nbsp;
          <v-chip small class="red white--text">3</v-chip>
        </v-tab>
      </v-tabs>
      <v-tabs-items v-model="tab">
        <v-tab-item>
          <v-card>
            <v-card-text>
              <label class="display text--primary">Importación de Materiales</label>
              <div class="text--primary">
                <span
                  class="display text--primary"
                >Seleccione el archivo Alarti para realizar la importación.</span>
                <br />
                <v-col cols="10" sm="6" md="6">
                  <v-text-field
                    label="Adjunto"
                    readonly
                    v-validate="'required'"
                    :error-messages="errors.collect('adjunto_nombre[0].value')"
                    data-vv-name="adjunto_nombre[0].value"
                    required
                    @click="selectAdjunto('alarti')"
                    v-model="adjunto_nombre[0].value"
                    prepend-icon="attach_file"
                  ></v-text-field>
                  <input
                    type="file"
                    style="display: none"
                    ref="alarti"
                    accept=".dbf"
                    @change="guardarAdjunto"
                  />
                </v-col>
                <br />

                <v-btn
                  :loading="btnImportarDisabled"
                  color="info"
                  class="ma-2 white--text"
                  :disabled="btnImportarDisabled"
                  @click="importar('alarti')"
                >
                  Importar Materiales
                  <v-icon right dark>cloud_upload</v-icon>
                </v-btn>
              </div>
            </v-card-text>
          </v-card>
        </v-tab-item>
        <v-tab-item>
          <v-card>
            <v-card-text>
              <label class="display text--primary">Importación de Movimientos de Materiales</label>
              <v-chip class="red white--text">Asegúrese de importar primero los materiales</v-chip>
              <div class="text--primary">
                <span
                  class="display text--primary"
                >Seleccione el archivo Almovd para realizar la importación.</span>
                <br />
                <v-col cols="10" sm="6" md="6">
                  <v-text-field
                    label="Adjunto"
                    readonly
                    v-validate="'required'"
                    :error-messages="errors.collect('adjunto_nombre[1].value')"
                    data-vv-name="adjunto_nombre[1].value"
                    required
                    @click="selectAdjunto('almovd')"
                    v-model="adjunto_nombre[1].value"
                    prepend-icon="attach_file"
                  ></v-text-field>
                  <input
                    type="file"
                    style="display: none"
                    ref="almovd"
                    accept=".dbf"
                    @change="guardarAdjunto"
                  />
                </v-col>
                <br />
                <v-btn
                  :loading="btnImportarDisabled"
                  color="info"
                  class="ma-2 white--text"
                  :disabled="btnImportarDisabled"
                  @click="importar('almovd')"
                >
                  Importar Movimientos
                  <v-icon right dark>cloud_upload</v-icon>
                </v-btn>
              </div>
            </v-card-text>
          </v-card>
        </v-tab-item>
        <v-tab-item>
          <v-card>
            <v-card-text>
              <label class="display text--primary">Importación de Stock de Materiales</label>
              <v-chip class="red white--text">Asegúrese de importar primero los materiales</v-chip>

              <div class="text--primary">
                <span
                  class="display text--primary"
                >Seleccione el archivo Alstoc para realizar la importación.</span>
                <br />
                <v-col cols="10" sm="6" md="6">
                  <v-text-field
                    label="Adjunto"
                    readonly
                    v-validate="'required'"
                    :error-messages="errors.collect('adjunto_nombre[2].value')"
                    data-vv-name="adjunto_nombre[2].value"
                    required
                    @click="selectAdjunto('alstoc')"
                    v-model="adjunto_nombre[2].value"
                    prepend-icon="attach_file"
                  ></v-text-field>
                  <input
                    type="file"
                    style="display: none"
                    ref="alstoc"
                    accept=".dbf"
                    @change="guardarAdjunto"
                  />
                </v-col>
                <br />
                <v-btn
                  :loading="btnImportarDisabled"
                  color="info"
                  class="ma-2 white--text"
                  :disabled="btnImportarDisabled"
                  @click="importar('alstoc')"
                >
                  Importar Stock
                  <v-icon right dark>cloud_upload</v-icon>
                </v-btn>
              </div>
            </v-card-text>
          </v-card>
        </v-tab-item>
      </v-tabs-items>
    </section>
  </div>
</template>
<script>
var self;
var swal__;
export default {
  data() {
    return {
      btnImportarDisabled: false,
      Tabs: ["Materiales", "Movimientos de Material", "Stock de Material"],
      tab: 0,
      adjunto_nombre: [{ value: "" }, { value: "" }, { value: "" }],
      adjunto_url: [{ value: "" }, { value: "" }, { value: "" }],
      adjunto_file: [{ value: "" }, { value: "" }, { value: "" }],
      dictionary: {
        custom: {
          "adjunto_nombre[0].value": {
            required: () => "Seleccione el adjunto"
          },
          "adjunto_nombre[1].value": {
            required: () => "Seleccione el adjunto"
          },
          "adjunto_nombre[2].value": {
            required: () => "Seleccione el adjunto"
          }
        }
      },
      baseURL:null,
    };
  },
  created: function() {},
  watch: {
    tab: function() {
      setTimeout(() => {
        self.$validator.validateAll();
        self.errors.any();
      }, 250);
    }
  },
  mounted() {
    this.baseURL = this.$router.currentRoute.path;
    self = this;
    swal__ = this.$store.getters.getSwal;
    this.$validator.localize("es", this.dictionary);
    setTimeout(() => {
      this.$validator.validateAll();
      self.errors.any();
    }, 250);
    console.log("Importaciones Clientes.");
  },
  methods: {
    selectAdjunto(tipo) {
      console.log(this.tab);
      this.$refs[tipo].click();
    },
    guardarAdjunto(e) {
      const files = e.target.files;
      if (files[0] !== undefined) {
        self.adjunto_nombre[self.tab].value = files[0].name;
        console.log(self.adjunto_nombre[self.tab].value);
        if (self.adjunto_nombre[self.tab].value.lastIndexOf(".") <= 0) {
          return;
        }
        const fr = new FileReader();
        fr.readAsDataURL(files[0]);
        fr.addEventListener("load", () => {
          self.adjunto_url[self.tab].value = fr.result;
          self.adjunto_file[self.tab].value = files[0]; // this is an image file that can be sent to server...
          console.log(self.adjunto_file);
        });
      } else {
        self.adjunto_nombre[self.tab].value = "";
        self.adjunto_file[self.tab].value = null;
        self.adjunto_url[self.tab].value = null;
      }
      setTimeout(() => {
        this.$validator.validateAll();
      }, 250);
    },
    importar(tipo_material) {
      if (this.adjunto_nombre[this.tab].value == "") return;
      swal__
        .fire({
          title: "Confirmar Importación",
          text:
            "Esto va actualizar los registros coincidentes en la base de datos.",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Importar",
          cancelButtonText: "Cancelar"
        })
        .then(result => {
          if (result.value) {
            this.btnImportarDisabled = !this.btnImportarDisabled;
            //let valores = { tipo_material: tipo_material };

            var formData = new FormData();
            formData.append("adjunto_file", self.adjunto_file[this.tab].value);
            formData.append("tipo_material", tipo_material);
            formData.append("adjunto", self.adjunto_nombre[this.tab].value);

            let timerInterval;
            let data = { time: 3600000 };
            var swal_ = this.$store.commit("openSweetAlertBlocked", data);
            axios
              .post(this.baseURL, formData, {
                headers: { "Content-Type": "multipart/form-data" }
              })
              .then(response => {
                var data = response.data;
                if (data.response === true) {
                  swal__.fire("Importación realizada", "", "success");
                }
              })
              .catch(errors => {
                  //errors.response.data.message
                swal__.fire("", "Ha ocurrido un error: " + errors, "danger");
              })
              .finally(function() {
                self.btnImportarDisabled = !self.btnImportarDisabled;
              });
          }
        });
    }
  }
};
</script>



