<template>
    <div>
        <section class="content">
            <PanelContent :title="'Proyecto '+proyecto.nombre"  >
                <template v-slot:optionsbuttonstop>
    <v-btn class="" href="../../kardex"><v-icon left dark>arrow_left</v-icon>Lista de Proyectos</v-btn>
                </template>
                <template v-slot:content>
                    <TableContent :title="'Material Registrado'" name="MontajeKardexRegistrar" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:cantidad_salida="{item}" >
                            {{parseFloat(item.cantidad_salida||0)}}
                        </template>
                        <template v-slot:kardex="{item}" >
                            <v-chip  :class="item.kardex==0?'success':'error'">
                                    {{item.kardex}}
                            </v-chip>
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
import DialogSimple from '../components/DialogSimple';
var self;
var swal__;
var toast__;
    export default {
        name: 'MontajeRegistraPesos',
        components:{
            PanelContent,TableContent,DialogSimple
        },
       data: () => ({
            modificando:false,
            valid:true,
            proyecto:{},

            item_id:null,
            cantidad:null,

            loadingTable:false,
            loadingTableMaterial:false,
            loading:false,
            material:null,
            dictionary: {
                custom: {
                    cantidad: {
                    required: () => 'Ingrese una cantidad',
                    },
                }
            },
            headers: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },{
                text: 'Código',
                align: 'center',
                value: 'codigo_material',
                },
                {
                text: 'Material',
                align: 'left',
                value: 'nombre_material',
                },
                {
                text: 'Registrado',
                align: 'center',
                value: 'cantidad_entrada',
                width:'150px'
                },{
                text: 'Utilizado',
                align: 'center',
                value: 'cantidad_salida',
                width:'150px'

                },{
                text: 'Kardex',
                align: 'center',
                value: 'kardex',
                width:'150px'

                },

            ],
            items: [],
            baseURL:null,
        }),
        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.$validator.localize('es', this.dictionary);
            this.$route.params.id = atob(this.$route.params.id);

            this.cargarAll();
        },
        methods:{
            dialogClose(tipo){
                this.$store.state[tipo].dialog = false;
            },
            cargarAll() {
                this.loadingTable=true;
                let params = {
                      proyecto_id:this.$route.params.id
                }
                 axios.post(this.baseURL+'/..',params)
                    .then(response => {
                        var data = response.data;
                        self.items=data.items;
                        self.proyecto=data.proyecto;
                        self.loadingTable=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
 
            editar() {
                this.$validator.validateAll();
                if (this.errors.any()) return false;
                if(!this.$refs.form.validate())return;

                let valores = {
                        id : this.item_id,
                        proyecto_id:this.$route.params.id,
                        peso : this.peso,
                        observacion : this.observacion,
                        descripcion : this.descripcion,
                    }
                    this.loading = true;
                 axios.patch(this.baseURL+'/../../editar/', valores)
                    .then(response => {
                        var data = response.data;
                        if (response.data==1) {
                            this.items = [];
                            toast__.fire({
                                type: 'success',
                                title: 'El peso ha sido actualizado'
                            })
                        }
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        );
                    }).finally(()=>{
                        self.cargarAll();
                        this.dialogClose('dialogSimple');
                        this.loading = false;
                    });
            },
            eliminar(item) {
                let valores = {
                        id:item.id,
                        estado:0
                    }
                    swal__.fire({
                        title: "¿ Desea descartar el material "+item.nombre_material+" ?",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, descartar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/../../eliminar', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.items = [];
                                    self.cargarAll();
                                    toast__.fire({
                                        type: 'success',
                                        title: 'El material ha sido descartado'
                                    })
                                }
                            })
                            .catch(errors => {
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            });
                        }
                    })

            },
            guardar() {
                console.log("guardar");
                this.$validator.validateAll();
                if (this.errors.any()) return;
                if(!this.$refs.form.validate())return;

                let valores={
                    proyecto_id:this.$route.params.id,
                    alarti_id:this.material.id,
                    cantidad_entrada:this.cantidad,
                }
                this.loading = true;
                axios.post(this.baseURL+'/../../guardar', valores)
                .then(response => {
                    var data = response.data;
                    console.log(data);
                    this.items = [];
                    toast__.fire({
                        type: 'success',
                        title: 'El material ha sido registrado'
                    })
                })
                .catch(errors => {
                    swal__.fire(
                    'ERROR!',
                    'ha ocurrido un error: '+errors,
                    'error'
                    )
                }).finally(()=>{
                    self.cargarAll();
                    this.dialogClose('dialogSimple');
                    this.loading = false;
                });
            },
            openDialogSimpleNuevoItem(data){
                this.$store.commit('openDialogSimple',data);
            },
            nuevo(){
                this.resetValues();
                this.openDialogSimpleNuevoItem({openDialog:true,bodycard:'bodycardNuevoItem',buttons:'buttonsNuevoItem',titulo:'Registra Nuevo Peso',maxwidth:'800px'})
                setTimeout(() => {
                    this.$validator.validateAll();
                    self.errors.any();
                    this.$refs.form.validate();

                }, 250);
            },
            resetValues(){
                this.peso = null;
                this.observacion = null;
                this.descripcion = null;
                this.item_id = '';
                this.modificando=false;
            },
            materialSelected(item){
                console.log(item);
                this.material = item;
            },descontar(item){
                let valores = {id:item.id,cantidad_salida:item.cantidad_salida}
                if (item.cantidad_salida>item.cantidad_entrada) {
                    swal__.fire(
                                'ERROR!',
                                'La cantidad utilizada no puede ser mayor a la cantidad registrada',
                                'error'
                                );return;
                }
                swal__.fire({
                        title: "¿ Desea cambiar la cantidad utilizado del material "+item.nombre_material+" ?",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, actualizar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/../../descontar', valores)
                            .then(response => {
                                var data = response.data;
                                this.items = [];
                                toast__.fire({
                                    type: 'success',
                                    title: 'La cantidad utilizado ha sido actualizado'
                                })
                            })
                            .catch(errors => {
                                swal__.fire(
                                'ERROR!',
                                'ha ocurrido un error: '+errors,
                                'error'
                                )
                            }).finally(()=>{
                                self.cargarAll();
                                this.dialogClose('dialogSimple');
                                this.loading = false;
                            });
                        }
                    })
            }, open () {
                setTimeout(() => {
                    document.querySelector('.v-small-dialog__menu-content .v-small-dialog__actions button span').innerHTML="Cancelar"
                    document.querySelector('.v-small-dialog__menu-content .v-small-dialog__actions button').nextElementSibling.querySelector('span').innerHTML="Guardar"
                }, 100);
            }

        }
    }
</script>



