<template>
  <div>
    <section class="content">
      <PanelContent :title="'Proyecto '+proyecto.nombre">
        <template v-slot:optionsbuttonstop>
          <v-btn class href="../pesos">
            <v-icon left dark>arrow_left</v-icon>Lista de Proyectos
          </v-btn>
        </template>
        <template v-slot:content>
          <div>
            <v-alert border="left" colored-border color="error" >Peso Trabajado / Peso Presupuestado : {{ $store.state.formatNumber(peso_entregado) || 0}}/{{ $store.state.formatNumber(peso_presupuestado) || 0}}&nbsp;&nbsp;<v-chip color="primary">{{$store.state.formatNumber(porcentaje_presupuestado) || 0.00}}% </v-chip></v-alert>
            <v-alert border="left" colored-border color="error" >Peso Trabajado / Peso de Diseño Producción : {{ $store.state.formatNumber(peso_entregado) || 0 }}/{{ $store.state.formatNumber(peso_programado) || 0}}&nbsp;&nbsp;<v-chip class="primary">{{$store.state.formatNumber(porcentaje_programado) || 0.00}}% </v-chip> </v-alert>
           
          </div>
          <figure class="highcharts-figure">
            <div id="container"></div>
          </figure>
        </template>
      </PanelContent>
    </section>
  </div>
</template>

<script>
import PanelContent from "../components/PanelContent";
import TableContent from "../components/TableContent";
import DialogSimple from "../components/DialogSimple";
var self;
var swal__;
var toast__;

export default {
  name: "ProduccionRegistraActividades",
  components: {
    PanelContent
  },
  data: () => ({
    proyecto: {},
    item_id: null,
    items: null,
    baseURL: null,
    peso_entregado: null,
    peso_presupuestado: null,
    peso_programado: null,
    porcentaje_presupuestado: null,
    porcentaje_programado: null
  }),
  created: function() {},
  mounted() {
    this.baseURL = this.$router.currentRoute.path;
    this.script_grafico();
    self = this;
    swal__ = this.$store.getters.getSwal;
    toast__ = this.$store.getters.getToastDefault;
    this.$route.params.id = atob(this.$route.params.id);
    this.cargarAll();
  },
  methods: {
    script_grafico() {
      let script = "";
      let array = [
        "https://code.highcharts.com/highcharts.js",
        "https://code.highcharts.com/modules/exporting.js"
      ];
      for (let index = 0; index < array.length; index++) {
        script = document.createElement("script");
        script.setAttribute("src", array[index]);
        document.head.appendChild(script);
      }
    },
    dialogClose(tipo) {
      this.$store.state[tipo].dialog = false;
    },
    cargarAll() {
      this.loadingTable = true;
      let params = {
        proyecto_id: this.$route.params.id
      };
      axios
        .post(this.baseURL + "/../grafico", params)
        .then(response => {
          var data = response.data;
          this.items = data.items;
          this.peso_entregado = this.items.peso_entregado;
          this.peso_presupuestado = this.items.peso_presupuestado;
          this.peso_programado = this.items.peso_programado;
          this.porcentaje_presupuestado = this.items.porcentaje_presupuestado;
          this.porcentaje_programado = this.items.porcentaje_programado;
          self.proyecto = data.proyecto;
          self.loadingTable = false;
          self.ver_grafico();
          console.log(data);
        })
        .catch(errors => {
          console.log(errors);
        });
    },
    ver_grafico() {
      Highcharts.chart("container", {
        chart: {
          type: "column"
        },
        title: {
          text: "Pesos"
        },
        credits: {
          enabled: false
        },
        xAxis: {
          categories: [""]
        },
        yAxis: [
          {
            min: 0,
            title: {
              text: "Peso"
            }
          },
          {
            title: {
              text: "Peso"
            },
            opposite: true
          }
        ],
        legend: {
          shadow: false
        },
        tooltip: {
          shared: true
        },
        plotOptions: {
          series: {
            borderWidth: 0,
            dataLabels: {
              enabled: true,
              format: "{point.y:,.2f} Kg"
            }
          },
          column: {
            grouping: false,
            shadow: true,
            borderWidth: 0
          }
        },
        //232, 119, 85 naranja
        //224, 71, 71 rojo
        series: [
          {
            name: "Presupuestado",
            color:
              parseInt(self.items.peso_entregado) >
              parseInt(self.items.peso_presupuestado)
                ? "rgba(234, 165, 142)"
                : "rgba(191, 191, 197)",
            data: [parseInt(self.items.peso_presupuestado)],
            tooltip: {
              valueSuffix:
                "(" + parseInt(self.items.porcentaje_presupuestado) + " %)"
            },
            pointPadding: 0.3,
            pointPlacement: -0.2
          },
          {
            name: "Peso Entregado",
            color:
              parseInt(self.items.peso_entregado) >
              parseInt(self.items.peso_presupuestado)
                ? "rgba(224, 71, 71)"
                : "rgba(33, 150, 243)",
            data: [parseInt(self.items.peso_entregado)],
            pointPadding: 0.4,
            pointPlacement: -0.2
          },
          {
            name: "Peso de Diseño Producción",
            color:
              parseInt(self.items.peso_entregado) >=
              parseInt(self.items.peso_programado)
                ? "rgba(232, 119, 85)"
                : "rgba(233, 224, 30, 1)",
            data: [parseInt(self.items.peso_programado)],
            tooltip: {
              valueSuffix:
                "(" + parseInt(self.items.porcentaje_programado) + " %)"
            },
            pointPadding: 0.3,
            pointPlacement: 0.2,
            yAxis: 1
          },
          {
            name: "Peso Entregado",
            color:
              parseInt(self.items.peso_entregado) >=
              parseInt(self.items.peso_programado)
                ? "rgba(224, 71, 71)"
                : "rgba(33, 150, 243)",
            data: [parseInt(self.items.peso_entregado)],
            pointPadding: 0.4,
            pointPlacement: 0.2,
            yAxis: 1
          }
        ]
      });
    }, 
  }
};
</script>



