<template>
    <div>
        <section class="content">
            <PanelContent :title="'Producción Tareo'"  >
                <template v-slot:content>
                    <TableContent :title="'Lista de Proyectos'" name="ProduccionTareoProyectos" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:btnAcciones="{item}" >
                            <v-btn  small @click="pantalla(item,'/actividades/')" title="Ver" class="info">
                                <v-icon left dark>bookmarks</v-icon>&nbsp;Registros
                            </v-btn>
                            <v-btn  small @click="pantalla(item,'/reporte/')" title="Ver" class="info">
                                <v-icon left dark>assessment</v-icon>&nbsp;Tareo
                            </v-btn>
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
var self;
var swal__;
var toast__;
    export default {
        name: 'ProduccionTareoProyectos',
        components:{
            PanelContent,TableContent
        },
        props: {
    etapa: {
      required: true
    }
  },
       data: () => ({
            loadingTable:false,
            loading:false,

            headers: [
                 {
                    text: 'N°',
                    align: 'center',
                    value: 'id',
                    width: '40px',
                    },
                    {
                    text: 'Código',
                    align: 'left',
                    value: 'codigo',
                    width: '130px',
                    },
                    {
                    text: 'Proyecto',
                    align: 'left',
                    value: 'nombre',
                    width: '170px',
                    },
                    {
                    text: 'Cliente',
                    align: 'left',
                    value: 'nombre_cliente',
                    width: '200px',
                    },
                    { 
                    text: 'Estado',
                    align: 'center',
                    value: 'estado_tracking',
                    width: '100px',
                    },
                 
                    { text: 'Acciones', align: 'left',value: 'action', sortable: false },
            ],
            items: [],
        }),

        created:function(){
        },
        mounted() {
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.cargarAll();
        },
        methods:{

            cargarAll() {
                this.loadingTable=true;
                 axios.get(this.etapa+'/proyectos/')
                    .then(response => {
                        var data = response.data;
                        self.items=data;
                        self.loadingTable=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },pantalla(item,url){
                location.href=window.location.href+ url+btoa(item.id);
            }
        }
    }
</script>
