
<template>

    <div>
        <section class="content">
            <PanelContent :title="'Proyecto '+proyecto.nombre"  >
                <template v-slot:optionsbuttonstop>
                    <v-btn class="" @click="pantalla('/../../reporte/')"><v-icon left dark>arrow_left</v-icon>Atrás</v-btn>
                </template>
                <template v-slot:content>
                    <div id='map' style="width: 100%;  height: 580px; box-shadow: 5px 5px 5px #888;"></div>
                </template>
            </PanelContent>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
var self;
var swal__;
var toast__;
    export default {
        name: 'MontajeAvanceMapa',
        components:{
            PanelContent
        },
       data: () => ({
            modificando:false,
            proyecto:{},
            item_id:null,
            items:[],
baseURL:null,
        }),
        created:function(){
        },
        mounted() {
             this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.$route.params.id = atob(this.$route.params.id);
            this.cargarAll();
        },
        methods:{
            dialogClose(tipo){
                this.$store.state[tipo].dialog = false;
            },
            cargarMapa(){
                 var map = L.map('map').
                    setView([this.items[0].latitud, this.items[0].logitud],
                        13);
                L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
                    maxZoom: 18
                }).addTo(map);
                L.control.scale().addTo(map);
                this.items.forEach(element => {
                    L.marker([element.latitud, element.logitud], { draggable: false }).addTo(map);
                });

            },
            cargarAll() {
                this.loadingTable=true;
                let params = {
                      proyecto_id:this.$route.params.id
                }
                 axios.post(this.baseURL+'/../../recorrido',params)
                    .then(response => {
                        var data = response.data;
                        self.items=data.items;
                        self.proyecto=data.proyecto;
                        self.loadingTable=false;
                        this.cargarMapa();

                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            openDialogSimpleNuevoItem(data){
                this.$store.commit('openDialogSimple',data);
            },
            nuevo(){
                this.resetValues();
                this.openDialogSimpleNuevoItem({openDialog:true,bodycard:'bodycardNuevoItem',buttons:'buttonsNuevoItem',titulo:'Registra Nuevo Peso',maxwidth:'800px'})
                setTimeout(() => {
                    this.$validator.validateAll();
                    self.errors.any();
                    this.$refs.form.validate();

                }, 250);
            },pantalla(url){
                location.href=window.location.href+url+btoa(this.proyecto.id);
            }

        }
    }
</script>



