<template>
    <div>
        <section class="content">
            <PanelContent :title="'Proyecto '+proyecto.nombre"  >
                <template v-slot:optionsbuttonstop>
    <v-btn class="" href="../../kardex"><v-icon left dark>arrow_left</v-icon>Lista de Proyectos</v-btn>
       &nbsp;&nbsp;
                    <v-btn v-show="proyecto.estado_tracking==1" class="dark" @click="proyecto.estado_tracking==1?nuevo():''"><v-icon left dark>add</v-icon>Nuevo</v-btn>
                </template>
                <template v-slot:content>
                    <TableContent :title="'Material Registrado'" name="MontajeKardexRegistrar" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:kardex="{item}" >
                            <v-chip  :class="item.kardex==0?'success':'error'">
                                    {{item.kardex}}
                            </v-chip>
                        </template>
                        <template  v-slot:inputEdit="props">
                            <v-edit-dialog large persistent :return-value.sync="props.item.cantidad_salida" @open="open"
                            > <code small>{{ props.item.cantidad_salida }}</code>
                            <template v-slot:input>
                                <v-text-field min="0" :rules="[v => v<=props.item.cantidad_entrada || 'Debe ser menor o igual a la cantidad registrada']" type="number" v-model="props.item.cantidad_salida" label="Editar" single-line autofocus
                                ></v-text-field>
                            </template>
                            </v-edit-dialog>
                        </template>
                        <template v-slot:btnAcciones="{item}" >
                            <template  >
                                <v-btn small v-if="proyecto.estado_tracking==1" @click="descontar(item)" title="Descontar" class="warning">
                                    <v-icon class="white--text" small  > edit </v-icon> Descontar
                                </v-btn>
                                <v-btn small v-if="proyecto.estado_tracking==1" @click="eliminar(item)" title="Eliminar" class="error">
                                    <v-icon small class="white--text" > delete </v-icon> Eliminar
                                </v-btn>
                            </template>
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
            <DialogSimple >
                <template v-slot:bodycardNuevoItem>
                    <v-form ref="form" v-model="valid" lazy-validation>
                        <v-container >
                            <v-row>
                                <v-col offset-sm="8" offset-md="8">
                                    <v-text-field type="number"  v-model="cantidad" :rules="[v => v>0 || 'Debe ser mayor a cero']" v-validate="'required'" :error-messages="errors.collect('cantidad')"  data-vv-name="cantidad" required label="Cantidad"></v-text-field>
                                </v-col>
                            </v-row>
                            <TableContentServerSide v-if="listadoMaterialesShow" :title="'Listado de Materiales'" urlPost="/mantenimiento/cargarMaterialesServerSide"  :headers="headersMaterial" :loading="loadingTableMaterial">
                                <template v-slot:btnAcciones="{item}">
                                    <v-checkbox :value="item.id" @change="materialSelected(item)"  ></v-checkbox>
                                </template>
                            </TableContentServerSide>
                        </v-container>
                    </v-form>
                </template>
                <template v-slot:buttonsNuevoItem>
                    <v-btn color="primary" :loading="loading" :disabled="loading" @click="guardar()" >Guardar</v-btn>
                        <v-btn @click="dialogClose('dialogSimple')" >Cancelar</v-btn>
                </template>
            </DialogSimple>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
import TableContentServerSide from '../components/TableContentServerSide';
import DialogSimple from '../components/DialogSimple';
var self;
var swal__;
var toast__;
    export default {
        name: 'MontajeRegistraPesos',
        components:{
            PanelContent,TableContent,DialogSimple,TableContentServerSide
        },
       data: () => ({
            modificando:false,
            valid:true,
            proyecto:{},

            item_id:null,
            cantidad:null,
            listadoMaterialesShow:false,
            loadingTable:false,
            loadingTableMaterial:false,
            loading:false,
            material:null,
            dictionary: {
                custom: {
                    cantidad: {
                    required: () => 'Ingrese una cantidad',
                    },
                }
            },
            headers: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },{
                text: 'Material',
                align: 'center',
                value: 'nombre_material',
                },
                {
                text: 'Registrado',
                align: 'center',
                value: 'cantidad_entrada',
                width:'150px'
                },{
                text: 'Utilizado',
                align: 'center',
                value: 'cantidad_salida',
                width:'150px'

                },
                {
                text: 'Kardex',
                align: 'center',
                value: 'kardex',
                width:'100px'

                },
                { text: 'Fecha',
                align: 'center',
                value: 'fecha_creacion',
                },
                { text: 'Acciones',  align: 'left',value: 'action', width:'400px' ,sortable: false },
            ],
            items: [],
            headersMaterial: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },
                {
                text: 'Código',
                align: 'center',
                value: 'codigo',
                },
                {
                text: 'Descripción',
                align: 'center',
                value: 'descripcion',
                },
{ text: 'Fecha',
                align: 'center',
                value: 'fecha_creacion',
                },
                { text: 'Acciones',  align: 'center',value: 'action', sortable: false },
            ],
            baseURL:null,
        }),
        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.$validator.localize('es', this.dictionary);
            this.$route.params.id = atob(this.$route.params.id);

            this.cargarAll();
        },
        methods:{
            dialogClose(tipo){
                this.$store.state[tipo].dialog = false;
            },
            cargarAll() {
                this.loadingTable=true;
                let params = {
                      proyecto_id:this.$route.params.id
                }
                 axios.post(this.baseURL+'/../../cargar/',params)
                    .then(response => {
                        var data = response.data;
                        self.items=data.items;
                        self.proyecto=data.proyecto;
                        self.loadingTable=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },

            cargar(item) {
                let valores = {id:item.id}
                this.modificando=true;
                 axios.post(this.baseURL+'/../../buscar', valores)
                    .then(response => {
                        var data = response.data;
                        this.peso=data.peso;
                        this.observacion=data.observacion;
                        this.descripcion=data.descripcion;
                        this.item_id=data.id;
                        self.openDialogSimpleNuevoItem({openDialog:true,bodycard:'bodycardNuevoItem',buttons:'buttonsNuevoItem',titulo:'Modificar Peso',maxwidth:'800px'});
                        this.$validator.validateAll();
                        self.errors.any();
                        setTimeout(() => {
                            self.$refs.form.validate();
                        }, 200);
                        console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            editar() {
                this.$validator.validateAll();
                if (this.errors.any()) return false;
                if(!this.$refs.form.validate())return;

                let valores = {
                        id : this.item_id,
                        proyecto_id:this.$route.params.id,
                        peso : this.peso,
                        observacion : this.observacion,
                        descripcion : this.descripcion,
                    }
                    this.loading = true;
                 axios.patch(this.baseURL+'/../../editar/', valores)
                    .then(response => {
                        var data = response.data;
                        if (response.data==1) {
                            this.items = [];
                            toast__.fire({
                                type: 'success',
                                title: 'El peso ha sido actualizado'
                            })
                        }
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        );
                    }).finally(()=>{
                        self.cargarAll();
                        this.dialogClose('dialogSimple');
                        this.loading = false;
                    });
            },
            eliminar(item) {
                let valores = {
                        id:item.id,
                        estado:0
                    }
                    swal__.fire({
                        title: "¿ Desea descartar el material "+item.nombre_material+" ?",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, descartar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/../../eliminar', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.items = [];
                                    self.cargarAll();
                                    toast__.fire({
                                        type: 'success',
                                        title: 'El material ha sido descartado'
                                    })
                                }
                            })
                            .catch(errors => {
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            });
                        }
                    })

            },
            guardar() {
                console.log("guardar");
                this.$validator.validateAll();
                if (this.errors.any()) return;
                if(!this.$refs.form.validate())return;

                let valores={
                    proyecto_id:this.$route.params.id,
                    alarti_id:this.material.id,
                    cantidad_entrada:this.cantidad,
                }
                this.loading = true;
                axios.post(this.baseURL+'/../../guardar', valores)
                .then(response => {
                    var data = response.data;
                    console.log(data);
                    this.items = [];
                    toast__.fire({
                        type: 'success',
                        title: 'El material ha sido registrado'
                    })
                })
                .catch(errors => {
                    swal__.fire(
                    'ERROR!',
                    'ha ocurrido un error: '+errors,
                    'error'
                    )
                }).finally(()=>{
                    self.cargarAll();
                    this.dialogClose('dialogSimple');
                    this.loading = false;
                });
            },
            openDialogSimpleNuevoItem(data){
                this.$store.commit('openDialogSimple',data);
            },
            nuevo(){
                this.resetValues();
                this.listadoMaterialesShow = false;
                this.openDialogSimpleNuevoItem({openDialog:true,bodycard:'bodycardNuevoItem',buttons:'buttonsNuevoItem',titulo:'Registrar Entrada',maxwidth:'800px'})
                setTimeout(() => {
                    this.$validator.validateAll();
                    self.errors.any();
                    this.$refs.form.validate();
                    this.listadoMaterialesShow = true;
                }, 250);
            },
            resetValues(){
                this.cantidad = null;
                this.item_id=null;
            this.listadoMaterialesShow=false;
            this.loadingTable=false;
            this.loadingTableMaterial=false;
            this.loading=false;
            this.material=null;

                this.item_id = '';
                this.modificando=false;
            },
            materialSelected(item){
                console.log(item);
                this.material = item;
            },descontar(item){
                let valores = {id:item.id,cantidad_salida:item.cantidad_salida}
                if (item.cantidad_salida>item.cantidad_entrada) {
                    swal__.fire(
                                'ERROR!',
                                'La cantidad utilizada no puede ser mayor a la cantidad registrada',
                                'error'
                                );return;
                }
                swal__.fire({
                        title: "¿ Desea cambiar la cantidad utilizado del material "+item.nombre_material+" ?",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, actualizar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/../../descontar', valores)
                            .then(response => {
                                var data = response.data;
                                this.items = [];
                                toast__.fire({
                                    type: 'success',
                                    title: 'La cantidad utilizado ha sido actualizado'
                                })
                            })
                            .catch(errors => {
                                swal__.fire(
                                'ERROR!',
                                'ha ocurrido un error: '+errors,
                                'error'
                                )
                            }).finally(()=>{
                                self.cargarAll();
                                this.dialogClose('dialogSimple');
                                this.loading = false;
                            });
                        }
                    })
            }, open () {
                setTimeout(() => {
                    document.querySelector('.v-small-dialog__menu-content .v-small-dialog__actions button span').innerHTML="Cancelar"
                    document.querySelector('.v-small-dialog__menu-content .v-small-dialog__actions button').nextElementSibling.querySelector('span').innerHTML="Guardar"
                }, 100);
            }

        }
    }
</script>



