<template>
    <div>
        <section class="content">
            <PanelContent :title="'Proyecto '+proyecto.nombre"  >
                <template v-slot:optionsbuttonstop>
    <v-btn class="" href="../../avance"><v-icon left dark>arrow_left</v-icon>Lista de Proyectos</v-btn>
       &nbsp;&nbsp;
                    <v-btn class="dark" @click="pantalla('../../avance/mapa/')"><v-icon left dark>streetview</v-icon>Ver mapa</v-btn>
                </template>
                <template v-slot:content>
                    <TableContent :title="'Avances Registrados'" name="MontajeAvanceReporte" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:porcentaje="{item}" >
                            {{parseFloat(item.porcentaje||0)+'%'}}
                        </template>
                        <template v-slot:iconoGeoreferencia="{item}" >
                            <v-chip @click="verUbicacion(item)" class="error">
                                <v-icon dark >person_pin</v-icon>
                            </v-chip>
                        </template>
                        <template v-slot:btnAcciones="{item}" >
                            <template  >
                                 <v-menu
                                    bottom
                                    origin="center center"
                                    transition="scale-transition"
                                    >
                                    <template v-slot:activator="{ on }">
                                        <v-btn
                                        color="primary"
                                        dark
                                        v-on="on"
                                        >
                                        Opciones
                                        </v-btn>
                                    </template>

                                    <v-list>
                                        <v-list-item class="" @click="verAdjuntos(item)">
                                            <v-list-item-title  class="">
                                                <v-icon class=""  > collections </v-icon>&nbsp;&nbsp;Ver Adjuntos
                                            </v-list-item-title>
                                        </v-list-item>
                                        <v-list-item class="" @click="verIncidencias(item)">
                                            <v-list-item-title  class="">
                                                <v-icon class=""  > category </v-icon>&nbsp;&nbsp;Ver Incidencias
                                            </v-list-item-title>
                                        </v-list-item>

                                    </v-list>
                                    </v-menu>
                            </template>
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
            <DialogSimple >
                <template v-slot:bodycardVerUbicacion>
                    <div id="weathermap"></div>
                </template>
                <template v-slot:buttonsVerUbicacion>
                    <v-btn @click="dialogClose('dialogSimple')" >Cancelar</v-btn>
                </template>
                <template v-slot:bodycardVerAdjuntos>

                    <TableContent :title="'Listado de Adjuntos'" :headers="headersAdjuntos" :items="itemsAdjuntos" :loading="loadingTableAdjuntos">
                        <template v-slot:tipo="{item}" >
                             <v-chip class="info">
                                {{item.tipo==1?"Foto":(item.tipo==2?"Video":"Audio")}}
                            </v-chip>
                        </template>
                        <template v-slot:btnAcciones="{item}" >
                            <v-btn @click="descargar(item)" v-show="supervision_id!=null" class="success" >Descargar</v-btn>
                        </template>
                    </TableContent>
                </template>

                <template v-slot:buttonsVerAdjuntos>
                    <v-btn @click="dialogClose('dialogSimple')" >Cancelar</v-btn>
                </template>
                <template v-slot:bodycardVerIncidencias>
                    <TableContent :title="'Listado de Incidencias'" :headers="headersIncidencias" :items="itemsIncidencias" :loading="loadingTableIncidencias">
                        <template v-slot:tipo="{item}" >
                             <v-chip class="info">
                                {{item.tipo==1?"Foto":(item.tipo==2?"Video":"Audio")}}
                            </v-chip>
                        </template>
                        <template v-slot:btnAcciones="{item}" >
                            <v-btn @click="descargar(item)" v-show="supervision_id!=null" class="success" >Descargar</v-btn>
                        </template>
                    </TableContent>
                </template>
                <template v-slot:buttonsVerIncidencias>
                    <v-btn @click="dialogClose('dialogSimple')" >Cancelar</v-btn>
                </template>
            </DialogSimple>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
import DialogSimple from '../components/DialogSimple';
var self;
var swal__;
var toast__;
    export default {
        name: 'MontajeAvanceReporte',
        components:{
            PanelContent,TableContent,DialogSimple
        },
       data: () => ({
            modificando:false,
            valid:true,
            proyecto:{},

            item_id:null,

            loadingTable:false,
            loadingTableAdjuntos:false,
            loadingTableIncidencias:false,
            loading:false,
            supervision_id:null,
            headers: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },{
                text: 'Hito',
                align: 'center',
                value: 'nombre_hito',
                },{
                text: 'Descripción',
                align: 'center',
                value: 'descripcion',
                },{
                text: 'Estado',
                align: 'center',
                value: 'estado_nombre',
                }
                ,{
                text: 'Georeferencia',
                align: 'center',
                value: 'iconoGeoreferencia',
                },
                {
                text: 'Fotos',
                align: 'center',
                value: 'cantidad_fotos',
                },{
                text: 'Videos',
                align: 'center',
                value: 'cantidad_videos',
                },{
                text: 'Audios',
                align: 'center',
                value: 'cantidad_audios',
                },
                { text: 'Fecha',
                align: 'center',
                value: 'fecha_creacion',
                },
                { text: 'Acciones',  align: 'center',value: 'action', width:'100px' ,sortable: false },
            ],
            items: [],
            headersAdjuntos: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },{
                text: 'Adjunto',
                align: 'center',
                value: 'adjunto',
                },{
                text: 'Tipo',
                align: 'center',
                value: 'tipo',
                },
                { text: 'Fecha',
                align: 'center',
                value: 'fecha_creacion',
                },{ text: 'Acciones',
                align: 'center',
                value: 'action',
                sortable: false
                },
            ],
            itemsAdjuntos: [],
            headersIncidencias: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },{
                text: 'Incidencia',
                align: 'center',
                value: 'nombre',
                },
                { text: 'Fecha',
                align: 'center',
                value: 'fecha_creacion',
                },
            ],
            itemsIncidencias: [],
            baseURL:null,
        }),
        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.$validator.localize('es', this.dictionary);
            this.$route.params.id = atob(this.$route.params.id);

            this.cargarAll();
        },
        methods:{
            dialogClose(tipo){
                this.$store.state[tipo].dialog = false;
            },
            cargarAll() {
                this.loadingTable=true;
                let params = {
                      proyecto_id:this.$route.params.id
                }
                 axios.post(this.baseURL+'/../../cargar/',params)
                    .then(response => {
                        var data = response.data;
                        self.items=data.items;
                        self.proyecto=data.proyecto;
                        self.loadingTable=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
 
            openDialogSimpleVerUbicacion(data){
                this.$store.commit('openDialogSimple',data);
            },
            openDialogSimpleVerAdjuntos(data){
                this.$store.commit('openDialogSimple',data);
            },
            openDialogSimpleVerIncidencias(data){
                this.$store.commit('openDialogSimple',data);
            },
            cargarMapa(item){
                document.getElementById('weathermap').innerHTML = "<div id='map' style='width: 100%;  height: 580px; box-shadow: 5px 5px 5px #888;'></div>";
                 var map = L.map('map').
                    setView([item.latitud, item.logitud],
                        13);
                L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
                    maxZoom: 18
                }).addTo(map);
                L.control.scale().addTo(map);

                L.marker([(item.latitud), (item.logitud)], { draggable: false }).addTo(map);

            },
            verUbicacion(item){
                let valores={id:item.id}
                this.openDialogSimpleVerUbicacion({openDialog:true,bodycard:'bodycardVerUbicacion',buttons:'buttonsVerUbicacion',titulo:'Ubicación',maxwidth:'1200px'});
                axios.post(this.baseURL+'/../../geolocalizacion', valores)
                .then(response => {
                    var data = response.data;
                    this.cargarMapa(data);
                    console.log(data);
                })
                .catch(errors => {
                    console.log(errors);
                });
            },verAdjuntos(item){
                this.loadingTableAdjuntos=true;
                let valores = {supervision_id:item.id}
                this.openDialogSimpleVerAdjuntos({openDialog:true,bodycard:'bodycardVerAdjuntos',buttons:'buttonsVerAdjuntos',titulo:'Adjuntos',maxwidth:'1000px'});
                axios.post(this.baseURL+'/../../adjuntos', valores)
                .then(response => {
                    var data = response.data;
                    this.itemsAdjuntos = data;
                    this.loadingTableAdjuntos=false;
                    this.supervision_id = data.length>0? item.id:null;
                    console.log(data);
                })
                .catch(errors => {
                    console.log(errors);
                });
            },verIncidencias(item){
                this.loadingTableIncidencias=true;

                let valores = {supervision_id:item.id}
                this.openDialogSimpleVerIncidencias({openDialog:true,bodycard:'bodycardVerIncidencias',buttons:'buttonsVerIncidencias',titulo:'Incidencias',maxwidth:'1000px'});
                axios.post(this.baseURL+'/../../incidencias', valores)
                .then(response => {
                    var data = response.data;
                    this.itemsIncidencias = data;
                this.loadingTableIncidencias=false;

                    console.log(data);
                })
                .catch(errors => {
                    console.log(errors);
                });
            },
            pantalla(url){
                location.href = url+btoa(this.proyecto.id);
            },
            descargar(item){
                document.location.href =window.location.href+ "/../../download/"+item.id;
            }

        }
    }
</script>



