<template>
  <div>
    <v-menu transition="slide-x-transition" bottom right>
      <template v-slot:activator="{ on }">
        <v-btn small class="deep-orange" color="primary" dark v-on="on">Opciones</v-btn>
      </template>
      <v-list>
        <v-list-item v-for="(item, i) in list_menu" :key="i" v-if="(typeof item._if != 'undefined')?item._if:true"  @click="item.click(_item)">
          <v-list-item-title>
              <v-btn small icon :class="item.class">
                <v-icon class="white--text" small>{{item.icono}}</v-icon>
              </v-btn>&nbsp;{{item.nombre}}
          </v-list-item-title>
        </v-list-item>
        <!--v-list-item @click="eliminar(item)">
          <v-list-item-title>
            <v-btn small icon class="error">
              <v-icon class="white--text" small>delete</v-icon>
            </v-btn>&nbsp;Eliminar
          </v-list-item-title>
        </v-list-item>
        <v-list-item @click="completado(item)">
          <v-list-item-title>
            <v-btn small icon class="error">
              <v-icon class="white--text" small>check</v-icon>
            </v-btn>&nbsp;Completar
          </v-list-item-title>
        </v-list-item-->
      </v-list>
    </v-menu>
  </div>
</template>
<script>
export default {
  name: "DialogSimple",
  props: ['list_menu','_item'],
  data() {
    return {};
  },
  mounted() {}
};
</script>
