<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="items"
      :options.sync="options"
      :server-items-length="totalDesserts"
      :loading="loading"
       :search="search"
      class="elevation-1"

    >
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>{{title}}</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-text-field
        v-model="search"
        append-icon="search"
        label="Buscar"
        single-line
        hide-details
      ></v-text-field>
      </v-toolbar>
    </template>
    <template v-slot:item.id="{ item }"><!--para todas los registros que tengan la cabecera-->
        <v-chip dark>
          {{items.map(function(x) {return x.id; }).indexOf(item.id)+1}}
        </v-chip>
    </template>
    <template v-slot:item.fecha_creacion="{ item }"><!--para todas los registros que tengan la cabecera-->
        <v-chip>
          {{ new Date(item.fecha_creacion).getDate()+"-"+(new Date(item.fecha_creacion).getMonth()+ 1+"-"+new Date(item.fecha_creacion).getFullYear())}}
        </v-chip>
    </template>
      <template v-slot:item.action="{ item }">
        <slot name="btnAcciones" :item="item"></slot>
    </template>
    </v-data-table>
  </div>
</template>
<script>
  export default {
       props:['title','headers','name','urlPost'],//name es opcional
    data () {
      return {
          loading:false,
          items:[],
        search: '',
        totalDesserts: 0,
        itemsPerPage:10,
        options: {},
      }
    },
    watch: {
        search:function(val){
            this.getDataFromApi()
            .then(data => {
              this.options.page = 1;
              this.items = data.items
              this.totalDesserts = data.total
            })
            console.log(val)
        },
      options: {
        handler () {
          this.getDataFromApi()
            .then(data => {

               this.items = data.items
              this.totalDesserts = data.total

            })
        },
        deep: true,
      },
    },
    methods: {

      getDataFromApi () {
           this.loading = true;
        var self = this;
        return new Promise((resolve, reject) => {
            
            var { sortBy, sortDesc, page, itemsPerPage } = self.options
            sortBy = sortBy[0] || 'id';
            sortDesc = sortDesc.length<=0?true:sortDesc[0];
            page = page -1;
            var params={limit:itemsPerPage,sortBy:sortBy, sortDesc:sortDesc, page:(itemsPerPage*page),search:self.search};
            
            return axios.post(self.urlPost,params)
            .then(function (response) {
                let items = response.data.items;
                const total = response.data.count

                if (sortBy.length === 1 && sortDesc.length === 1) {
                    items = items.sort((a, b) => {
                    const sortA = a[sortBy[0]]
                    const sortB = b[sortBy[0]]

                    if (sortDesc[0]) {
                        if (sortA < sortB) return 1
                        if (sortA > sortB) return -1
                        return 0
                    } else {
                        if (sortA < sortB) return -1
                        if (sortA > sortB) return 1
                        return 0
                    }
                    })
                }
                 self.loading = false;
                resolve({
                items,
                total,
                })
            })

        })
      },
    },
  }
</script>
