<template>
  <div>
      <v-data-table
    :headers="computedHeaders"
    :items="items"
    :search="search"
    sort-by="calories"
    :sort-field="sortfield" :sort-desc="sortdesc"
    class="elevation-1 TableContent"
    :loading="loading"
    loading-text="Cargando... Por favor espere"

  >
  <!--  -->
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>{{title}}</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <template>
            <slot name="inputsAsideSearch"></slot>
        </template>
        <v-spacer></v-spacer>

        <v-text-field
        v-model="search"
        append-icon="search"
        label="Buscar"
        single-line
        hide-details
      ></v-text-field>
      </v-toolbar>
    </template>
    <template v-slot:item.estado_tracking="{ item }"><!--solo requerimiento-->
        <v-chip v-if="name=='requerimientoProyecto' || name=='PresupuestoUtilidadProyectos' || name=='PedidoProyectos' || name=='CotizacionProyectos' || name=='DisenoProyectos' || name=='ProduccionProyectos' || name=='ProduccionPesosProyectos' || name=='ProduccionSolicitudesProyectos' || name=='ProduccionTareoProyectos' || name=='MontajeProyectos' || name=='MontajePesosProyectos' || name=='MontajePesosRegistrar' || name=='MontajeKardexProyectos' || name=='MontajeAvanceProyectos'" :class="item.estado_tracking==0?'error':(item.estado_tracking==1?'info':(item.estado_tracking==2?'success':'warning'))">
          {{item.estado_tracking==0?'Cancelado':(item.estado_tracking==1?'En curso':(item.estado_tracking==2?'Completado':'En Espera'))}}
        </v-chip>

    </template>

    <template v-slot:item.verificado="{ item }">
        <slot name="checkVerificado" :item="item"></slot>
    </template>

    <template v-slot:item.estado_presupuesto="{ item }">
        <v-chip v-if="name=='PresupuestoRegistraProyectos' && item.estado_presupuesto!=''"  :class="item.estado_tracking==0?'error':(item.estado_presupuesto==1?'info':(item.estado_presupuesto>1?'success':''))">
            {{item.estado_tracking==0?'Cancelado':(item.estado_presupuesto==1?'En Curso':(item.estado_presupuesto>1?'Completado':''))}}
        </v-chip>
        <v-chip v-if="name=='PresupuestoMaterialesProyectos' && item.estado_presupuesto!=''" :class="item.estado_tracking==0?'error':(1>=item.estado_presupuesto ?'warning':(item.estado_presupuesto==2?'info':(item.estado_presupuesto>2?'success':'')))">
            {{item.estado_tracking==0?'Cancelado':(1>=item.estado_presupuesto ?'Pendiente':(item.estado_presupuesto==2?'En Curso':(item.estado_presupuesto>2?'Completado':'')))}}
        </v-chip>
        <v-chip v-if="name=='PresupuestoSolicitudProyectos' && item.estado_presupuesto!=''" :class="item.estado_tracking==0?'error':(item.estado_presupuesto >3 ?'success':(item.estado_presupuesto==3?'info':(2>=item.estado_presupuesto?'warning':'')))">
            {{item.estado_tracking==0?'Cancelado':(item.estado_presupuesto >3 ?'Completado':(item.estado_presupuesto==3?'En Curso':(2>=item.estado_presupuesto?'Pendiente':'')))}}
        </v-chip>
        <v-chip v-if="name=='PresupuestoConsolidadoProyectos' && item.estado_presupuesto!=''" :class="item.estado_tracking==0?'error':(3 >= item.estado_presupuesto ?'warning':(item.estado_presupuesto==4?'info':(item.estado_presupuesto>4?'success':'')))">
            {{item.estado_tracking==0?'Cancelado':(3 >= item.estado_presupuesto ?'Pendiente':(item.estado_presupuesto==4?'En Curso':(item.estado_presupuesto>4?'Completado':'')))}}
        </v-chip>
        <v-chip v-if="name=='PresupuestoUtilidadProyectos' && item.estado_presupuesto!=''" :class="item.estado_tracking==0?'error':(4 >= item.estado_presupuesto ?'warning':(item.estado_presupuesto==5?'info':(item.estado_presupuesto>5?'success':'')))">
            {{item.estado_tracking==0?'Cancelado':(4 >= item.estado_presupuesto ?'Pendiente':(item.estado_presupuesto==5?'En Curso':(item.estado_presupuesto>5?'Completado':'')))}}
        </v-chip>
    </template>

    <template v-if="name=='presupuestoRegistraInsumos'" v-slot:item.longitud="{ item }">
        {{parseFloat(item.longitud||0).toFixed(2)}}
    </template>
    <template v-if="name=='presupuestoRegistraInsumos'" v-slot:item.ancho="{ item }">
        {{parseFloat(item.ancho||0).toFixed(2)}}
    </template>
    <template v-if="name=='presupuestoRegistraInsumos'" v-slot:item.metrado_pieza="{ item }">
        {{parseFloat(item.metrado_pieza||0).toFixed(2)}}
    </template>
    <template v-if="name=='presupuestoRegistraInsumos'" v-slot:item.metrado_parcial="{ item }">
        {{parseFloat(item.metrado_parcial||0).toFixed(2)}}
    </template>
    <template v-if="name=='presupuestoRegistraInsumos'" v-slot:item.peso_parcial="{ item }">
        {{parseFloat(item.peso_parcial||0).toFixed(2)}}
    </template>
    <template v-if="name=='presupuestoRegistraInsumos'" v-slot:item.area_parcial="{ item }">
        {{parseFloat(item.area_parcial||0).toFixed(2)}}
    </template>
    <template v-if="name=='presupuestoRegistraInsumos'" v-slot:item.costo_acumulado="{ item }">
        {{parseFloat(item.costo_acumulado||0).toFixed(2)}}
    </template>
    <template v-if="name=='presupuestoRegistraInsumos'" v-slot:item.costo_parcial="{ item }">
        {{parseFloat(item.costo_parcial||0).toFixed(2)}}
    </template>
    <template v-if="name=='presupuestoMaterialesSelect'" v-slot:item.precio_material="{ item }">
        {{parseFloat(item.precio_material||0).toFixed(2)}}
    </template>
    <template v-if="name=='presupuestoMaterialesSelect'" v-slot:item.stock_material="{ item }">
        {{parseFloat(item.stock_material||0).toFixed(2)}}
    </template>
    <template v-if="name=='presupuestoConsolidado' || name=='cotizacionConsolidado'" v-slot:item.unitario="{ item }">
          {{parseFloat(item.unitario||0).toFixed(2)}}
    </template>
    <template v-if="name=='presupuestoConsolidado' || name=='cotizacionConsolidado'" v-slot:item.parcial="{ item }">
          {{parseFloat(item.parcial||0).toFixed(2)}}
    </template>

    <!--template v-if="name=='Tracking'"-->
        <template v-if="name=='Tracking'" v-slot:item.requerimiento="{ item }" >
            <div :style="item.requerimiento!='En Curso'?'padding-top: 20px;height:60px;':''">
                <v-chip v-if="item.requerimiento!=''" :class="item.requerimiento=='En Curso'?'info':(item.requerimiento=='Completado'?'success':(item.requerimiento=='Cancelado'?'error':''))">
                    {{item.requerimiento}}
                </v-chip>
            </div>
            <div v-if="item.requerimiento_fecha!=null" style="padding: 10px;">{{ moment(item.requerimiento_fecha).format('DD-MM-YYYY HH:mm:ss')  }}</div>
        </template>
        <template v-if="name=='Tracking'" v-slot:item.presupuesto="{ item }">
            <div :style="item.presupuesto!='En Curso'?'padding-top: 20px;':''">
                <v-chip v-if="item.presupuesto!=''" :class="item.presupuesto=='En Curso'?'info':(item.presupuesto=='Completado'?'success':(item.presupuesto=='Cancelado'?'error':''))">
                    {{item.presupuesto}}
                </v-chip>
            </div>
            <div v-if="item.presupuesto_fecha!=null" style="padding: 10px;">{{ moment(item.presupuesto_fecha).format('DD-MM-YYYY HH:mm:ss')}}</div>
        </template>
        <template v-if="name=='Tracking'" v-slot:item.cotizacion="{ item }">
            <div :style="item.cotizacion!='En Curso'?'padding-top: 20px;':''">
                <v-chip v-if="item.cotizacion!=''" :class="item.cotizacion=='En Curso'?'info':(item.cotizacion=='Completado'?'success':(item.cotizacion=='Cancelado'?'error':''))">
                    {{item.cotizacion}}
                </v-chip>
            </div>
            <div v-if="item.cotizacion_fecha!=null" style="padding: 10px;">{{ moment(item.cotizacion_fecha).format('DD-MM-YYYY HH:mm:ss')}}</div>
        </template>
        <template v-if="name=='Tracking'" v-slot:item.pedido="{ item }">
            <div :style="item.pedido!='En Curso'?'padding-top: 20px;':''">
                <v-chip v-if="item.pedido!=''" :class="item.pedido=='En Curso'?'info':(item.pedido=='Completado'?'success':(item.pedido=='Cancelado'?'error':''))">
                    {{item.pedido}}
                </v-chip>
            </div>
            <div v-if="item.pedido_fecha!=null" style="padding: 10px;">{{ moment(item.pedido_fecha).format('DD-MM-YYYY HH:mm:ss')}}</div>
        </template>
        <template v-if="name=='Tracking'" v-slot:item.diseno="{ item }">
            <div :style="item.diseno!='En Curso'?'padding-top: 20px;':''">
                <v-chip v-if="item.diseno!=''" :class="item.diseno=='En Curso'?'info':(item.diseno=='Completado'?'success':(item.diseno=='Cancelado'?'error':''))">
                    {{item.diseno}}
                </v-chip>
            </div>
            <div v-if="item.diseno_fecha!=null" style="padding: 10px;">{{ moment(item.diseno_fecha).format('DD-MM-YYYY HH:mm:ss')}}</div>
        </template>
        <template v-if="name=='Tracking'" v-slot:item.produccion="{ item }">
            <div :style="item.produccion!='En Curso'?'padding-top: 20px;':''">
                <v-chip v-if="item.produccion!=''" :class="item.produccion=='En Curso'?'info':(item.produccion=='Completado'?'success':(item.produccion=='Cancelado'?'error':''))">
                    {{item.produccion}}
                </v-chip>
            </div>
            <div v-if="item.produccion_fecha!=null" style="padding: 10px;">{{ moment(item.produccion_fecha).format('DD-MM-YYYY HH:mm:ss')}}</div>
        </template>
        <template v-if="name=='Tracking'" v-slot:item.montaje="{ item }">
            <div :style="item.montaje!='En Curso'?'padding-top: 20px;':''">
                <v-chip v-if="item.montaje!=''" :class="item.montaje=='En Curso'?'info':(item.montaje=='Completado'?'success':(item.montaje=='Cancelado'?'error':''))">
                    {{item.montaje}}
                </v-chip>
            </div>
            <div v-if="item.montaje_fecha!=null" style="padding: 10px;">{{ moment(item.montaje_fecha).format('DD-MM-YYYY HH:mm:ss')}}</div>
        </template>
        <template v-if="name=='Tracking'" v-slot:item.indicador_montaje="{ item }">
            <v-chip :class="item.indicador_montaje==1?'info':'dark'">
                {{item.indicador_montaje==0?'No':'Si'}}
            </v-chip>
        </template>
    <!--/template-->
    <template v-slot:item.id="{ item }"><!--para todas los registros que tengan la cabecera-->
        <v-chip dark>
          {{ items.map(function(x) {return x; }).indexOf(item)+1 }}
        </v-chip>
    </template>
    <template v-slot:item.fecha_creacion="{ item }"><!--para todas los registros que tengan la cabecera-->
        <v-chip>
          {{ (10>new Date(item.fecha_creacion).getDate()?'0'+new Date(item.fecha_creacion).getDate():new Date(item.fecha_creacion).getDate())+"-"+(new Date(item.fecha_creacion).getMonth()+ 1+"-"+new Date(item.fecha_creacion).getFullYear())}}
        </v-chip>
    </template>
    <template v-slot:item.action="{ item }">
        <slot name="btnAcciones" :item="item"></slot>
    </template>
      <template v-slot:item.action="{ item }">
          <slot name="btnRegistrar" :item="item"><a :href="'/register/'+item.id" class="deep-orange v-btn v-btn--contained theme--dark v-size--small primary">REGISTRAR VALORIZACION</a></slot>
      </template>
    <template v-slot:item.procesos_btn="{ item }">
        <slot name="btnProcesos" :item="item"></slot>
    </template>
    <template v-slot:item.porcentaje="{ item }">
        <slot name="inputEdit" :item="item"></slot>
        <slot name="porcentaje" :item="item"></slot>
        <slot name="porcentaje_gastos_edit" :item="item"></slot>
    </template>
    <template v-slot:item.precio_insumo="{ item }">
        <slot name="precio_insumo_edit" :item="item"></slot>
    </template>

    <template v-slot:item.precio_unitario="{ item }">
        <slot name="precio_unitario_gastos" :item="item"></slot>
        <slot name="precio_unitario_edit" :item="item"></slot>
    </template>
    <template v-slot:item.precio="{ item }">
        <slot v-if="item.precio>=0" name="precio_servicio" :item="item"></slot>

        <slot v-if="item.precio>=0" name="precio_editar" :item="item"></slot>
        <slot v-if="item.precio>=0" name="precio_servicio_edit" :item="item"></slot>

    </template>
    <template v-slot:item.planos="{ item }"><!-- diseno proyectos -->
        <slot name="inputEditPlanos" :item="item"></slot>
    </template>
    <template v-slot:item.etapas="{ item }"> <!-- diseno proyectos -->
        <slot name="inputEditEtapas" :item="item"></slot>
    </template>
    <template v-slot:item.cantidad_salida="{ item }">
        <slot name="inputEdit" :item="item"></slot>
        <slot name="cantidad_salida" :item="item"></slot>
    </template>
    <template v-slot:item.precio_parcial="{ item }">
        <slot name="inputEdit2" :item="item"></slot>
        <slot name="precio_parcial_gastos" :item="item"></slot>
    </template>
    <template v-slot:item.factor_id="{ item }">
        <slot name="selectMaterial" :item="item"></slot>
    </template>
    <template v-slot:item.estado="{ item }">
        <slot name="estado" :item="item"></slot>
    </template>
    <template v-slot:item.restante="{ item }">
        <slot  name="restanteEdit" :item="item"></slot>
    </template>
    <template v-slot:item.cantidad="{ item }">
        <slot  name="inputEdit" :item="item"></slot>
        <slot name="cantidad" :item="item"></slot>
    </template>
    <template v-slot:item.peso="{ item }">
        <slot name="peso" :item="item"></slot>
    </template>
    <template v-slot:item.area="{ item }">
        <slot name="area" :item="item"></slot>
    </template>
    <template v-slot:item.m_o="{ item }">
        <slot name="m_o" :item="item"></slot>
    </template>
    <template v-slot:item.costo="{ item }">
        <slot name="costo" :item="item"></slot>
    </template>
    <template v-slot:item.margen="{ item }">
        <slot name="margen" :item="item"></slot>
    </template>
    <template v-slot:item.total_area_parcial="{ item }">
        <slot name="total_area_parcial" :item="item"></slot>
    </template>
    <template v-slot:item.calculo_piezas="{ item }">
        <slot name="calculo_piezas" :item="item"></slot>
    </template>
    <template v-slot:item.kilogramo_pieza="{ item }">
        <slot name="kilogramo_pieza" :item="item"></slot>
    </template>
    <template v-slot:item.calculo_peso_parcial="{ item }">
        <slot name="calculo_peso_parcial" :item="item"></slot>
    </template>
    <template v-slot:item.calculo_precio_pieza="{ item }">
        <slot name="calculo_precio_pieza" :item="item"></slot>
    </template>
    <template v-slot:item.calculo_precio_parcial="{ item }">
        <slot name="calculo_precio_parcial" :item="item"></slot>
    </template>
    <template v-slot:item.total_metrado_parcial="{ item }">
        <slot name="total_metrado_parcial" :item="item"></slot>
    </template>
    <template v-slot:item.kilogramo_unidad="{ item }">
        <slot name="kilogramo_unidad" :item="item"></slot>
    </template>
    <template v-slot:item.seccion="{ item }">
        <slot name="seccion" :item="item"></slot>
    </template>
    <template v-slot:item.perimetro="{ item }">
        <slot name="perimetro" :item="item"></slot>
    </template>
    <template v-slot:item.actualizado="{ item }">
        <slot name="actualizado" :item="item"></slot>
    </template>
    <template v-slot:item.metro_unidad="{ item }">
        <slot name="metro_unidad" :item="item"></slot>
    </template>
    <template v-slot:item.metro_pieza="{ item }">
        <slot name="metro_pieza" :item="item"></slot>
    </template>
    <template v-slot:item.material="{ item }">
        <slot name="material" :item="item"></slot>
    </template>
    <template v-slot:item.completado="{ item }">
        <slot name="completado" :item="item"></slot>
    </template>
    <template v-slot:item.tipo="{ item }">
        <slot name="tipo" :item="item"></slot>
    </template>
    <template v-slot:item.aprobado="{ item }">
        <slot name="aprobado" :item="item"></slot>
    </template>
    <template v-slot:item.recibido="{ item }">
        <slot name="recibido" :item="item"></slot>
    </template>
     <template v-slot:item.ld="{ item }">
        <slot name="ld" :item="item"></slot>
    </template>
    <template v-slot:item.kardex="{ item }">
        <slot name="kardex" :item="item"></slot>
    </template>
    <template v-slot:item.iconoGeoreferencia="{ item }">
        <slot name="iconoGeoreferencia" :item="item"></slot>
    </template>
    <template v-slot:item.orden="{ item }">
        <slot name="orden" :item="item"></slot>
    </template>
    <template v-slot:item.faseAdjuntosProyectos="{ item }">
        <slot name="faseAdjuntosProyectos" :item="item"></slot>
    </template>
    <template v-slot:no-data>
      &nbsp;
      <!-- <v-alert :value="true" color="error" style="color:white;" icon="warning">
        Lo sentimos, no existen registros.
      </v-alert>-->
    </template>

  </v-data-table>
  <template>
      <div class="text-center pt-2">
        <slot name="footerDataTable"></slot>
    </div>
  </template>

  </div>
</template>
 <script>

  export default {
      props:['title','headers','items','loading','name','sortfield','sortdesc'],//name,sortfield,sortdesc es opcional
    data: () => ({
      dialog: false,
        search: '',

    }),

    created () {

    },
    computed: {
computedHeaders () {
  return this.headers.filter((x)=>{return x.hidden==null || x.hidden==false})
}
},
    methods: {

    },
  }
</script>
