<style>
 /* .content-indicadores #container-proyectos-activos .highcharts-data-labels text, 
  .content-indicadores #container-presupuesto .highcharts-data-labels text, 
  .content-indicadores #container-cotizacion .highcharts-data-labels text {
   
    font-size: 50px !important;
    fill: #fff !important;
        stroke: #fff !important;
  }
  .content-indicadores #container-proyectos-activos .highcharts-data-labels text,
  .content-indicadores #container-presupuesto .highcharts-data-labels text,
  .content-indicadores #container-cotizacion .highcharts-data-labels text{
   
    font-size: 50px !important;
    fill: #fff !important;
        stroke: #fff !important;
  }
   .content-indicadores #container-proyectos-activos .highcharts-data-labels .highcharts-text-outline ,
      .content-indicadores #container-presupuesto .highcharts-data-labels .highcharts-text-outline ,
    .content-indicadores #container-cotizacion .highcharts-data-labels  .highcharts-text-outline  {

   stroke: #fff !important;
    
  }*/
</style>
<template>
  <div>
    <section class="content content-indicadores">
      <PanelContent :title="'INDICADORES'">
        <template v-slot:content>
          <div>
              <v-alert border="left" colored-border color="error">
                <v-row>
                    <v-col cols="12" sm="12" md="12">
                        <v-card>
                            <v-card-title class="subheading font-weight-bold">Cronograma</v-card-title>
                                <v-divider></v-divider>
                                          <v-alert
                                    v-show="!loadingTable && cars.length==0"
                                    border="top"
                                    colored-border
                                    type="error"
                                    elevation="2"
                                  >No existen datos para mostrar</v-alert>
                                  <div v-show="cars.length>0" class="scrolling-container">
                                    <div id="container-cronograma"></div>
                                    </div>
                            
                        </v-card>
                    </v-col>
                  
                </v-row>
            </v-alert>
             <v-alert border="left" colored-border color="info">
                <v-row>
                    <v-col cols="12" sm="12" md="6">
                        <v-card>
                            
                            <v-card-title class="subheading font-weight-bold">Gastado / Presupuestado</v-card-title>
                                <v-divider></v-divider>
                                   <v-card-text> 
                                    <v-select
                                    outlined
                                    dense
                                    hide-details
                                    v-model="proyecto_id"
                                    data-vv-name="Proyecto"
                                    :items="proyectos"
                                    item-text="nombre"
                                    item-value="id"
                                    label="Proyecto"
                                    >
                                    </v-select>
                                    </v-card-text>
                                       
                                    <figure class="highcharts-figure">
                                        <div id="container-grafico"></div>
                                    </figure>
                              
                        </v-card>
                    </v-col>
                     
                </v-row>
            </v-alert>
             <v-alert border="left" colored-border color="warning">
                <v-card>
                   <v-card-title class="subheading font-weight-bold"></v-card-title>
                                <v-divider></v-divider>
                <v-row>
                  <v-col cols="12" sm="12" md="6">
                              <figure class="highcharts-figure"  >
                                <div id="container-proyectos-activos"></div>
                            </figure>
                    </v-col> 
                    <v-col cols="12" sm="12" md="3">
                            <figure class="highcharts-figure" >
                                <div id="container-presupuesto"></div>
                            </figure>
                                      </v-col>
                      <v-col cols="12" sm="12" md="3">
                            <figure class="highcharts-figure" >
                                <div id="container-cotizacion"></div>
                            </figure>
                    </v-col>
                   
                </v-row>
                    </v-card>
            </v-alert>
           
          </div>
          
        </template>
      </PanelContent>
    </section>
  </div>
</template>

<script>
import PanelContent from "../components/PanelContent";
import TableContent from "../components/TableContent";
import DialogSimple from "../components/DialogSimple";
var self;
var swal__;
var toast__;

export default {
  name: "Dashboard",
  components: {
    PanelContent
  },
  data: () => ({
    presupuesto:{},
    proyecto: [],
    proyectos: [],
        fecha_inicio: "2020-01-01",
    fecha_fin: "2020-11-01",
    item_id: null,
    proyecto_id:null,
        loadingTable: false,
      windowSize: {
      x: 0,
      y: 0
    },
    indicadores:{},
    items: null,
        cars: [],
    baseURL: null,
    
  }),
  created: function() {},
  mounted() {
    this.baseURL = this.$router.currentRoute.path;
    this.script_grafico();
    self = this;
    swal__ = this.$store.getters.getSwal;
    toast__ = this.$store.getters.getToastDefault;
    //this.$route.params.id = atob(this.$route.params.id);
    this.cargarCalendario();
    this.cargarGrafico();
    this.cargarIndicadores();
    this.cargarProyectos();
    
  },
  watch: {
    proyecto_id(val){
      this.cargarGrafico();
    }
  },
  methods: {
    script_grafico() {
      let script = "";
      let array = [
        "https://code.highcharts.com/highcharts.js",
        "https://code.highcharts.com/modules/exporting.js"
      ];
      for (let index = 0; index < array.length; index++) {
        script = document.createElement("script");
        script.setAttribute("src", array[index]);
        document.head.appendChild(script);
      }
    },
    dialogClose(tipo) {
      this.$store.state[tipo].dialog = false;
    },
     cargarProyectos() {
     
            axios.get(this.baseURL+'/proyectos/')
              .then(response => {
                  var data = response.data;
                  self.proyectos=data;
             
                 
              })
              .catch(errors => {
                  console.log(errors);
              });
      },
     cargarCalendario() {
 
      axios
        .get("cronograma/cargar")
        .then(response => {
          var data = response.data;
          let fecha_inicio = new Date(
            response.data.cabecera.fecha_inicio + " 00:00:00"
          ).getTime();
          //this.fecha_fin = new Date(response.data.cabecera.fecha_fin + " 23:59:59").getTime();
          this.fecha_fin = response.data.cabecera.fecha_fin;
          var items = [];
          data.items.forEach(element => {
            items.push({
              model: element.name,
              current: 0,
              deals: [
                {
                  from: new Date(element.start + " 00:00:00").getTime(),
                  to: new Date(element.end + " 23:59:59").getTime()
                }
              ]
            });
          });
        

          self.cars = items;
          self.ver_cronograma();
        //  self.proyecto = data;
        })
        .catch(errors => {
          console.log(errors);
        });
    },
    cargarIndicadores() {
      this.loadingTable = true;
     
      axios
        .get(this.baseURL + "/indicadores")
        .then(response => {
          var data = response.data;
          
              this.indicadores = data;
  
        
          self.loadingTable = false;
          self.ver_proyectos_activos();
                self.ver_presupuesto();
                      self.ver_cotizacion();
       
        })
        .catch(errors => {
          console.log(errors);
        });
    },
    cargarGrafico() {
      this.loadingTable = true;
      let params = {
        proyecto_id: this.proyecto_id
      };
      axios
        .post(this.baseURL + "/grafico", params)
        .then(response => {
          var data = response.data;
            self.proyecto = data.proyecto;
              this.presupuesto = data;
  
        
          self.loadingTable = false;
          self.ver_grafico_presupuesto();
       
        })
        .catch(errors => {
          console.log(errors);
        });
    },
     ver_proyectos_activos(){
        Highcharts.chart('container-proyectos-activos', {
      chart:{
      margin: 100
    },
        series: [{
            type: 'venn',
            data: [{
            sets: ['0'],
            color:'rgb(251,10,10)',
            value: self.indicadores.vigentes,
            name: self.indicadores.vigentes,
            longDescription: ''
            }]
        }],
            plotOptions: {
        series: {
            dataLabels: {
                enabled: true,
                style: {
                     color:"white",
                     fontSize:"90px",
                     border:"none",
                     textOutline:"0px"
                }
            }
        } 
      },
        exporting: {
         enabled: false
       },
        credits: {
          enabled: false
        },
        
        tooltip: false,
        
        title: {
            text: 'No. Proyectos Vigentes'
        }
        });

    },
        ver_presupuesto(){
        Highcharts.chart('container-presupuesto', {
       chart:{
      margin: 40
    },
        series: [{
            type: 'venn',
            data: [{
            sets: ['1'],
            color:'rgba(241, 90, 34, 1)',
            value: 200,
            name: self.indicadores.presupuesto,
            longDescription: ''
            }]
        }],
          plotOptions: {
        series: {
            dataLabels: {
                enabled: true,
                style: {
                     color:"white",
                     fontSize:"70px",
                     border:"none",
                     textOutline:"0px"
                }
            }
        }
    },
        exporting: {
         enabled: false
       },
        credits: {
          enabled: false
        },
        
        tooltip: false,
        
         title: {
          text: 'Presupuestos en curso'
        }
        });

    },
     ver_cotizacion(){
        Highcharts.chart('container-cotizacion', {
       chart:{
      margin: 40
    },
        series: [{
            type: 'venn',
            data: [{
            sets: ['2'],
            value: 100,
            color:'rgba(236, 100, 75, 1)',
            name: self.indicadores.cotizacion,
            longDescription: ''
            }]
        }],
            plotOptions: {
        series: {
            dataLabels: {
                enabled: true,
                style: {
                     color:"white",
                     fontSize:"70px",
                     border:"none",
                     textOutline:"0px",

                }
            }
        }
    },
        exporting: {
         enabled: false
       },
        credits: {
          enabled: false
        },
        
        tooltip: false,
        
         title: {
          text: 'Cotizaciones en curso'
        }
        });

    },
   
    ver_grafico_presupuesto() {

      Highcharts.chart("container-grafico", {
        chart: {
          type: "column"
        },
        title: {
          text: "Gastado / Presupuestado"
        },
        exporting: {
         enabled: false
       },
        credits: {
          enabled: false
        },
        xAxis: {
          categories: [""]
        },
        yAxis: [
          {
            min: 0,
            title: {
              text: "Monto"
            }
          },
          {
            title: {
              text: ""
            },
            opposite: true
          }
        ],
        legend: {
          shadow: false
        },
        tooltip: {
          shared: true
        },
        plotOptions: {
             series: {
            borderWidth: 0,
            dataLabels: {
              enabled: true,
              format: "{point.y:,.2f} "
            }
          },
          column: {
            grouping: false,
            shadow: true,
            borderWidth: 0
          }
        } ,
        //232, 119, 85 naranja
        //224, 71, 71 rojo
        series: [
          {
            name: "Presupuestado",
            color: (parseInt(self.presupuesto.grafico_gastado)>parseInt(self.presupuesto.grafico_presupuestado))?"rgba(153,153,153)":"rgba(191, 191, 197)",
            data: [parseInt(self.presupuesto.grafico_presupuestado)],
           
            pointPadding: 0.3,
            pointPlacement: -0.2
          },
          {
            name: "Gastado",
            color: (parseInt(self.presupuesto.grafico_gastado)>parseInt(self.presupuesto.grafico_presupuestado))?"rgba(224, 71, 71)":"rgba(76,175,80)",
            data: [parseInt(self.presupuesto.grafico_gastado)],
            pointPadding: 0.4,
            pointPlacement: -0.2
          }
        ]
      });
    },
    ver_cronograma() {
      var today = new Date(),
        day = 1000 * 60 * 60 * 24,
        map = Highcharts.map,
        dateFormat = Highcharts.dateFormat,
        series;

      // Set to 00:00:00:000 today
      today.setUTCHours(0);
      today.setUTCMinutes(0);
      today.setUTCSeconds(0);
      today.setUTCMilliseconds(0);
      today = today.getTime();
      series = self.cars.map(function(car, i) {
        var data = car.deals.map(function(deal) {
          return {
            id: "deal-" + i,
            start: deal.from,
            end: deal.to,
            y: i
          };
        });
        return {
          name: car.model,
          data: data,
          current: car.deals[car.current]
        };
      });
      Highcharts.setOptions({
        lang: {
          loading: "Cargando...",
          months: [
            "Enero",
            "Febrero",
            "Marzo",
            "Abril",
            "Mayo",
            "Junio",
            "Julio",
            "Agosto",
            "Septiembre",
            "Octubre",
            "Noviembre",
            "Diciembre"
          ],
          weekdays: [
            "Domingo",
            "Lunes",
            "Martes",
            "Miércoles",
            "Jueves",
            "Viernes",
            "Sábado"
          ],
          shortMonths: [
            "Ene",
            "Feb",
            "Mar",
            "Abr",
            "May",
            "Jun",
            "Jul",
            "Ago",
            "Sep",
            "Oct",
            "Nov",
            "Dic"
          ],
          exportButtonTitle: "Exportar",
          printButtonTitle: "Importar",
          rangeSelectorFrom: "Desde",
          rangeSelectorTo: "Hasta",
          rangeSelectorZoom: "Período",
          downloadPNG: "Descargar imagen PNG",
          downloadJPEG: "Descargar imagen JPEG",
          downloadPDF: "Descargar imagen PDF",
          downloadSVG: "Descargar imagen SVG",
          printChart: "Imprimir",
          resetZoom: "Reiniciar zoom",
          resetZoomTitle: "Reiniciar zoom",
          thousandsSep: ",",
          decimalPoint: "."
        }
      });
      Highcharts.ganttChart("container-cronograma", {
        series: series,
        title: {
          text: " "
        },
        exporting: {
          enabled: false
        },
        credits: {
          enabled: false
        },
        tooltip: {
          pointFormat:
            "<span>Inicio: {point.start:%e. %b %Y}</span><br/><span>Fin: {point.end:%e. %b %Y}</span>"
        },
       xAxis:[ {
        currentDateIndicator: false,
        
        },{dateTimeLabelFormats: {
       day: '%e. %b',
      week: '%e. %b',
      month: '%b \'%Y',
      year: '%Y'
      }}],
          yAxis: {
            type: "category",
            grid: {
              columns: [
                {
                  title: {
                    text: "Proyectos"
                  },
                  categories: map(series, function(s) {
                    return s.name;
                  })
                },
                {
                  title: {
                    text: "Inicio"
                  },
                  categories: map(series, function(s) {
                    return dateFormat("%e. %b %Y", s.current.from);
                  })
                },
                {
                  title: {
                    text: "Fin"
                  },
                  categories: map(series, function(s) {
                    return dateFormat("%e. %b %Y", s.current.to);
                  })
                }
              ]
            }
          }
        });
    },
  
    formatNumber(num) {
      return num!="" && num!= null?num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'):num;
    },
  }
};
</script>





