<template>
    <div>
        <section class="content">
            <PanelContent :title="'Documentos'">
                <template v-slot:optionsbuttonstop>
                    <v-btn class="dark" @click="seleccioneProyecto()"><v-icon left dark>work_outline</v-icon>Seleccione Proyecto</v-btn>
                  &nbsp;

                      <v-chip v-show="seleccionProyecto_id" class="dark">
                        PROYECTO: {{proyecto_nombre.nombre}}
                    </v-chip>
                </template>
                <template v-slot:content>
                      <TableContent :title="'Lista de adjuntos'" :headers="headersAdjuntos" :items="itemsAdjuntos" :loading="loadingTableAdjuntos">
                         <template v-slot:faseAdjuntosProyectos="{item}" >
                            <v-chip class="info">
                                {{item.faseAdjuntosProyectos}}
                            </v-chip>
                        </template>
                        <template v-slot:btnAcciones="{item}" >
                            <v-chip v-if="item.adjunto!=null" @click="download(item)" title="Descargar" class="info">
                                <v-icon small class="white--text"  > cloud_download </v-icon>
                            </v-chip>
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
            <DialogSimple >
                <template v-slot:bodycardSeleccionProyecto>
                    <TableContent :title="'Lista de Proyectos'" :headers="headersProyectos" :items="itemsProyectos" :loading="loadingTableProyectos">
                        <template v-slot:btnAcciones="{item}" >
                            <v-checkbox :disabled="ver_proyectos" @change="proyecto_nombre=item" v-model="seleccionProyecto_id" name="seleccionProyecto_id" :value="item.id"
                                required
                            ></v-checkbox>
                        </template>
                    </TableContent>
                </template> 
                <template v-slot:buttons>   
                    <v-btn color="dark" @click="cliente_id=null;seleccionProyecto_id=null;dialogClose('dialogSimple2')" >Cancelar</v-btn>
                    <v-btn style="margin-right:20px;" color="primary" @click="dialogClose('dialogSimple2')" >Aceptar</v-btn>
                </template>
            </DialogSimple>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
import DialogSimple from '../components/DialogSimple';
var self;
var swal__;
var toast__;
    export default {
        name: 'Documentos',
        components:{
            PanelContent,TableContent,DialogSimple
        },
       data: () => ({
            ver_proyectos:false,
            loadingTableProyectos:false,
            loadingTableAdjuntos:false,
            proyecto_nombre:'',
            seleccionProyecto_id:null,

            proyecto_id:null,
            loadingTable:false,
            loading:false,
            headersProyectos: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },
                { text: 'Proyecto', align: 'center',value: 'nombre' },

                {
                text: 'Código',
                align: 'center',
                sortable: false,
                value: 'codigo',
                },
                { text: 'Cliente', align: 'center',value: 'nombre_cliente' },
                { text: 'Acciones',   value: 'action', sortable: false },
            ],
            itemsProyectos: [],
            headersAdjuntos: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },{
                text: 'Descripción',
                align: 'center',
                value: 'descripcion',
                },
                {
                text: 'Monto',
                align: 'center',
                value: 'monto',
                },{
                text: 'Fase',
                align: 'center',
                value: 'faseAdjuntosProyectos',
                },{
                text: 'Adjunto',
                align: 'center',
                value: 'adjunto',
                },{
                text: 'Tipo adjunto',
                align: 'center',
                value: 'tipo_adjunto',
                },{
                text: 'Usuario',
                align: 'center',
                value: 'usuario',
                },{ text: 'Fecha',
                align: 'center',
                value: 'fecha_creacion',
                },
                { text: 'Acciones', width:'200px', align: 'center',value: 'action', sortable: false },
            ],
            itemsAdjuntos: [],
            baseURL:null,
        }),

        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
        },
        methods:{
            dialogClose(tipo){
                this.listarAdjuntosProyecto();
                this.$store.state[tipo].dialog = false;
            }, 
            openDialogSimpleAdjuntosProyecto(data){
                this.$store.commit('openDialogSimple',data);
            }, 
            resetValues(){
                this.proyecto_id = null;
                this.modificando=false;
            },   
            proyectosadjuntos(){
                //this.resetValues();
                this.openDialogSimpleAdjuntosProyecto({openDialog:true,bodycard:'bodycardAdjuntosProyecto',buttons:'buttonsAdjuntosProyecto',optionsbuttonstop:'optionsButtonsTopAdjuntosProyecto',titulo:'Todos los adjuntos',maxwidth:'1200px'})
                
            },openDialogSimpleSeleccionProyecto(data){
                this.$store.commit('openDialogSimple2',data);
            },
            seleccioneProyecto(){
                this.openDialogSimpleSeleccionProyecto({openDialog:true,bodycard:'bodycardSeleccionProyecto',buttons:'buttons',titulo:'Seleccione un proyecto',maxwidth:'800px'});
                this.listarProyectos();
            },
            listarProyectos(){
                this.loadingTableProyectos=true;
                let ruta='/documentos/proyectosadjuntos',method='get';
                let params = {};

                axios.get(ruta,params)
                .then(response => {
                    var data = response.data;
                    self.itemsProyectos = data;
                    self.loadingTableProyectos=false;
                    console.log(data);
                })
                .catch(errors => {
                    console.log(errors);
                });
            },
            listarAdjuntosProyecto(){
                this.loadingTableAdjuntos=true;
                let ruta='/documentos/proyectos/adjuntos';
                if (this.seleccionProyecto_id==null) {
                    this.itemsAdjuntos = [];
                    this.loadingTableAdjuntos=false;
                    return;
                }
                let params = {id:this.seleccionProyecto_id};

                axios.post(ruta,params)
                .then(response => {
                    var data = response.data;
                    self.itemsAdjuntos = data;
                    self.loadingTableAdjuntos=false;
                    console.log(data);
                })
                .catch(errors => {
                    console.log(errors);
                });
            },
            download(item){
                let valores={
                    id:item.id
                };
                let fases = [["Requerimiento","requerimiento"],["Pedido","pedido"],["Presupuesto","presupuesto"],["Montaje","montaje"],["Producción","montaje"],["Diseño","diseno"],["Cotización","cotizacion"]]
                for (let index = 0; index < fases.length; index++) {
                    if (fases[index][0]==item.faseAdjuntosProyectos) {
                        document.location.href = window.location.href+"/../"+fases[index][1]+"/documentaria/download/"+item.id;
                        break;
                    }
                }
            }
        },
        
    }
</script>