<template>
    <div>
        <section class="content">
            <PanelContent :title="'Verificado de Servicio'"  >
                <template v-slot:optionsbuttonstop>

                    <v-btn class="" :href="'../solicitud'"><v-icon left dark>arrow_left</v-icon>Lista de Proyectos</v-btn>
                    &nbsp;&nbsp;
                    <v-chip v-show="proyecto.estado_presupuesto==4" class="success" ><v-icon left dark>check</v-icon>Completado</v-chip>
                </template>
                <!--:class="proyecto.estado==0?'error':(item.estado==1?'info':'success')"-->
                <template v-slot:content>
                    <TableContent :title="'Lista de Servicios'" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:cantidad="{item}" >
                            {{parseFloat(item.cantidad||0)}}
                        </template>
                        
                        <template  v-slot:precio_servicio_edit="props">
                            <v-edit-dialog :large="proyecto.estado_presupuesto==3" :persistent="proyecto.estado_presupuesto==3" :return-value.sync="props.item.precio"  @open="open"
                            > <code small>{{ props.item.precio }}</code>
                            <template v-slot:input>
                                <v-text-field :disabled="proyecto.estado_presupuesto!=3?true:(props.item.verificado==1)" min="0" type="number" v-model="props.item.precio" label="Editar" single-line autofocus
                                ></v-text-field>
                            </template>
                            </v-edit-dialog>
                        </template>
                        <template  v-slot:precio_insumo_edit="props">
                            <v-edit-dialog :large="proyecto.estado_presupuesto==3" :persistent="proyecto.estado_presupuesto==3" :return-value.sync="props.item.precio"  @open="open"
                            > <code small>{{ props.item.precio }}</code>
                            <template v-slot:input>
                                <v-text-field :disabled="proyecto.estado_presupuesto!=3" min="0" type="number" v-model="props.item.precio" label="Editar" single-line autofocus
                                ></v-text-field>
                            </template>
                            </v-edit-dialog>
                        </template>
                        <template v-slot:footerDataTable >
                            <div align="right">
                                <span class="font-weight-black mr-2">T. Precio:</span> <v-chip class="success" color="white">{{totalPrecio}}</v-chip>
                            </div>
                        </template>
                        <template v-slot:checkVerificado="{item}" >
                            <v-checkbox v-model="item.verificado" @change="verificado(item)"

                            ></v-checkbox>
                        </template>
                    </TableContent>
                </template>

            </PanelContent>
        </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
var self;
var swal__;
var toast__;
    export default {
        name: 'PresupuestoListaInsumos',
        components:{
            PanelContent,TableContent
        },
       data: () => ({
            /* id desencriptado */
           id_url: null,
            /* id encriptado */
            id_encryp : null,
            loadingTable:false,
            loading:false,
            proyecto:{},
            totalPrecio:0,
            itemsTodoVerificado:false,
            headers: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },{
                text: 'Descripción',
                align: 'center',
                value: 'descripcion',
                },{
                text: 'Cantidad',
                align: 'center',
                value: 'cantidad',
                },{
                text: 'Precio',
                align: 'center',
                value: 'precio',
                },{
                text: 'Verificado',
                align: 'left',
                value: 'verificado',
                sortable:false,
                },
            ],
            items: [],
            baseURL:null,
        }),

        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.$route.params.id = atob(this.$route.params.id);
            this.cargarAll();
        },
        methods:{
            calcularTotales(){
                this.totalPrecio = parseFloat(this.items.map((x)=>{return parseFloat(x.precio||0)}).reduce((i,x)=>{return x+i})).toFixed(2);
            },
            cargarAll() {
                this.loadingTable=true;
                console.log(this.$route.params.id);
                let params={proyecto_id:this.$route.params.id}
                 axios.post(this.baseURL+'/../cargar',params)
                    .then(response => {
                        var data = response.data;
                        
                        self.items=data.items;
                        self.proyecto=data.proyecto;
                        self.loadingTable=false;
                        //self.itemsTodoVerificado = self.items.length>0 && self.items.filter((x)=>{return x.verificado<=0}).length<=0;

                        this.calcularTotales();
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            open () {
                setTimeout(() => {
                    document.querySelector('.v-small-dialog__menu-content .v-small-dialog__actions button span').innerHTML="Cancelar"
                    document.querySelector('.v-small-dialog__menu-content .v-small-dialog__actions button').nextElementSibling.querySelector('span').innerHTML="Guardar"
                }, 100);
            },
            completar(){
                let valores={id:this.$route.params.id};
                    this.loading = true;
                    swal__.fire({

                         title: "¿ Desea completar la actualización de precios del proyecto "+self.proyecto.nombre+" ?",
                        text :"Esta acción es irreversible",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, completar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/../completarsolicitud', valores)
                            .then(response => {
                                var data = response.data;
                                toast__.fire({
                                    type: 'success',
                                    title: 'La Actualización de Precios ha sido completada.'
                                })
                            })
                            .catch(errors => {
                                swal__.fire(
                                'ERROR!',
                                'ha ocurrido un error: '+errors,
                                'error'
                                )
                            }).finally(()=>{
                                self.cargarAll();
                                this.loading = false;
                            });
                        }
                    })
            },

            verificado(item){
                if (this.proyecto.estado_presupuesto!=3) return false;
                console.log(item)
                let valores={id:item.id,precio:item.precio,verificado:item.verificado || 0};
                this.loading = true;
                axios.post(this.baseURL+'/../actualizarPrecio', valores)
                .then(response => {
                    toast__.fire({
                        type: 'success',
                        title: 'Estado verificado actualizado.'
                    });
                    self.itemsTodoVerificado = self.items.length>0 && self.items.filter((x)=>{return x.verificado<=0}).length<=0;

                    this.calcularTotales();
                })
                .catch(errors => {
                    swal__.fire(
                    'ERROR!',
                    'ha ocurrido un error: '+errors,
                    'error'
                    )
                })
            }
        }
    }
</script>



