<template>
    <div>
        <section class="content">
            <PanelContent :title="'Gastos Generales y Utilidad'"  >
                <!--:class="proyecto.estado==0?'error':(item.estado==1?'info':'success')"-->
                <template v-slot:content>
                    <TableContent :title="'Lista de Proyectos'" name="PresupuestoUtilidadProyectos" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:btnAcciones="{item}" >
                            <v-btn v-show="item.estado_presupuesto>4" small @click="pantallaUtilidadItems(item)" class="info">
                                <v-icon left dark>visibility</v-icon>Ver
                            </v-btn>
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
import DialogSimple from '../components/DialogSimple';
var self;
var swal__;
var toast__;
    export default {
        name: 'PresupuestoUtilidadProyecto',
        components:{
            PanelContent,TableContent,DialogSimple
        },
       data: () => ({
            loadingTable:false,
            loading:false,

            headers: [
                                      {
                    text: 'N°',
                    align: 'center',
                    value: 'id',
                    width: '40px',
                    },
                    {
                    text: 'Código',
                    align: 'left',
                    value: 'codigo',
                    width: '130px',
                    },
                    {
                    text: 'Proyecto',
                    align: 'left',
                    value: 'nombre',
                    width: '170px',
                    },
                    {
                    text: 'Cliente',
                    align: 'left',
                    value: 'nombre_cliente',
                    width: '200px',
                    },
                     {
                    text: 'User',
                    align: 'left',
                    value: 'user',
                    width: '150px',
                    },
                    { 
                    text: 'Estado',
                    align: 'center',
                    value: 'estado_presupuesto',
                    width: '100px',
                    },
                   
                    { text: 'Acciones', align: 'left',value: 'action', sortable: false },
            ],
            items: [],
            baseURL:null,
        }),

        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.cargarAll();
        },
        methods:{

            cargarAll() {
                this.loadingTable=true;
                 axios.get(this.baseURL+'/../proyectos/cargar')
                    .then(response => {
                        var data = response.data;
                        self.items=data;
                        self.loadingTable=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },pantallaUtilidadItems(item){
                location.href = window.location.href+'/'+btoa(item.id);
            }
        }
    }
</script>
