<template>
    <div>
        <section class="content">
            <PanelContent :title="'Gastos Generales'"  >
                <template v-slot:optionsbuttonstop>
                     <v-btn class="" :href="'../utilidad'"><v-icon left dark>arrow_left</v-icon>Lista de Proyectos</v-btn>
                    &nbsp;
                    <v-btn class="primary" v-show="proyecto.estado_presupuesto==5" :disabled="!editing" @click="proyecto.estado_presupuesto==5?actualizar():''"><v-icon left dark>refresh</v-icon>Actualizar</v-btn>
                    &nbsp;&nbsp;
                    <v-btn v-show="proyecto.estado_presupuesto==5" :disabled="editing" class="success" @click="proyecto.estado_presupuesto==5?completar():''"><v-icon left dark>check</v-icon>Completar</v-btn>
                    <v-chip v-show="proyecto.estado_presupuesto==6" class="success" ><v-icon left dark>check</v-icon>Completado</v-chip>

                </template>
                <template v-slot:content>
                    <TableContent :title="'Lista de Items'" name="presupuestoConsolidado" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:cantidad="{item}" >
                            {{parseFloat(item.cantidad||0).toFixed(2)}}
                        </template>
                        <template v-slot:precio_unitario_gastos="{item}" >
                            {{parseFloat(item.precio_unitario||0).toFixed(2)}}
                        </template>
                        <template v-slot:precio_parcial_gastos="{item}" >
                            {{parseFloat(item.precio_parcial||0).toFixed(2)}}
                        </template>
                        <template  v-slot:porcentaje_gastos_edit="props">
                            <v-edit-dialog large persistent :return-value.sync="props.item.porcentaje" @save="save(props.item)" @open="open"
                            > <code small>{{ props.item.porcentaje }}</code>
                            <template v-slot:input>
                                <v-text-field  :disabled="proyecto.estado_presupuesto!=5" min="0" type="number" v-model="props.item.porcentaje" label="Editar" single-line autofocus
                                ></v-text-field>
                            </template>
                            </v-edit-dialog>
                        </template>
                       
                    </TableContent>
                </template>
            </PanelContent>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
var self;
var swal__;
var toast__;
    export default {
        name: 'PresupuestoUtilidad',
        components:{
            PanelContent,TableContent
        },
       data: () => ({
            editing:false,
            loadingTable:false,
            loading:false,
            proyecto:{},
            total_parcial:null,
            margen:0,
            headers: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },{
                text: 'Descripción',
                align: 'left',
                value: 'nombre',
                width: '150px',
                },
                {
                text: 'Cantidad',
                align: 'center',
                value: 'cantidad',
                width: '150px',
                },{
                text: 'Porcentaje (%)',
                align: 'center',
                value: 'porcentaje',
                },{
                text: 'Precio Unitario',
                align: 'center',
                value: 'precio_unitario',
                },{
                text: 'Precio Parcial',
                align: 'center',
                value: 'precio_parcial',
                },
            ],
            items: [],
            baseURL:null,
        }),

        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.$route.params.id = atob(this.$route.params.id);

            this.cargarAll();
        },
        methods:{
            cargarAll() {
                this.loadingTable=true;
                let params={id:this.$route.params.id}
                 axios.post(this.baseURL+'/../items',params)
                    .then(response => {
                        var data = response.data;
                        self.items=data.items;
                        self.proyecto=data.proyecto;
                        self.total_parcial=data.total_parcial;
                        self.loadingTable=false;
                        self.editing = !self.editing && self.items.length>0 && self.items.filter((x)=>{return x.precio_unitario>0}).length<=0;
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            save(item){
                this.editing=true;
                self.items.forEach((obj)=>{
                    if (item.id==obj.id) {
                        obj.precio_unitario = (item.porcentaje/100) * self.total_parcial;
                        obj.precio_parcial = (item.porcentaje/100) * self.total_parcial;
                        return;
                    }
                });
            },
            open () {
                setTimeout(() => {
                    document.querySelector('.v-small-dialog__menu-content .v-small-dialog__actions button span').innerHTML="Cancelar"
                    document.querySelector('.v-small-dialog__menu-content .v-small-dialog__actions button').nextElementSibling.querySelector('span').innerHTML="Guardar"
                }, 100);
            },
            actualizar() {
                if(this.proyecto.estado_presupuesto!=5) return false;
                let valores={items:this.items};
                this.loading = true;
                axios.patch(this.baseURL+'/../actualizar', valores)
                .then(response => {
                    toast__.fire({
                        type: 'success',
                        title: 'Gastos generales actualizados.'
                    })
                    self.editing=false;
                })
                .catch(errors => {
                    swal__.fire(
                    'ERROR!',
                    'ha ocurrido un error: '+errors,
                    'error'
                    )
                })
            },completar(){
                let valores={id:this.$route.params.id};
                    this.loading = true;
                    swal__.fire({
                       title: "¿ Desea completar el registro de gastos generales del proyecto "+self.proyecto.nombre+" ?",
                        text :"Esta acción es irreversible",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, completar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.patch(this.baseURL+'/../completar', valores)
                            .then(response => {
                                var data = response.data;
                                toast__.fire({
                                    type: 'success',
                                    title: 'La etapa de presupuesto ha sido completada.'
                                })
                            })
                            .catch(errors => {
                                swal__.fire(
                                'ERROR!',
                                'ha ocurrido un error: '+errors,
                                'error'
                                )
                            }).finally(()=>{
                                self.cargarAll();
                                this.loading = false;
                            });
                        }
                    })
            }
        }
    }
</script>
