<template>
    <div>
        <section class="content">
            <PanelContent :title="'Actualización de Precios'"  >
                <!--:class="proyecto.estado==0?'error':(item.estado==1?'info':'success')"-->
                <template v-slot:content>
                    <TableContent :title="'Lista de Proyectos'" name="PresupuestoSolicitudProyectos" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:btnAcciones="{item}" >
                            <Menu :list_menu="listar_menu(item)" :_item="item">

                            </Menu>
                            <!--v-btn v-if="item.estado_tracking!=0 && item.estado_presupuesto>2" small @click="pantallaSolicitudAbastecimiento(item)" class="info">
                                <v-icon left dark>open_in_new</v-icon>Solicitud
                            </v-btn>
                            <v-btn v-if="item.estado_tracking!=0 && item.estado_presupuesto>2" small @click="pantallaServicios(item)" class="info">
                                <v-icon left dark>open_in_new</v-icon>Servicios
                            </v-btn>
                            
                            <v-btn small v-show="(item.estado_tracking!=0 && item.estado_presupuesto==3) && (item.insumos_sin_verificar==0 && item.servicios_sin_verificar==0)" class="success" @click="item.estado_presupuesto==3?completar(item):''"><v-icon left dark>check</v-icon>Completar</v-btn>
                            
                            <v-btn v-if="item.estado_tracking!=0 && item.estado_presupuesto==3" small @click="eliminar(item)" title="Eliminar" class="error">
                                <v-icon left dark>delete</v-icon>&nbsp;Cancelar
                            </v-btn-->
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
import Menu from '../components/Menu';
var self;
var swal__;
var toast__;
    export default {
        name: 'PresupuestoSolicitudAbastecimiento',
        components:{
            PanelContent,TableContent,Menu
        },
       data: () => ({
            loadingTable:false,
            loading:false,

            headers: [
                                      {
                    text: 'N°',
                    align: 'center',
                    value: 'id',
                    width: '40px',
                    },
                    {
                    text: 'Código',
                    align: 'left',
                    value: 'codigo',
                    width: '130px',
                    },
                    {
                    text: 'Proyecto',
                    align: 'left',
                    value: 'nombre',
                    width: '170px',
                    },
                    {
                    text: 'Cliente',
                    align: 'left',
                    value: 'nombre_cliente',
                    width: '200px',
                    },
                    { 
                    text: 'Estado',
                    align: 'center',
                    value: 'estado_presupuesto',
                    width: '100px',
                    },
                    
                    { text: 'Acciones', align: 'left',value: 'action', sortable: false },            
                ],
            items: [],
            list_menu:[],
            baseURL:null,
        }),

        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.cargarAll();
        },
        methods:{
            listar_menu(item){
                return this.list_menu =[{click:this.pantallaSolicitudAbastecimiento,class:'info',nombre:'Solicitud',icono:'open_in_new',_if:item.estado_tracking!=0 && item.estado_presupuesto>2},{click:this.pantallaServicios,class:'info',nombre:'Servicios',icono:'open_in_new',_if:item.estado_tracking!=0 && item.estado_presupuesto>2},{click:this.completar,class:'success',nombre:'Completar',icono:'check',_if:(item.estado_tracking!=0 && item.estado_presupuesto==3) && (item.insumos_sin_verificar==0 && item.servicios_sin_verificar==0)},{click:this.eliminar,class:'error',nombre:'Eliminar',icono:'delete',_if:item.estado_tracking!=0 && item.estado_presupuesto==3}]
            },
            cargarAll() {
                this.loadingTable=true;
                 axios.get(this.baseURL+'/../materiales/proyectos')
                    .then(response => {
                        var data = response.data;
                        self.items=data;
                        self.loadingTable=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            }, eliminar(item) {
                let valores = {
                    id:item.id,
                    estado:0
                }
                swal__.fire({
                     title: "¿ Desea cancelar el proyecto "+item.nombre+" ?",
                    text :"Esta acción es irreversible",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, cancelar',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        axios.post(this.baseURL+'/../proyectos/cancelar/', valores)
                        .then(response => {
                            var data = response.data;
                            if (response.data==1) {
                                this.items = [];
                                self.cargarAll();
                                toast__.fire({
                                    type: 'success',
                                    title: 'El proyecto ha sido cancelado.'
                                })
                            }
                        })
                        .catch(errors => {
                            swal__.fire(
                                'ERROR!',
                                'ha ocurrido un error: '+errors,
                                'error'
                                )
                        });
                    }
                })
            },completar(item){
                let valores={id:item.id};
                    this.loading = true;
                    swal__.fire({

                         title: "¿ Desea completar el proyecto "+item.nombre+" ?",
                        text :"Esta acción es irreversible",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, completar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/completarsolicitud', valores)
                            .then(response => {
                                var data = response.data;
                                toast__.fire({
                                    type: 'success',
                                    title: 'La Actualización de Precios ha sido completada.'
                                })
                            })
                            .catch(errors => {
                                swal__.fire(
                                'ERROR!',
                                'ha ocurrido un error: '+errors,
                                'error'
                                )
                            }).finally(()=>{
                                self.cargarAll();
                                this.loading = false;
                            });
                        }
                    })
            },pantallaSolicitudAbastecimiento(item){
                location.href = window.location.href+'/'+btoa(item.id);
            },
            pantallaServicios(item){
                location.href = window.location.href+'/../servicio/'+btoa(item.id);
                
            }
        }
    }
</script>



