<template>
    <div>
        <section class="content">
            <PanelContent :title="'Item '+proyecto_item.nombre"  >
                <template v-slot:optionsbuttonstop>
                     <v-btn class="" :href="'../items/'+ item_id_encryp"><v-icon left dark>arrow_left</v-icon>Lista de Items</v-btn>
                       &nbsp;&nbsp;
                    <v-btn v-show="proyecto_item.estado_presupuesto==1" @click="nuevo()"><v-icon left dark>add</v-icon>Nuevo</v-btn>



                </template>
                <!--:class="proyecto.estado==0?'error':(item.estado==1?'info':'success')"-->
                <template v-slot:content>
                    <TableContent :title="'Lista de Materiales'" name="presupuestoRegistraInsumos" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:cantidad="{item}" >
                            {{parseFloat(item.cantidad||0).toFixed(2)}}
                        </template>
                        <template v-slot:btnAcciones="{item}" >
                            <template v-if="proyecto_item.estado_presupuesto==1">
                                <v-chip @click="cargar(item)" title="Modificar" class="warning ">
                                    <v-icon class="white--text" small  > edit </v-icon>
                                </v-chip>
                                <v-chip  @click="eliminar(item)" title="Eliminar" class="error">
                                    <v-icon small class="white--text" > delete </v-icon>
                                </v-chip>
                            </template>
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
            <DialogSimple >
                <template v-slot:bodycardNuevoInsumo>
                    <template>
                        <v-row>
                            <v-col cols="12" sm="3" md="3">
                                <v-card class="pa-12" color="indigo darken-2" flat height="430" width="256" elevation="10">
                                    <v-navigation-drawer absolute :right="true"  floating permanent >
                                        <div style="margin-left:40px;margin-top:20px">
                                            <h4> <p>Materiales Nuevos</p> </h4>
                                        </div>
                                          <v-divider></v-divider>
                                    <v-list rounded>
                                        <v-list-item v-for="(item,index) in itemsdrawer" :key="item.title" link>

                                        <v-list-item-content>
                                            <v-list-item-title><v-chip style="margin-right:15px;">{{index+1}}</v-chip> {{ item.title }}</v-list-item-title>
                                        </v-list-item-content>
                                        </v-list-item>
                                    </v-list>

                                    <template v-slot:append>
                                        <div class="pa-2">
                                            <v-btn  block class="primary"><v-icon left dark>add</v-icon>Agregar</v-btn>
                                        </div>
                                    </template>
                                    </v-navigation-drawer>
                                </v-card>
                            </v-col>
                            <v-col cols="12" sm="9" md="9">
                                <v-form ref="form" v-model="valid" lazy-validation>
                                    <v-container>
                                        <v-row>
                                            <v-col  cols="12" sm="6" md="3">
                                                <v-btn :disabled="modificando" :class="material==null?'error':'primary'" @click="cargarMateriales()"><v-icon left dark>add</v-icon>Material</v-btn> <br>
                                                <span class="error--text" v-if="material==null">Seleccione material</span>
                                                <span  v-if="material!=null">Material: {{material_nombre}}</span>
                                            </v-col>
                                            <v-col cols="12" sm="6" md="3">
                                                <v-text-field v-model="elemento"  v-validate="'required'" :error-messages="errors.collect('elemento')"  data-vv-name="elemento" required   label="Elemento"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="6" md="3">
                                                <v-text-field v-model="cantidad"  v-validate="'required'" :rules="[v => v>-1 || 'Debe ser mayor o igual a cero']" :error-messages="errors.collect('cantidad')" min="0"  data-vv-name="cantidad" required   label="Cantidad" type="number"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="6" md="3">
                                                <v-text-field v-model="longitud"  v-validate="'required'" :rules="[v => v>-1 || 'Debe ser mayor o igual a cero']" :error-messages="errors.collect('longitud')" min="0" data-vv-name="longitud" required   label="Longitud" type="number" step=".0001"></v-text-field>
                                            </v-col>
                                        </v-row>
                                        <v-row>
                                            <v-col cols="12" sm="6" md="3">
                                                <v-text-field v-model="ancho" :rules="[v => v>-1 || 'Debe ser mayor o igual a cero']" v-validate="'required'" :error-messages="errors.collect('ancho')" min="0" data-vv-name="ancho" required label="Ancho" type="number" step=".0001"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="6" md="3">
                                                <v-text-field v-model="caras" :rules="[v => v>-1 || 'Debe ser mayor o igual a cero',v=>v<3 || 'Máximo 2 caras']" v-validate="'required'" :error-messages="errors.collect('caras')" min="0" max="2" data-vv-name="caras" required label="Caras" type="number"></v-text-field>
                                            </v-col>
                                        </v-row>
                                        <v-row>
                                            <v-col v-if="material" cols="12" sm="6" md="3">
                                                <v-btn :class="procesos.length<=0?'error':'primary'" @click="cargarProcesos()"><v-icon left dark>add</v-icon>Proceso</v-btn> <br>
                                                <span class="error--text" v-if="procesos.length<=0">Seleccione Procesos</span>
                                                <span  v-if="procesos.length>0">Procesos: {{procesos.length}}</span>
                                            </v-col>
                                        </v-row>
                                    </v-container>
                                </v-form>
                            </v-col>
                        </v-row>
                    </template>
                    
                </template>
                <template v-slot:bodycardSeleccionMateriales>
                    <TableContent :title="'Lista de Materiales'" name="presupuestoMaterialesSelect" :headers="headersMateriales" :items="itemsMateriales" :loading="loadingTableMateriales">
                        <template v-slot:btnAcciones="{item}" >
                            <v-checkbox v-model="material" @change="materialSelected = item;calcularMaterial();" name="material" :value="item.id"
                                required
                            ></v-checkbox>
                        </template>
                    </TableContent>
                </template>
                <template v-slot:buttonsSelectionMaterial>
                    <v-btn color="dark" @click="materialSelected=null;material=null;dialogClose('dialogSimple2')">Cancelar</v-btn>
                    <v-btn style="margin-right:20px;" color="primary" @click="dialogClose('dialogSimple2')" >Aceptar</v-btn>
                </template>
                <template v-slot:buttonsSelectionProcesos>
                    <v-btn color="dark" @click="procesos=[];dialogClose('dialogSimple2')" >Cancelar</v-btn>
                    <v-btn style="margin-right:20px;" color="primary" @click="dialogClose('dialogSimple2')" >Aceptar</v-btn>
                </template>
                <template v-slot:buttonsNuevoInsumo>
                    <v-btn color="primary" :loading="loading" :disabled="loading" @click="modificando?editar():guardar()" >{{modificando?'Modificar':'Guardar'}}</v-btn>
                    <v-btn @click="dialogClose('dialogSimple')" >Cancelar</v-btn>
                </template>

                <template v-slot:bodycardSeleccionProcesos>
                    <TableContent :title="'Lista de Procesos'" :headers="headersProcesos" :items="itemsProcesos" :loading="loadingTableProcesos">
                        <template v-slot:btnAcciones="{item}" >
                            <v-chip  @click="modifyProcesos(item,'remove')" name="procesos" title="Remover" class="error">
                                <v-icon small class="white--text" > remove </v-icon>
                            </v-chip>
                            <span>{{procesos.filter((c,i,arr)=>{return c.id==item.id;}).length}}</span>
                            <v-chip  @click="modifyProcesos(item,'add')" name="procesos" title="Agregar" class="info">
                                <v-icon small class="white--text" > add </v-icon>
                            </v-chip>

                        </template>
                    </TableContent>
                </template>
            </DialogSimple>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
import DialogSimple from '../components/DialogSimple';
var self;
var swal__;
var toast__;
    export default {
        name: 'PresupuestoRegistraInsumo',
        components:{
            PanelContent,TableContent,DialogSimple
        },
       data: () => ({
           /* id desencriptado */
           id_url: null,
            /* id encriptado */
            id_encryp : null,
            item_id_encryp: null,
            valid:true,
            modificando:false,
            proyecto_item:{},

            insumo_id:null,
            /*cargarMateriales*/
            material:null,
            material_nombre:'',
            loadingTableMateriales:false,
            materialSelected:null,
            /*cargarMateriales*/

            /*cargarProcesos*/
            procesos:[],
            loadingTableProcesos:false,
            /*cargarProcesos*/

            /*calculos internos */
            area_real:0,
            metrado_pieza:0,
            metrado_parcial:0,
            peso_parcial:0,
            factor_area:0,
            area_unitario:0,
            area_parcial:0,
            costo_acumulado:0,
            costo_parcial:0,
            metrado_parcial:0,
            costo_material:0,
            /*calculos internos */

            elemento:'',
            cantidad:0,
            longitud:0,
            ancho:0,
            caras:0,

            loadingTable:false,
            loading:false,

            dictionary: {
                custom: {
                    elemento: {
                    required: () => 'Ingrese el elemento',
                    },cantidad: {
                    required: () => 'Ingrese la cantidad',
                    },longitud: {
                    required: () => 'Ingrese la longitud',
                    },ancho: {
                    required: () => 'Ingrese el ancho',
                    },caras: {
                    required: () => 'Ingrese la cantidad de caras',
                    }
                }
            },
            headers: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },{
                text: 'Código',
                align: 'center',
                value: 'codigo_material',
                },{
                text: 'Descripción',
                align: 'center',
                value: 'nombre_material',
                },{
                text: 'Elemento',
                align: 'center',
                value: 'elemento',
                },{
                text: 'Cantidad',
                align: 'center',
                value: 'cantidad',
                },{
                text: 'Longitud',
                align: 'center',
                value: 'longitud',
                },{
                text: 'Ancho',
                align: 'center',
                value: 'ancho',
                },{
                text: 'Caras',
                align: 'center',
                value: 'caras',
                },{
                text: 'Área Real',
                align: 'center',
                value: 'area_real',
                },{
                text: 'Metrado Pieza',
                align: 'center',
                value: 'metrado_pieza',
                },{
                text: 'Metrado Parcial',
                align: 'center',
                value: 'metrado_parcial',
                },{
                text: 'Peso Parcial',
                align: 'center',
                value: 'peso_parcial',
                },{
                text: 'Factor Área',
                align: 'center',
                value: 'factor_area',
                },{
                text: 'Área Unitario',
                align: 'center',
                value: 'area_unitario',
                },{
                text: 'Área Parcial',
                align: 'center',
                value: 'area_parcial',
                },
                {
                text: 'Costo Acumulado',
                align: 'center',
                value: 'costo_acumulado',
                },{
                text: 'Costo Parcial',
                align: 'center',
                value: 'costo_parcial',
                },{ text: 'Procesos',
                align: 'center',
                value: 'cantidad_procesos',
                },{ text: 'Fecha',
                align: 'center',
                value: 'fecha_creacion',
                },
                { text: 'Acciones', width:'150px',  align: 'left',value: 'action', sortable: false },
            ],
            items: [],
            itemsdrawer: [
                { title: 'MP0205021' },
                { title: 'MP0205001' },
                { title: 'MP0205017' },
                { title: 'MP0205019' },
            ],
            headersMateriales: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },
                {
                text: 'Código',
                align: 'center',
                sortable: false,
                value: 'codigo_material',
                },
                { text: 'Material', align: 'center',value: 'nombre_material' },
                { text: 'Precio', align: 'center',value: 'precio_material' },
                { text: 'Stock', align: 'center',value: 'stock_material' },
                { text: 'Acciones',   align: 'left',value: 'action', sortable: false },
            ],
            itemsMateriales: [],
            headersProcesos: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },
                {
                text: 'Proceso',
                align: 'center',
                sortable: false,
                value: 'nombre',
                },
                { text: 'Unidad', align: 'center',value: 'unidad' },
                { text: 'Acciones',   value: 'action', sortable: false },
            ],
            itemsProcesos: [],
            baseURL:null,
        }),
        watch:{
            cantidad:function(val){
                if (this.materialSelected!=null) {
                    this.calcularMaterial();
                }
            },
            longitud:function(val){
                if (this.materialSelected!=null) {
                    this.calcularMaterial();
                }
            },
            ancho:function(val){
                if (this.materialSelected!=null) {
                    this.calcularMaterial();
                }
            },
            caras:function(val){
                if (this.materialSelected!=null) {
                    this.calcularMaterial();
                }
            },
        },
        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.$validator.localize('es', this.dictionary);
            //this.proyecto = this.$store.getters.getProyecto;
            //console.log(this.$store.getters.getProyecto)
            this.cargarAll();
        },
        methods:{
            dialogClose(tipo){
                this.$store.state[tipo].dialog = false;
            },
            cargarAll() {
                this.loadingTable=true;
                    this.id_url =atob(this.$route.params.id);
                    this.id_encryp = this.$route.params.id;
                let params = {

                    id:this.id_url
                }
                 axios.post(this.baseURL+'/../cargar/',params)
                    .then(response => {
                        var data = response.data;
                        self.items=data.items;
                        self.proyecto_item=data.item;
                        this.item_id_encryp = btoa(this.proyecto_item.proyecto_id);
                        self.loadingTable=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },

            cargar(item) {
                let valores = {id:item.id}
                this.modificando=true;
                 axios.post(this.baseURL+'/../buscar/', valores)
                    .then(response => {
                        var data = response.data;
                        this.insumo_id=data.id;
                        console.log(data);
                        this.proyecto_id=data.item_insumo.proyecto_id;
                        this.materialSelected = data.item_insumo;
                        this.material = data.item_insumo.factor_id;
                        this.material_nombre = data.item_insumo.nombre_material;
                        this.elemento=data.item_insumo.elemento;
                        this.cantidad=data.item_insumo.cantidad;
                        this.longitud=data.item_insumo.longitud;
                        this.ancho=data.item_insumo.ancho;
                        this.caras=data.item_insumo.caras;
                        this.area_real=data.item_insumo.area_real;
                        this.metrado_pieza=data.item_insumo.metrado_pieza;
                        this.metrado_parcial=data.item_insumo.metrado_parcial;
                        this.peso_parcial=data.item_insumo.peso_parcial;
                        this.factor_area=data.item_insumo.factor_area;
                        this.area_unitario=data.item_insumo.area_unitario;
                        this.area_parcial=data.item_insumo.area_parcial;
                        this.costo_acumulado=data.item_insumo.costo_acumulado;
                        this.costo_parcial=data.item_insumo.costo_parcial;
                        this.precio=this.materialSelected.precio_material;
                        this.procesos=data.procesos;
                        self.openDialogSimpleNuevoInsumo({openDialog:true,bodycard:'bodycardNuevoInsumo',titulo:'Modificar Material',buttons:'buttonsNuevoInsumo',maxwidth:'800px'});

                        this.$validator.validateAll();
                        self.errors.any();
                        this.calcularMaterial();
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            editar() {
                this.$validator.validateAll();
                if (this.errors.any()) return false;
                if(!this.$refs.form.validate())return;
                 let valores={
                    id:this.materialSelected.id,
                    proyecto_id:this.proyecto_item.proyecto_id,
                    item_id:this.id_url,
                    factor_id:this.material,
                    elemento:this.elemento,
                    cantidad:this.cantidad,
                    longitud:this.longitud,
                    ancho:this.ancho,
                    caras:this.caras,
                    area_real:this.area_real,
                    metrado_pieza:this.metrado_pieza,
                    metrado_parcial:this.metrado_parcial,
                    peso_parcial:this.peso_parcial,
                    factor_area:this.factor_area,
                    area_unitario:this.area_unitario,
                    area_parcial:this.area_parcial,
                    costo_acumulado:this.costo_acumulado,
                    costo_parcial:this.costo_parcial,
                    precio:this.materialSelected.precio_material,
                    procesos:this.procesos,
                }
                    this.loading = true;
                 axios.patch(this.baseURL+'/../editar/', valores)
                    .then(response => {
                        var data = response.data;
                        if (response.data==1) {
                            this.items = [];
                            toast__.fire({
                                type: 'success',
                                title: 'El material ha sido actualizado'
                            })
                        }
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        );
                    }).finally(()=>{
                        self.cargarAll();
                        this.dialogClose('dialogSimple');
                        this.loading = false;
                    });
            },
            eliminar(item) {
                let valores = {
                        id:item.id,
                        estado:0
                    }
                    swal__.fire({
                        title: "¿ Desea eliminar el material "+item.elemento+" ?",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, eliminar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/../eliminar/', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.items = [];
                                    self.cargarAll();
                                    toast__.fire({
                                        type: 'success',
                                        title: 'El material ha sido eliminado'
                                    })
                                }
                            })
                            .catch(errors => {
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            });
                        }
                    })

            },
            guardar() {
                console.log("guardar");
                this.$validator.validateAll();
                if (this.errors.any()) return;
                if(!this.$refs.form.validate())return;
                let valores={
                    proyecto_id:this.proyecto_item.proyecto_id,
                    item_id:this.id_url,
                    factor_id:this.materialSelected.id,
                    elemento:this.elemento,
                    cantidad:this.cantidad,
                    longitud:this.longitud,
                    ancho:this.ancho,
                    caras:this.caras,
                    area_real:this.area_real,
                    metrado_pieza:this.metrado_pieza,
                    metrado_parcial:this.metrado_parcial,
                    peso_parcial:this.peso_parcial,
                    factor_area:this.factor_area,
                    area_unitario:this.area_unitario,
                    area_parcial:this.area_parcial,
                    costo_acumulado:this.costo_acumulado,
                    costo_parcial:this.costo_parcial,
                    precio:this.materialSelected.precio_material,
                    procesos:this.procesos,
                }
                    this.loading = true;
                    axios.post(this.baseURL+'/../guardar/', valores)
                    .then(response => {
                        var data = response.data;
                        console.log(data);
                        this.items = [];
                        toast__.fire({
                            type: 'success',
                            title: 'El material ha sido registrado'
                        })
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        )
                    }).finally(()=>{
                        self.cargarAll();
                        this.dialogClose('dialogSimple');
                        this.loading = false;
                    });
            },
            openDialogSimpleNuevoInsumo(data){
                this.$store.commit('openDialogSimple',data);
            },
            nuevo(){
                this.resetValues();
                this.openDialogSimpleNuevoInsumo({openDialog:true,bodycard:'bodycardNuevoInsumo',buttons:'buttonsNuevoInsumo',titulo:'Registra nuevos materiales',maxwidth:'1000px'})
                setTimeout(() => {
                    this.$validator.validateAll();
                self.errors.any();
                }, 250);
            },
            resetValues(){
                this.material=null;
                this.material_nombre='';
                this.materialSelected=null;
                this.elemento='';
                this.cantidad=0;
                this.longitud=0;
                this.ancho=0;
                this.caras=0;
                this.area_real=0;
                this.metrado_pieza=0;
                this.metrado_parcial=0;
                this.peso_parcial=0;
                this.factor_area=0;
                this.area_unitario=0;
                this.area_parcial=0;
                this.costo_acumulado=0;
                this.costo_parcial=0;
                this.precio=0;
                this.procesos=[];
                this.insumo_id = '';
                this.modificando=false;
            },
            openDialogSimpleSeleccionMateriales(data){
                this.$store.commit('openDialogSimple2',data);
            },
            cargarMateriales(){
                this.openDialogSimpleSeleccionMateriales({openDialog:true,bodycard:'bodycardSeleccionMateriales',buttons:'buttonsSelectionMaterial',titulo:'Seleccione un material',maxwidth:'800px'});
                this.listarMateriales();
            },
            listarMateriales(){
                this.loadingTableMateriales=true;
                axios.get(this.baseURL+'/../../cargarmateriales')
                .then(response => {
                    var data = response.data;
                    self.itemsMateriales = data;
                    self.loadingTableMateriales=false;
                    console.log(data);
                })
                .catch(errors => {
                    console.log(errors);
                });
            },
            openDialogSimpleSeleccionProcesos(data){
                this.$store.commit('openDialogSimple2',data);
            },
            cargarProcesos(){
                this.openDialogSimpleSeleccionProcesos({openDialog:true,bodycard:'bodycardSeleccionProcesos',buttons:'buttonsSelectionProcesos',titulo:'Seleccione un proceso',maxwidth:'800px'});
                this.listarProcesos();
            },
            listarProcesos(){
                this.loadingTableProcesos=true;
                axios.get('/mantenimiento/procesos/cargar')
                .then(response => {
                    var data = response.data;
                    self.itemsProcesos = data;
                    self.loadingTableProcesos=false;
                    console.log(data);
                })
                .catch(errors => {
                    console.log(errors);
                });
            },
            calcularMaterial(){
                console.log("materialSelected",this.materialSelected);
                this.material_nombre=this.materialSelected.nombre_material;
                this.area_real = this.materialSelected.unidad == "m2" ? this.ancho : 1;
                console.log("area_real(",this.area_real,")",this.materialSelected.unidad,'== "m2" ? ',this.ancho, ':', 1);

                this.metrado_pieza = this.area_real*this.longitud*this.cantidad;
                console.log("metrado_pieza(",this.metrado_pieza,")",this.area_real,"*",this.longitud,"*",this.cantidad);
                this.metrado_parcial = this.metrado_pieza*this.proyecto_item.cantidad;
                console.log("metrado_parcial(",this.metrado_parcial,")",this.metrado_pieza,"*",this.proyecto_item.cantidad);
                this.peso_parcial = this.materialSelected.kilogramo_unidad *this.metrado_parcial;
                console.log("peso_parcial(",this.peso_parcial,")",this.materialSelected.kilogramo_unidad,"*",this.metrado_parcial);

                this.factor_area = this.materialSelected.factor_caras==2?this.caras:Math.min(this.caras,1);
                console.log("factor_area(",this.factor_area,")",this.materialSelected.factor_caras,"==2?",this.caras,":",Math.min(this.caras,1));

                this.area_unitario = this.materialSelected.metro_unidad * this.factor_area;
                console.log("area_unitario(",this.area_unitario,")",this.materialSelected.metro_unidad,"*",this.factor_area);

                this.area_parcial = this.area_unitario * this.metrado_parcial;
                console.log("area_parcial(",this.area_parcial,")",this.area_unitario,"*",this.metrado_parcial);
                setTimeout(() => {
                    this.calcularProceso();
                }, 200);
            },
            modifyProcesos(item,opcion){
                if (opcion=="remove") {
                    if (this.procesos.filter((c)=>{return c.id==item.id;}).length>0 ) {
                        this.procesos.splice(this.procesos.findIndex((x)=>{return x.id==item.id}),1);
                    }
                }else{
                    this.procesos.push(item);
                }
                this.calcularMaterial();
            },
            calcularProceso(){
                this.costoAcumulado=0;
                let acumcosto=0;
                console.log("calcularProceso")
                this.costo_acumulado = this.procesos
                .map((item_proceso)=> {
                    if (item_proceso.unidad=="m2"&&self.peso_parcial!=0) {
                    console.log("true");
                    console.log((item_proceso.costo*self.area_parcial/self.peso_parcial),"=",item_proceso.costo,"*",self.area_parcial,"/",self.peso_parcial);

                    }else{
                    console.log("false");
                    console.log(item_proceso.costo);

                    }
                    return acumcosto + (item_proceso.unidad=="kg"?item_proceso.costo:(item_proceso.unidad=="m2"&&self.peso_parcial!=0?((item_proceso.costo*self.area_parcial)/self.peso_parcial):0)); })
                .reduce((index,costo)=> {
                    return index+costo; },0);//este vendría siendo el acumulador
                this.costo_acumulado = parseFloat(this.costo_acumulado).toFixed(4);
                console.log('costo_acumulado',this.costo_acumulado);
                this.costo_parcial = this.costo_acumulado*this.peso_parcial;
            }
        }
    }
</script>



