<template>
    <div>
        <section class="content">
            <PanelContent :title="'Actualización de Precios'"  >
                <template v-slot:optionsbuttonstop>

                    <v-btn class="" :href="'../solicitud'"><v-icon left dark>arrow_left</v-icon>Lista de Proyectos</v-btn>
                    &nbsp;&nbsp;
                    <v-chip v-show="proyecto.estado_presupuesto==4" class="success" ><v-icon left dark>check</v-icon>Completado</v-chip>
                </template>
                <!--:class="proyecto.estado==0?'error':(item.estado==1?'info':'success')"-->
                <template v-slot:content>
                    <TableContent :title="'Lista de Materiales'" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:cantidad="{item}" >
                            {{parseFloat(item.cantidad||0).toFixed(2)}}
                        </template>
                        <template v-slot:peso="{item}" >
                            {{parseFloat(item.peso||0).toFixed(2)}}
                        </template>
                        <template v-slot:peso="{item}" >
                            {{parseFloat(item.peso||0).toFixed(2)}}
                        </template>
                        <template v-slot:total_area_parcial="{item}" >
                            {{parseFloat(item.total_area_parcial||0).toFixed(2)}}
                        </template>
                        <template  v-slot:precio_insumo_edit="props">
                            <v-edit-dialog :large="proyecto.estado_presupuesto==3" :persistent="proyecto.estado_presupuesto==3" :return-value.sync="props.item.precio_insumo"  @open="open"
                            > <code small>{{ props.item.precio_insumo }}</code>
                            <template v-slot:input>
                                <v-text-field :disabled="proyecto.estado_presupuesto!=3?true:(props.item.verificado==1)" min="0" type="number" v-model="props.item.precio_insumo" label="Editar" single-line autofocus
                                ></v-text-field>
                            </template>
                            </v-edit-dialog>
                        </template>
                        <template v-slot:footerDataTable >
                            <div align="right">
                                <span class="font-weight-black mr-2">T. Peso:</span> <v-chip class="success" color="white">{{totalPeso}}</v-chip>
                                <span class="font-weight-black mr-2">T. Área:</span> <v-chip class="success" color="white">{{totalArea}}</v-chip>
                                <span class="font-weight-black mr-2">T. Precio:</span> <v-chip class="success" color="white">{{totalPrecio}}</v-chip>
                            </div>
                        </template>
                        <template v-slot:checkVerificado="{item}" >
                            <!-- proyecto.estado_presupuesto!=3?true:(item.verificado==1) -->
                            <v-checkbox :disabled="proyecto.estado_presupuesto!=3" v-model="item.verificado" :value="item.verificado" @change="verificado(item)"

                            ></v-checkbox>
                        </template>
                    </TableContent>
                </template>

            </PanelContent>
        </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
var self;
var swal__;
var toast__;
    export default {
        name: 'PresupuestoListaInsumos',
        components:{
            PanelContent,TableContent
        },
       data: () => ({
            /* id desencriptado */
           id_url: null,
            /* id encriptado */
            id_encryp : null,
            loadingTable:false,
            loading:false,
            proyecto:{},
            totalPeso:0,
            totalArea:0,
            totalPrecio:0,
            itemsTodoVerificado:false,
            headers: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },{
                text: 'Código',
                align: 'left',
                value: 'codigo_material',
                 width: '100px',
              
                },
                {
                text: 'Descripción',
                align: 'left',
                value: 'nombre_material',
                  width: '200px',

                },
                {
                text: 'Unidad',
                align: 'center',
                value: 'unidad_',
              
                }
                ,{
                text: 'Cantidad',
                align: 'center',
                value: 'cantidad',
                },{
                text: 'Peso',
                align: 'center',
                value: 'peso',
                },{
                text: 'Área',
                align: 'center',
                value: 'total_area_parcial',
                },{
                text: 'Precio',
                align: 'center',
                value: 'precio_insumo',
                },{
                text: 'Verificado',
                align: 'left',
                value: 'verificado',
                sortable:false,
                },
            ],
            items: [],
            baseURL:null,
        }),

        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.$route.params.id = atob(this.$route.params.id);
            this.cargarAll();
        },
        methods:{
            calcularTotales(){
                this.totalPeso = this.number_format(this.items.map((x)=>{return x.peso||0}).reduce((i,x)=>{return x+i}),2);
                this.totalArea = this.number_format(this.items.map((x)=>{return x.total_area_parcial||0}).reduce((i,x)=>{return x+i}),2);
                //this.totalPrecio = parseFloat(this.items.map((x)=>{return parseFloat(x.precio_insumo||0)}).reduce((i,x)=>{return x+i})).toFixed(2);
                this.totalPrecio = this.number_format(this.items.map((x)=>{return parseFloat((x.precio_insumo||0)*(x.cantidad||0))}).reduce((i,x)=>{return x+i}),2);
            },
             number_format (number, decimals, dec_point, thousands_sep) {
    // Strip all characters but numerical ones.
    number = (number + '').replace(/[^0-9+\-Ee.]/g, '');
    var n = !isFinite(+number) ? 0 : +number,
        prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
        sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
        dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
        s = '',
        toFixedFix = function (n, prec) {
            var k = Math.pow(10, prec);
            return '' + Math.round(n * k) / k;
        };
    // Fix for IE parseFloat(0.55).toFixed(0) = 0;
    s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
    if (s[0].length > 3) {
        s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
    }
    if ((s[1] || '').length < prec) {
        s[1] = s[1] || '';
        s[1] += new Array(prec - s[1].length + 1).join('0');
    }
    return s.join(dec);
},
            cargarAll() {
                this.loadingTable=true;
                console.log(this.$route.params.id);
                let params={proyecto_id:this.$route.params.id}
                 axios.post(this.baseURL+'/../materiales',params)
                    .then(response => {
                        var data = response.data;
                        self.items=data.insumos;
                        self.proyecto=data.proyecto;
                        self.loadingTable=false;
                        //self.itemsTodoVerificado = self.items.length>0 && self.items.filter((x)=>{return x.verificado<=0}).length<=0;

                        this.calcularTotales();
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            open () {
                setTimeout(() => {
                    document.querySelector('.v-small-dialog__menu-content .v-small-dialog__actions button span').innerHTML="Cancelar"
                    document.querySelector('.v-small-dialog__menu-content .v-small-dialog__actions button').nextElementSibling.querySelector('span').innerHTML="Guardar"
                }, 100);
            },
            completar(){
                let valores={id:this.$route.params.id};
                    this.loading = true;
                    swal__.fire({

                         title: "¿ Desea completar la actualización de precios del proyecto "+self.proyecto.nombre+" ?",
                        text :"Esta acción es irreversible",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, completar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/../completarsolicitud', valores)
                            .then(response => {
                                var data = response.data;
                                toast__.fire({
                                    type: 'success',
                                    title: 'La Actualización de Precios ha sido completada.'
                                })
                            })
                            .catch(errors => {
                                swal__.fire(
                                'ERROR!',
                                'ha ocurrido un error: '+errors,
                                'error'
                                )
                            }).finally(()=>{
                                self.cargarAll();
                                this.loading = false;
                            });
                        }
                    })
            },

            verificado(item){
                if (this.proyecto.estado_presupuesto!=3) return false;
                let valores={insumo_id:item.insumo_id,precio:item.precio_insumo,verificado:item.verificado,proyecto_id:item.proyecto_id || 0};
                this.loading = true;
                axios.post(this.baseURL+'/../actualizarPrecio', valores)
                .then(response => {
                    toast__.fire({
                        type: 'success',
                        title: 'Precio actualizado.'
                    });
                    //self.itemsTodoVerificado = self.items.length>0 && self.items.filter((x)=>{return x.verificado<=0}).length<=0;

                    this.calcularTotales();
                })
                .catch(errors => {
                    swal__.fire(
                    'ERROR!',
                    'ha ocurrido un error: '+errors,
                    'error'
                    )
                })
            }
        }
    }
</script>



