<template>
    <div>
        <section class="content">
            <PanelContent :title="'Proyecto: '+(proyecto.nombre==undefined?'':proyecto.nombre)"  >
                <template v-slot:optionsbuttonstop>
                 <v-btn class="" :href="'/presupuesto'"><v-icon left dark>arrow_left</v-icon>Lista de Proyectos</v-btn>
                    &nbsp;&nbsp;
                    <!--v-btn v-show="proyecto.estado_presupuesto==4" :disabled="!editingmargen" class="primary" @click="proyecto.estado_presupuesto==4?guardar():''"><v-icon left dark>add</v-icon>Guardar</v-btn-->
                    <v-btn v-show="proyecto.estado_presupuesto==4" :disabled="editingmargen" class="success" @click="proyecto.estado_presupuesto==4?completar():''"><v-icon left dark>check</v-icon>Completar</v-btn>
                    <v-chip v-show="proyecto.estado_presupuesto==5" class="success" ><v-icon left dark>check</v-icon>Completado</v-chip>


                </template>
                <!--:class="proyecto.estado==0?'error':(item.estado==1?'info':'success')"-->

                <template v-slot:content>
                    <TableContent :title="'Lista'" name="presupuestoConsolidado" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:peso="{item}" >
                            {{parseFloat(item.peso||0).toFixed(2)}}
                        </template>
                        <template v-slot:area="{item}" >
                            {{parseFloat(item.area||0).toFixed(2)}}
                        </template>
                        <template v-slot:m_o="{ item }">
                            {{parseFloat(item.m_o||0).toFixed(2)}}
                        </template>
                        <template  v-slot:costo="{ item }">
                            {{parseFloat(item.costo||0).toFixed(2)}}
                        </template>
                        <template  v-slot:material="{ item }">
                            {{parseFloat(item.material||0).toFixed(2)}}
                        </template>

                        <!--template v-slot:inputsAsideSearch>
                            <v-chip class="info">Margen (%): </v-chip>&nbsp;
                            <v-text-field
                                :disabled="proyecto.estado_presupuesto!=4"
                                v-model="margen"
                                type="number"
                                min="0"
                                label="Margen (%)"
                                single-line
                                hide-details
                                @change="editingmargen=true;calculoMargen()"
                            ></v-text-field>
                        </template-->
                        <template v-slot:footerDataTable>
                        <div align="right">
                            <span class="font-weight-black mr-2">T. Área:</span> <v-chip class="success" color="white">{{totalArea}}</v-chip>
                            <span class="font-weight-black mr-2">Y. Peso:</span> <v-chip class="success" color="white">{{totalPeso}}</v-chip>
                            <span class="font-weight-black mr-2">T. Material:</span> <v-chip class="success" color="white">{{totalMaterial}}</v-chip>
                            <span class="font-weight-black mr-2">T. M.O.:</span> <v-chip class="success" color="white">{{totalMo}}</v-chip>
                            <span class="font-weight-black mr-2">T. Costo:</span> <v-chip class="success" color="white">{{totalCosto}}</v-chip>
                            <span class="font-weight-black mr-2">T. Unitario:</span> <v-chip class="success" color="white">{{totalUnitario}}</v-chip>
                            <!--<span class="font-weight-black mr-2">T. Parcial:</span> <v-chip class="success" color="white">{{totalParcial}}</v-chip>-->
                        </div>
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
var self;
var swal__;
var toast__;
    export default {
        name: 'Tracking',
        components:{
            PanelContent,TableContent
        },
       data: () => ({
            editingmargen:false,
            loadingTable:false,
            loading:false,
            proyecto:{},
            totalArea:0,
            totalPeso:0,
            totalMaterial:0,
            totalMo:0,
            totalCosto:0,
            totalUnitario:0,
            totalParcial:0,
            margen:0,
            headers: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },{
                text: 'Descripción',
                align: 'left',
                value: 'item_nombre',
                width: '150px',
                },
                {
                text: 'Unidad',
                align: 'center',
                value: 'unidad_',
               
                },{
                text: 'Cantidad',
                align: 'center',
                value: 'item_cantidad',
                },{
                text: 'Área',
                align: 'center',
                value: 'area',
                },{
                text: 'Peso',
                align: 'center',
                value: 'peso',
                },{
                text: 'Material',
                align: 'center',
                value: 'material',
                },{
                text: 'M.O.',
                align: 'center',
                value: 'm_o',
                },{
                text: 'Costo',
                align: 'center',
                value: 'costo',
                },{
                text: 'Unitario',
                align: 'center',
                value: 'unitario',
                },/*{
                text: 'Parcial',
                align: 'center',
                value: 'parcial',
                },*/
            ],
            items: [],
            baseURL:null,
        }),

        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.$route.params.id = atob(this.$route.params.id);

            this.cargarAll();
        },
        methods:{
            calculoMargen(){
                this.items.forEach((obj) => {
                    obj.margen = (self.margen*obj.costo);
                    obj.unitario = (obj.item_cantidad>0?((obj.costo+obj.margen)/obj.item_cantidad):0) ;
                    obj.parcial = obj.item_cantidad*obj.unitario;
                });
                this.calcularTotales();
            },
            calcularTotales(){
                this.totalArea = this.number_format(this.items.map((x)=>{return x.area||0}).reduce((i,x)=>{return x+i}),2);
                this.totalPeso = this.number_format(this.items.map((x)=>{return x.peso||0}).reduce((i,x)=>{return x+i}),2);
                this.totalMaterial=this.number_format(this.items.map((x)=>{return x.material||0}).reduce((i,x)=>{return x+i}),2);
                this.totalMo=this.number_format(this.items.map((x)=>{return x.m_o||0}).reduce((i,x)=>{return x+i}),2);
                this.totalCosto=this.number_format(this.items.map((x)=>{return x.costo||0}).reduce((i,x)=>{return x+i}),2);
                this.totalUnitario=this.number_format(this.items.map((x)=>{return x.unitario||0}).reduce((i,x)=>{return x+i}),2);
                //this.totalParcial=parseFloat(this.items.map((x)=>{return x.parcial||0}).reduce((i,x)=>{return x+i})).toFixed(2);
            },
             number_format (number, decimals, dec_point, thousands_sep) {
    // Strip all characters but numerical ones.
    number = (number + '').replace(/[^0-9+\-Ee.]/g, '');
    var n = !isFinite(+number) ? 0 : +number,
        prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
        sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
        dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
        s = '',
        toFixedFix = function (n, prec) {
            var k = Math.pow(10, prec);
            return '' + Math.round(n * k) / k;
        };
    // Fix for IE parseFloat(0.55).toFixed(0) = 0;
    s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
    if (s[0].length > 3) {
        s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
    }
    if ((s[1] || '').length < prec) {
        s[1] = s[1] || '';
        s[1] += new Array(prec - s[1].length + 1).join('0');
    }
    return s.join(dec);
},
            cargarAll() {
                this.loadingTable=true;
                let params={proyecto_id:this.$route.params.id}
                 axios.post(this.baseURL+'/..',params)
                    .then(response => {
                        var data = response.data;
                        self.items=data.items;
                        self.proyecto=data.proyecto;
                        self.margen = data.porcentaje.porcentaje || 0;
                        self.loadingTable=false;
                        //this.calculoMargen();
                        this.calcularTotales();
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            guardar() {
                let valores={proyecto_id:this.$route.params.id,margen:this.margen};
                this.loading = true;
                axios.post(this.baseURL+'/../margen', valores)
                .then(response => {
                    toast__.fire({
                        type: 'success',
                        title: 'Presupuesto actualizado'
                    })
                    self.editingmargen=false;
                })
                .catch(errors => {
                    swal__.fire(
                    'ERROR!',
                    'ha ocurrido un error: '+errors,
                    'error'
                    )
                })
            },
            open () {
                setTimeout(() => {
                    document.querySelector('.v-small-dialog__menu-content .v-small-dialog__actions button span').innerHTML="Cancelar"
                    document.querySelector('.v-small-dialog__menu-content .v-small-dialog__actions button').nextElementSibling.querySelector('span').innerHTML="Guardar"
                }, 100);
            },
            completar(){
                let valores={id:this.$route.params.id};
                    this.loading = true;
                    swal__.fire({
                       title: "¿ Desea completar el presupuesto del proyecto "+self.proyecto.nombre+" ?",
                        text :"Esta acción es irreversible",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, completar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/../completar', valores)
                            .then(response => {
                                var data = response.data;
                                toast__.fire({
                                    type: 'success',
                                    title: 'El presupuesto ha sido completado'
                                })
                            })
                            .catch(errors => {
                                swal__.fire(
                                'ERROR!',
                                'ha ocurrido un error: '+errors,
                                'error'
                                )
                            }).finally(()=>{
                                self.cargarAll();
                                this.loading = false;
                            });
                        }
                    })
            }
        }
    }
</script>
