<template>
    <div>
        <section class="content">
            <PanelContent :title="'Presupuesto'">
                <template v-slot:content>
                    <TableContent :title="'Lista de proyectos'" name="PresupuestoRegistraProyectos" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:btnAcciones="{item}" >
                            <Menu :list_menu="listar_menu(item)" :_item="item">

                            </Menu>
                            <!--v-btn small v-if="item.estado_tracking!=3 && item.estado_tracking!=0" class="info" @click="listarInsumosProyecto(item)">Ver materiales</v-btn>
                            <v-btn small v-if="item.estado_tracking!=3 && item.estado_tracking!=0" class="info" @click="pantallaItems(item)"><v-icon left dark>open_in_new</v-icon>Items</v-btn>
                            <v-btn small title="Cancelar" v-if="item.estado_tracking!=0&& item.estado_presupuesto==1" class="error" @click="cancelar(item)" >
                                Cancelar
                            </v-btn-->
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
            <DialogSimple >
                
                <template v-slot:bodycardListadoInsumos>
                    <TableContent :title="'Lista de Materiales'" :headers="headersMateriales" :items="itemsMateriales" :loading="loadingTableMateriales">
                        <template v-slot:cantidad="{item}" >
                            {{parseFloat(item.cantidad||0).toFixed(2)}}
                        </template>
                    </TableContent>
                </template>
                <template v-slot:buttons>
                    <v-btn style="margin-right:20px" @click="dialogClose('dialogSimple')" >Cerrar</v-btn>
                </template>
            </DialogSimple>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
import DialogSimple from '../components/DialogSimple';
import Menu from '../components/Menu';

var self;
var swal__;
var toast__;
    export default {
        name: 'PresupuestoRegistraProyecto',
        components:{
            PanelContent,TableContent,DialogSimple,Menu
        },
        data () {
      return {
          valid:true,
            modificando:false,
            proyecto_id:null,
            proyecto:{},
            loadingTable:false,
            loadingTableMateriales:false,
            loading:false,
            headers: [
                                 {
                    text: 'N°',
                    align: 'center',
                    value: 'id',
                    width: '40px',
                    },
                    {
                    text: 'Código',
                    align: 'left',
                    value: 'codigo',
                    width: '130px',
                    },
                    {
                    text: 'Proyecto',
                    align: 'left',
                    value: 'nombre',
                    width: '170px',
                    },
                    {
                    text: 'Cliente',
                    align: 'left',
                    value: 'nombre_cliente',
                    width: '200px',
                    },
                     {
                    text: 'User',
                    align: 'left',
                    value: 'user',
                    width: '150px',
                    },
                    { 
                    text: 'Estado',
                    align: 'center',
                    value: 'estado_presupuesto',
                    width: '100px',
                    },
                   
                    { text: 'Acciones', align: 'left',value: 'action', sortable: false },
            ],
            items: [],
            headersMateriales: [
                  {
                text: 'N°',
                align: 'center',
                value: 'id',
                },{
                text: 'Código',
                align: 'center',
                value: 'codigo_material',
                },{
                text: 'Descripción',
                align: 'center',
                value: 'nombre_material',
                },{
                text: 'Elemento',
                align: 'center',
                value: 'elemento',
                },{
                text: 'Cantidad',
                align: 'center',
                value: 'cantidad',
                },{
                text: 'Longitud',
                align: 'center',
                value: 'longitud',
                },{
                text: 'Ancho',
                align: 'center',
                value: 'ancho',
                },{
                text: 'Caras',
                align: 'center',
                value: 'caras',
                },{
                text: 'Área Real',
                align: 'center',
                value: 'area_real',
                },{
                text: 'Metrado Pieza',
                align: 'center',
                value: 'metrado_pieza',
                },{
                text: 'Metrado Parcial',
                align: 'center',
                value: 'metrado_parcial',
                },{
                text: 'Peso Parcial',
                align: 'center',
                value: 'peso_parcial',
                },{
                text: 'Factor Área',
                align: 'center',
                value: 'factor_area',
                },{
                text: 'Área Unitario',
                align: 'center',
                value: 'area_unitario',
                },{
                text: 'Área Parcial',
                align: 'center',
                value: 'area_parcial',
                },
                {
                text: 'Costo Acumulado',
                align: 'center',
                value: 'costo_acumulado',
                },{
                text: 'Costo Parcial',
                align: 'center',
                value: 'costo_parcial',
                },{ text: 'Procesos',
                align: 'center',
                value: 'cantidad_procesos',
                },{ text: 'Fecha',
                align: 'center',
                value: 'fecha_creacion',
                },
            ],
            itemsMateriales: [],
            list_menu:[],
            baseURL:null,
      }
    },
    created:function(){
    },
    mounted() {
        this.baseURL = this.$router.currentRoute.path;
        self=this;
        swal__ = this.$store.getters.getSwal;
        toast__ = this.$store.getters.getToastDefault;
        this.$validator.localize('es', this.dictionary);
        this.cargarAll();
    },
    methods:{
        listar_menu(item){
                return this.list_menu =[{click:this.listarInsumosProyecto,class:'info',nombre:'Ver materiales',icono:'visibility',_if:item.estado_tracking!=3 && item.estado_tracking!=0},
            {click:this.pantallaItems,class:'info',nombre:'Items',icono:'open_in_new',_if:item.estado_tracking!=3 && item.estado_tracking!=0},
            {click:this.cancelar,class:'error',nombre:'Cancelar',icono:'delete',_if:item.estado_tracking!=0&& item.estado_presupuesto==1}];
            },
        dialogClose(tipo){
                this.$store.state[tipo].dialog = false;
            },
            cargarAll() {
                this.loadingTable=true; 
                 axios.get(this.baseURL+'/cargar')
                    .then(response => {
                        var data = response.data;
                        self.items=data;
                        self.loadingTable=false;
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            pantallaItems(item) {
                this.$store.dispatch('setProyecto',item);
                location.href=axios.defaults.baseURL+"presupuesto/items/"+btoa(item.id);
            },
            openDialogSimpleListadoInsumos(data){
                this.$store.commit('openDialogSimple',data);
            },
            listarInsumosProyecto(item){
                this.openDialogSimpleListadoInsumos({openDialog:true,bodycard:'bodycardListadoInsumos',buttons:'buttons',titulo:'Lista de Materiales',maxwidth:'800px'})
                this.loadingTableMateriales=true;
                let params = {id:item.id}
                axios.post(this.baseURL+'/insumos',params)
                .then(response => {
                    var data = response.data;
                    self.itemsMateriales = data;
                    self.loadingTableMateriales=false;
                })
                .catch(errors => {
                    console.log(errors);
                });
            }, 
            cancelar(item) {
                let valores = {
                        id:item.id,
                        estado:0
                    }
                    swal__.fire({
                        title: "¿ Desea cancelar el proyecto "+item.nombre+" ?",
                        text :"Esta acción es irreversible",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, cancelar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/cancelar/', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.items = [];
                                    self.cargarAll();
                                    toast__.fire({
                                        type: 'success',
                                        title: 'El proyecto ha sido cancelado'
                                    })
                                }
                            })
                            .catch(errors => {
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            });
                        }
                    })

            }, 
             resetValues(){
                this.modificando = false;
                this.cantidad = null;
                this.descripcion=null;
                this.precio=null;
            }

    }
    }
</script>



