<template>
    <div>
        <section class="content">
            <PanelContent :title="'Proyecto '+proyecto.nombre"  >
                <template v-slot:optionsbuttonstop>
                    <v-btn class="" href="../proyectos"><v-icon left dark>arrow_left</v-icon>Lista de Proyectos</v-btn>
                    &nbsp;
                    <v-btn v-show="proyecto.estado_presupuesto==1" class="dark" @click="proyecto.estado_presupuesto==1?nuevo():''"><v-icon left dark>add</v-icon>Nuevo</v-btn>
                    &nbsp;
                    <v-btn  v-if="proyecto.estado_tracking!=3 && proyecto.estado_tracking!=0" class="" @click="dialogServicios(item)">Servicios</v-btn>
                    &nbsp;
                    <v-btn  v-show="proyecto.estado_presupuesto==1 && existMaterial" class="success" @click="proyecto.estado_presupuesto==1?completar(proyecto):''" ><v-icon dark>check</v-icon>Completar</v-btn>
                   <!--v-chip v-if="(proyecto.estado_presupuesto!=null && proyecto.estado_presupuesto!=1)" :class="proyecto.estado_presupuesto==0?'error':''">{{(proyecto.estado==0?'Cancelado':(proyecto.estado_presupuesto==2?'Lista de Materiales':(proyecto.estado_presupuesto==3?'Solicitud de Abastecimiento':(proyecto.estado_presupuesto==4?'Presupuesto':'Completado'))))}}</v-chip-->
                </template>
                <!--:class="proyecto.estado==0?'error':(item.estado==1?'info':'success')"-->
                <template v-slot:content>
                    <TableContent :title="'Lista de Items'" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:cantidad="{item}" >
                            {{parseFloat(item.cantidad||0).toFixed(2)}}
                        </template>
                        <template v-slot:btnAcciones="{item}" >
                            <Menu :list_menu="listar_menu(item)" :_item="item">

                            </Menu>
                            <template  >
                                <!--v-btn small class="info" @click="pantallaInsumos(item)"><v-icon left dark>open_in_new</v-icon>Materiales</v-btn>
                                <v-chip v-if="proyecto.estado_presupuesto==1" @click="cargar(item)" title="Modificar" class="warning ">
                                    <v-icon class="white--text" small  > edit </v-icon>
                                </v-chip>
                                <v-chip  v-if="proyecto.estado_presupuesto==1 && item.numero_insumos<=0" @click="eliminar(item)" title="Eliminar" class="error">
                                    <v-icon small class="white--text" > delete </v-icon>
                                </v-chip-->
                            </template>
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
            <DialogSimple >
                <template v-slot:optionsButtonsTopNuevoServicio>
                    <v-btn v-if="proyecto.estado_presupuesto==1" style="margin-right:20px" @click="nuevoServicio()" ><v-icon left dark>add</v-icon>Nuevo</v-btn>
                </template>
                <template v-slot:bodycardListadoServicios>
                    <TableContent :title="'Lista de Servicios'" :headers="headersListaServicios" :items="itemsListaServicios" :loading="loadingTableListaServicios">
                        <template v-slot:precio_servicio="{item}" >
                            {{parseFloat(item.precio||0).toFixed(2)}}
                        </template>
                        <template v-slot:cantidad="{item}" >
                            {{parseFloat(item.cantidad||0)}}
                        </template>
                        <template v-slot:btnAcciones="{item}" >
                            <template>
                                <v-chip v-if="proyecto.estado_presupuesto==1" @click="cargar_servicio(item)" title="Modificar" class="warning ">
                                    <v-icon class="white--text" small  > edit </v-icon>
                                </v-chip>
                                <v-chip v-if="proyecto.estado_presupuesto==1" @click="eliminar_servicio(item)" title="Eliminar" class="error">
                                    <v-icon small class="white--text" > delete </v-icon>
                                </v-chip>
                            </template>
                        </template>
                    </TableContent>
                </template>
                <template v-slot:buttonsListadoServicios>
                    <v-btn style="margin-right:20px" @click="dialogClose('dialogSimple')" >Cerrar</v-btn>
                </template>
                <template v-slot:bodycardNuevoServicio>
                    <v-form ref="form" v-model="valid" lazy-validation>
                        <v-container >
                            <v-row>
                                <v-col cols="12" sm="4" md="4">
                                    <v-text-field v-model="descripcion"  v-validate="'required'" :error-messages="errors.collect('descripcion')"  data-vv-name="descripcion" required   label="Descripcion"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="4" md="4">
                                    <v-text-field v-model="cantidad_servicio" :rules="[v => v>0 || 'Debe ser mayor a cero']"  min="0" v-validate="'required'" :error-messages="errors.collect('cantidad_servicio')"  data-vv-name="cantidad_servicio" required type="number" label="Cantidad"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="4" md="4">
                                    <v-text-field v-model="precio" :rules="[v => v>0 || 'Debe ser mayor a cero']"  min="0" v-validate="'required'" :error-messages="errors.collect('precio')"  data-vv-name="precio" required type="number" step="0.01" label="Precio"></v-text-field>
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-form>
                </template>
                <template v-slot:buttonsNuevoServicio>
                    <v-btn color="primary" :loading="loadingNuevoServicio" :disabled="loadingNuevoServicio" @click="modificando_servicio?editar_servicio():guardar_servicio()" >{{modificando_servicio?'Modificar':'Guardar'}}</v-btn>
                    <v-btn @click="dialogClose('dialogSimple2')" >Cancelar</v-btn>
                </template>
                <template v-slot:bodycardNuevoItem>
                    <v-form ref="form" v-model="valid" lazy-validation>
                        <v-container >
                            <v-row>
                                <v-col cols="10" sm="6" md="5">
                                    <v-text-field v-model="nombre"  v-validate="'required'" :error-messages="errors.collect('nombre')"  data-vv-name="nombre" required   label="Nombre"></v-text-field>
                                </v-col>
                                <v-col cols="10" sm="6" md="3">
                                    <v-text-field  :disabled="cantidadDisabled"  v-model="cantidad" :rules="[v => v>0 || 'Debe ser mayor a cero']"  min="0" v-validate="'required'" :error-messages="errors.collect('cantidad')"  data-vv-name="cantidad" required type="number" label="Cantidad"></v-text-field>
                                </v-col>
                            </v-row>

                        </v-container>
                    </v-form>
                </template>
                <template v-slot:buttonsNuevoItem>
                    <v-btn color="primary" :loading="loading" :disabled="loading" @click="modificando?editar():guardar()" >{{modificando?'Modificar':'Guardar'}}</v-btn>
                        <v-btn @click="dialogClose('dialogSimple')" >Cancelar</v-btn>
                </template>
            </DialogSimple>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
import DialogSimple from '../components/DialogSimple';
import Menu from '../components/Menu';
var self;
var swal__;
var toast__;
    export default {
        name: 'PresupuestoRegistraItems',
        components:{
            PanelContent,TableContent,DialogSimple,Menu
        },
       data: () => ({
             /* id desencriptado */
           id_url: null,
            /* id encriptado */
            loadingTableListaServicios:false,
            loadingNuevoServicio:false,
            descripcion:null,
            cantidad_servicio:null,
            precio:null,
            modificando_servicio:false,
            servicio_id:null,

            existMaterial:false,
            id_encryp : null,
            modificando:false,
            valid:true,
            proyecto:{},

            item_id:null,
            nombre:'',
            cantidad:0,

            loadingTable:false,
            loading:false,
cantidadDisabled:false,
            dictionary: {
                custom: {
                    nombre: {
                    required: () => 'Ingrese el nombre',
                    },cantidad: {
                    required: () => 'Ingrese una cantidad',
                    },cantidad_servicio: {
                        required: () => 'Ingrese una cantidad',
                    },descripcion: {
                        required: () => 'Ingrese una descripción',
                    },precio: {
                        required: () => 'Ingrese un precio',
                    },
                }
            },
            headers: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                  width: '50px',
                },{
                text: 'Nombre',
                align: 'left',
                value: 'nombre',
                  width: '170px',
                },
                {
                text: 'Cantidad',
                align: 'center',
                value: 'cantidad',
                  width: '150px',
                },{ text: 'Fecha',
                align: 'center',
                value: 'fecha_creacion',
                  width: '100px',
                },
                { text: 'Acciones',  align: 'left',value: 'action', sortable: false },
            ],
            items: [],
            headersListaServicios: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },{
                text: 'Descripción',
                align: 'center',
                value: 'descripcion',
                },
                {
                text: 'Precio',
                align: 'center',
                value: 'precio',
                },{
                text: 'Cantidad',
                align: 'center',
                value: 'cantidad',
                },{ text: 'Fecha',
                align: 'center',
                value: 'fecha_creacion',
                },
                { text: 'Acciones',  width:'200px', align: 'left',value: 'action', sortable: false },
            ],
            itemsListaServicios: [],
            list_menu:[],
            baseURL:null,
        }),

        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.$validator.localize('es', this.dictionary);
            //this.proyecto = this.$store.getters.getProyecto;
            //console.log(this.$store.getters.getProyecto)
            this.cargarAll();
        },
        methods:{
            listar_menu(item){
                return this.list_menu =[{click:this.pantallaInsumos,class:'info',nombre:'Materiales',icono:'open_in_new'},
            {click:this.cargar,class:'warning',nombre:'Modificar',icono:'edit',_if:this.proyecto.estado_presupuesto==1},
            {click:this.eliminar,class:'error',nombre:'Eliminar',icono:'delete',_if:this.proyecto.estado_presupuesto==1 /*&& item.numero_insumos<=0*/}];
            },
            dialogClose(tipo){
                this.$store.state[tipo].dialog = false;
            },
            cargarAll() {
                this.id_url =atob(this.$route.params.id);
                console.log("lesly"+this.id_url)
                this.id_encryp = this.$route.params.id;
                this.loadingTable=true;
                let params = {
                    id:this.id_url
                }
                 axios.post(this.baseURL+'/../cargar/',params)
                    .then(response => {
                        var data = response.data;
                        self.items=data.items;
                        self.existMaterial = self.items.length>0 && self.items.filter((x)=>{return x.numero_insumos<=0}).length<=0;
                        self.proyecto=data.proyecto;
                        self.loadingTable=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },

            cargar(item) {
                let valores = {id:item.id}
                this.modificando=true;
                 axios.post(this.baseURL+'/../buscar/', valores)
                    .then(response => {
                        var data = response.data;
                        this.nombre=data.nombre;
                        this.cantidad=data.cantidad;
                        this.cantidadDisabled = data.numero_insumos>0;
                        this.item_id=data.id;
                        self.openDialogSimpleNuevoItem({openDialog:true,bodycard:'bodycardNuevoItem',buttons:'buttonsNuevoItem',titulo:'Modificar item',maxwidth:'800px'});
                        this.$validator.validateAll();
                        self.errors.any();
                        setTimeout(() => {
                            self.$refs.form.validate();
                        }, 200);
                        console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            editar() {
                this.$validator.validateAll();
                if (this.errors.any()) return false;
                if(!this.$refs.form.validate())return;

                let valores = {
                        id : this.item_id,
                        proyecto_id:this.id_url,
                        nombre : this.nombre,
                        cantidad : this.cantidad,
                    }
                    this.loading = true;
                 axios.patch(this.baseURL+'/../editar/', valores)
                    .then(response => {
                        var data = response.data;
                        if (response.data==1) {
                            this.items = [];
                            toast__.fire({
                                type: 'success',
                                title: 'El item ha sido actualizado'
                            })
                        }
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        );
                    }).finally(()=>{
                        self.cargarAll();
                        this.dialogClose('dialogSimple');
                        this.loading = false;
                    });
            },
            eliminar(item) {
                console.log("eliminar",this.proyecto);
                let valores = {
                        id:item.id,
                        estado:0,
                        proyecto_id:this.proyecto.id
                    }
                    swal__.fire({
                        title: "¿ Desea eliminar el item "+item.nombre+" ?",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, eliminar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/../eliminartodos/', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.items = [];
                                    self.cargarAll();
                                    toast__.fire({
                                        type: 'success',
                                        title: 'El item ha sido eliminado'
                                    })
                                }
                            })
                            .catch(errors => {
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            });
                        }
                    })

            },
            guardar() {
                console.log("guardar");
                this.$validator.validateAll();
                if (this.errors.any()) return;
                if(!this.$refs.form.validate())return;
                let valores={
                    proyecto_id:this.id_url,
                    nombre:this.nombre,
                    cantidad:this.cantidad,
                }

                    this.loading = true;
                    axios.post(this.baseURL+'/../guardar/', valores)
                    .then(response => {
                        var data = response.data;
                        console.log(data);
                        this.items = [];
                        toast__.fire({
                            type: 'success',
                            title: 'El item ha sido registrado'
                        })
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        )
                    }).finally(()=>{
                        self.cargarAll();
                        this.dialogClose('dialogSimple');
                        this.loading = false;
                    });
            },
            completar(item){
                let valores = {
                        id:item.id,
                        estado:0
                    }
                    swal__.fire({
                        title: "¿ Desea completar el registro de items y servicios para el proyecto "+item.nombre+" ?",
                        text :"Esta acción es irreversible",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, completar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/../completar', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.items = [];
                                    self.cargarAll();
                                    toast__.fire({
                                        type: 'success',
                                        title: 'El proyecto ha sido completado'
                                    })
                                }
                            })
                            .catch(errors => {
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            });
                        }
                    })

            },
            openDialogSimpleNuevoItem(data){
                this.$store.commit('openDialogSimple',data);
            },
            nuevo(){
                this.resetValues();
                this.openDialogSimpleNuevoItem({openDialog:true,bodycard:'bodycardNuevoItem',buttons:'buttonsNuevoItem',titulo:'Registra nuevo item',maxwidth:'800px'})
                setTimeout(() => {
                    this.$validator.validateAll();
                    self.errors.any();
                    this.$refs.form.validate();

                }, 250);
            },
            openDialogSimpleListadoServicios(data){
                
                this.$store.commit('openDialogSimple',data);
            },
            dialogServicios(item){
                this.openDialogSimpleListadoServicios({openDialog:true,bodycard:'bodycardListadoServicios',buttons:'buttonsListadoServicios',optionsbuttonstop:'optionsButtonsTopNuevoServicio',titulo:'Lista de Servicios',maxwidth:'1000px'})
                this.listarServicios();
            },
            listarServicios(){
                
                this.loadingTableListaServicios=true;
                let params = {proyecto_id:this.proyecto.id}
                axios.post(this.baseURL+'/../../servicio/cargar',params)
                .then(response => {
                    var data = response.data;
                    self.itemsListaServicios= data.items;
                    self.loadingTableListaServicios=false;
                })
                .catch(errors => {
                    console.log(errors);
                });
            }
            ,openDialogSimpleNuevoServicio(data){
                this.$store.commit('openDialogSimple2',data);
            },
            nuevoServicio(){
                this.resetValues();
                this.openDialogSimpleNuevoServicio({openDialog:true,bodycard:'bodycardNuevoServicio',buttons:'buttonsNuevoServicio',titulo:'Nuevo servicio',maxwidth:'800px'});
                setTimeout(() => {
                    this.$validator.validateAll();
                    self.errors.any();
                }, 250);
            },cargar_servicio(item) {
                this.resetValues();
                let valores = {id:item.id}
                this.modificando_servicio=true;
                 axios.post(this.baseURL+'/../../servicio/buscar/', valores)
                    .then(response => {
                        var data = response.data;
                        this.descripcion=data.descripcion;
                        this.cantidad_servicio=data.cantidad;
                        this.precio=data.precio;
                        this.servicio_id=data.id;
                        this.openDialogSimpleNuevoServicio({openDialog:true,bodycard:'bodycardNuevoServicio',buttons:'buttonsNuevoServicio',titulo:'Modificar servicio',maxwidth:'800px'});
                        this.$validator.validateAll();
                        self.errors.any();
                        setTimeout(() => {
                            self.$refs.form.validate();
                        }, 200);
                        console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            editar_servicio() {
                this.$validator.validateAll();
                if (this.errors.any()) return false;
                if(!this.$refs.form.validate())return;

                let valores = {
                        id : this.servicio_id,
                        proyecto_id:this.proyecto.id,
                        descripcion : this.descripcion,
                        precio : this.precio,
                        cantidad : this.cantidad_servicio,
                    }
                    this.loading = true;
                 axios.patch(this.baseURL+'/../../servicio/editar/', valores)
                    .then(response => {
                        var data = response.data;
                        if (response.data==1) {
                            this.items = [];
                            toast__.fire({
                                type: 'success',
                                title: 'El servicio ha sido actualizado'
                            })
                        }
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        );
                    }).finally(()=>{
                        self.listarServicios();
                        this.dialogClose('dialogSimple2');
                        this.loadingNuevoServicio = false;
                    });
            },
            eliminar_servicio(item) {
                let valores = {
                        id:item.id,
                        estado:0
                    }
                    swal__.fire({
                        title: "¿ Desea eliminar el servicio "+item.descripcion+" ?",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, eliminar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/../../servicio/eliminar/', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.itemsListaServicios = [];
                                    self.listarServicios();
                                    toast__.fire({
                                        type: 'success',
                                        title: 'El servicio ha sido eliminado'
                                    })
                                }
                            })
                            .catch(errors => {
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            });
                        }
                    })

            },
            guardar_servicio() {
                console.log("guardar");
                this.$validator.validateAll();
                if (this.errors.any()) return;
                if(!this.$refs.form.validate())return;
                let valores={
                    proyecto_id:this.proyecto.id,
                    descripcion:this.descripcion,
                    precio:this.precio,
                    cantidad:this.cantidad_servicio,
                }

                    this.loadingNuevoServicio = true;
                    axios.post(this.baseURL+'/../../servicio/guardar/', valores)
                    .then(response => {
                        var data = response.data;
                        console.log(data);
                        this.itemsListaServicios = [];
                        toast__.fire({
                            type: 'success',
                            title: 'El servicio ha sido registrado'
                        })
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        )
                    }).finally(()=>{
                        this.listarServicios();
                        this.dialogClose('dialogSimple2');
                        this.loadingNuevoServicio = false;
                    });
            },
            resetValues(){
                this.nombre = '';
                this.cantidad = 0;
                this.item_id = '';
                this.descripcion = null;
                this.cantidad_servicio = null;
                this.precio = null;

                this.modificando=false;
                this.modificando_servicio=false;
                this.cantidadDisabled=false;
            },
            pantallaInsumos(item){
                //this.$store.dispatch('setProyecto',item);
                location.href=window.axios.defaults.baseURL+"presupuesto/insumos/"+btoa(item.id);
            }

        }
    }
</script>



