<template>
    <div>
        <section class="content">
            <PanelContent :title="'Lista de Materiales'"  >
                <template v-slot:optionsbuttonstop>
                    <v-btn v-show="proyecto.estado_presupuesto==2" :disabled="!editing" @click="proyecto.estado_presupuesto==2?guardar():''"><v-icon left dark>add</v-icon>Guardar</v-btn>
                    &nbsp;
                    <v-btn v-show="proyecto.estado_presupuesto==2" :disabled="editing" class="success" @click="proyecto.estado_presupuesto==2?completar():''"><v-icon left dark>check</v-icon>Completar</v-btn>
                    <v-chip v-show="proyecto.estado_presupuesto==3" class="success" ><v-icon left dark>check</v-icon>Completado</v-chip>
                    &nbsp;&nbsp;
                    <v-btn class="" :href="'../materiales'"><v-icon left dark>arrow_left</v-icon>Lista de Proyectos</v-btn>
                </template>
                <!--:class="proyecto.estado==0?'error':(item.estado==1?'info':'success')"-->
                <template v-slot:content>
                    <TableContent :title="'Lista de Materiales'"  :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:calculo_piezas="{item}" >
                            {{parseFloat(item.calculo_piezas||0).toFixed(2)}}
                        </template>
                        <template v-slot:kilogramo_pieza="{item}" >
                            {{parseFloat(item.kilogramo_pieza||0).toFixed(2)}}
                        </template>
                        <template v-slot:calculo_peso_parcial="{item}" >
                            {{parseFloat(item.calculo_peso_parcial||0).toFixed(2)}}
                        </template>
                        <template v-slot:calculo_precio_pieza="{item}" >
                            {{parseFloat(item.calculo_precio_pieza||0).toFixed(2)}}
                        </template>
                        <template v-slot:calculo_precio_parcial="{item}" >
                            {{parseFloat(item.calculo_precio_parcial||0).toFixed(2)}}
                        </template>
                        <template v-slot:total_area_parcial="{item}" >
                            {{parseFloat(item.total_area_parcial||0).toFixed(2)}}
                        </template>
                        <template v-slot:total_metrado_parcial="{item}" >
                            {{parseFloat(item.total_metrado_parcial||0).toFixed(2)}}
                        </template>
                        <template v-slot:inputEdit="props">
                            <v-edit-dialog :large="proyecto.estado_presupuesto==2"  :persistent="proyecto.estado_presupuesto==2" :return-value.sync="props.item.porcentaje" @save="save(props)" @open="open"
                            > <code small>{{ props.item.porcentaje }}</code>
                            <template v-slot:input>
                                <v-text-field :disabled="proyecto.estado_presupuesto!=2" min="0" type="number" v-model="props.item.porcentaje" label="Editar" single-line autofocus
                                ></v-text-field>
                            </template>
                            </v-edit-dialog>
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
var self;
var swal__;
var toast__;
    export default {
        name: 'PresupuestoMaterialesLista',
        components:{
            PanelContent,TableContent
        },
       data: () => ({
            /* id desencriptado */
            id_url: null,
            /* id encriptado */
            id_encryp : null,
            editing:false,
            loadingTable:false,
            loading:false,
            proyecto:{},
            max25chars: v => v.length <= 25 || 'Input too long!',
            headers: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },{
                text: 'Código',
                align: 'left',
                value: 'codigo_material',
             
                },
                {
                text: 'Material',
                align: 'left',
                value: 'nombre_material',
                 width: '150px',
              
                },{
                text: 'Cantidad',
                align: 'center',
                value: 'total_metrado_parcial',
             
                },{
                text: '% Merma',
                align: 'center',
                value: 'porcentaje',
                
                },{
                text: 'Cantidad /Pieza',
                align: 'center',
                value: 'unidad_pieza',
                width: '50px',
                },{
                text: 'Piezas',
                align: 'center',
                value: 'calculo_piezas',
                
                },{
                text: 'Peso Pieza',
                align: 'center',
                value: 'kilogramo_pieza',
                width: '100px',
                },{
                text: 'Peso Parcial',
                align: 'center',
                value: 'calculo_peso_parcial',
                width: '100px',
                },{
                text: 'Precio Pieza',
                align: 'center',
                value: 'calculo_precio_pieza',
                width: '100px',
                },{
                text: 'Precio Parcial',
                align: 'center',
                value: 'calculo_precio_parcial',
                 width: '100px',
                },/*{
                text: 'Área',
                align: 'center',
                value: 'total_area_parcial',
                width: '100px',
                }*/


            ],
            items: [],
            baseURL:null,
        }),

        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
                this.$route.params.id = atob(this.$route.params.id);

            this.cargarAll();
        },
        methods:{
            cargarAll() {
                this.loadingTable=true;

                let params={id:this.$route.params.id}
                 axios.post(this.baseURL+'/../lista',params)
                    .then(response => {
                        var data = response.data;
                        self.items=data.insumos;
                        self.proyecto=data.proyecto;
                        self.loadingTable=false;
                        self.editing = !self.editing && self.items.length>0 && self.items.filter((x)=>{return x.porcentaje>0}).length<=0;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            guardar() {
                console.log("guardar");
                let valores={insumos:this.items,proyecto_id:this.$route.params.id};
                    this.loading = true;
                    axios.post(this.baseURL+'/../guardar', valores)
                    .then(response => {
                        var data = response.data;
                        console.log(data);
                        this.items = [];
                        toast__.fire({
                            type: 'success',
                            title: 'Lista de materiales actualizada'
                        })
                        //self.editing=false;
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        )
                    }).finally(()=>{
                        self.cargarAll();
                        this.dialogClose('dialogSimple');
                        this.loading = false;
                    });
            },
            open () {
                setTimeout(() => {
                    document.querySelector('.v-small-dialog__menu-content .v-small-dialog__actions button span').innerHTML="Cancelar"
                    document.querySelector('.v-small-dialog__menu-content .v-small-dialog__actions button').nextElementSibling.querySelector('span').innerHTML="Guardar"
                }, 100);
            },
            save (item) {
                if(this.proyecto.estado_presupuesto!=2) return false;
                let index = this.items.map(function(x) {return x.id; }).indexOf(item.item.id)+1;
                item.item.porcentaje = parseFloat(item.item.porcentaje);
                item.item.calculo_piezas = parseFloat(Math.ceil((item.item.total_metrado_parcial*((parseFloat(item.item.porcentaje/100)+1)))/item.item.unidad_pieza));
                item.item.calculo_peso_parcial = item.item.calculo_piezas*item.item.kilogramo_pieza;
                item.item.calculo_precio_pieza = item.item.precio*item.item.kilogramo_pieza;
                item.item.calculo_precio_parcial = item.item.calculo_piezas*item.item.calculo_precio_pieza;
                this.editing=true;
            },  completar(){
                let valores={id:this.$route.params.id};
                this.loading = true;
                swal__.fire({
                    title: "¿ Desea completar la lista de materiales del proyecto "+self.proyecto.nombre+" ?",
                    text :"Esta acción es irreversible",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, completar',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        axios.post(this.baseURL+'/../completarlista', valores)
                        .then(response => {
                            var data = response.data;
                            toast__.fire({
                                type: 'success',
                                title: 'La lista de materiales ha sido completada'
                            })
                        })
                        .catch(errors => {
                            swal__.fire(
                            'ERROR!',
                            'ha ocurrido un error: '+errors,
                            'error'
                            )
                        }).finally(()=>{
                            self.cargarAll();
                            this.loading = false;
                        });
                    }
                })
            }
        }
    }
</script>



