<template>
    <div>
        <section class="content">
            <PanelContent :title="'Cotización'"  >
                <!--:class="proyecto.estado==0?'error':(item.estado==1?'info':'success')"-->
                <template v-slot:content>
                    <TableContent :title="'Lista de Proyectos'" name="CotizacionProyectos" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:btnAcciones="{item}" >
                            <v-btn small @click="verCotizacion(item)" class="info">
                                <v-icon left dark>open_in_new</v-icon>Cotización
                            </v-btn>
                            <v-btn v-if="item.estado_tracking==1" small @click="eliminar(item)" title="Eliminar" class="error">
                                <v-icon left dark>delete</v-icon>&nbsp;Cancelar
                            </v-btn>
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
var self;
var swal__;
var toast__;
    export default {
        name: 'CotizacionProyectos',
        components:{
            PanelContent,TableContent
        },
       data: () => ({
            loadingTable:false,
            loading:false,

            headers: [
                    {
                    text: 'N°',
                    align: 'center',
                    value: 'id',
                    width: '40px',
                    },
                    {
                    text: 'Código',
                    align: 'left',
                    value: 'codigo',
                    width: '130px',
                    },
                    {
                    text: 'Proyecto',
                    align: 'left',
                    value: 'nombre',
                    width: '170px',
                    },
                    {
                    text: 'Cliente',
                    align: 'left',
                    value: 'nombre_cliente',
                    width: '200px',
                    },
                    
                    { 
                    text: 'Estado',
                    align: 'center',
                    value: 'estado_tracking',
                    width: '100px',
                    },
                  
                    { text: 'Acciones', align: 'left',value: 'action', sortable: false },
            ],
            items: [],
            baseURL:null,
        }),

        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.cargarAll();
        },
        methods:{

            cargarAll() {
                this.loadingTable=true;
                 axios.get(this.baseURL+'/cargar')
                    .then(response => {
                        var data = response.data;
                        self.items=data;
                        self.loadingTable=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            }, eliminar(item) {
                let valores = {
                    id:item.id,
                    estado:0
                }
                swal__.fire({
                   title: "¿ Desea cancelar la cotización "+item.nombre+" ?",
                    text :"Esta acción es irreversible",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, cancelar',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        axios.post(this.baseURL+'/cancelar/', valores)
                        .then(response => {
                            var data = response.data;
                            if (response.data==1) {
                                this.items = [];
                                self.cargarAll();
                                toast__.fire({
                                    type: 'success',
                                    title: 'La Cotización ha sido cancelada'
                                })
                            }
                        })
                        .catch(errors => {
                            swal__.fire(
                                'ERROR!',
                                'ha ocurrido un error: '+errors,
                                'error'
                                )
                        });
                    }
                })
            },verCotizacion(item){
                location.href = window.location.href+'/'+btoa(item.id);
            }
        }
    }
</script>
