<template>
    <div>
        <section class="content">
            <PanelContent :title="'Cotización Proyecto: '+proyecto.nombre"  >
                <template v-slot:optionsbuttonstop>
                 <v-btn class="" :href="'../proyectos'"><v-icon left dark>arrow_left</v-icon>Atrás</v-btn>
                    &nbsp;&nbsp;
                    <v-btn v-show="proyecto.estado_tracking==1" class="info" @click="proyecto.estado_tracking==1?aprobar():''"><v-icon left dark>check</v-icon>Aprobar/Desaprobar</v-btn>
                    <v-chip v-show="proyecto.estado_tracking==2" class="success" ><v-icon left dark>check</v-icon>Completado</v-chip>
                    &nbsp;&nbsp;
                    <v-btn class="success" @click="download()"><v-icon left dark>cloud_download</v-icon>Descargar</v-btn>
                    &nbsp;&nbsp;

                   <v-btn v-show="proyecto.estado_tracking==1 || montaje==0" :class="montaje==0?'warning':'dark'" @click="montajeEnviar()">{{montaje==0?'Activar Montaje':'Desactivar Montaje'}}</v-btn>
                    &nbsp;&nbsp;
                    <v-chip v-show="proyecto.estado_tracking==2" :class="montaje==0?'dark':'warning'">{{montaje==0?'Montaje: INACTIVO':'Montaje: ACTIVO'}}</v-chip>

                </template>
                <template v-slot:content>
                    <TableContent :title="'Lista de Items'" name="cotizacionConsolidado" :headers="headers" :items="items" :loading="loadingTable">
                    </TableContent>
                </template>
            </PanelContent>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
var self;
var swal__;
var toast__;
    export default {
        name: 'CotizacionConsolidado',
        components:{
            PanelContent,TableContent
        },
       data: () => ({
            loadingTable:false,
            loading:false,
            proyecto:{},
            totalArea:0,
            totalPeso:0,
            totalMaterial:0,
            totalMo:0,
            totalCosto:0,
            totalUnitario:0,
            totalParcial:0,
            montaje:0,
            headers: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },{
                text: 'Descripción',
                align: 'center',
                value: 'item_nombre',
                width: '150px',
                },{
                text: 'Unidad',
                align: 'center',
                value: 'unidad_',
                },
                {
                text: 'Cantidad',
                align: 'center',
                value: 'item_cantidad',
                width: '150px',
                },{
                text: 'Unitario',
                align: 'right',
                value: 'unitario',
                },{
                text: 'Parcial',
                align: 'right',
                value: 'parcial',
                },
            ],
            items: [],
            baseURL:null,
        }),

        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.$route.params.id = atob(this.$route.params.id);
            this.cargarAll();
        },
        methods:{

            cargarAll() {
                this.loadingTable=true;
                let params={proyecto_id:this.$route.params.id}
                 axios.post(this.baseURL+'/../cargar',params)
                    .then(response => {
                        var data = response.data;
                        self.items=data.items;

                        self.proyecto=data.proyecto;
                        self.loadingTable=false;
                        self.montaje = self.proyecto.montaje;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            completar(){
                let valores={id:this.$route.params.id};
                    this.loading = true;
                    swal__.fire({
                       title: "¿ Desea completar la cotización del proyecto "+self.proyecto.nombre+" ?",
                        text :"Esta acción es irreversible",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, completar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/../completar', valores)
                            .then(response => {
                                var data = response.data;
                                toast__.fire({
                                    type: 'success',
                                    title: 'La cotización ha sido completada'
                                })
                            })
                            .catch(errors => {
                                swal__.fire(
                                'ERROR!',
                                'ha ocurrido un error: '+errors,
                                'error'
                                )
                            }).finally(()=>{
                                self.cargarAll();
                                this.loading = false;
                            });
                        }
                    })
            }, 
            aprobar(){
                let valores={id:this.$route.params.id};
                    this.loading = true;
                    swal__.fire({
                       title: "¿ Desea aprobar la cotización del proyecto "+self.proyecto.nombre+" ?",
                        text :"Si no es aprobada volverá a la etapa de presupuesto. Esta acción es irreversible.",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, aprobar y completar.',
                        cancelButtonText: 'No, volver a presupuesto.'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/../completar', valores)
                            .then(response => {
                                var data = response.data;
                                if(data==0){
                                    swal__.fire({
                                        type: 'warning',
                                        title: 'Falta adjuntar la cotización.'
                                    })
                                }else{
                                    toast__.fire({
                                    type: 'success',
                                    title: 'La cotización ha sido completada'
                                    })
                                }
                                
                            })
                            .catch(errors => {
                                swal__.fire(
                                'ERROR!',
                                'ha ocurrido un error: '+errors,
                                'error'
                                )
                            }).finally(()=>{
                                self.cargarAll();
                                this.loading = false;
                            });
                        }else if ( result.dismiss === swal__.DismissReason.cancel) {
                               

                                axios.post(this.baseURL+'/../aprobar', valores)
                            .then(response => {
                                var data = response.data;
                                swal__.fire({
                                title: "El Proyecto No ha sido Aprobado",
                                text :"Volverá a la etapa de presupuesto",
                                type: 'warning',
                               
                                confirmButtonColor: '#3085d6',
                              
                                confirmButtonText: 'Ok',
                               
                                }).then((result) => {

                                    //redirigir a la vsta de presupuesto
                                      window.location.href = "../../presupuesto/proyectos"
                                })
                            })
                            .catch(errors => {
                                swal__.fire(
                                'ERROR!',
                                'ha ocurrido un error: '+errors,
                                'error'
                                )
                            }).finally(()=>{
                                self.cargarAll();
                                this.loading = false;
                            });
                         }
                    })
            }, 
            download(){

                document.location.href = window.location.href+ "/../../exportar/"+this.$route.params.id;

            },montajeEnviar(){
                this.montaje = this.montaje == 0 ? 1 : 0;
                let params = {montaje:this.montaje,id:this.$route.params.id};
                axios.post(this.baseURL+'/../montaje',params)
                .then(response => {
                    var data = response.data;
                    toast__.fire({
                        type: 'success',
                        title: 'Montaje actualizado'
                    })

                    
                })
                .catch(errors => {
                    swal__.fire(
                    'ERROR!',
                    'ha ocurrido un error: '+errors,
                    'error'
                    )
                    console.log(errors);
                });
            }

        }
    }
</script>
