<template>
    <div>
        <section class="content">
            <PanelContent :title="'Requerimientos'">
                <template v-slot:optionsbuttonstop>
                    <v-btn class="success" @click="nuevo()"><v-icon left dark>add</v-icon>Nuevo</v-btn>
                   
                </template>
                <template v-slot:content>
                    <TableContent :title="'Lista de Proyectos'" name="requerimientoProyecto" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:btnAcciones="{item}" >
                            <Menu v-if="item.estado_tracking==1" :list_menu="listar_menu(item)" :_item="item">

                            </Menu>
                           
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
            <DialogSimple >
                <template v-slot:bodycardNuevoProyecto>
                     <v-container>
                        <v-row>
                            <v-col cols="12" sm="6" md="4">
                                <v-text-field v-model="nombre" v-validate="'required|max:70'" :error-messages="errors.collect('nombre')"  data-vv-name="nombre" required :counter="70" label="Nombre del Proyecto"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="">
                                <v-btn :class="cliente_id==null?'error':'primary'" @click="cargarClientes()"><v-icon left dark>add</v-icon>Cliente</v-btn> <br>
                                <span class="error--text" v-if="cliente_id==null">Seleccione Cliente</span>
                                <span  v-if="cliente_id!=null">Cliente: {{cliente_nombre}}</span>
                            </v-col>
                            <v-col cols="12" sm="6" md="6">
                            <v-select
                                v-model="selectProducto"
                                :items="selectTiposProducto"
                                item-text="nombre"
                                item-value="id"
                                v-validate="'required'"
                                :error-messages="errors.collect('selectProducto')"
                                data-vv-name="selectProducto"
                                required
                                label="Seleccione Línea de Producto/Servicio"
                                menu-props="auto"
                                single-line
                            ></v-select>
                            </v-col>
                        </v-row>
                    </v-container>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" :loading="loading" :disabled="loading" @click="modificando?editar():guardar()" >{{modificando?'Modificar':'Guardar'}}</v-btn>
                        <v-btn @click="dialogClose('dialogSimple')" >Cancelar</v-btn>
                    </v-card-actions>
                </template>
                <template v-slot:bodycardSeleccionClientes>
                    <TableContent :title="'Lista de Clientes'" :headers="headersClientes" :items="itemsClientes" :loading="loadingTableClientes">
                        <template v-slot:btnAcciones="{item}" >
                            <v-checkbox :disabled="ver_clientes" @change="cliente_nombre=item.descripcion" v-model="cliente_id" name="cliente_id" :value="item.id"
                                required
                            ></v-checkbox>
                        </template>
                    </TableContent>
                </template>
                <template v-slot:buttons>   
                    <v-btn color="dark" @click="cliente_id=null;seleccionProyecto_id=null;dialogClose('dialogSimple2')" >Cancelar</v-btn>
                    <v-btn style="margin-right:20px;" color="primary" @click="dialogClose('dialogSimple2')" >Aceptar</v-btn>
                </template>
            </DialogSimple>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
import DialogSimple from '../components/DialogSimple';
import Menu from '../components/Menu';
var self;
var swal__;
var toast__;
    export default {
        name: 'RequerimientoProyecto',
        components:{
            PanelContent,TableContent,DialogSimple,Menu
        },
       data: () => ({
            modificando:false,
            ver_clientes:false,
            loadingTableClientes:false,
            cliente_nombre:'',
            list_menu:[],
            codigo:null,
            selectTiposProducto:[],
            selectProducto:null,
            nombre:null,
            proyecto_id:null,
            cliente_id:null,
            clientes:null,
            loadingTable:false,
            loading:false,
            dictionary: {
                custom: {
                    nombre: {
                    required: () => 'Ingrese el nombre del proyecto',
                    max: 'El nombre del proyecto debe ser menor a 70 caracteres',
                    },cliente_id: {
                    required: () => 'Seleccione un cliente',
                    },clientes_selected: {
                    required: () => 'Seleccione al menos a un cliente',
                    },selectTiposProducto: {
                    required: () => 'Seleccione a un producto/servicio',
                    },selectProducto: {
                    required: () => 'Seleccione a un producto/servicio',
                    }
                }
            },
            headers: [
                 {
                    text: 'N°',
                    align: 'center',
                    value: 'id',
                    width: '40px',
                    },
                    {
                    text: 'Código',
                    align: 'left',
                    value: 'codigo',
                    width: '130px',
                    },
                    {
                    text: 'Proyecto',
                    align: 'left',
                    value: 'nombre',
                    width: '170px',
                    },
                    {
                    text: 'Cliente',
                    align: 'left',
                    value: 'nombre_cliente',
                    width: '200px',
                    },
                    {
                    text: 'User',
                    align: 'left',
                    value: 'user',
                    width: '150px',
                    },
                     {
                    text: 'Línea de Producto/Servicio',
                    align: 'left',
                    value: 'producto',
                    width: '200px',
                    },
                      {
                    text: '#Docs Adjuntos',
                    align: 'center',
                    value: 'cantidad_adjuntos',
                    width: '100px',
                    },
                    { 
                    text: 'Estado',
                    align: 'center',
                    value: 'estado_tracking',
                    width: '100px',
                    },
                    { 
                    text: 'Fecha',
                    align: 'center',
                    value: 'fecha_creacion',
                    width: '100px',
                    },
                    { text: 'Acciones', align: 'left',value: 'action', sortable: false },
            ],
            items: [],
            headersClientes: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },
                {
                text: 'Código',
                align: 'center',
                sortable: false,
                value: 'codigo',
                },
                { text: 'Cliente', align: 'center',value: 'descripcion' },
                { text: 'Ruc', align: 'center',value: 'Ruc' },
                { text: 'Acciones',   value: 'action', sortable: false },
            ],
            itemsClientes: [],
            baseURL:null,
        }),

        created:function(){
        },
        mounted() {
            
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.$validator.localize('es', this.dictionary)
            this.cargarAll();
            this.cargarProductos();
        },
        methods:{
            listar_menu(item){
                return this.list_menu =[{click:this.cargar,class:'warning',nombre:'Modificar',icono:'edit'},
            {click:this.eliminar,class:'error',nombre:'Eliminar',icono:'delete'},{click:this.completado,class:'success',nombre:'Completar',icono:'check',_if:(item.adjuntos_requerimiento!=0)}];
            },
            dialogClose(tipo){
                this.$store.state[tipo].dialog = false;
            },
            /*cargaClientes() {
                 axios.get('/importaciones/clientes/cargar')
                    .then(response => {
                        var data = response.data;
                        this.clientes =  response.data;
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },*/
            cargarAll() {
                this.loadingTable=true;
                
                 axios.get(this.baseURL+'/cargar')
                    .then(response => {
                        var data = response.data;
                        self.items=data;
                       self.loadingTable=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            cargarProductos() {
                axios
                       axios.get(this.baseURL+"/productos")
                    .then(response => {
                    var data = response.data;
                    this.selectTiposProducto = data;
                    console.log(data);
                    })
                    .catch(errors => {
                    console.log(errors);
                    });
                },

            cargar(item) {
                let valores = {id:item.id}
                this.modificando=true;
                 axios.post(this.baseURL+'/buscar/', valores)
                    .then(response => {
                        var data = response.data;
                        this.nombre = data.nombre;
                        this.cliente_id = data.cliente_id;
                        this.cliente_nombre=data.nombre_cliente;
                        this.proyecto_id=data.id;
                        self.openDialogSimpleNuevoProyecto({openDialog:true,bodycard:'bodycardNuevoProyecto',titulo:'Modificar proyecto',maxwidth:'800px'});
                        this.$validator.validateAll();
                        self.errors.any();

                        console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            editar() {
                this.$validator.validateAll();
                if (this.errors.any()) return false;
                let valores = {
                        id : this.proyecto_id,
                        nombre : this.nombre,
                        cliente_id : this.cliente_id,
                        producto_id : this.selectProducto
                    }
                    this.loading = true;
                 axios.patch(this.baseURL+'/editar/', valores)
                    .then(response => {
                        var data = response.data;
                        if (response.data==1) {
                            this.items = [];
                            toast__.fire({
                                type: 'success',
                                title: 'El requerimiento ha sido actualizado'
                            })
                        }
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        );
                    }).finally(()=>{
                        self.cargarAll();
                        this.dialogClose('dialogSimple');
                        this.loading = false;
                    });
            },
            eliminar(item) {
                let valores = {
                        id:item.id,
                        estado:0

                    }
                    swal__.fire({

                           title: "¿ Desea cancelar el proyecto "+item.nombre+" ?",
                    text :"Esta acción es irreversible",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, cancelar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/cancelar/', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.items = [];
                                    self.cargarAll();
                                    toast__.fire({
                                        type: 'success',
                                        title: 'El requerimiento ha sido cancelado'
                                    })
                                }
                            })
                            .catch(errors => {
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            });
                        }
                    })
            },
            completado(item) {
                let valores = {
                        id:item.id,
                        estado:2
                    }
                    swal__.fire({
                        title: "¿ Desea completar la etapa de requerimiento del proyecto "+item.nombre+" ? ",

                    text :"Esta acción es irreversible",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, completar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/completar/', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.items = [];
                                    self.cargarAll();
                                    toast__.fire({
                                        type: 'success',
                                        title: 'El requerimiento ha sido completado'
                                    })
                                }
                            })
                            .catch(errors => {
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            });
                        }
                    })
            },
            guardar() {
                console.log("guardar");
                this.$validator.validateAll();
                if (this.errors.any()) return;
                let valores = {
                    nombre:this.nombre,
                    cliente_id:this.cliente_id,
                    producto_id : this.selectProducto
                    }
                    this.loading = true;
                    axios.post(this.baseURL+'/guardar/', valores)
                    .then(response => {
                        var data = response.data;
                        console.log(data);
                        this.items = [];
                        toast__.fire({
                            type: 'success',
                            title: 'El requerimiento ha sido registrado'
                        })
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        )
                    }).finally(()=>{
                        self.cargarAll();
                        this.dialogClose('dialogSimple');
                        this.loading = false;
                    });
            },
            openDialogSimpleNuevoProyecto(data){
                this.$store.commit('openDialogSimple',data);
            },
            openDialogSimpleAdjuntosProyecto(data){
                this.$store.commit('openDialogSimple',data);
            },
            nuevo(){
                this.resetValues();
                this.openDialogSimpleNuevoProyecto({openDialog:true,bodycard:'bodycardNuevoProyecto',titulo:'Registra nuevo proyecto',maxwidth:'800px'})
                setTimeout(() => {
                    this.$validator.validateAll();
                self.errors.any();
                }, 250);

            },
            resetValues(){
                this.nombre = null;
                this.codigo = null;
                this.proyecto_id = null;
                this.clientes_selected=null;
                this.ver_clientes=false;
                this.cliente_id = null;
                this.modificando=false;
            },openDialogSimpleSeleccionClientes(data){
                this.$store.commit('openDialogSimple2',data);
            },
            cargarClientes(){
                this.openDialogSimpleSeleccionClientes({openDialog:true,bodycard:'bodycardSeleccionClientes',buttons:'buttons',titulo:'Seleccione un cliente',maxwidth:'800px'});
                this.listarClientes();
            },
            listarClientes(){
                this.loadingTableClientes=true;
                let ruta='/importaciones/clientes/cargar',method='get';
                let params = {};

                axios.get(ruta,params)
                .then(response => {
                    var data = response.data;
                    self.itemsClientes = data;
                    self.loadingTableClientes=false;
                    console.log(data);
                })
                .catch(errors => {
                    console.log(errors);
                });
            }
        },
        
    }
</script>



