<template>
    <div>
        <section class="content">
            <PanelContent :title="'Mantenimiento de trabajadores'">
                <template v-slot:optionsbuttonstop>
                    <v-btn class="success" @click="nuevoEmpleado()"><v-icon left dark>add</v-icon>Nuevo</v-btn>
                </template>
                <template v-slot:content>
                    <TableContent :title="'Lista de trabajadores'" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:btnAcciones="{item}" >
                            <v-chip class="warning " @click="cargar(item)">
                                <v-icon class="white--text" small  > edit </v-icon>
                            </v-chip>
                            <v-chip class="error"  @click="eliminar(item)">
                                <v-icon small class="white--text" > delete </v-icon>
                            </v-chip>
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
            <DialogSimple >
                <template v-slot:bodycardNuevoEmpleado>
                     <v-container>
                        <v-row>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field v-model="codigo" autofocus v-validate="'required|digits:8'" type="number" :error-messages="errors.collect('codigo')"  data-vv-name="codigo" required :counter="8" label="Dni"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field v-model="apellidos" autofocus v-validate="'required|max:90'" :error-messages="errors.collect('apellidos')"  data-vv-name="apellidos" required :counter="90" label="Apellidos"></v-text-field>
                        </v-col>
                         <v-col cols="12" sm="6" md="4">
                            <v-text-field v-model="nombres" v-validate="'required|max:90'" :error-messages="errors.collect('nombres')"  data-vv-name="nombres" required  :counter="90"  label="Nombres"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-menu
    ref="menuDateBirthday"
    v-model="menuDateBirthday"
    :close-on-content-click="false"
    transition="scale-transition"
    offset-y
    min-width="290px"
  >
    <template v-slot:activator="{ on }">
      <v-text-field
        v-model="fechaNaci"
        label="Fecha de Nacimiento"
        prepend-icon="event"
        readonly
        v-on="on"
        v-validate="'required'" :error-messages="errors.collect('fechaNaci')"  data-vv-name="fechaNaci" required
      ></v-text-field>
    </template>
    <v-date-picker
      ref="picker"
      v-model="fechaNaci"
      :max="moment().subtract('year',18).format('YYYY-MM-DD')"
      min="1950-01-01"
      @change="save"
    ></v-date-picker>
  </v-menu>
                        </v-col>

                        <v-col cols="12" sm="6" md="4">
                            <v-text-field v-model="cargo" v-validate="'required|max:90'" :error-messages="errors.collect('cargo')"  min="0" data-vv-name="cargo" required :counter="90"  label="Cargo"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field v-model="sueldo" v-validate="'required'" :error-messages="errors.collect('sueldo')" min="0"  data-vv-name="sueldo" required  label="Sueldo/Hora" type="number" step=".01"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field v-model="sueldo_mes" v-validate="'required'" :error-messages="errors.collect('sueldo_mes')" min="0"  data-vv-name="sueldo_mes" required  label="Sueldo/Mes" type="number" step=".01"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-switch v-model="tareo" class="ma-4" label="Tareo" ></v-switch>
                        </v-col>
                        </v-row>
                    </v-container>
                </template>
                <template v-slot:buttonsNuevoEmpleado>
                    <v-btn color="primary" :loading="loading" :disabled="loading" @click="modificando?editar():guardar()" >{{modificando?'Modificar':'Guardar'}}</v-btn>
                        <v-btn @click="dialogClose()" >Cancelar</v-btn>
                </template>
            </DialogSimple>
        </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
import DialogSimple from '../components/DialogSimple';
var self;
var swal__;
var toast__;
    export default {
        name: 'MantenimientoEmpleados',
        components:{
            PanelContent,TableContent,DialogSimple
        },
        data: () => ({

                modificando:false,
                codigo:'',
                nombres:null,
                apellidos:null,
                fechaNaci:null,
                cargo:null,
                sueldo:null,
                 sueldo_mes:null,
                tareo:null,
                select: null,
                loadingTable:false,
                loadingButton:false,
                loading:false,
                date: null,
                empleado_id:null,
                menuDateBirthday: false,
                existeDni:false,
                dictionary: {
                    custom: {
                        apellidos: {
                        required: () => 'Ingrese el apellido',
                        max: 'Los apellidos deben ser menor a 90 caracteres',
                        },nombres: {
                            required: () => 'Ingrese el nombre',
                            max: 'Los nombres deben ser menor a 90 caracteres',
                        },fecha_nacimiento: {
                            required: () => 'Ingrese la fecha de nacimiento',
                        },cargo: {
                            required: () => 'Ingrese el cargo',
                            max: 'El cargo debe ser menor a 90 caracteres',
                        },codigo: {
                            required: () => 'Ingrese el dni',
                            digits: 'El dni debe ser 8 caracteres y numérico',
                        },fechaNaci: {
                            required: () => 'Seleccione una fecha',
                        },sueldo: {
                            required: () => 'Ingrese el sueldo por hora',
                        },
                        sueldo_mes: {
                            required: () => 'Ingrese el sueldo por mes',
                        }
                    }
                },
               headers: [
                    {
                text: 'N°',
                align: 'center',
                value: 'id',
                },
        {
          text: 'Dni',
          align: 'center',
          sortable: false,
          value: 'codigo',
        },
        { text: 'Apellidos', align: 'center',value: 'apellidos' },
        { text: 'Nombres', align: 'center',value: 'nombres' },
        { text: 'Cargo', align: 'center',value: 'cargo' },
        { text: 'Fecha',
                align: 'center',
                value: 'fecha_creacion',
                },
         { text: 'Acciones', value: 'action', sortable: false },
      ],
      items: [],
       baseURL:null,
            }),
        created:function(){

        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path+'/../empleados';
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.$validator.localize('es', this.dictionary)
            this.cargarAll();


        },
           watch: {
      menuDateBirthday (val) {
        val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
      },
    },
        methods:{
            dialogClose(){
                this.$store.state.dialogSimple.dialog = false;
            },

            cargarAll() {
                this.loadingTable=true;
                 axios.get(this.baseURL+'/cargar')
                    .then(response => {
                        var data = response.data;
                        self.items =  data;
                       self.loadingTable=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            cargar(item) {

                this.modificando=true;
                let valores = {id:item.id}
                 axios.post(this.baseURL+'/buscar/', valores)
                    .then(response => {
                        var data = response.data;
                        this.codigo = data.codigo;
                        this.nombres = data.nombres;
                        this.apellidos = data.apellidos;
                        this.fechaNaci = data.fecha_nacimiento;
                        this.cargo = data.cargo;
  this.sueldo_mes = data.sueldo_mes;
                        this.sueldo = data.sueldo;
                        this.tareo=data.tareo;
                        this.empleado_id=item.id;
                        self.openDialogSimpleNuevoEmpleado({openDialog:true,bodycard:'bodycardNuevoEmpleado',buttons:'buttonsNuevoEmpleado',titulo:'Modificar trabajador',maxwidth:'800px'});
                        this.$validator.validateAll();
                        self.errors.any();
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            async editar() {
                this.$validator.validateAll();
                if (this.errors.any()) return false;
                await this.validarDni();
                if(this.existeDni){
                    return false;
                }
                let valores = {
                        id:this.empleado_id,
                        codigo:this.codigo,
                        nombres:this.nombres,
                        apellidos:this.apellidos,
                        fecha_nacimiento:this.fechaNaci,
                        cargo:this.cargo,
                        sueldo_mes:this.sueldo_mes,
                        sueldo:this.sueldo,
                        tareo:this.tareo||0
                    }
                    this.loading = true;
                 axios.patch(this.baseURL+'/editar/', valores)
                    .then(response => {
                        var data = response.data;
                        if (response.data==true) {
                            this.items = [];
                            toast__.fire({
                                type: 'success',
                                title: 'El trabajador ha sido modificado'
                            })
                        }
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        )
                    }).finally(()=>{
                        self.cargarAll();
                        this.dialogClose();
                        this.loading = false;
                    });
            },
            eliminar(item) {
                let valores = {
                        id:item.id,
                        estado:0
                    }
                    swal__.fire({
                        title: "¿ Desea eliminar al empleado "+item.apellidos+" "+item.nombres+" ?",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, eliminar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/eliminar/', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==true) {
                                    this.items = [];
                                    toast__.fire({
                                        type: 'success',
                                        title: 'El trabajador ha sido eliminado'
                                    })

                                }
                            })
                            .catch(errors => {
                                console.log(errors);
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            }).finally(()=>{
                                self.cargarAll();
z                            });

                        }
                    })

            },
            async guardar() {
                console.log("guardarEmpleado");
                this.$validator.validateAll();
                if (this.errors.any()) return;
                await this.validarDni();
                if(this.existeDni){
                    return false;
                }
                let valores = {
                    codigo:this.codigo,
                    nombres:this.nombres,
                    apellidos:this.apellidos,
                    fecha_nacimiento:this.fechaNaci,
                    cargo:this.cargo,
                      sueldo:this.sueldo,
                       sueldo_mes:this.sueldo_mes,
                      tareo:this.tareo||0
                    }
                    this.loading = true;
                    axios.post(this.baseURL+'/guardar/', valores)
                    .then(response => {
                        this.items = [];
                         toast__.fire({
                            type: 'success',
                            title: 'El trabajador ha sido registrado'
                        })
                        var data = response.data;
                    })
                    .catch(errors => {
                        console.log(errors);
                        swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                    }).finally(()=>{
                        self.cargarAll();
                        this.dialogClose();
                        this.loading = false;
                    });
            },
            openDialogSimpleNuevoEmpleado(data){
                this.$store.commit('openDialogSimple',data);
            },
            save (date) {
                this.$refs.menuDateBirthday.save(date)
            },
            nuevoEmpleado(){
                this.resetValues();
                this.openDialogSimpleNuevoEmpleado({openDialog:true,bodycard:'bodycardNuevoEmpleado',buttons:'buttonsNuevoEmpleado',titulo:'Registra nuevo trabajador',maxwidth:'800px'})
                setTimeout(() => {
                    this.$validator.validateAll();
                self.errors.any();
                }, 250);

            },
            resetValues(){
                this.codigo = null;
                this.nombres = null;
                this.apellidos = null;
                this.fechaNaci = null;
                this.cargo = null;
                this.empleado_id = null;
                this.sueldo_mes = null;
                this.sueldo = null;
                this.tareo=null;
                this.modificando=false;
            },
            validarDni(){
                this.existeDni = false;
                let valores={id:this.empleado_id,codigo:this.codigo};
                return axios.post(this.baseURL+'/dni/', valores)
                .then(response => {

                    var data = response.data;
                    if (data==1) {
                        swal__.fire(
                        'ERROR!',
                        'El dni ya está registrado, favor de ingresar otro.',
                        'error'
                        )
                        self.existeDni=true;
                    }
                })
                .catch(errors => {
                    console.log(errors);
                    swal__.fire(
                                'ERROR!',
                                'ha ocurrido un error: '+errors,
                                'error'
                                )
                })
            }
        }
    }
</script>



