<template>
    <div>

        <section class="content">
            <PanelContent :title="'Mantenimiento de correos'">
                <template v-slot:optionsbuttonstop>
                    <v-btn class="success" @click="nuevo()"><v-icon left dark>add</v-icon>Nuevo</v-btn>
                </template>
                <template v-slot:content>
                    <TableContent :title="'Lista de correos'" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:btnAcciones="{item}" >
                            <v-chip class="warning " @click="cargar(item)">
                                <v-icon class="white--text" small  > edit </v-icon>
                            </v-chip>
                            <v-chip @click="eliminar(item)" class="error">
                                <v-icon small class="white--text"  > delete </v-icon>
                            </v-chip>
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
            <DialogSimple >
                <template v-slot:bodycardNuevoCorreo>
                    <v-container>
                        <v-row>
                           <v-combobox class="cbo_correos" v-model="chips" chips label="Agrega uno o más correos" :multiple="!modificando" v-validate="'required|max:300'" :error-messages="errors.collect('correos')"  data-vv-name="correos" required :counter="300" >
                                <template v-slot:selection="{ attrs, item, select, selected }">
                                    <v-chip v-bind="attrs" :class="validEmail(item)?'success':'error'" :input-value="selected" close @click="select" @click:close="remove(item)"
                                    >
                                        <strong>{{ item }}</strong>&nbsp;
                                    </v-chip>
                                </template>
                            </v-combobox>
                        </v-row>
                    </v-container>

                </template>
                <template v-slot:buttonsNuevoCorreo>
                    <v-btn color="primary" :loading="loading" :disabled="loading" @click="modificando?editar():guardar()" >{{modificando?'Modificar':'Guardar'}}</v-btn>
                        <v-btn @click="dialogClose()" >Cancelar</v-btn>
                </template>
            </DialogSimple>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
import DialogSimple from '../components/DialogSimple';
var self;
var swal__;
var toast__;
    export default {
        name: 'MantenimientoAdjuntos',
        components:{
            PanelContent,TableContent,DialogSimple
        },
        data () {
      return {
            modificando:false,
            correos:null,
            correo_id:null,
            item_counter:null,
            loadingTable:false,
            loading:false,
            dictionary: {
                custom: {
                    correos: {
                    required: () => 'Ingrese los correos',
                    max: 'Los correos debe ser menor a 300 caracteres',
                    }
                }
            },
            headers: [
                {
                text: 'N°',
                align: 'center',
                value: 'id',
                },
                {
                text: 'Correo',
                align: 'center',
                value: 'correos',
                },
                { text: 'Acciones',  align: 'right',value: 'action', sortable: false },
            ],
            items: [],
            baseURL:null,
            chips: [],
            items: [],
      }
    },
    created:function(){
    },
    mounted() {
        this.baseURL = this.$router.currentRoute.path;
        self=this;
        swal__ = this.$store.getters.getSwal;
        toast__ = this.$store.getters.getToastDefault;
        this.$validator.localize('es', this.dictionary)
        this.cargarAll();
    },
    methods:{
remove (item) {
        if (this.modificando) {
            this.chips=null;
        }else{
            
            this.chips.splice(this.chips.indexOf(item), 1)
            this.chips = [...this.chips]
        }
        
      },
            dialogClose(){
                this.$store.state.dialogSimple.dialog = false;
            },
            cargarAll() {
                this.loadingTable=true;
                 axios.get(this.baseURL+'/cargar')
                    .then(response => {
                        var data = response.data;
                        self.items=data;
                       self.loadingTable=false;
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },

            cargar(item) {
                let valores = {id:item.id_real}
                this.modificando=true;
                 axios.post(this.baseURL+'/buscar/', valores)
                    .then(response => {
                        var _RegExp = new RegExp(item.correos, 'g');
                        var data = response.data; 
                        this.chips = data.correos.match(_RegExp)[0] ;
                        this.item_counter=item.id;
                        this.correo_id=data.id;
                        self.openDialogSimpleNuevoAdjunto({openDialog:true,bodycard:'bodycardNuevoCorreo',buttons:'buttonsNuevoCorreo',titulo:'Modificar correo',maxwidth:'800px'});
                        this.$validator.validateAll();
                        self.errors.any();
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            editar() {
                this.$validator.validateAll();
                if (this.errors.any()) return false;
                this.items.forEach(function(x){
                    if (x.id == self.item_counter) {
                        x.correos = self.chips;        
                        return;
                    }
                });
                let valores = {
                        editar : true,
                        correos : this.items.map(function(x){ return x.correos }).join(','),
                    }

                    this.loading = true;
                 axios.post(this.baseURL+'/guardar/', valores)
                    .then(response => {
                        var data = response.data;
                        if (response.data==1) {
                            this.items = [];
                            toast__.fire({
                                type: 'success',
                                title: 'El adjunto ha sido actualizado'
                            })
                        }
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        );
                    }).finally(()=>{
                        self.cargarAll();
                        this.dialogClose();
                        this.loading = false;
                    });
            },
            eliminar(item) {
                
                    swal__.fire({
                        title: "Desea eliminar el correo "+item.correos+" ?",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, eliminar',
                        cancelButtonText: 'Cancelar'
                    }).then((result) => {
                        if (result.value) {
                            this.items.splice(this.items.indexOf(item), 1);

                            let valores = {
                                id:item.id_real,
                                eliminar : self.items.length==0,
                                editar : true,
                                correos : this.items.map(function(x){ return x.correos }).join(','),
                            }


                            axios.post(this.baseURL+'/guardar/', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.items = [];
                                    self.cargarAll();
                                    toast__.fire({
                                        type: 'success',
                                        title: 'El correo ha sido eliminado'
                                    })
                                }
                            })
                            .catch(errors => {
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            });
                        }
                    })

            },
            guardar() {
                console.log("guardar");
                this.$validator.validateAll();
                if (this.errors.any()) return;
                for (let index = 0; index < this.chips.length; index++) {
                    const element = this.chips[index];
                    if (!this.validEmail(element)) {
                        toast__.fire({
                            type: 'error',
                            title: 'El correo: '+element+' no tiene el formato correcto.'
                        })
                        return;
                    }
                }
                let valores = {
                    correos:this.chips.join(',')
                    }
                    this.loading = true;
                    axios.post(this.baseURL+'/guardar/', valores)
                    .then(response => {
                        var data = response.data;
                        console.log(data);
                        this.items = [];
                        toast__.fire({
                            type: 'success',
                            title: 'El/Los Correo(s) ha(n) sido registrado'
                        })
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        )
                    }).finally(()=>{
                        self.cargarAll();
                        this.dialogClose();
                        this.loading = false;
                    });
            },
            openDialogSimpleNuevoAdjunto(data){
                this.$store.commit('openDialogSimple',data);
            },
            nuevo(){
                
                this.resetValues();
                this.openDialogSimpleNuevoAdjunto({openDialog:true,bodycard:'bodycardNuevoCorreo',buttons:'buttonsNuevoCorreo',titulo:'Registrar nuevo tipo de adjunto',maxwidth:'800px'})
                
                setTimeout(() => {
                    $('.cbo_correos .v-input__icon.v-input__icon--append').remove();
                    this.$validator.validateAll();
                    self.errors.any();
                }, 250);

            },
            resetValues(){
                this.chips = [];
                this.modificando=false;
            },
            validEmail: function (email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }

    }
    }
</script>



