<template>
    <div>
        <section class="content">
                <PanelContent :title="'Mantenimiento de procesos'">
                <template v-slot:optionsbuttonstop>
                    <v-btn class="success" @click="nuevo()"><v-icon left dark>add</v-icon>Nuevo</v-btn>
                </template>
                <template v-slot:content>
                    <TableContent :title="'Lista de procesos'" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:costo="{item}" >
                            {{parseFloat(item.costo||0).toFixed(2)}}
                        </template>
                        <template v-slot:btnAcciones="{item}" >
                            <v-chip class="warning ">
                                <v-icon class="white--text" small @click="cargar(item)" > edit </v-icon>
                            </v-chip>
                            <v-chip class="error">
                                <v-icon small class="white--text" @click="eliminar(item)" > delete </v-icon>
                            </v-chip>
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
            <DialogSimple >
                <template v-slot:bodycardNuevoProceso>
                    <v-form ref="form" v-model="valid" lazy-validation>
                     <v-container>
                        <v-row>
                            <v-col cols="12" sm="6" md="4">
                                <v-text-field v-model="nombre" v-validate="'required|max:70'" :error-messages="errors.collect('nombre')"  data-vv-name="nombre" required :counter="70" label="Nombre del Proceso"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                                <v-text-field v-model="unidad" v-validate="'required|max:70'" :error-messages="errors.collect('unidad')"  data-vv-name="unidad"  :counter="70" required label="Unidad"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                                <v-text-field v-model="costo" v-validate="'required'" :rules="[v => v>-1 || 'Debe ser mayor o igual a cero']" min="0" :error-messages="errors.collect('costo')"  data-vv-name="costo" required type="number" step=".01"  label="Costo del Proceso"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                                <v-text-field v-model="grupo" v-validate="'required|max:70'" :error-messages="errors.collect('grupo')"  data-vv-name="grupo" required :counter="70" label="Grupo del Proceso"></v-text-field>
                            </v-col>
                        </v-row>
                    </v-container>
                    </v-form>

                </template>
                <template v-slot:buttonsNuevoProceso>
                    <v-btn color="primary" :loading="loading" :disabled="loading" @click="modificando?editar():guardar()" >{{modificando?'Modificar':'Guardar'}}</v-btn>
                        <v-btn @click="dialogClose()" >Cancelar</v-btn>
                </template>
            </DialogSimple>
                <!-- left column -->
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
import DialogSimple from '../components/DialogSimple';
var self;
var swal__;
var toast__;
    export default {
        name: 'MantenimientoProcesos',
        components:{
            PanelContent,TableContent,DialogSimple
        },
       data: () => ({
            valid:true,
            nombre:null,
            unidad:null,
            costo:null,
            grupo:null,
            proceso_id:null,
            modificando:false,
            loadingTable:false,
            loading:false,
            dictionary: {
                custom: {
                    nombre: {
                    required: () => 'Ingrese el nombre de proceso',
                    max: 'El nombre del proceso debe ser menor a 70 caracteres',
                    },unidad: {
                    required: () => 'Ingrese el nombre de la unidad',
                    max: 'La unidad debe ser menor a 70 caracteres',
                    },costo: {
                    required: () => 'Ingrese un costo',
                    },grupo: {
                    required: () => 'Ingrese un grupo del proceso',
                    max: 'El grupo del proceso debe ser menor a 70 caracteres',
                    }
                }
            },
            headers: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },
                {
                text: 'Nombre',
                align: 'center',
                value: 'nombre',
                },
                {
                text: 'Unidad',
                align: 'center',
                value: 'unidad',
                },{
                text: 'Costo',
                align: 'center',
                value: 'costo',
                },{
                text: 'Grupo',
                align: 'center',
                value: 'grupo',
                },{ text: 'Fecha',
                align: 'center',
                value: 'fecha_creacion',
                },
                { text: 'Acciones',  align: 'center',value: 'action', sortable: false },
            ],
            items: [],
            baseURL:null,
        }),

        created:function(){
        },
        mounted() {
            this.baseURL = this.$router.currentRoute.path;
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.$validator.localize('es', this.dictionary)
            this.cargarAll();
        },
        methods:{
            dialogClose(){
                this.$store.state.dialogSimple.dialog = false;
            },
            cargarAll() {
                this.loadingTable=true;
                 axios.get(this.baseURL+'/cargar')
                    .then(response => {
                        var data = response.data;
                        self.items=data;
                       self.loadingTable=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },

            cargar(item) {
                let valores = {id:item.id}
                this.modificando=true;
                 axios.post(this.baseURL+'/buscar/', valores)
                    .then(response => {
                        var data = response.data;
                        this.nombre = data.nombre;
                        this.unidad=data.unidad,
                        this.costo=data.costo,
                        this.grupo=data.grupo,
                        this.proceso_id=data.id;
                        self.openDialogSimpleNuevoProceso({openDialog:true,bodycard:'bodycardNuevoProceso',buttons:'buttonsNuevoProceso',titulo:'Modificar proceso',maxwidth:'800px'});
                        this.$validator.validateAll();
                        self.errors.any();
                        console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            editar() {
                this.$validator.validateAll();
                if (this.errors.any()) return false;
                if(!this.$refs.form.validate())return;
                let valores = {
                        id : this.proceso_id,
                        nombre : this.nombre,
                        unidad:this.unidad,
                        costo:this.costo,
                        grupo:this.grupo,
                    }
                    this.loading = true;
                 axios.patch(this.baseURL+'/editar/', valores)
                    .then(response => {
                        var data = response.data;
                        if (response.data==1) {
                            this.items = [];
                            toast__.fire({
                                type: 'success',
                                title: 'El proceso ha sido actualizado'
                            })
                        }

                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        );
                    }).finally(()=>{
                        self.cargarAll();
                        this.dialogClose();
                        this.loading = false;
                    });
            },
            eliminar(item) {
                let valores = {
                        id:item.id,
                        estado:0

                    }
                    swal__.fire({
                        title: "¿ Desea eliminar el proceso "+item.nombre+" ?",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, eliminar',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post(this.baseURL+'/eliminar/', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.items = [];
                                    self.cargarAll();
                                    toast__.fire({
                                        type: 'success',
                                        title: 'El proceso ha sido eliminado'
                                    })
                                }

                            })
                            .catch(errors => {
                                swal__.fire(
                                'ERROR!',
                                'ha ocurrido un error: '+errors,
                                'error'
                                )
                            });
                        }
                    })

            },
            guardar() {
                 this.$validator.validateAll();
                if (this.errors.any()) return;
                if(!this.$refs.form.validate())return;
                console.log("guardar");
                let valores = {
                    nombre:this.nombre,
                    unidad:this.unidad,
                    costo:this.costo,
                    grupo:this.grupo,
                    }
                    this.loading = true;
                    axios.post(this.baseURL+'/guardar/', valores)
                    .then(response => {
                        var data = response.data;
                        this.items = [];
                        toast__.fire({
                            type: 'success',
                            title: 'El proceso ha sido registrado'
                        })
                    })
                    .catch(errors => {
                        console.log(errors);
                    }).finally(()=>{
                        self.cargarAll();
                        this.dialogClose();
                        this.loading = false;
                    });
            },openDialogSimpleNuevoProceso(data){
                this.$store.commit('openDialogSimple',data);
            },
            nuevo(){
                this.resetValues();
                this.openDialogSimpleNuevoProceso({openDialog:true,bodycard:'bodycardNuevoProceso',buttons:'buttonsNuevoProceso',titulo:'Registra nuevo proceso',maxwidth:'800px'})
                setTimeout(() => {
                    this.$validator.validateAll();
                self.errors.any();
                }, 250);

            },
            resetValues(){
                this.nombre = null;
                this.unidad=null,
                this.costo=null,
                this.grupo=null,
                this.modificando=false;
            }

        }
    }
</script>

