<template>
    <div>

        <section class="content">
            <PanelContent   :title="'Mi perfíl'">
                <template v-slot:optionsbuttonstop>
                    <v-btn class="success" @click="editar()">Cambiar contraseña</v-btn>
                </template>
                <template v-slot:content>
                   <v-container>
                        <v-row>
                            <v-col cols="12" sm="6" md="4">
                                <v-text-field v-model="usuario"  disabled autofocus v-validate="'required'" :error-messages="errors.collect('usuario')"  data-vv-name="usuario" required :counter="70" label="Usuario"></v-text-field>
                            </v-col>

                            <v-col cols="12" sm="6" md="4">
                                <v-text-field v-model="password" v-validate="'required|max:70'" :error-messages="errors.collect('password')" :type="showPasswordLogin ? 'text' : 'password'"
                                        :append-icon="showPasswordLogin ? 'visibility' : 'visibility_off'"
                                        @click:append="showPasswordLogin = !showPasswordLogin"  data-vv-name="password" required  :counter="70"  label="Contraseña"></v-text-field>
                            </v-col>

                            <v-col cols="12" sm="6" md="4">
                            <v-text-field v-model="repassword" v-validate="'required|max:70'" :error-messages="errors.collect('repassword')"  data-vv-name="repassword"  :type="showPasswordLogin ? 'text' : 'password'"
                                        :append-icon="showPasswordLogin ? 'visibility' : 'visibility_off'" required
                                        @click:append="showPasswordLogin = !showPasswordLogin"   :counter="70"  label="Confirmar contraseña"></v-text-field>
                                        {{errorConfirmedPassword}}
                            </v-col>
                        </v-row>
                    </v-container>
                </template>
            </PanelContent>

        </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
var self;
var swal__;
var toast__;
    export default {
        name: 'MiPerfil',
        components:{
            PanelContent
        },
       data: () => ({
           usuario:null,
            password:null,
            repassword:null,
            loading:false,
            usuario_id:null,
            errorConfirmedPassword:'',
            showPasswordLogin:false,
            dictionary: {
                custom: {
                    usuario: {
                    required: () => 'Ingrese el nombre del usuario',
                    max: 'El usuario debe ser menor a 70 caracteres',
                    },password: {
                        required: () => 'Ingrese una contraseña',
                        max: 'La contraseña debe ser menor a 70 caracteres',
                    },repassword: {
                        required: () => 'Confirmar contraseña',
                    }
                }
            },
        }),
        created:function(){
        },
        mounted() {
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.$validator.localize('es', this.dictionary)
            this.usuario_id = document.getElementById('usuario_id').value;
            this.cargar();
          console.log("Perfil de usuario")
        },
        methods:{
            cargar() {
                let valores = {id:this.usuario_id}
                axios.post('/mantenimiento/usuarios/buscar/', valores)
                .then(response => {
                    var data = response.data;
                    this.usuario = data.usuario;
                    setTimeout(function(){
                    self.$validator.validateAll();
                    self.errors.any();
                    },500)
                    console.log(data);
                })
                .catch(errors => {
                    console.log(errors);
                });
            },
             editar() {
                this.$validator.validateAll();
                if (this.errors.any()) return false;
                this.errorConfirmedPassword='';
                if (this.password!=this.repassword) {
                    this.errorConfirmedPassword="Las contraseñas deben ser iguales";return false;
                }
                let valores = {
                        id:this.usuario_id,
                        usuario : this.usuario,
                        password : this.password,
                    }
                    this.loading = true;
                 axios.post('/mantenimiento/usuarios/perfil/', valores)
                    .then(response => {
                        var data = response.data;
                        if (response.data==1) {
                            this.items = [];
                            toast__.fire({
                                type: 'success',
                                title: 'El usuario ha sido modificado'
                            })
                        }

                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        );
                    }).finally(()=>{
                        this.loading = false;
                    });
            },


        }
    }
</script>



