<template>
    <div>

        <section class="content">
            <PanelContent :title="'Mantenimiento de tipo de adjuntos'">
                <template v-slot:optionsbuttonstop>
                    <v-btn class="success" @click="nuevo()"><v-icon left dark>add</v-icon>Nuevo</v-btn>
                </template>
                <template v-slot:content>
                    <TableContent :title="'Lista de tipo de adjuntos'" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:btnAcciones="{item}" >
                            <v-chip class="warning " @click="cargar(item)">
                                <v-icon class="white--text" small  > edit </v-icon>
                            </v-chip>
                            <!--v-chip class="error">
                                <v-icon small class="white--text" @click="eliminar(item)" > delete </v-icon>
                            </v-chip-->
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
            <DialogSimple >
                <template v-slot:bodycardNuevoAdjunto>
                     <v-container>
                        <v-row>

                            <v-col cols="12" sm="6" md="8">
                                <v-text-field v-model="nombre" v-validate="'required|max:150'" :error-messages="errors.collect('nombre')"  data-vv-name="nombre" required :counter="150" label="Nombre del Adjunto"></v-text-field>
                            </v-col>
                        </v-row>
                    </v-container>

                </template>
                <template v-slot:buttonsNuevoAdjunto>
                    <v-btn color="primary" :loading="loading" :disabled="loading" @click="modificando?editar():guardar()" >{{modificando?'Modificar':'Guardar'}}</v-btn>
                        <v-btn @click="dialogClose()" >Cancelar</v-btn>
                </template>
            </DialogSimple>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
import DialogSimple from '../components/DialogSimple';
var self;
var swal__;
var toast__;
    export default {
        name: 'MantenimientoAdjuntos',
        components:{
            PanelContent,TableContent,DialogSimple
        },
        data () {
      return {
            modificando:false,
            nombre:null,
            adjunto_id:null,
            loadingTable:false,
            loading:false,
            dictionary: {
                custom: {
                    nombre: {
                    required: () => 'Ingrese el nombre del adjunto',
                    max: 'El nombre debe ser menor a 150 caracteres',
                    }
                }
            },
            headers: [
                {
                text: 'N°',
                align: 'center',
                value: 'id',
                },
                {
                text: 'Tipo de Adjunto',
                align: 'center',
                value: 'nombre',
                },{
                text: 'Fecha',
                align: 'center',
                value: 'fecha_creacion',
                },
                { text: 'Acciones',  align: 'right',value: 'action', sortable: false },
            ],
            items: [],
            baseURL:null,
      }
    },
    created:function(){
    },
    mounted() {
        this.baseURL = this.$router.currentRoute.path;
        self=this;
        swal__ = this.$store.getters.getSwal;
        toast__ = this.$store.getters.getToastDefault;
        this.$validator.localize('es', this.dictionary)
        this.cargarAll();
    },
    methods:{

            dialogClose(){
                this.$store.state.dialogSimple.dialog = false;
            },
            cargarAll() {
                this.loadingTable=true;
                 axios.get(this.baseURL+'/cargar')
                    .then(response => {
                        var data = response.data;
                        self.items=data;
                       self.loadingTable=false;
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },

            cargar(item) {
                let valores = {id:item.id}
                this.modificando=true;
                 axios.post(this.baseURL+'/buscar/', valores)
                    .then(response => {
                        var data = response.data;
                        this.nombre = data.nombre;

                        this.adjunto_id=data.id;
                        self.openDialogSimpleNuevoAdjunto({openDialog:true,bodycard:'bodycardNuevoAdjunto',buttons:'buttonsNuevoAdjunto',titulo:'Modificar adjunto',maxwidth:'800px'});
                        this.$validator.validateAll();
                        self.errors.any();
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            editar() {
                this.$validator.validateAll();
                if (this.errors.any()) return false;
                let valores = {
                        id : this.adjunto_id,
                        nombre : this.nombre,
                    }
                    this.loading = true;
                 axios.patch(this.baseURL+'/editar/', valores)
                    .then(response => {
                        var data = response.data;
                        if (response.data==1) {
                            this.items = [];
                            toast__.fire({
                                type: 'success',
                                title: 'El adjunto ha sido actualizado'
                            })
                        }
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        );
                    }).finally(()=>{
                        self.cargarAll();
                        this.dialogClose();
                        this.loading = false;
                    });
            },
            /*eliminar(item) {
                let valores = {
                        id:item.id,
                        estado:0

                    }
                    swal__.fire({
                        title: "Desea eliminar el adjunto "+item.nombre+" ?",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, eliminar',
                        cancelButtonText: 'Cancelar'
                    }).then((result) => {
                        if (result.value) {
                            axios.post('adjuntos/eliminar/', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.items = [];
                                    self.cargarAll();
                                    toast__.fire({
                                        type: 'success',
                                        title: 'El adjunto ha sido eliminado'
                                    })
                                }
                            })
                            .catch(errors => {
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            });
                        }
                    })

            },*/
            guardar() {
                console.log("guardar");
                this.$validator.validateAll();
                if (this.errors.any()) return;
                let valores = {
                    nombre:this.nombre

                    }
                    this.loading = true;
                    axios.post(this.baseURL+'/guardar/', valores)
                    .then(response => {
                        var data = response.data;
                        console.log(data);
                        this.items = [];
                        toast__.fire({
                            type: 'success',
                            title: 'El adjunto ha sido registrado'
                        })
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        )
                    }).finally(()=>{
                        self.cargarAll();
                        this.dialogClose();
                        this.loading = false;
                    });
            },
            openDialogSimpleNuevoAdjunto(data){
                this.$store.commit('openDialogSimple',data);
            },
            nuevo(){
                this.resetValues();
                this.openDialogSimpleNuevoAdjunto({openDialog:true,bodycard:'bodycardNuevoAdjunto',buttons:'buttonsNuevoAdjunto',titulo:'Registrar nuevo tipo de adjunto',maxwidth:'800px'})
                setTimeout(() => {
                    this.$validator.validateAll();
                self.errors.any();
                }, 250);

            },
            resetValues(){
                this.nombre = null;
                this.modificando=false;
            }

    }
    }
</script>



