<template>
    <div>
        <section class="content">
            <PanelContent :title="'Mantenimiento de factores'">
                <template v-slot:optionsbuttonstop>
                    <v-btn class="success" @click="openDialogSimpleMaterialesSinFactor()"><v-icon left dark>add</v-icon>Materiales sin Factores</v-btn>
                </template>
                <template v-slot:content>

                    <TableContent :title="'Lista de factores'" :headers="headers" :items="items" :loading="loadingTable">
                        <template v-slot:kilogramo_unidad="{item}" >
                            {{parseFloat(item.kilogramo_unidad||0).toFixed(2)}}
                        </template>
                        <template v-slot:kilogramo_pieza="{item}" >
                            {{parseFloat(item.kilogramo_pieza||0).toFixed(2)}}
                        </template>
                        <template v-slot:seccion="{item}" >
                            {{parseFloat(item.seccion||0).toFixed(2)}}
                        </template>
                        <template v-slot:perimetro="{item}" >
                            {{parseFloat(item.perimetro||0).toFixed(2)}}
                        </template>
                        <template v-slot:ld="{item}" >
                            {{parseFloat(item.ld||0).toFixed(2)}}
                        </template>
                        <template v-slot:metro_unidad="{item}" >
                            {{parseFloat(item.metro_unidad||0).toFixed(2)}}
                        </template>
                        <template v-slot:metro_pieza="{item}" >
                            {{parseFloat(item.metro_pieza||0).toFixed(2)}}
                        </template>
                        <template v-slot:btnAcciones="{item}" >
                            <v-chip class="warning" @click="cargar(item)">
                                <v-icon class="white--text" small  > edit </v-icon>
                            </v-chip>
                        </template>
                    </TableContent>
                </template>
            </PanelContent>
            <DialogSimple>
                <template v-slot:bodycardMaterialesSinFactor>
                     <TableContentServerSide v-if="showMaterialesSinFactor" :urlPost="baseURL+'/../materiales/factores'" :title="'Lista de Materiales sin Factores'" :headers="headersMatSinFact" >
                        <template v-slot:btnAcciones="{item}">
                            <v-btn color="primary" @click="nuevoFactor(item)" >Crear Factor</v-btn>
                        </template>
                    </TableContentServerSide>
                </template>
                <template v-slot:buttons>
                    <v-btn style="margin-right:20px" @click="dialogClose('dialogSimple')" >Cancelar</v-btn>
                </template>
                <template v-slot:bodycardNuevoFactor>
                    <v-form lang="en-US" ref="form" v-model="valid" lazy-validation>
                    <v-container >
                        <v-row>
                            <v-col cols="12" sm="6" md="4">
                                <v-text-field disabled v-model="material_codigo" label="Código Material"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="8">
                                <v-text-field  disabled v-model="material_descripcion" label="Descripción Material"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                                <v-text-field v-model="e_cambiar" type="number" step="0.01" min="0" label="Espesor Planca(e)"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                                <v-text-field v-model="ld_cambiar" :rules="[v => v>-1 || 'Debe ser mayor o igual a cero']" min="0" v-validate="'required'" :error-messages="errors.collect('ld_cambiar')"  data-vv-name="ld_cambiar" required type="number" step="0.01" label="Espesor Tubo (Ld/Ø)"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                                <v-text-field v-model="caras" :rules="[v => v>-1 || 'Debe ser mayor o igual a cero']" min="0" v-validate="'required'" :error-messages="errors.collect('caras')"  data-vv-name="caras" required type="number"  label="Caras"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                                <v-select v-model="unidad" v-validate="'required'" :error-messages="errors.collect('unidad')"  data-vv-name="unidad" required :items="itemsUnidades" item-text="unidad" item-value="unidad"  menu-props="auto" label="Unidad" single-line ></v-select>

                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                                <v-text-field v-model="pieza" v-validate="'required|max:50'" :error-messages="errors.collect('pieza')"  :counter="50" data-vv-name="pieza" required  label="Pieza"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                                <v-text-field v-model="perimetro" :rules="[v => v>-1 || 'Debe ser mayor o igual a cero']" min="0" v-validate="'required'" :error-messages="errors.collect('perimetro')"  data-vv-name="perimetro" required type="number" step="0.01" label="Perímetro(cm)"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                                <v-text-field v-model="seccion" :rules="[v => v>-1 || 'Debe ser mayor o igual a cero']" min="0" v-validate="'required'" :error-messages="errors.collect('seccion')"  data-vv-name="seccion" required type="number" step="0.01" label="Sección(cm2)"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                                <v-text-field v-model="unidad_pieza" :rules="[v => v>-1 || 'Debe ser mayor o igual a cero']" min="0" v-validate="'required'" :error-messages="errors.collect('unidad_pieza')"  data-vv-name="unidad_pieza" required type="number" step="0.01" label="Unidad/Pieza"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                                <v-text-field v-model="kilogramo_unidad" :rules="[v => v>-1 || 'Debe ser mayor o igual a cero']" min="0" v-validate="'required'" :error-messages="errors.collect('kilogramo_unidad')"  data-vv-name="kilogramo_unidad" required type="number" step="0.01" label="Kg/Unidad"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                                <v-text-field v-model="kilogramo_pieza" :rules="[v => v>-1 || 'Debe ser mayor o igual a cero']" min="0" v-validate="'required'" :error-messages="errors.collect('kilogramo_pieza')"  data-vv-name="kilogramo_pieza" required type="number" step="0.01" label="Kg/Pieza"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                                <v-text-field v-model="metro_unidad" :rules="[v => v>-1 || 'Debe ser mayor o igual a cero']" min="0" v-validate="'required'" :error-messages="errors.collect('metro_unidad')"  data-vv-name="metro_unidad" required type="number" step="0.01" label="m2/Unidad"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                                <v-text-field v-model="metro_pieza" :rules="[v => v>-1 || 'Debe ser mayor o igual a cero']" min="0" v-validate="'required'" :error-messages="errors.collect('metro_pieza')"  data-vv-name="metro_pieza" required type="number" step="0.01" label="m2/Pieza"></v-text-field>
                            </v-col>
                        </v-row>
                    </v-container>
                    </v-form>
                </template>
                <template v-slot:buttonsNuevoFactor>
                    <v-btn color="primary" :loading="loading" :disabled="loading" @click="modificando?editar():guardar()" >{{modificando?'Modificar':'Guardar'}}</v-btn>
                        <v-btn @click="dialogClose('dialogSimple2')" >Cancelar</v-btn>
                </template>
            </DialogSimple>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
import TableContentServerSide from '../components/TableContentServerSide';
import DialogSimple from '../components/DialogSimple';
var self;
var swal__;
var toast__;
    export default {
        name: 'MantenimientoFactores',
        components:{
            PanelContent,TableContent,DialogSimple,TableContentServerSide
        },
        data () {
      return {
            showMaterialesSinFactor:false,
            valid:true,
            modificando:false,
            material_id:null,
            material_codigo:null,
            material_descripcion:null,
            e_cambiar:null,
            ld_cambiar:null,
            caras:null,
            unidad:null,
            pieza:null,
            perimetro:null,
            seccion:null,
            unidad_pieza:null,
            kilogramo_unidad:null,
            kilogramo_pieza:null,
            metro_unidad:null,
            metro_pieza:null,

            factor_id:null,
            loadingTable:false,
            loadingTableMatSinFact:false,
            loading:false,
            itemsUnidades:[],
            dictionary: {
                custom: {
                    e_cambiar: {
                    required: () => 'Ingrese este campo',
                    },ld_cambiar: {
                    required: () => 'Ingrese este campo',
                    },caras: {
                    required: () => 'Ingrese este campo',
                    },unidad: {
                    required: () => 'Seleccione este campo',
                    max: 'El nombre de la unidad debe ser menor a 50 caracteres',
                    },pieza: {
                    required: () => 'Ingrese este campo',
                    max: 'El nombre de la pieza debe ser menor a 50 caracteres',
                    },perimetro: {
                    required: () => 'Ingrese este campo',
                    },seccion: {
                    required: () => 'Ingrese este campo',
                    },unidad_pieza: {
                    required: () => 'Ingrese este campo',
                    },kilogramo_unidad: {
                    required: () => 'Ingrese este campo',
                    },kilogramo_pieza: {
                    required: () => 'Ingrese este campo',
                    },metro_unidad: {
                    required: () => 'Ingrese este campo',
                    },metro_pieza: {
                    required: () => 'Ingrese este campo',
                    }
                }
            },
            headers: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },
                {
                text: 'Cod. Material',
                align: 'center',
                value: 'codigo_material',
                },
                {
                text: 'Material',
                align: 'center',
                value: 'descripcion_material',
                },
                {
                text: 'Espesor Plancha(e)',
                align: 'center',
                value: 'e',
                },
                {
                text: 'Espesor Tubo (Ld/Ø)',
                align: 'center',
                value: 'ld',
                },
                {
                text: 'Caras',
                align: 'center',
                value: 'caras',
                },
                {
                text: 'Unidad',
                align: 'center',
                value: 'unidad',
                },
                {
                text: 'Pieza',
                align: 'center',
                value: 'pieza',
                },
                {
                text: 'Perímetro(cm)',
                align: 'center',
                value: 'perimetro',
                },{
                text: 'Sección(cm2)',
                align: 'center',
                value: 'seccion',
                },{
                text: 'UnidadPieza',
                align: 'center',
                value: 'unidad_pieza',
                },{
                text: 'Kg/Unidad',
                align: 'center',
                value: 'kilogramo_unidad',
                },{
                text: 'Kg/Pieza',
                align: 'center',
                value: 'kilogramo_pieza',
                },{
                text: 'm2/Unidad',
                align: 'center',
                value: 'metro_unidad',
                },{
                text: 'm2/Pieza',
                align: 'center',
                value: 'metro_pieza',
                } ,{ text: 'Fecha',
                align: 'center',
                value: 'fecha_creacion',
                },
                { text: 'Acciones',  align: 'right',value: 'action', sortable: false },
            ],
            items: [],
            headersMatSinFact: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                },
                {
                text: 'Código',
                align: 'center',
                value: 'codigo',
                },
                {
                text: 'Descripción',
                align: 'center',
                value: 'descripcion',
                },
{ text: 'Fecha',
                align: 'center',
                value: 'fecha_creacion',
                },
                { text: 'Acciones',  align: 'center',value: 'action', sortable: false },
            ],
            itemsMatSinFact: [],
            baseURL:null,
      }
    },
    created:function(){
    },
    mounted() {
        this.baseURL = this.$router.currentRoute.path;
        self=this;
        swal__ = this.$store.getters.getSwal;
        toast__ = this.$store.getters.getToastDefault;
        this.$validator.localize('es', this.dictionary)
        this.unidades();
        this.cargarAll();
    },
    methods:{

            dialogClose(tipo){
                this.$store.state[tipo].dialog = false;
            },
            cargarAll() {
                this.loadingTable=true;
                 axios.get(this.baseURL+'/cargar')
                    .then(response => {
                        var data = response.data;
                        self.items=data;
                       self.loadingTable=false;
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            unidades() {
                 axios.get(this.baseURL+'/../unidades/cargar')
                    .then(response => {
                        var data = response.data;
                        self.itemsUnidades=data;
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },
            cargar(item) {
                let valores = {id:item.id}
                this.modificando=true;
                console.log(item)
                axios.post(this.baseURL+'/buscar/', valores)
                .then(response => {
                    var data = response.data;
                    this.unidad = data.unidad;
                    this.alarti_id=data.alarti_id;
                    this.material_codigo=item.codigo_material;
                    this.material_descripcion=item.descripcion_material;
                    this.e_cambiar=data.e;
                    this.ld_cambiar=data.ld;
                    this.caras=data.caras;
                    this.pieza=data.pieza;
                    this.perimetro=data.perimetro;
                    this.seccion=data.seccion;
                    this.unidad_pieza=data.unidad_pieza;
                    this.kilogramo_unidad=data.kilogramo_unidad;
                    this.kilogramo_pieza=data.kilogramo_pieza;
                    this.metro_unidad=data.metro_unidad;
                    this.metro_pieza=data.metro_pieza;
                    this.factor_id=data.id;

                    self.openDialogSimpleNuevoFactor({openDialog:true,bodycard:'bodycardNuevoFactor',buttons:'buttonsNuevoFactor',titulo:'Modificar Factor',maxwidth:'800px'});
                    this.$validator.validateAll();
                    self.errors.any();
                })
                .catch(errors => {
                    console.log(errors);
                });
            },
            editar() {
                this.$validator.validateAll();
                if (this.errors.any()) return false;
                if(!this.$refs.form.validate())return;
                let valores = {
                        id : this.factor_id,
                        alarti_id : this.alarti_id,
                        e:this.e_cambiar,
                        ld:this.ld_cambiar,
                        caras:this.caras,
                        unidad:this.unidad,
                        pieza:this.pieza,
                        perimetro:this.perimetro,
                        seccion:this.seccion,
                        unidad_pieza:this.unidad_pieza,
                        kilogramo_unidad:this.kilogramo_unidad,
                        kilogramo_pieza:this.kilogramo_pieza,
                        metro_unidad:this.metro_unidad,
                        metro_pieza:this.metro_pieza,
                    }
                    this.loading = true;
                 axios.patch(this.baseURL+'/editar/', valores)
                    .then(response => {
                        var data = response.data;
                        if (response.data==1) {
                            this.items = [];
                            toast__.fire({
                                type: 'success',
                                title: 'El factor ha sido actualizado'
                            })
                        }
                    })
                    .catch(errors => {
                        swal__.fire(
                        'ERROR!',
                        'ha ocurrido un error: '+errors,
                        'error'
                        );
                    }).finally(()=>{
                        self.cargarAll();
                        this.dialogClose('dialogSimple2');
                        this.loading = false;
                    });
            },

            guardar() {
                console.log("guardar");
                this.$validator.validateAll();
                if (this.errors.any()) return;
                if(!this.$refs.form.validate())return;
                let valores = {
                    alarti_id:this.material_id,
                    e:this.e_cambiar,
                    ld:this.ld_cambiar,
                    caras:this.caras,
                    unidad:this.unidad,
                    pieza:this.pieza,
                    perimetro:this.perimetro,
                    seccion:this.seccion,
                    unidad_pieza:this.unidad_pieza,
                    kilogramo_unidad:this.kilogramo_unidad,
                    kilogramo_pieza:this.kilogramo_pieza,
                    metro_unidad:this.metro_unidad,
                    metro_pieza:this.metro_pieza,
                }
                this.loading = true;
                axios.post(this.baseURL+'/guardar/', valores)
                .then(response => {
                    var data = response.data;
                    this.items = [];
                    this.itemsMatSinFact=[];
                    //this.itemsMatSinFact = this.itemsMatSinFact.filter((arr)=> {return arr.id!==self.material_id});
                    this.listadoMaterialesSinFactor()
                    toast__.fire({
                        type: 'success',
                        title: 'El factor ha sido registrado'
                    })
                })
                .catch(errors => {
                    swal__.fire(
                    'ERROR!',
                    'ha ocurrido un error: '+errors,
                    'error'
                    )
                }).finally(()=>{
                    self.cargarAll();
                    this.dialogClose('dialogSimple2');
                    this.loading = false;
                });
            },
            openDialogSimpleMaterialesSinFactor(){
                this.listadoMaterialesSinFactor();
                this.$store.commit('openDialogSimple',{openDialog:true,bodycard:'bodycardMaterialesSinFactor',buttons:'buttons',titulo:'Materiales sin Factores',maxwidth:'800px'});
            },
            listadoMaterialesSinFactor(){
                this.showMaterialesSinFactor=false;
                setTimeout(() => {
                    this.showMaterialesSinFactor=true;
                }, 200);
                /*this.loadingTableMatSinFact=true;
                axios.get('materiales/factores')
                .then(response => {
                    var data = response.data;
                    self.itemsMatSinFact=data;
                    self.loadingTableMatSinFact=false;
                })
                .catch(errors => {
                    console.log(errors);
                });*/

            },
            resetValues(){
                this.unidad = null;
                this.material_id=null;
                this.material_codigo=null;
                this.material_descripcion=null;
                this.e_cambiar=null;
                this.ld_cambiar=null;
                this.caras=null;
                this.pieza=null;
                this.perimetro=null;
                this.seccion=null;
                this.unidad_pieza=null;
                this.kilogramo_unidad=null;
                this.kilogramo_pieza=null;
                this.metro_unidad=null;
                this.metro_pieza=null;
                this.factor_id=null;
                this.modificando=false;
            },
            openDialogSimpleNuevoFactor(data){
                this.$store.commit('openDialogSimple2',data);
            },
            nuevoFactor(item){
                console.log(item);
                this.resetValues();
                this.openDialogSimpleNuevoFactor({openDialog:true,bodycard:'bodycardNuevoFactor',buttons:'buttonsNuevoFactor',titulo:'Registre nuevo Factor',maxwidth:'800px'});
                setTimeout(() => {
                    this.$validator.validateAll();
                    self.errors.any();
                }, 250);
                this.material_id=item.id;
                this.material_codigo=item.codigo;
                this.material_descripcion=item.descripcion;
            },
    }
    }


    /*eliminar(item) {
                let valores = {
                        id:item.id,
                        estado:0
                    }
                    swal__.fire({
                        title: 'Está seguro?',
                        text: "Desea eliminar el factor del material: "+item.codigo_material+" ?",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, eliminar'
                    }).then((result) => {
                        if (result.value) {
                            axios.post('factores/eliminar/', valores)
                            .then(response => {
                                var data = response.data;
                                if (response.data==1) {
                                    this.items = [];
                                    toast__.fire({
                                        type: 'success',
                                        title: 'El factor ha sido eliminado'
                                    })
                                }
                            })
                            .catch(errors => {
                                swal__.fire(
                                    'ERROR!',
                                    'ha ocurrido un error: '+errors,
                                    'error'
                                    )
                            }).finally(()=>{
                                self.cargarAll();
                            });
                        }
                    })
            },*/
</script>



