<template>
  <div>
    <section class="content">
      <PanelContent :title="'Mantenimiento de usuarios'">
        <template v-slot:optionsbuttonstop>
          <v-btn class="success" @click="nuevoUsuario()">
            <v-icon left dark>add</v-icon>Nuevo
          </v-btn>
        </template>
        <template v-slot:content>
          <TableContent
            :title="'Lista de usuarios'"
            :headers="headers"
            :items="items"
            :loading="loadingTable"
          >
            <template v-slot:btnAcciones="{item}">
              <v-chip class="warning" @click="cargar(item)">
                <v-icon class="white--text" small>edit</v-icon>
              </v-chip>
              <v-chip class="error" @click="eliminar(item)">
                <v-icon small class="white--text">delete</v-icon>
              </v-chip>
            </template>
          </TableContent>
        </template>
      </PanelContent>
      <DialogSimple>
        <template v-slot:bodycardNuevoUsuario>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  v-model="usuario"
                  v-on:change="verificar"
                  autofocus
                  v-validate="'required|max:70'"
                  :error-messages="errors.collect('usuario')"
                  data-vv-name="usuario"
                  required
                  :counter="70"
                  label="Usuario"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  v-model="password"
                  v-validate="'required|max:70'"
                  :error-messages="errors.collect('password')"
                  :type="showPasswordLogin ? 'text' : 'password'"
                  :append-icon="showPasswordLogin ? 'visibility' : 'visibility_off'"
                  @click:append="showPasswordLogin = !showPasswordLogin"
                  data-vv-name="password"
                  required
                  :counter="70"
                  label="Contraseña"
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  v-model="repassword"
                  v-validate="'required|max:70'"
                  :error-messages="errors.collect('repassword')"
                  data-vv-name="repassword"
                  :type="showPasswordLogin ? 'text' : 'password'"
                  :append-icon="showPasswordLogin ? 'visibility' : 'visibility_off'"
                  required
                  @click:append="showPasswordLogin = !showPasswordLogin"
                  :counter="70"
                  label="Confirmar contraseña"
                ></v-text-field>
                {{errorConfirmedPassword}}
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <span>Seleccione empleado</span>
                <v-select
                  v-model="empleado_id"
                  v-validate="'required'"
                  :error-messages="errors.collect('empleado_id')"
                  data-vv-name="empleado_id"
                  required
                  :items="empleados"
                  item-text="nombres"
                  item-value="id"
                  menu-props="auto"
                  label="Empleado"
                  single-line
                >
                  <template
                    v-slot:selection="data"
                  >{{ data.item.nombres }} {{ data.item.apellidos }}</template>
                  <template v-slot:item="data">{{ data.item.nombres }} {{ data.item.apellidos }}</template>
                </v-select>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <span>Seleccione Perfíl</span>
                <v-select
                  v-model="perfil"
                  v-validate="'required'"
                  :error-messages="errors.collect('perfil')"
                  data-vv-name="perfil"
                  required
                  :items="perfiles"
                  item-text="nombre"
                  item-value="id"
                  menu-props="auto"
                  label="Perfíl"
                  single-line
                ></v-select>
              </v-col>
            </v-row>
          </v-container>
        </template>
        <template v-slot:buttonsNuevoUsuario>
          <v-btn
            color="primary"
            :loading="loading"
            :disabled="loading"
            @click="modificando?editar():guardar()"
          >{{modificando?'Modificar':'Guardar'}}</v-btn>
          <v-btn @click="dialogClose()">Cancelar</v-btn>
        </template>
      </DialogSimple>
    </section>
  </div>
</template>
<script>
import PanelContent from "../components/PanelContent";
import TableContent from "../components/TableContent";
import DialogSimple from "../components/DialogSimple";
var self;
var swal__;
var toast__;
export default {
  name: "MantenimientoUsuarios",
  components: {
    PanelContent,
    TableContent,
    DialogSimple
  },
  data: () => ({
    modificando: false,
    usuario: null,
    password: null,
    repassword: null,
    empleado_id: null,
    empleados: null,
    loadingTable: false,
    usuario_id: null,
    showPasswordLogin: false,
    errorConfirmedPassword: "",
    loading: false,
    perfil: null,
    perfiles: null,
    dictionary: {
      custom: {
        usuario: {
          required: () => "Ingrese el nombre del usuario",
          max: "El usuario debe ser menor a 70 caracteres"
        },
        password: {
          required: () => "Ingrese una contraseña",
          max: "La contraseña debe ser menor a 70 caracteres"
        },
        repassword: {
          required: () => "Confirmar contraseña"
        },
        empleado_id: {
          required: () => "Seleccione a un empleado"
        },
        perfil: {
          required: () => "Ingrese el perfil"
        }
      }
    },
    headers: [
      {
        text: "N°",
        align: "center",
        value: "id"
      },
      {
        text: "Apellidos",
        align: "center",
        value: "apellido_empleado"
      },
      {
        text: "Nombres",
        align: "center",
        value: "nombre_empleado"
      },
      { text: "Usuario", align: "center", value: "usuario" },
      { text: "Fecha", align: "center", value: "fecha_creacion" },
      { text: "Acciones", value: "action", sortable: false }
    ],
    items: [],
    baseURL: null
  }),
  created: function() {},
  mounted() {
    this.baseURL = this.$router.currentRoute.path;
    self = this;
    swal__ = this.$store.getters.getSwal;
    toast__ = this.$store.getters.getToastDefault;
    this.$validator.localize("es", this.dictionary);
    this.cargarAll();
    this.cargarEmpleados();
    this.cargarPerfiles();
  },
  methods: {
    dialogClose() {
      this.$store.state.dialogSimple.dialog = false;
    },
    cargarEmpleados() {
      axios
        .get(this.baseURL + "/../empleados/cargar")
        .then(response => {
          var data = response.data;
          this.empleados = response.data;
          console.log(data);
        })
        .catch(errors => {
          console.log(errors);
        });
    },
    cargarPerfiles() {
      axios
        .get(this.baseURL + "/../perfiles/cargar")
        .then(response => {
          var data = response.data;
          this.perfiles = response.data;
        })
        .catch(errors => {
          console.log(errors);
        });
    },
    cargarAll() {
      this.loadingTable = true;
      axios
        .get(this.baseURL + "/cargar")
        .then(response => {
          var data = response.data;
          //self.items = data. [{empleado_id:data.empleado_id,usuario:data.usuario,password:data.password,estado:data.estado}];
          self.items = data;
          self.loadingTable = false;
          console.log(data);
        })
        .catch(errors => {
          console.log(errors);
        });
    },
    verificar() {
      let valores = {
        usuario: this.usuario,
        id: 1
      };
      axios
        .post(this.baseURL + "/verificar/", valores)
        .then(response => {
          var data = response.data;
          if (data === 1) {
            swal__.fire(
              "Información",
              "Ya existe este usuario, favor de usar otro",
              "warning"
            );
            this.usuario = null;
          }

          console.log(data);
        })
        .catch(errors => {
          console.log(errors);
        });
    },
    cargar(item) {
      this.resetValues();
      let valores = { id: item.id };
      this.modificando = true;
      axios
        .post(this.baseURL + "/buscar/", valores)
        .then(response => {
          var data = response.data;
          this.usuario = data.usuario;
          //this.password = data.password;
          //this.repassword = data.password;
          this.empleado_id = data.empleado_id;
          this.perfil = data.perfil_id;
          this.usuario_id = data.id;
          self.openDialogSimpleNuevoUsuario({
            openDialog: true,
            bodycard: "bodycardNuevoUsuario",
            buttons: "buttonsNuevoUsuario",
            titulo: "Modificar usuario",
            maxwidth: "800px"
          });
          setTimeout(function() {
            self.$validator.validateAll();
            self.errors.any();
          }, 500);
          console.log(data);
        })
        .catch(errors => {
          console.log(errors);
        });
    },
    editar() {
      this.$validator.validateAll();
      if (this.errors.any()) return false;
      this.errorConfirmedPassword = "";
      if (this.password != this.repassword) {
        this.errorConfirmedPassword = "Las contraseñas deben ser iguales";
        return false;
      }
      let valores = {
        id: this.usuario_id,
        usuario: this.usuario,
        password: this.password,
        empleado_id: this.empleado_id,
        perfil_id: this.perfil
      };
      this.loading = true;
      axios
        .patch(this.baseURL + "/editar/", valores)
        .then(response => {
          var data = response.data;
          if (response.data == 1) {
            this.items = [];
            toast__.fire({
              type: "success",
              title: "El usuario ha sido modificado"
            });
          }
        })
        .catch(errors => {
          swal__.fire("ERROR!", "ha ocurrido un error: " + errors, "error");
        })
        .finally(() => {
          self.cargarAll();
          this.dialogClose();
          this.loading = false;
        });
    },
    eliminar(item) {
      let valores = {
        id: item.id,
        estado: 0
      };
      swal__
        .fire({
          title: "¿ Desea eliminar al usuario " + item.usuario + " ?",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Si, eliminar",
          cancelButtonText: "No"
        })
        .then(result => {
          if (result.value) {
            axios
              .post(this.baseURL + "/eliminar/", valores)
              .then(response => {
                var data = response.data;
                if (response.data == 1) {
                  this.items = [];
                  self.cargarAll();
                  toast__.fire({
                    type: "success",
                    title: "El usuario ha sido eliminado"
                  });
                }
              })
              .catch(errors => {
                swal__.fire(
                  "ERROR!",
                  "ha ocurrido un error: " + errors,
                  "error"
                );
              });
          }
        });
    },
    guardar() {
      this.$validator.validateAll();
      if (this.errors.any()) return;
      this.errorConfirmedPassword = "";
      if (this.password != this.repassword) {
        this.errorConfirmedPassword = "Las contraseñas deben ser iguales";
        return false;
      }
      let valores = {
        usuario: this.usuario,
        password: this.password,
        empleado_id: this.empleado_id,
        perfil_id: this.perfil
      };
      this.loading = true;
      axios
        .post(this.baseURL + "/guardar/", valores)
        .then(response => {
          this.items = [];
          toast__.fire({
            type: "success",
            title: "El usuario ha sido registrado"
          });
          var data = response.data;
        })
        .catch(errors => {
          swal__.fire("ERROR!", "ha ocurrido un error: " + errors, "error");
        })
        .finally(() => {
          self.cargarAll();
          this.dialogClose();
          this.loading = false;
        });
    },
    openDialogSimpleNuevoUsuario(data) {
      this.$store.commit("openDialogSimple", data);
    },
    nuevoUsuario() {
      this.resetValues();
      this.openDialogSimpleNuevoUsuario({
        openDialog: true,
        bodycard: "bodycardNuevoUsuario",
        buttons: "buttonsNuevoUsuario",
        titulo: "Registra nuevo usuario",
        maxwidth: "800px"
      });
      setTimeout(() => {
        this.$validator.validateAll();
        self.errors.any();
      }, 250);
    },
    resetValues() {
      this.usuario = null;
      this.password = null;
      this.repassword = null;
      this.empleado_id = null;
      this.perfil = null;
      this.modificando = false;
    }
  }
};
</script>



