<template>
  <div>
    <section class="content calendar-timeline">
      <PanelContent :title="'Cronograma General '">
        <template v-slot:content>
          <GSTC v-if="config" :config="config" @state="onState" />
        </template>
      </PanelContent>
    </section>
  </div>
</template>
<script>
import GSTC from "vue-gantt-schedule-timeline-calendar";
import PanelContent from "../components/PanelContent";
/*const config = {
};*/

//const state = GSTC.api.stateFromConfig(config);
/*
const app = GSTC({
  element: document.getElementById('your-element-id'),
  state
});*/

let subs = [];
var self;
var swal__;
var toast__;
// just helper to get current dates
Date.prototype.addDays = function(days) {
  var date = new Date(this.valueOf());
  date.setDate(date.getDate() + days);
  return date;
};
export default {
  name: "ProduccionRegistraActividades",
  components: {
    GSTC,
    PanelContent
  },
  props: {
    etapa: {
      required: true
    }
  },
  data: () => ({
    fecha_inicio: "2020-01-01",
    fecha_fin: "2020-11-01",
    config: {},

    proyecto: null,
    loadingTable: false,
    windowSize: {
      x: 0,
      y: 0
    }
  }),
  computed: {},
  created: function() {},
  mounted() {
    self = this;
    swal__ = this.$store.getters.getSwal;
    toast__ = this.$store.getters.getToastDefault;
    self.cargarAll();
  },
  beforeDestroy() {
    subs.forEach(unsub => unsub());
  },
  methods: {
    onResize() {
      this.windowSize = { x: window.innerWidth, y: window.innerHeight };
      /*if (window.innerWidth<=) {
          
        }*/
    },
    onState(state) {
      this.state = state;
      subs.push(
        state.subscribe("config.chart.items.1000", item => {
          console.log("item 1 changed", item);
          console.log("item 1 changed",this.fecha_fin)

        })
      );
      subs.push(
        state.subscribe("config.list.rows.1000", row => {
          console.log("row 1 changed", row);
        })
      );
    },
    cargarAll() {
      this.loadingTable = true;
      axios
        .get(this.etapa + "/cargar")
        .then(response => {
          let fecha_inicio = new Date(response.data.cabecera.fecha_inicio + " 00:00:00").getTime();
          //this.fecha_fin = new Date(response.data.cabecera.fecha_fin + " 23:59:59").getTime();
          this.fecha_fin = response.data.cabecera.fecha_fin;
          console.log("fecha");
          console.log("fecha",response.data.cabecera.fecha_inicio);
          console.log("fecha",response.data.cabecera.fecha_fin);
          //console.log(this.config.chart.items["1000"].time.start);
          //this.config.chart.items["1000"].time.start = new Date("2020-06-24 00:00:00").getTime();
          //this.config.chart.items["1000"].time.end = new Date("2020-06-28" + " 23:59:59").getTime();
          //console.log(this.config.chart.items["1000"].time.start);

          var data = response.data.items;
          let i = 1;
          let proyectos = {},
            items = {};
          data.forEach(element => {
            proyectos[i] = {
              id: element.id,
              label: element.name,
              inicio: element.start,
              fin: element.end
            };
            items[i] = {
              id: element.id,
              label: element.name,
              rowId: element.id,
              style: {
                background: element.color
              },
              time: {
                start: new Date(element.start + " 00:00:00").getTime(),
                end: new Date(element.end + " 23:59:59").getTime()
              }
            };
            i++;
          });
          /* setTimeout(() => {
      const item1 = this.config.chart.items["1"];
      item1.label = "label changed dynamically";
      item1.time.end += 2 * 24 * 60 * 60 * 1000;
    }, 2000);*/
      var config_ = {
      locale: {
        name: "es",
        months: [
          "Enero",
          "Febrero",
          "Marzo",
          "Abril",
          "Mayo",
          "Junio",
          "Julio",
          "Agosto",
          "Setiembre",
          "Octubre",
          "Noviembre",
          "Diciembre"
        ],
        monthsShort: [
          "Ene",
          "Feb",
          "Mar",
          "Abr",
          "May",
          "Jun",
          "Jul",
          "Ago",
          "Set",
          "Oct",
          "Nov",
          "Dic"
        ],
        weekdaysMin: [
          "En",
          "Fe",
          "Ma",
          "Ab",
          "Ma",
          "Ju",
          "Ju",
          "Ag",
          "Se",
          "Oc",
          "No",
          "Di"
        ],
        weekdays: [
          "Domingo",
          "Lunes",
          "Martes",
          "Miércoles",
          "Jueves",
          "Viernes",
          "Sábado"
        ],
        weekdaysShort: ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb"]
      },
      height: 300,
      list: {
        rows: { },
        columns: {
          data: {
            id: {
              id: "id",
              data: "id",
              width: 30,
              header: {
                content: "#"
              }
            },
            label: {
              id: "label",
              data: "label",
              width: 200,
              header: {
                content: "Proyectos"
              }
            },
            inicio: {
              id: "inicio",
              data: "inicio",
              width: 100,
              header: {
                content: "Inicio"
              }
            },
            fin: {
              id: "fin",
              data: "fin",
              width: 100,
              header: {
                content: "Fin"
              }
            }
          }
        }
      },
      chart: {
        items: {
          "1": {
            id: "1",
            rowId: "1",
            time: {
              start: new Date("2020-01-01" + " 00:00:00").getTime(),
              end: new Date("2020-12-01" + " 23:59:59").getTime()
            }
          }
        }
      }
    };
          config_.list.rows = Object.assign({}, proyectos); //Object.assign({}, items);
          //this.config.chart.items["1"].time.end+= new Date("2021-07-01 23:59:59").getTime(),
          //config_.chart.items = Object.assign({}, items);
          console.log(config_)
          setTimeout(() => {
            self.config = config_;
          }, 2000);
          // this.config.chart.items["1000"].time.start = Object.assign({}, fecha_inicio);
          self.proyecto = data;
          self.loadingTable = false;
        })
        .catch(errors => {
          console.log(errors);
        });
    }
  }
};
</script>



