<template>
  <div>
    <section class="content calendar-timeline">
      <PanelContent :title="'Cronograma General '">
        <template v-slot:content>
          <v-progress-circular
            v-show="loadingTable"
            style="margin: auto 50%;"
            :size="50"
            color="primary"
            indeterminate
          ></v-progress-circular>
          <v-alert
            v-show="!loadingTable && cars.length==0"
            border="top"
            colored-border
            type="error"
            elevation="2"
          >No existen datos para mostrar</v-alert>
          <div v-show="cars.length>0" class="scrolling-container">
            <div id="container"></div>
          </div>
        </template>
      </PanelContent>
    </section>
  </div>
</template>
<script>
import PanelContent from "../components/PanelContent";

let subs = [];
var self;
var swal__;
var toast__;

// Set to 00:00:00:000 today

export default {
  name: "ProduccionRegistraActividades",
  components: {
    PanelContent
  },
  props: {
    etapa: {
      required: true
    }
  },
  data: () => ({
    fecha_inicio: "2020-01-01",
    fecha_fin: "2020-11-01",
    proyecto: null,
    loadingTable: false,
    windowSize: {
      x: 0,
      y: 0
    },
    cars: []
  }),
  computed: {},
  created: function() {},
  mounted() {
    self = this;
    swal__ = this.$store.getters.getSwal;
    toast__ = this.$store.getters.getToastDefault;

    self.cargarAll();
  },
  methods: {
    script_grafico() {
      let script = "";
      let array = [
        "https://code.highcharts.com/gantt/highcharts-gantt.js",
        "https://code.highcharts.com/gantt/modules/exporting.js"
      ];
      for (let index = 0; index < array.length; index++) {
        script = document.createElement("script");
        script.setAttribute("src", array[index]);
        document.head.appendChild(script);
      }
    },
    cargarAll() {
      this.loadingTable = true;
      axios
        .get(this.etapa + "/cargar")
        .then(response => {
          var data = response.data;
          let fecha_inicio = new Date(
            response.data.cabecera.fecha_inicio + " 00:00:00"
          ).getTime();
          //this.fecha_fin = new Date(response.data.cabecera.fecha_fin + " 23:59:59").getTime();
          this.fecha_fin = response.data.cabecera.fecha_fin;
          var items = [];
          data.items.forEach(element => {
            items.push({
              model: element.name,
              current: 0,
              deals: [
                {
                  from: new Date(element.start + " 00:00:00").getTime(),
                  to: new Date(element.end + " 23:59:59").getTime()
                }
              ]
            });
          });
          self.loadingTable = false;

          self.cars = items;
          self.ver_grafico();
          self.proyecto = data;
        })
        .catch(errors => {
          console.log(errors);
        });
    },
    ver_grafico() {
      var today = new Date(),
        day = 1000 * 60 * 60 * 24,
        map = Highcharts.map,
        dateFormat = Highcharts.dateFormat,
        series;

      // Set to 00:00:00:000 today
      today.setUTCHours(0);
      today.setUTCMinutes(0);
      today.setUTCSeconds(0);
      today.setUTCMilliseconds(0);
      today = today.getTime();
      series = self.cars.map(function(car, i) {
        var data = car.deals.map(function(deal) {
          return {
            id: "deal-" + i,
            start: deal.from,
            end: deal.to,
            y: i
          };
        });
        return {
          name: car.model,
          data: data,
          current: car.deals[car.current]
        };
      });
      Highcharts.setOptions({
        lang: {
          loading: "Cargando...",
          months: [
            "Enero",
            "Febrero",
            "Marzo",
            "Abril",
            "Mayo",
            "Junio",
            "Julio",
            "Agosto",
            "Septiembre",
            "Octubre",
            "Noviembre",
            "Diciembre"
          ],
          weekdays: [
            "Domingo",
            "Lunes",
            "Martes",
            "Miércoles",
            "Jueves",
            "Viernes",
            "Sábado"
          ],
          shortMonths: [
            "Ene",
            "Feb",
            "Mar",
            "Abr",
            "May",
            "Jun",
            "Jul",
            "Ago",
            "Sep",
            "Oct",
            "Nov",
            "Dic"
          ],
          exportButtonTitle: "Exportar",
          printButtonTitle: "Importar",
          rangeSelectorFrom: "Desde",
          rangeSelectorTo: "Hasta",
          rangeSelectorZoom: "Período",
          downloadPNG: "Descargar imagen PNG",
          downloadJPEG: "Descargar imagen JPEG",
          downloadPDF: "Descargar imagen PDF",
          downloadSVG: "Descargar imagen SVG",
          printChart: "Imprimir",
          resetZoom: "Reiniciar zoom",
          resetZoomTitle: "Reiniciar zoom",
          thousandsSep: ",",
          decimalPoint: "."
        }
      });
      Highcharts.ganttChart("container", {
        series: series,
        title: {
          text: " "
        },
        credits: {
          enabled: false
        },
        tooltip: {
          pointFormat:
            "<span>Inicio: {point.start:%e. %b %Y}</span><br/><span>Fin: {point.end:%e. %b %Y}</span>"
        },
       xAxis:[ {
        currentDateIndicator: false,
        
        },{dateTimeLabelFormats: {
       day: '%e. %b',
    week: '%e. %b',
    month: '%b \'%Y',
    year: '%Y'
    }}],
        yAxis: {
          type: "category",
          grid: {
            columns: [
              {
                title: {
                  text: "Proyectos"
                },
                categories: map(series, function(s) {
                  return s.name;
                })
              },
              {
                title: {
                  text: "Inicio"
                },
                categories: map(series, function(s) {
                  return dateFormat("%e. %b %Y", s.current.from);
                })
              },
              {
                title: {
                  text: "Fin"
                },
                categories: map(series, function(s) {
                  return dateFormat("%e. %b %Y", s.current.to);
                })
              }
            ]
          }
        }
      });
    }
  }
};
</script>



