<style>
  .content-reportegeneral .montos{
    text-align:right;
    margin: auto 30px !important;
    font-size: 16px !important;
  }
</style>
<template>
  <div>
    <section class="content content-reportegeneral">
      <PanelContent :title="'REPORTE GENERAL PROYECTO: ' +proyecto.nombre">
        <template v-slot:optionsbuttonstop>
          <v-btn class href="../general/proyectos">
            <v-icon left dark>arrow_left</v-icon>Lista de Proyectos
          </v-btn>
        </template>
       
        <template v-slot:content>
          <div>
             <v-alert border="left" colored-border color="info">
                <v-row>
                <v-col cols="12" sm="12" md="12" lg="8">
                    <v-card>
                        <v-card-title class="subheading font-weight-bold">GASTADO vs PRESUPUESTADO</v-card-title>
                            <v-divider></v-divider>
                                        <v-list dense>
                        <v-list-item>
                            <v-list-item-content class="blue--text"></v-list-item-content>
                            <v-list-item-content class="blue--text"><v-list-item-title class="montos"><b>Gastado</b></v-list-item-title></v-list-item-content>
                            <v-list-item-content class="blue--text"><v-list-item-title class="montos"><b>Presupuestado</b></v-list-item-title></v-list-item-content>
                            <v-list-item-content class="blue--text"><v-list-item-title class="montos"><b>Diferencia</b></v-list-item-title></v-list-item-content>
                            
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-content class="align-end">Materiales y Servicios</v-list-item-content>
                            <v-list-item-content class="align-end"><v-list-item-title class="montos">{{presupuesto.material_gastado}}</v-list-item-title></v-list-item-content>
                            <v-list-item-content class="align-end"><v-list-item-title class="montos">{{presupuesto.materiales_presupuestado}}</v-list-item-title></v-list-item-content>
                            <v-list-item-content class="align-end"><v-list-item-title class="montos">{{presupuesto.material_diferencia}}</v-list-item-title></v-list-item-content>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-content class="align-end">Tareos</v-list-item-content>
                            <v-list-item-content class="align-end"><v-list-item-title class="montos">{{presupuesto.tareos}}</v-list-item-title></v-list-item-content>
                            <v-list-item-content class="align-end"></v-list-item-content>
                            <v-list-item-content class="align-end"><v-list-item-title class="montos">-({{presupuesto.tareos}})</v-list-item-title></v-list-item-content>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-content class="align-end">Gastos Generales de Presupuesto</v-list-item-content>
                            <v-list-item-content class="align-end"><v-list-item-title class="montos">{{presupuesto.gastos_generales}}</v-list-item-title></v-list-item-content>
                            <v-list-item-content class="align-end"><v-list-item-title class="montos">{{presupuesto.gastos_generales}}</v-list-item-title></v-list-item-content>
                            <v-list-item-content class="align-end"><v-list-item-title class="montos">0.00</v-list-item-title></v-list-item-content>
                        </v-list-item>
                        <v-divider></v-divider>
                        <v-list-item >
                            <v-list-item-content class="blue--text"><b>Totales</b></v-list-item-content>
                            <v-list-item-content class="align-end"><v-list-item-title class="montos">{{presupuesto.suma_gastado}}</v-list-item-title></v-list-item-content>
                            <v-list-item-content class="align-end"><v-list-item-title class="montos">{{presupuesto.suma_presupuestado}}</v-list-item-title></v-list-item-content>
                            <v-list-item-content class="align-end"><v-list-item-title class="montos">{{presupuesto.diferencia_totales}}</v-list-item-title></v-list-item-content>
                        </v-list-item>
                        </v-list>
                    </v-card>
                </v-col>
                <v-col cols="12" sm="12" md="12" lg="4">
                     <figure class="highcharts-figure">
                        <div id="container"></div>
                    </figure>
                </v-col>  
                </v-row>
            </v-alert>
            <v-alert border="left" colored-border color="warning">
                <v-row>
                <v-col cols="12" sm="12" md="12">
                    <v-card>
                        <v-card-title class="subheading font-weight-bold">TAREO</v-card-title>
                            <v-divider></v-divider>
                                        <v-list dense>
                        <v-list-item>
                            <v-list-item-content class="blue--text"></v-list-item-content>
                            <v-list-item-content class="blue--text"><v-list-item-title class="montos"><b>Gastado S/</b></v-list-item-title></v-list-item-content>
                            <v-list-item-content class="blue--text"><v-list-item-title class="montos"><b>Presupuesto S/</b></v-list-item-title> </v-list-item-content>
                            <v-list-item-content class="blue--text"><v-list-item-title class="montos"><b>Hrs Totales</b></v-list-item-title> </v-list-item-content>
                             <v-list-item-content class="blue--text"><v-list-item-title class="montos"><b>N° Trabajadores</b></v-list-item-title> </v-list-item-content>
                            
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-content class="align-end">Tareo Producción</v-list-item-content>
                            <v-list-item-content class="align-end"><v-list-item-title class="montos">{{tareo.costo_produccion}}</v-list-item-title></v-list-item-content>
                            <v-list-item-content class="align-end"><v-list-item-title class="montos"></v-list-item-title></v-list-item-content>
                            <v-list-item-content class="align-end"><v-list-item-title class="montos">{{tareo.horas_produccion}}</v-list-item-title></v-list-item-content>
                            <v-list-item-content class="align-end"><v-list-item-title class="montos">{{tareo.trabajadores_produccion}}</v-list-item-title></v-list-item-content>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-content class="align-end">Tareo Montaje</v-list-item-content>
                              <v-list-item-content class="align-end"><v-list-item-title class="montos">{{tareo.costo_montaje}}</v-list-item-title></v-list-item-content>
                            <v-list-item-content class="align-end"><v-list-item-title class="montos"></v-list-item-title></v-list-item-content>
                            <v-list-item-content class="align-end"><v-list-item-title class="montos">{{tareo.horas_montaje}}</v-list-item-title></v-list-item-content>
                            <v-list-item-content class="align-end"><v-list-item-title class="montos">{{tareo.trabajadores_montaje}}</v-list-item-title></v-list-item-content>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-content class="align-end">Presupuesto Procesos</v-list-item-content>
                            <v-list-item-content class="align-end"><v-list-item-title class="montos"></v-list-item-title></v-list-item-content>
                            <v-list-item-content class="align-end"><v-list-item-title class="montos">{{tareo.costo_parcial}}</v-list-item-title></v-list-item-content>
                            <v-list-item-content class="align-end"><v-list-item-title class="montos"></v-list-item-title></v-list-item-content>
                             <v-list-item-content class="align-end"><v-list-item-title class="montos"></v-list-item-title></v-list-item-content>
                        </v-list-item>
                        <v-divider></v-divider>
                        <v-list-item >
                            <v-list-item-content class="blue--text"><b>Totales</b></v-list-item-content>
                            <v-list-item-content class="align-end"><v-list-item-title class="montos">{{tareo.total_costo}}</v-list-item-title></v-list-item-content>
                            <v-list-item-content class="align-end"><v-list-item-title class="montos">{{tareo.costo_parcial}}</v-list-item-title></v-list-item-content>
                            <v-list-item-content class="align-end"><v-list-item-title class="montos">{{tareo.total_horas}}</v-list-item-title></v-list-item-content>
                              <v-list-item-content class="align-end"><v-list-item-title class="montos">{{tareo.trabajadores_total}}</v-list-item-title></v-list-item-content>
                        </v-list-item>
                          <v-divider></v-divider>
                           <v-list-item >
                            <v-list-item-content class="align-end">Diferencia: </v-list-item-content>
                            <v-list-item-content class="align-end">Presupuestado - Ejecutado</v-list-item-content>
                            <v-list-item-content class="align-end"><v-list-item-title class="montos">{{tareo.diferencia}}</v-list-item-title></v-list-item-content>
                            <v-list-item-content class="align-end"></v-list-item-content>
                              <v-list-item-content class="align-end"></v-list-item-content>
                        </v-list-item>
                        </v-list>
                    </v-card>
                </v-col>
                
                </v-row>
            </v-alert>
             <v-alert border="left" colored-border color="success">
                <v-row>
                  <v-col cols="12" sm="12" md="12" lg="8">
                      <v-card>
                          <v-card-title class="subheading font-weight-bold">PORCENTAJE DE COMPRAS REALIZADO</v-card-title>
                              <v-divider></v-divider>
                                          <v-list dense>
                          <v-list-item>
                              <v-list-item-content class="blue--text"></v-list-item-content>
                              <v-list-item-content class="blue--text"><v-list-item-title class="" style="font-size:16px;"><b>Items Adquiridos al 100%</b></v-list-item-title></v-list-item-content>
                              <v-list-item-content class="blue--text"><v-list-item-title class="" style="font-size:16px;"><b>N° Items en las Solicitudes</b> </v-list-item-title></v-list-item-content>                           
                          </v-list-item>
                          <v-list-item>
                              <v-list-item-content class="align-end">Items de Solicitudes del Proyecto</v-list-item-content>
                              <v-list-item-content class="align-end"><v-list-item-title class="" style="font-size:16px;">{{compras.items_completados}}</v-list-item-title></v-list-item-content>
                              <v-list-item-content class="align-end"><v-list-item-title class="" style="font-size:16px;">{{compras.items_total}}</v-list-item-title></v-list-item-content>
                          </v-list-item>
            
                      
                          </v-list>
                      </v-card>
                  </v-col>
                 <v-col cols="6" sm="12" md="12" lg="4">
                     <figure class="highcharts-figure">
                        <div id="container-2"></div>
                    </figure>
                </v-col>  
                </v-row>
            </v-alert>
          </div>
          
        </template>
      </PanelContent>
    </section>
  </div>
</template>

<script>
import PanelContent from "../components/PanelContent";
import TableContent from "../components/TableContent";
import DialogSimple from "../components/DialogSimple";
var self;
var swal__;
var toast__;

export default {
  name: "ProduccionRegistraActividades",
  components: {
    PanelContent
  },
  data: () => ({
         presupuesto:{},
          tareo:{},
           compras:{},
    proyecto: [],
    item_id: null,
    items: null,
    baseURL: null,
    peso_entregado:null,
    peso_presupuestado:null,
    peso_programado:null,
    porcentaje_presupuestado:null,
    porcentaje_programado:null
  }),
  created: function() {},
  mounted() {
    this.baseURL = this.$router.currentRoute.path;
    this.script_grafico();
    self = this;
    swal__ = this.$store.getters.getSwal;
    toast__ = this.$store.getters.getToastDefault;
    this.$route.params.id = atob(this.$route.params.id);
    this.cargarAll();
  },
  methods: {
    script_grafico() {
      let script = "";
      let array = [
        "https://code.highcharts.com/highcharts.js",
        "https://code.highcharts.com/modules/exporting.js"
      ];
      for (let index = 0; index < array.length; index++) {
        script = document.createElement("script");
        script.setAttribute("src", array[index]);
        document.head.appendChild(script);
      }
    },
    dialogClose(tipo) {
      this.$store.state[tipo].dialog = false;
    },
    cargarAll() {
      this.loadingTable = true;
      let params = {
        proyecto_id: this.$route.params.id
      };
      axios
        .post(this.baseURL + "/../reporte", params)
        .then(response => {
          var data = response.data;
            self.proyecto = data.proyecto;
              this.presupuesto = data.presupuesto;
            this.tareo = data.tareo;
                  this.compras = data.compras;
        
          self.loadingTable = false;
          self.ver_grafico();
          self.ver_grafico_porcentaje();
       
        })
        .catch(errors => {
          console.log(errors);
        });
    },
    ver_grafico() {
      
      Highcharts.chart("container", {
        chart: {
          type: "column"
        },
        title: {
          text: "Gastado / Presupuestado"
        },
        exporting: {
         enabled: false
       },
        credits: {
          enabled: false
        },
        xAxis: {
          categories: [""]
        },
        yAxis: [
          {
            min: 0,
            title: {
              text: "Monto"
            }
          },
          {
            title: {
              text: ""
            },
            opposite: true
          }
        ],
        legend: {
          shadow: false
        },
        tooltip: {
          shared: true
        },
        plotOptions: {
             series: {
            borderWidth: 0,
            dataLabels: {
              enabled: true,
              format: "{point.y:,.2f} "
            }
          },
          column: {
            grouping: false,
            shadow: true,
            borderWidth: 0
          }
        } ,
        //232, 119, 85 naranja
        //224, 71, 71 rojo
        series: [
          {
            name: "Presupuestado",
            color: (parseInt(self.presupuesto.grafico_gastado)>parseInt(self.presupuesto.grafico_presupuestado))?"rgba(153,153,153)":"rgba(191, 191, 197)",
            data: [parseInt(self.presupuesto.grafico_presupuestado)],
           
            pointPadding: 0.3,
            pointPlacement: -0.2
          },
          {
            name: "Gastado",
            color: (parseInt(self.presupuesto.grafico_gastado)>parseInt(self.presupuesto.grafico_presupuestado))?"rgba(224, 71, 71)":"rgba(76,175,80)",
            data: [parseInt(self.presupuesto.grafico_gastado)],
            pointPadding: 0.4,
            pointPlacement: -0.2
          }
        ]
      });
    },
    ver_grafico_porcentaje(){
        Highcharts.chart('container-2', {
        chart: {
          type: 'column'
        },
        title: {
          text: 'Items de Solicitudes del Proyecto'
        },
        exporting: {
              enabled: false
            },
        credits: {
              enabled: false
            },
        subtitle: {
          text: ''
        },
        xAxis: {
          categories: [
            ''
          ],
          crosshair: true
        },
        yAxis: {
          min: 0,
          title: {
            text: 'Cantidad'
          }
        },
        tooltip: {
          headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
          pointFormat: '<tr><td style="color:black;padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:1f} </b></td></tr>',
          footerFormat: '</table>',
          shared: true,
          useHTML: true
        },
        plotOptions: {
          column: {
            pointPadding: 0.2,
            borderWidth: 0
          }, 
        },
        
        series: [{
          name: '<b style="font-size:15px;">Items Adquiridos al 100%<b>',
          data: [this.compras.items_completados],
          color: 'rgba(76,175,80)'

        }, {
          name: '<b style="font-size:15px;">N° Items en las Solicitudes<b>',
          data: [this.compras.items_total]

        }]
      });
    },
    formatNumber(num) {
      return num!="" && num!= null?num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'):num;
    },
  }
};
</script>



