<template>
    <div>
<section class="content">
          <PanelContent :title="'Reporte de materiales'">
                <template v-slot:optionsbuttonstop>
                    <v-btn @click="ExportarMateriales()"><v-icon left dark>cloud_download</v-icon>Exportar</v-btn>
                </template>
                <template v-slot:content>
                    <TableContent :title="'Lista de materiales'" :headers="headers" :items="items" :loading="loadingTable">

                    </TableContent>
                </template>
            </PanelContent>
</section>


    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
import DialogSimple from '../components/DialogSimple';
var self;
var swal__;
var toast__;
    export default {
        name: 'ReportesMateriales',
        components:{
            PanelContent,TableContent,DialogSimple
        },
        data () {
      return {
loadingTable:false,
headers: [
     {
                text: 'N°',
                align: 'center',
                value: 'id',
                },
                {
                text: 'Código',
                align: 'center',
                value: 'acodigo',
                },
                {
                text: 'Descripción',
                align: 'center',
                value: 'adescripcion',
                },
                {
                text: 'Familia',
                align: 'center',
                value: 'afamilia',
                },
                {
                text: 'Unidad',
                align: 'center',
                value: 'aunidad',
                },
                {
                text: 'Grupo',
                align: 'center',
                value: 'agrupo',
                },
                {
                text: 'Cuenta',
                align: 'center',
                value: 'acuenta',
                },{
                text: 'Peso',
                align: 'center',
                value: 'apeso',
                },{
                text: 'Tipo',
                align: 'center',
                value: 'atipo',
                },{
                text: 'Cod. Moneda',
                align: 'center',
                value: 'acodmon',
                },{
                text: 'Cod. Moneda C',
                align: 'center',
                value: 'acodmonc',
                },{
                text: 'PreCom',
                align: 'center',
                value: 'aprecom',
                },{
                text: 'Fecha',
                align: 'center',
                value: 'afecha',
                },{
                text: 'FStock',
                align: 'center',
                value: 'afstock',
                },{
                text: 'Estado',
                align: 'center',
                value: 'aestado',
                },{
                text: 'Fecha Vencim.',
                align: 'center',
                value: 'afecven',
                },{
                text: 'Mon Cos',
                align: 'center',
                value: 'amoncos',
                },{
                text: 'Pre Cos',
                align: 'center',
                value: 'aprecos',
                },{
                text: 'Fec Cos',
                align: 'center',
                value: 'afeccos',
                },{
                text: 'Tipo Exi',
                align: 'center',
                value: 'atipexi',
                },{
                text: 'Stock',
                align: 'center',
                value: 'alskdis',
                },{
                text: 'Precio Unit.',
                align: 'center',
                value: 'c6preuni',
                },{
                text: 'Fecha Doc 2',
                align: 'center',
                value: 'c6fecdoc2',
                }
            ],
            items: [],
            baseURL:null,
      }
    },
    created:function(){
    },
    mounted() {
        this.baseURL = this.$router.currentRoute.path;
       // this.$validator.localize('en', this.dictionary)
        self=this;
        swal__ = this.$store.getters.getSwal;
        toast__ = this.$store.getters.getToastDefault;
        this.$validator.localize('es', this.dictionary)
        this.cargar();
    },
    methods:{
      cargar() {
 this.loadingTable=true;
                 axios.get(this.baseURL+'/cargar')
                    .then(response => {
                        var data = response.data;
                        self.items=data;
                       self.loadingTable=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            },

        ExportarMateriales () {
             document.location.href= window.location.href+"/exportar";
           /* axios.get('materiales/exportar')
            .then(response => {
             console.log("hjk");

            })
            .catch(e => {
                 console.log(e)
            })*/
        }

    }
    }
</script>



