<template>
    <div>
        <section class="content">
            <PanelContent :title="'Tracking'"  >
                <template v-slot:optionsbuttonstop>
                    <v-btn class="success" @click="download()"><v-icon left dark>cloud_download</v-icon>Descargar</v-btn>
                </template>
                <!--:class="proyecto.estado==0?'error':(item.estado==1?'info':'success')"-->
                <template v-slot:content>
                    <TableContent :title="'Lista de Proyectos'" name="Tracking" :headers="headers" :items="items" :loading="loadingTable"> </TableContent>
                </template>
            </PanelContent>
         </section>
    </div>
</template>
<script>
import PanelContent from '../components/PanelContent';
import TableContent from '../components/TableContent';
var self;
var swal__;
var toast__;
    export default {
        name: 'Tracking',
        components:{
            PanelContent,TableContent
        },
       data: () => ({
            loadingTable:false,
            loading:false,

            headers: [
                 {
                text: 'N°',
                align: 'center',
                value: 'id',
                width: '50px',
                },{
                text: 'Código',
                align: 'left',
                value: 'codigo',
                width: '130px',
                },
                {
                text: 'Nombre',
                align: 'left',
                value: 'nombre',
                width: '170px',
                },
                 {
                text: 'Línea de Producto/Servicio',
                align: 'left',
                value: 'producto',
                width: '200px',
                },
                /*
                {
                text: 'Cliente',
                align: 'left',
                value: 'nombre_cliente',
                width: '200px',
                },
                */
                {
                text: 'Montaje',
                align: 'center',
                value: 'indicador_montaje',
                width: '50px',

                },{
                text: 'Requerimiento',
                align: 'center',
                value: 'requerimiento',
                width:'100px'
                },{
                text: 'Presupuesto',
                align: 'center',
                value: 'presupuesto',
                width:'100px'
                } ,{
                text: 'Cotización',
                align: 'center',
                value: 'cotizacion',
                width:'100px'
                }, {
                text: 'Pedido',
                align: 'center',
                value: 'pedido',
                width:'100px'
                } ,{
                text: 'Diseño',
                align: 'center',
                value: 'diseno',
                width:'100px'
                } ,{
                text: 'Producción',
                align: 'center',
                value: 'produccion',
                width:'100px'
                } ,{
                text: 'Montaje',
                align: 'center',
                value: 'montaje',
                width:'100px'
                }
            ],
            items: [],
        }),

        created:function(){
        },
        mounted() {
            self=this;
            swal__ = this.$store.getters.getSwal;
            toast__ = this.$store.getters.getToastDefault;
            this.cargarAll();
        },
        methods:{

            cargarAll() {
                this.loadingTable=true;
                 axios.get('tracking/cargar/')
                    .then(response => {
                        var data = response.data;
                        self.items=data;
                        self.loadingTable=false;
                       console.log(data);
                    })
                    .catch(errors => {
                        console.log(errors);
                    });
            }, download(){

                document.location.href = window.location.href+"/exportar/";

            }

        }
    }
</script>



